[2017-08-15 19:39] geedo0 opened #1 "Keylime Cloud Node Bundle overwrites /lib/libz.so.1"
# Environment
 * OS / version: [Heads](https://github.com/geedo0/heads/commits/server_heads)
 * Processor architecture: x86_64
 * TPM Manufacturer:
[code]
 * Keylime version: [Commit](https://github.com/mit-ll/python-keylime/commit/2e7716c1393116c8a39aa47989a0eecdfd07a3b2)

# Description
The Keylime Node tarball overwrites libz.so.1 inside the standard Heads distribution. Though named the same, th

[2017-08-15 19:44] geedo0 opened #2 "Keylime Install Script does not support CentOS"
# Environment
 * OS / version: CentOS
 * Processor architecture: x86_64
 * TPM Manufacturer:
 * Keylime version: [Commit](https://github.com/mit-ll/python-keylime/commit/2e7716c1393116c8a39aa47989a0eecdfd07a3b2)

# Description
The install script assumes that the user is running Ubuntu because it only runs apt commands. The corresponding yum commands are provided in the README so it should be a str

[2017-08-15 20:01] geedo0 opened #3 "PyInstaller Producing Broken Cloud Node Bundles"
# Environment
 * OS / version: Heads(For Executing Node Bundle)/Ubuntu 16.04(For building the bundle)
 * Processor architecture: x86_64
 * TPM Manufacturer:
[code]
 * Keylime version: [Commit](https://github.com/mit-ll/python-keylime/commit/2e7716c1393116c8a39aa47989a0eecdfd07a3b2)

# Description
Whenever I build the Keylime Node Tarball on this machine, it generates a bad version of the binary th

[2017-08-15 20:18] nabilschear commented on #2
this should be easy to add to our scripts.  we'll look at adding some if blocks for this

[2017-08-15 20:27] geedo0 opened #4 "Performing GET request without API version prematurely terminates the connection"
# Environment
 * OS / version: Ubuntu 16.04
 * Processor architecture: x86_64
 * TPM Manufacturer:
 * Keylime version: [Commit](https://github.com/mit-ll/python-keylime/commit/2e7716c1393116c8a39aa47989a0eecdfd07a3b2)

# Description
If you do a GET without the /v2/ on any of the servers the connection drops immediately and you don't an HTTP response.

## Expected behavior vs. actual behavior
The H

[2017-08-18 18:24] jetwhiz commented on #3
Hi @geedo0 -- it looks like this issue has been fixed in the pyinstaller repository, but has not yet been released as an official release (https://github.com/pyinstaller/pyinstaller/pull/2453)

In the meantime, copying their hook file [PyInstaller/hooks/hook-Cryptodome.py](https://raw.githubusercontent.com/pyinstaller/pyinstaller/dacc07f49e2c22bba5473f4cb5b2a5194cdae5e1/PyInstaller/hooks/hook-Cryp

[2017-08-18 18:26] jetwhiz commented on #4
Hi @geedo0 -- this has now been taken care of and will be fixed in the next release

[2017-08-18 18:29] jetwhiz commented on #2
The installer scripts have been updated and should work with both Debian-based and RH-based systems.  This fix will be available with the next Keylime release.

[2017-08-28 12:39] nabilschear commented on #3
should we make a note of this in the readme?

[2017-09-07 17:28] geedo0 commented on #3
I can confirm that the workaround fixes this issue.

[2018-03-02 18:09] #4 closed

[2018-03-02 18:10] #2 closed

[2018-03-02 18:10] #3 closed

[2018-04-23 19:34] jetwhiz opened #5 "Add TPM 2.0 Support to Keylime"
Keylime currently uses IBM tpm4720 with TPM 1.2 support, which is not compatible with the new and improved TPM 2.0 standard.

We should examine the effort required to add TPM 2.0 support to Keylime.

[2018-04-23 19:37] jetwhiz opened #6 "Integration of Keylime with Fedora early boot components"
Consider work needed to allow Keylime node software to run during the early boot process in Fedora.

[2018-04-23 20:41] nabilschear commented on #5
IBM also has a tpm 2.0 library that works in much the same manner as the version used in keylime.  this could be the easiest port option.  https://sourceforge.net/projects/ibmtpm20tss/ . Instead of looking at the Intel TPM 2.0 stack

[2018-12-17 14:29] lukehinds opened #8 "cannot find -ltpm | -lkeylime when building _cLime.so"
# Environment
 * OS / version: fedora 28
 * Processor architecture: virtual machine (kvm)
 * TPM Manufacturer: tpm4720-keylime
 * Keylime version: master

# Description

When running 'python setup.py install' gcc is failing with an unknown argument when it attempts to build `_cLime`

[code]
## Steps to reproduce problem
1.  Install all dependencies.
2. Run `sudo python setup.py install` or `gcc -p

[2018-12-17 16:44] lukehinds commented on #8
This might be my environment and invalid, let me double check a few things, but don't sweat on this issue for now.

[2018-12-18 09:51] lukehinds commented on #8
invalid issue

[2018-12-18 09:51] #8 closed

[2018-12-19 07:59] lukehinds opened #9 "Implement CI"
# Description

Implement automatic build testing / CI

The idea being that every commit will first undergo a series of automatic unit tests, coding standard checks , security checks etc driven by travis and the result will be posted to the PR review using a github webhook.

* Create `.travis.yml` file
* Create `requirements.txt` for virtualenv (needed by travis and useful for a pip release and iso

[2018-12-19 10:23] lukehinds opened #10 "PEP8 compliance"
# Environment
 * OS / version:  N/A
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: N/A

# Description

Code linted and refactored to comply with the [PEP8 standard](https://www.python.org/dev/peps/pep-0008/).

## Expected behaviour vs. actual behaviour

PEP8 tests fail

Pass PEP8 linting

Once this issue is resolved, PEP8 can be automatically called as part of CI for #

[2018-12-19 10:32] lukehinds opened #11 "Demo scripts to support multiple linux dists"
# Environment
 * OS / version: Fedora / CentOS
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: *

# Description

Currently the demo scripts do not support other distributions outside of Debian, yet the project is listed as supporting CentOS / Fedora

## Expected behavior vs. actual behavior

Running the `demo_setup.sh` will fail due to calls being made with only the `ap

[2018-12-19 10:41] lukehinds opened #12 "create_whitelist.sh support for RHEL family"
# Environment
 * OS / version: Fedora / CentOS
 * Processor architecture: N/A
 * TPM Manufacturer:  N/A
 * Keylime version: *

# Description

`create_whitelist.sh` seeks to [generate a sha1 file hash list](https://github.com/mit-ll/python-keylime/blob/master/keylime/create_whitelist.sh#L61) by un-archiving with the [initrd](https://github.com/mit-ll/python-keylime/blob/master/keylime/create_whitel

[2018-12-19 10:47] lukehinds commented on #9
Note: this may require a Docker container to run on travis, as there are some unit tests (such as `test_restful.py`) that require a full functional environment that might be hard to achieve in the standard supplied node that travis offers.

[2018-12-19 11:06] lukehinds commented on #10
I should be able to do this one file at a time as separate pull requests to make it easier to review

[2018-12-19 18:43] lukehinds commented on #5
Did you folks manage to get started on this?

If not already under way, its worth considering tpm-tss software stack. It might take a bit more work and not as easily swap'outable, but would be worth it in the long run. tpm-tss is under very active development , has a good varied amount of contributors and has greater coverage of features exposed in the TPM. It also also packaged in all of the majo

[2019-01-03 15:06] lukehinds opened #16 "ima_emulator defaults to STUB_TPM False"
# Environment
 * OS / version: Fedora 28
 * Processor architecture: VM
 * TPM Manufacturer: IBM Emu
 * Keylime version: master

# Description

When running ` tpm_emulator` as a service and installed via [ima_stub_service](https://github.com/mit-ll/python-keylime/tree/master/ima_stub_service), the service fails with the following traceback:

[code]

This is due to [STUB_IMA](https://github.com/mit-

[2019-01-04 09:10] lukehinds commented on #16
Another possible solution is we use also query os.environ for the `STUB_IMA` boolean - I think I prefer this approach.

[2019-01-04 09:18] lukehinds opened #17 "Implement Semantic Versioning"
# Description

It would be useful to implement [Semantic Versioning](https://semver.org/) for keylime releases.

[2019-01-04 12:02] lukehinds opened #18 "Dockerfiles for CI Testing and General use"
# Environment
 * OS / version: Fedora 28
 * Processor architecture: container
 * TPM Manufacturer:  IBM Emulator
 * Keylime version:  master

# Description

Supply Dockerfiles for general use and testing in CI gate.

[2019-01-04 14:02] nabilschear commented on #16
The flags in common.py are for developers and/or can put keylime into an insecure/unsafe state.  the intention behind not putting them into the conf file or to be set via env is to avoid someone accidentally activating one of these features and being insecure.  there may be a way to set those states correctly. You can run IMA with no tpm and use the ima_stub_service (an unfortunate re-use of the w

[2019-01-04 14:40] #18 closed

[2019-01-04 14:56] lukehinds commented on #16
Ah makes sense with that context. I will look into using with no tpm, might have to get back to you for some help on that.

In the meantime, let's close this one as invalid.

[2019-01-04 14:56] #16 closed

[2019-01-04 15:11] nabilschear commented on #16
if you turn ima on in the kernel (ima_tcb on the kernel command line will do it), then it will populate the ascii_measurements file whether you have a tpm or not (or if you have one that is disabled or not activated).   the kernel just won't extend those measurements into pcr 10 on the tpm.

[2019-01-04 15:14] nabilschear commented on #9
I think we have a docker container built for keylime in our own bamboo build/testing infrastructure.  @jetwhiz can  look into it and figure out if we can just bring that over.

[2019-01-05 07:00] lukehinds commented on #9
@nabilschear sounds good, I have one here as well which is builds and runs the unit tests, no strong preference of using mine, I am happy to copy paste anything we need into your Dockerfile.

There work flow would be as follows:

1. Someone makes a PR (preferably from a fork) with a new branch or an `git commit --amend` if its an existing PR.
2. A webhook in travis-ci will invoke a docker build an

[2019-01-07 09:12] lukehinds opened #20 "run_tests.sh fails in CI due to missing pycryptodomex dependency"
# Environment
 * OS / version: Fedora 28
 * Processor architecture: container
 * TPM Manufacturer: N/A
 * Keylime version: master

# Description

When running ./run_tests.sh in CI gate , the script fails due to a missing dependency for `pycryptodomex`.

[code]

This is resolved by installing `pycryptodomex` with pip in `run_tests.sh`

I recommend we instead implement a pip requirements file for te

[2019-01-07 09:54] lukehinds opened #21 "run_tests.sh fails in CI from `cfssl` being the default"
# Environment
 * OS / version: Fedora 28
 * Processor architecture: container
 * TPM Manufacturer: N/A
 * Keylime version: master

# Description

With the default `keylime.conf` available in the root directory of the project, the `ca_implementation` value is set to `cfssl`. cfssl requires some extras (setting go path, grabbing cfssl module), unlike `openssl`, so run_tests.sh will stall from waitin

[2019-01-07 17:12] lukehinds commented on #21
https://github.com/mit-ll/python-keylime/pull/23

[2019-01-07 17:18] lukehinds commented on #21
I still need to work on cfssl a bit more, but this change allows me to get on with #9  by using openssl to start things off.

[2019-01-08 15:14] lukehinds commented on #9
OK, here we go:

https://travis-ci.org/lukehinds/python-keylime-ci-test/builds/476888325?utm_source=github_status&utm_medium=notification

[2019-01-08 16:44] jetwhiz commented on #9
This looks great, thanks for all your hard work @lukehinds ! 

Right now we’re preparing to release Keylime with TPM2 support (hopefully this week), so we should be able to start merging these pull requests in after the new code drop. 

[2019-01-08 17:31] lukehinds commented on #9
That's fine @jetwhiz , it makes sense to land your code first and then we can remerge these PR's if no conflicts.

[2019-01-17 15:49] lukehinds opened #26 "Change defaults to sha256"
# Environment
 * OS / version: N/A
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: master

# Description

When the TPM 2.0 work is complete https://github.com/mit-ll/python-keylime/issues/5 and we have  "algorithm agility" we should change from using the current default of sha1 to sha256 (or stronger).

[2019-01-23 00:04] #5 closed

[2019-01-23 00:07] jetwhiz commented on #26
Thanks, @lukehinds!  The default hash for TPM 2.0 can be configured in keylime.conf, and defaults to sha256

[2019-01-23 00:07] #26 closed

[2019-01-23 00:26] jetwhiz opened #27 "Improve tpm2.verify_ek to speed up cert matching"
Currently we are brute forcing the entire list of signing certs by TPM manufacturers:
  see https://github.com/mit-ll/python-keylime/blob/master/keylime/tpm2.py#L625

[code]

This can be improved by determining the correct CA to check against based on info from the EK certificate, saving the trouble of a brute force.

[2019-01-23 00:30] jetwhiz opened #28 "Add support for ECC in TPM 2.0"
Currently the TPM 2.0 implementation (and tpm2_tools) only supports RSA/RSASSA for encryption and signing.  Add full support, including ECC EK certificate fetching from NVRAM (or by generating it).

[2019-01-23 00:32] jetwhiz opened #29 "Add vTPM support for TPM 2.0 (with KVM/QEMU)"
Currently Keylime works for vTPM with a TPM 1.2 (particularly in Xen).  Add support for TPM 2.0 and KVM/QEMU.

[2019-01-23 00:37] jetwhiz opened #30 "Support more IMA hashing algorithms (TPM 2.0)"
Keylime currently only supports SHA1 with IMA, particularly since IMA's template_hash field only supports SHA1 (though the Linux kernel extends this SHA1 value into all available hashing algorithms).  Add support for additional algorithms for IMA.

See (for example):
* https://github.com/mit-ll/python-keylime/blob/master/keylime/tpm_abstract.py#L345
* https://github.com/mit-ll/python-keylime/blob/

[2019-01-24 10:12] #20 closed

[2019-01-24 10:12] #21 closed

[2019-01-28 18:26] leonjia0112 opened #31 "Installation script for Fedora Linux"
# Description
An installation script for Fedora would be quite helpful for the new version of Keylime.

Now there is only installation script and instruction for both Centos and Ubuntu Linux. Due to the difference of repository management between Fedora and Centos. If there is a manual installation instruction that would be greatly helpful.

You can assign this to me if you haven't started working

[2019-01-29 09:01] lukehinds opened #32 "Python 3 Support"
# Description

Creating this issue so that we can track miigration to support python3

[2019-01-29 09:17] lukehinds commented on #31
@leonjia0112 there is an [ansible role](https://github.com/keylime/ansible-keylime) now that deploys Python Keylime and the Rust cloud node on Fedora 28 (although its due an update since the TPM 2.0 code landed and Fedora 29). I also opened https://github.com/keylime/python-keylime/issues/32 to track python 3 support.

I have some Dockerfiles inbound which will deploy and set up Keylime in CI.

In

[2019-01-29 09:35] lukehinds opened #33 "Implement /docs"
# Description

Start moving what we can from the README into /docs so we can ultimately start rendering to a tool such as [readthedocs](https://readthedocs.org/)

[2019-01-29 09:42] lukehinds opened #34 "Gitter chat badge for readme."
# Description

Implement readme badge for users to find the keylime gitter.im channel

Some decent badges can be used from [shields.io](https://shields.io/)

[2019-01-29 09:45] lukehinds opened #35 "Implement http://keylime.gitpages.io"
# Description

A project website hosted in a gitpages branch.

Explains what the project is about, how to find documentation, source, contribute etc and news about recent talks , releases yada, yada.

Something similar I did for another project: https://anteater.github.io/

[2019-01-29 10:01] lukehinds opened #36 "Check for existing secure mount"
# Environment
 * OS / version: N/A
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: master

# Description

A majority of distributions mount a secure volume be default to:

`securityfs on /sys/kernel/security type securityfs (rw,nosuid,nodev,noexec,relatime)`

We create our own in `/var/lib/keylime/secure` [here](https://github.com/keylime/python-keylime/blob/master/keyl

[2019-01-29 10:08] lukehinds opened #37 "contributor / code of conduct guide."
# Description

implement a `contributor.md` / code of conduct guide.

A good example [here](https://gist.github.com/PurpleBooth/b24679402957c63ec426)

[2019-01-31 03:45] jetwhiz commented on #31
@lukehinds I definitely agree with using something more akin to ansible / puppet to make installation of specific parts of Keylime (as needed) more user-friendly and powerful/flexible than a bash script.

The bash script could be useful in the meantime though to quickly get a full environment up and running on one machine.  If I remember correctly, the latest version of the [installer.sh](https://

[2019-01-31 07:56] lukehinds commented on #31
ack, makes sense @jetwhiz

assigning to you @leonjia0112

[2019-02-02 20:51] jetwhiz commented on #36
Hi @lukehinds

I think that's a good idea, maybe we can mount to /sys/kernel/security/keylime or similar if we detect that the securityfs is already mounted by the OS.

[2019-02-06 10:48] lukehinds opened #38 "Test harness calls tpm4720-keylime init_tpm_server & tpm_serverd when running TPM 2.0"
# Environment
 * OS / version: N/A
 * Processor architecture: N/A
 * TPM Manufacturer: mssim
 * Keylime version: master

# Description

When `test_restful.py` is called during tests, it tries to run scripts `init_tpm_server` & `tpm_serverd` [here](https://github.com/keylime/python-keylime/blob/master/test/test_restful.py#L134)

This will work for  tpm4720-keylime  / tpm 1.2 , but not with the new

[2019-02-07 14:27] lukehinds commented on #38
Fixed here https://github.com/keylime/python-keylime/commit/a32c9568ba40cabd75b5671825f8aa1ca4fba58a

[2019-02-07 14:27] #38 closed

[2019-02-07 14:54] lukehinds opened #46 "Add test objects to .gitignore"
Add additions to `.gitignore` to capture stuff like the following:

[code]

[2019-02-07 19:47] lukehinds commented on #9
https://github.com/keylime/python-keylime/pull/44

[2019-02-08 01:21] jetwhiz commented on #34
Has this already been fixed?

[2019-02-08 07:18] lukehinds commented on #34
It has, forgot to tag this issue in the commit: https://github.com/keylime/python-keylime/commit/74ba7b5bd87bedbe288e70115618a205dc625871

[2019-02-08 07:18] #34 closed

[2019-02-08 09:26] lukehinds opened #52 "Project Logo"
You may have noticed I tried out some project logos. I think in the interest of it being a community decision I share out what I got from some colleagues and we choose together.

I currently like C

![](https://i.imgur.com/w54SofM.png)
![](https://i.imgur.com/VsJnT13.png)

[2019-02-08 09:30] lukehinds commented on #52
@jetwhiz
@nabilschear
@frozencemetery
@leonjia0112
@mbestavros

Let me know your preferred logo.

Note, this does not have to be fixed, if someone in the future comes along with something better, all it takes is a PR and another vote.  I just think it looks better to have something, instead of the default avatar thing github provides.

[2019-02-08 10:50] lukehinds commented on #37
https://github.com/keylime/python-keylime/commit/9e42d58e67ba12da72945f9cb4ec47ba78328089

[2019-02-08 10:50] #37 closed

[2019-02-08 11:12] lukehinds commented on #29
Some of my findings:

* [vTPM support in OpenStack Nova](https://specs.openstack.org/openstack/nova-specs/specs/stein/approved/add-emulated-virtual-tpm.html)

* [QEMU Spec](https://github.com/qemu/qemu/blob/master/docs/specs/tpm.txt)

* [Libvirt tpm xml elements](https://libvirt.org/formatdomain.html#elementsTpm)

* [script to compile / install Compile libtpms & swtpm on Fedora 29](https://gist.gi

[2019-02-08 11:34] lukehinds opened #53 "implement vulnerability handling process"
As per @jetwhiz 's comment https://github.com/keylime/python-keylime/pull/47#pullrequestreview-201399617 , let's get started forming an approach to vulnerability management.

initially I think we should get something simple in place as we are still a young project, over time we can increase the scope.

I quickly dumped down the following points for discussion. In time I will port this into some ma

[2019-02-08 11:40] lukehinds commented on #53
I wonder if we should just put some brief details up on the readme for now, until the above is finalised into a nice process flow?.............

# Report a Security Vulnerability

Please contact us directly at [security@keylime.groups.io](mailto:security@keylime.groups.io) for any bug that might impact the security of this project.

[2019-02-08 11:50] lukehinds opened #54 "Define release guide"
Alongside https://github.com/keylime/python-keylime/issues/17 we should define and agree on a release process, looking at automation whenever we can.

Creating this as a placeholder for now.

[2019-02-08 12:08] jetwhiz commented on #52
These look really nice, @lukehinds!  I agree with C as my favorite, since I typically go for simpler-looking logos.

[2019-02-08 12:10] jetwhiz commented on #53
I think that's a good idea, at least so we have a temporary/simple policy in-place about how to report security bugs found.

[2019-02-08 13:28] lukehinds opened #55 "Add Debian / Ubuntu CI Job"
Now that CI is settled in, replicate the same test scenarios for Ubuntu / Debian.

[2019-02-08 14:18] nabilschear commented on #52
FYI: we've got a graphic artist that we can tap to help us with this.  should i send him these options?

[2019-02-08 14:23] lukehinds commented on #52
@nabilschear , sure, or he can come up with his own as well.

It just need to be something simple, that will work on websites, stickers etc.

For example: https://github.com/PyCQA/bandit/pull/302

[2019-02-08 17:25] frozencemetery commented on #52
Nice!  I think B and C are my favorites because they keep the number of colors small.

[2019-02-12 14:08] lukehinds commented on #52
So look like C for now (which is useful as I already have that one up)!

[2019-02-12 19:12] lukehinds commented on #9
We can close this now, and future changes can be raised as new issues.

[2019-02-12 19:12] #9 closed

[2019-02-12 19:16] #11 closed

[2019-02-12 19:17] #12 closed

[2019-02-12 19:48] lukehinds commented on #17
Duplicate #54

[2019-02-12 19:48] #17 closed

[2019-02-12 21:14] leonjia0112 commented on #52
My vote is C. But I think a different green color would be better since the current green is a little too bright. Maybe like the of github's Comment button :)

[2019-02-12 21:30] lukehinds commented on #52
Good points @leonjia0112 , a PR can be made is you prefer a different shade of green :+1:

[2019-02-13 00:00] #52 closed

[2019-02-13 08:50] #54 closed

[2019-02-13 23:20] lukehinds opened #59 "AK authorizations in `tpm2_activatecredential` (was lUpdate tpm2-tools references)"
Now that @jetwhiz tpm2-tools patches have landed upstream we can change git repo URLs from /keylime/tpm2-tools to /tpm2-software/tpm2-tools

[2019-02-14 00:42] jetwhiz commented on #59
Unfortunately this isn't possible to do yet, since there is still a bug upstream with AK authorizations in `tpm2_activatecredential` which Keylime relies on.  The older pre-ESAPI version works, which is what the [keylime/tpm2-tools](https://github.com/keylime/tpm2-tools) is based on.

Another thing to do before switching repositories is that `tpm2_deluxequote` was basically renamed to `tpm2_quote`

[2019-02-14 02:08] lukehinds commented on #59
Thanks Charlie, I figured as much. Let's keep this for tracking when the above points are resolved.

[2019-02-15 14:32] lukehinds commented on #59
@jetwhiz , do you have the upstream bug number for AK auth issues in `tpm2_activatecredential`?

[2019-02-15 14:35] lukehinds commented on #29
I will start a draft PR for us to start scoping out this work.

[2019-02-15 17:34] nabilschear commented on #29
it would be great if you can extend your setup script above to instantiate a basic fedora vm with a vtpm attached and a working set of tpm2-tools running in the vm.

[2019-02-15 17:36] nabilschear commented on #29
PS: from a quick look at your research above this looks to have matured substantially from the last time i looked at it.  That's really encouraging.  The biggest challenge with all of this is to get machines with working vtpms.  The keylime part of it and how it uses it is all built already with xen.  So, we know how it should work, what interfaces are needed etc.  It should be straight-forward to

[2019-02-15 19:49] lukehinds commented on #29
@nabilschear

That's good to know.

Np!, I plan to do that anyway. Next week my task will be getting it working by hand, I will then use those findings to port into a script to automate this. Most likely some in python so we can use the libvirt library.

Thinking about this, it will most likely be the cloud orchestrator who will ultimately look after instantiating a VM with the vTPM (like with the

[2019-02-19 03:19] jetwhiz commented on #59
It seems like this is a generic issue affecting many different tools under the ESAPI, so I'm not sure what this would fall under.  So far this has just been discussed on the mailing list: https://lists.01.org/pipermail/tpm2/2019-February/001046.html.

[2019-02-19 12:38] lukehinds opened #60 "Keylime systemd files"
Was thinking it might be useful to have systemd service files for the verifier, tenant and registrar.

[2019-02-19 17:10] nabilschear commented on #29
agreed.  the cloud orchestrator will also be responsible for setting up some keylime services so that their tenants can use vtpm.  i can walk through this when we're ready.

[2019-02-21 15:18] lukehinds commented on #29
Good news, I have this working in a VM

[code]

Just need to work out how to script this, as I needed to edit the libvirt xml by hand.

[2019-02-21 15:53] lukehinds commented on #29
@nabilschear and here is a script to deploy this. I have not had a chance to test is a great deal, but you should be able to pick out the steps manually if need be:

https://gist.github.com/lukehinds/9fcee6fdc451d44116086b13b6125db9

[2019-02-21 16:57] nabilschear commented on #29
I had to add `--allowerasing` to the dnf command to get all the packages in on my default build of fedora 29.  the rest is still building

[2019-02-22 15:19] leonjia0112 opened #61 "Socket mode installation flag confusion"
# Description
In the installation, there is an option as following
`-s              Install TPM in socket/simulator mode (vs. chardev)`
Does it mean that the TPM would only use chardev for socket mode or
chardev for 1.2 chosen and ibm simulator for 2.0 chosen. It makes more
sense if it is the latter meaning, but I am not so sure.

Thanks.

[2019-02-22 16:11] nabilschear commented on #61
we should clear this up.  @jetwhiz i believe that -s will cause tpm2 to use swtpm2 as well.  So, i think the latter explanation is correct.

this is the mode that will make keylime talk to a software emulator.  the socket/chardev stuff is all a relic of how tpm4720 does thing.  now with tpm2, this is all muddled.

[2019-02-22 16:15] nabilschear commented on #29
still working on getting it working.   probably our web proxy is causing trouble.

[2019-02-23 00:21] jetwhiz commented on #61
The `-s` (simulator mode) and `-m` (modern TPM2) options are independent of each other from a high-level perspective.  Simulator mode will use a simulated/emulated TPM (either 1.2 or 2.0, depending on the `-m` choice), otherwise it will expect to be communicating with a real TPM (as a character device).

So there are four possible combinations:
1. `./installer.sh -sm` : Install Keylime using a sim

[2019-02-26 14:01] lukehinds commented on #29
@nabilschear how are you getting on ? Let me know if you need some help, I am back online now after a machine rebuild

[2019-02-26 14:08] nabilschear commented on #29
i was doing it on my laptop with a slow connection.  So i never quite finished debugging it.  I'll try again later today and let you know if i get it working.

[2019-02-27 17:07] lukehinds opened #62 "keylime_ima_emulator incorrectly parses token from ascii_runtime_measurements"
# Environment
 * OS / version: Fedora 29
 * Processor architecture:  N/A
 * TPM Manufacturer: emulator
 * Keylime version:  master

# Description

When running the keylime_ima_emulator service, some lines of `ascii_runtime_measurements` are incorrectly split.

`Feb 27 16:59:43 localhost.localdomain tpm_with_ima.sh[11418]: ERROR: invalid measurement list file line: -7ec02e /usr/bin/ping-`

`cat /sy

[2019-02-28 17:05] lukehinds commented on #62
Just assigning you so that you get notifications @jetwhiz

This one is perplexing:

If I copy `/sys/kernel/security/ima/ascii_runtime_measurements` to say for example `/root/ascii_runtime_measurements` then make the following change:

`
def ml_extend(ml,position,searchHash=None):
    ml='/root/ascii_runtime_measurements'
    f = open(ml,'r')
`

Everything works. It seems there is something specifi

[2019-02-28 17:14] lukehinds commented on #36
I think this issue maybe flawed so going to close. I just read a bit more about securityfs

https://lwn.net/Articles/153366/

[2019-03-01 19:58] nabilschear commented on #62
is securityfs proving half of a line?  maybe we need to make sure that we've got a whole line.

[2019-03-01 20:16] lukehinds commented on #62
Good point. I think I will try grabbing the next line down to see if it's the second half of a troublesome line.

[2019-03-04 11:33] lukehinds opened #63 "Implement rhboot UEFI SHIM loader"
# Environment
 * OS / version: RHEL and family
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: master

# Description

This is an initial issue to introduce the work of implementing the rhboot TPM compliant UEFI shim loader [0] .

The issue should be followed up with a spec outlining approach, considerations and core tasks.

[0] https://github.com/rhboot/shim

[2019-03-04 11:35] lukehinds commented on #61
closing this for now, from the comprehensive answer from @jetwhiz

[2019-03-04 11:35] #61 closed

[2019-03-04 11:52] #36 closed

[2019-03-04 14:03] lukehinds opened #64 "Implement specs"
Introduce a template format for creating specs in a `specs/` folder.

A spec is essentially a discussion area for a new major feature. We consider things such as performance / security / upgrade impact and how the said feature is implemented.

[2019-03-04 14:27] lukehinds commented on #62
This seems to be related to `f.seek(position` - I can't qualify why yet, but I believe its from the file being updated and shifting line numbers.

[2019-03-05 08:40] lukehinds opened #66 "Clean up demo documentation and improve set up steps."
The demo documentation could do with a clean up.

'Webserver Demo' does not explain to the user what is being demonstrated. It could be understood by reading, the code, but we should make so they don't have too and can jump right in.

Each demo type can be moved into its own dir, with it's own readme.md explaining set up steps and how to interact with the demo to get the desired events to occur.

[2019-03-05 13:46] lukehinds commented on #62
@nabilschear / @jetwhiz  - well using Fedora 28 the issue does not exist.

I will now try and work out the differentiate by looking through commits to the IMA kernel code and possibly Fedoras kernel compile configs.

One point I wanted to query you on. Using the ima_emulator, it takes a long time for all the hashes to extend. I guess this might be from the sleep call being used within the while lo

[2019-03-05 14:51] lukehinds commented on #62
I spoke to soon, same issue on Fedora 28.

[2019-03-05 15:35] lukehinds opened #68 "Team weekly meeting"
@nabilschear @jetwhiz @frozencemetery @leonjia0112 @mbestavros

It would be good to have a short and to the point meeting online (gitter.im) once a week (we can push out to 2 weeks if excessive).

please indicate a time that would work for you, don't worry if you cannot make next week specifically, this would be as an ongoing thing. if anytime on a Wednesday does not work, let me know and I can sh

[2019-03-05 15:45] lukehinds opened #69 "Mention ansible and Docker on from page readme."
Worth mentioning these tools alongside the installer, this way if someone arrives who is curious about trying keylime, they have a few ways of getting an environment up quickly and easily.

[2019-03-05 16:11] leonjia0112 commented on #68
Submitted :+1:

[2019-03-06 17:07] lukehinds commented on #68
I will let this run until Friday and then go with the highest approved time on the doodle poll. We can then have our first meeting on Wednesday the 13th of March!

[2019-03-07 09:28] lukehinds commented on #62
Another quick update, the issue seems to be specific to the Fedora Cloud Images (qcow2).

I have metal instance of Fedora 29 and the weird line chopping does not occur.

I am now going to try to same on some other dists deployed as VM's. That way we can outrule if its a virtualized anomaly or something specific to Fedora 29 cloud.

It's still worth pursuing this as most of the big cloud providers

[2019-03-07 09:35] #69 closed

[2019-03-07 11:16] lukehinds opened #71 "CRITICAL - Unexpected Get Quote response error for cloud instance <UUID>, Error: HTTP 599: Timeout during request"
# Environment
 * OS / version: Fedora 29
 * Processor architecture: x86_64
 * TPM Manufacturer: ima_emulator
 * Keylime version: master

# Description

When adding a whitelist using keylime_tenant, the cloud verifier reports a `HTTP 599: Timeout during request`.

## Expected behaviour vs. actual behaviour

No timeout.

## Steps to reproduce problem
1. Ensure ascii_measurements is populated.
2. run

[2019-03-07 11:25] lukehinds commented on #71
any ideas on this @jetwhiz , anything you have seen before?

[2019-03-07 19:29] leonjia0112 opened #72 "enable tpm4720 in socket mode"
# Description
In the `./install.sh` [line 480](https://github.com/keylime/python-keylime/blob/master/installer.sh#L480), it said `# Start tpm4720`. Just a little confused, if I chose TPM2 to install Keylime, would this service target on TPM1.2/2.0 accordingly or only for TPM1.2 (TPM4720).

Because I am working on RPM package for Fedora29 w/ TPM2/simulator, wondering whether it is necessary to put

[2019-03-07 19:56] lukehinds commented on #72
Hi Leo, so you plan to also  package the simulator alongside keylime? I think it might be better donr separately. Ultimately we want folks to use keylime in production with a hardware TPM.

[2019-03-07 20:10] leonjia0112 commented on #72
Hi @lukehinds , that is a good point. The plan is to package python-keylime without the simulator ideally. But I think for testing, I would like to try to package python-keylime for a Fedora platform with TPM2 and tpm2 simulator on it. By using the package, folks should be able to install python-keylime just using the `setup.py` instead of using `installer.sh`. This is what I am thinking.

[2019-03-07 20:26] lukehinds commented on #72
Understand, I think a simple resolution would be to package the simulator on its own. The reason I say this is because Fedora prefer to package python RPMS separately.

On a separate note, thinking about this we should also do Package dependencies to tpm2-tss, tpm2-abrmd and tools when the EAPI issues are fixed. We could do this as a topic next week in the first meeting.

[2019-03-07 20:29] leonjia0112 commented on #72
Sure! This is exactly what I am trying to achieve. We can definitely discuss this next week as a topic. :+1:

[2019-03-07 21:15] nabilschear commented on #71
i've not see this before.  looks like something is getting stuck in the node.  are any of the tpm tools left running while it's waiting?

[2019-03-08 08:01] lukehinds commented on #68
So the most popular time is 15:00 to 15:30 [UTC time](https://www.timeanddate.com/worldclock/timezone/utc). Our first meeting will be on 13th March and repeating weekly. I will set up an agenda shortly.

Closing this issue now.

[2019-03-08 08:01] #68 closed

[2019-03-08 08:03] lukehinds opened #73 "Update README with new meeting details"
It has been decided that we will meet every Wednesday at 15:00 UTC on the gitter keylime channel.

The readme should be updated, so that new contributors can find the information.

[2019-03-08 12:54] lukehinds commented on #71
@jetwhiz @nabilschear  , a little bit more debug info:

The verifier is sending two `GET` identity quotes to the cloud node (I don't know why yet, or if that is expected behaviour?) and one of them remains in the state of `CLOSE_WAIT`:

[code]

So let's summarise the above:

**Nonce**: BmztNatrhubfjoBZlE6Z > **Port**: 45028

**Nonce**: 0ov7uyYmzHwupgJ8y2SO > **Port**: 45030

Shortly after this, if

[2019-03-08 12:58] lukehinds commented on #71
ps -ef | grep tpm2_

returns nothing (I am guessing thats how I would check?)

[2019-03-08 13:37] lukehinds opened #75 "Adding same node twice creates perpetual loop"
# Environment
 * OS / version: Fedora 29
 * Processor architecture: x86_64
 * TPM Manufacturer:  emulator
 * Keylime version: master

# Description

Add a node twice creates a perpetual loop

## Expected behavior vs. actual behavior

Keylime_verifier and keylime_tenant should report this only once, and then break / exit the loop.

## Steps to reproduce problem

Run the following command:

`keylime

[2019-03-08 17:01] lukehinds commented on #71
can close this for now. I rebooted my machine, and the issue was cleared. I am assume it must have been a stale process somewhere.

[2019-03-08 19:23] #73 closed

[2019-03-11 04:03] nabilschear commented on #75
yes, i've seen this before.  it's a nasty problem that has to do with threading, python, and synchronization.  Tornado has multiple processes with their own event loops (see https://github.com/keylime/python-keylime/blob/master/keylime/cloud_verifier_tornado.py#L507 ), so data synchronization happens through sqlite.  when a node already exists the tenant code tries to delete and re-add it (https:/

[2019-03-11 04:05] nabilschear commented on #75
another option i just thought of: the tenant code can keep some state that it's trying to delete it and suppress the error messages until it is done.  Probably need a small sleep to keep the tenant from polling too quickly.  So, this is in essence a pretty version of number 3 above.  but instead of a random sleep, it's a polling sleep.

[2019-03-11 10:15] lukehinds commented on #75
I initially though of 3 / 4, but the problem then is what happens if there are more then one tenant (or more than one entity making the call to add). This is why fixing this in the verifier might be a better approach. I don't know the Rest API to well, but I guess the same call is available there and if we patch up the tenant, then the same issue would still reside over an API call to add?

We cou

[2019-03-11 10:55] lukehinds commented on #75
@nabilschear @jetwhiz , so to summarise, unless there is a specific need or something I have not considered, can we fix this by removing:

https://github.com/keylime/python-keylime/blob/7b0a5b4c57e0efd7add2cac88a7ad0eca95e9a90/keylime/tenant.py#L482-L483

And let the user call with the args `delete` and `add` and make the decision themselves?

[2019-03-11 13:47] lukehinds opened #76 "Connection test"
Currently we exit with a code exception when a command cannot connect. I was thinking we could have a one time connection check each time the cloud node is started.

[2019-03-11 14:00] nabilschear commented on #75
the intent behind the delete/re-add pattern was to allow a user to update an existing node.  if some of the metadata changes (i.e., new pcr values), this was the mechanism to handle this.

what about this plan?

I agree that add on an existing node shouldn't update it.  i'll update the code to raise an error if you try to add to an existing node.

to more explicitly handle this, I'll add an update

[2019-03-11 14:09] lukehinds commented on #75
sounds good to me @nabilschear , thank you!

[2019-03-12 12:03] lukehinds commented on #75
I grabbed all of the logs as my environment is really unstable / unpredictable and I am not sure if I still undstand how things should behave.

The commands used were:

    keylime_tenant -v 127.0.0.1 -t 127.0.0.1 -u D432FBB3-D2F1-4A97-9EF7-75BD81C00000 -c delete
    keylime_tenant -v 127.0.0.1 -t 127.0.0.1 -u D432FBB3-D2F1-4A97-9EF7-75BD81C00000 -f somefile -c add

Logs:

https://gist.github.com/

[2019-03-13 13:20] lukehinds commented on #62
Update: Issue not present on Ubuntu, trying out some ideas before confirming what I think the issue might be.

[2019-03-13 15:33] nabilschear opened #78 "Warn users if using a TPM emulator"
# Environment
 * OS / version: any
 * Processor architecture: any
 * TPM Manufacturer: both
 * Keylime version: master

# Description

warn users in the cloud node log if they are using a TPM emulator.

## Expected behavior vs. actual behavior

Expected: log a warning
Actual: no log

## Steps to reproduce problem
1.

# Relevant logs

Attach any relevant log files that can help to debug your issue.

[2019-03-13 15:53] nabilschear commented on #78
@jetwhiz can you test this with the tpm2 emulator for me?  Also do you have thoughts on the wording of the warning?

[2019-03-13 17:18] nabilschear commented on #78
@jetwhiz what about this?  can you test on tpm2?

[2019-03-13 21:27] nabilschear opened #80 "update pyyaml to 5.1"
# Environment
 * OS / version:
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Description

pyyaml had a nasty vulnerability reported last year that causes remote code execution https://nvd.nist.gov/vuln/detail/CVE-2017-18342.  We use yaml to parse the output from tpm2-tools.    this has finally been updated in pyyaml version 5.1, which was just released.  Once this version

[2019-03-13 21:31] nabilschear opened #81 "pyyaml dependency handling"
# Environment
 * OS / version: mac osx
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Description

pyyaml dependency wasn't handled the same way in setup.py and installer.sh as our other dependencies.  So, when i work with keylime on my mac with the emulator the yaml dependency wasn't pulled in by setup.py

## Expected behavior vs. actual behavior
 expected: keylime runs
ac

[2019-03-13 21:37] nabilschear commented on #81
this is also related to #80

[2019-03-13 22:38] nabilschear commented on #29
on this command in the gist you provided: `virt-install --ram 2048 --vcpus 2 --os-variant rhel7 \
    --disk path=/var/lib/libvirt/images/${vm_name}.qcow2,device=disk,bus=virtio,format=qcow2 \
    --import --noautoconsole --vnc --tpm /tmp/tpm0 \
    --network network:default --name ${vm_name}` it fails and says that `/tmp/tpm0` is not found.  does this need to be a file or socket that points to a

[2019-03-13 22:40] nabilschear commented on #29
when i create an empty file for /tmp/tpm0 it then says something about passthrough not available.  note that i'm doing this in vmware on a mac with no actual tpm

[2019-03-14 08:05] lukehinds commented on #29
This may well be due to vmware not supporting 'nested virtualization' - which version do you have? VMWare player?

Another possibility is to install Virtualbox which as of version 6.0 supports nested virt:

https://blogs.oracle.com/virtualization/oracle-vm-virtualbox-60-now-available

I will also see if I can get you a box somewhere and set it up for you.

[2019-03-14 16:32] lukehinds opened #83 "ERROR: FATAL ERROR: PCR values failed to match quote's digest!"
# Environment
 * OS / version: Fedora 29
 * Processor architecture: x86_64
 * TPM Manufacturer: Infineon SLB9665VQ2.0 TPM v2.0
 * Keylime version: master

# Description

I tried to run the IMA demo on Fedora 29, but this time doing so on bare metal with a hardware TPM chip.

After uploading the whitelist using the tenant, an exception occurs with `tpm2_deluxequote`

Exception: Command: tpm2_deluxe

[2019-03-14 17:08] lukehinds commented on #83
@jetwhiz @nabilschear , did not create this as bug yet, as not sure if its my TPM. I did run a 'tpm2_takeownership -c', but maybe I need to clear the cmos.

[2019-03-14 18:20] nabilschear commented on #29
i'll give it a try with virtual box.  Though, i think that vmware supports nested virt.  To be clear?  i don't actually need a TPM to get this setup with KVM/QEMU right?

[2019-03-14 19:46] jetwhiz commented on #83
Can you uncomment all of the debug output in the `tpm2_util_get_digest_from_quote` function and rebuild/install the tpm2-tools?

https://github.com/keylime/tpm2-tools/blob/master/lib/tpm2_util.c#L49

[2019-03-14 20:31] lukehinds commented on #83
@jetwhiz , sure will do!

[2019-03-15 09:21] lukehinds commented on #83
Hopefully this helps:

[code]

[code]

[2019-03-15 11:20] lukehinds opened #84 "config value for TPM type"
# Environment
 * OS / version: n/a
 * Processor architecture: x86
 * TPM Manufacturer: n/a
 * Keylime version: master

# Description

Currently we establish tpm version by querying the environment path.

I think this is a pefectly valid way of doing this, but it can result in a somewhat edge case I had earlier where I had both tool versions installed, yet was running a TPM 2.0 emulator, each time

[2019-03-15 13:54] nabilschear commented on #84
@lukehinds this is my fault.  @jetwhiz used to have a config var for this.  i suggested that we auto-detect.  I thought that the only case where it would be strange is if you have both sets of tools installed *and* both emulators running.  In that case, it would default to tpm1.2.  However, in your case it should default to tpm2.

[2019-03-15 16:48] jetwhiz commented on #83
Thanks @lukehinds !   Could you also capture what the output of `tpm2_listpcrs` is that corresponds to this output?  You should be able to run `tpm2_listpcrs` before and/or after running keylime to get a list of all of the PCR values (just in case the values change after running Keylime).

[2019-03-15 17:15] lukehinds commented on #84
hey no ones fault, it makes sense why it was designed like this. I am happy to take this one on and set a config again if that sounds ok to you?

[2019-03-15 17:21] #80 closed

[2019-03-15 17:22] lukehinds commented on #81
I think we are good to close this one too @nabilschear ?

[2019-03-15 17:24] nabilschear commented on #81
agreed

[2019-03-15 17:24] #81 closed

[2019-03-15 18:37] nabilschear commented on #84
i was against having a config var.  i think keylime should just work out of the box.  In your case, there may be something wrong with the logic above.  Are you actually running both emulators?

[2019-03-15 18:51] nabilschear commented on #84
@lukehinds actually i think this logic isn't working right.  let me take a look

[2019-03-15 18:57] nabilschear commented on #84
it's a bit ugly.  on my machine i get this when i have tpm1.2 tools installed but no emulator running:
[code]

So, it tries a bunch of times.  This is because it returns an I/O error, which causes keylime to keep trying.  Then it finally does start working and using tpm2 tools.

[2019-03-15 19:03] nabilschear commented on #84
since this is really only relevant for the emulator, i'm tempted not to worry about it.  But that assumes that you actually get the behavior above.

[2019-03-15 19:06] lukehinds commented on #84
mine was just from not cleaning down an environment. so this is an edge case and a very rare one, so I am happy to close this.

[2019-03-15 19:06] #84 closed

[2019-03-15 19:12] lukehinds commented on #83
pre keylime:

[code]

run keylime:

[code]

pcrlist after:

[code]

Hope that helps!

[2019-03-15 21:21] jetwhiz commented on #83
It looks like your PCR10/IMA measurements might be changing very quickly, which is causing a race condition where deluxequote asks the TPM for a quote and then asks the TPM for its PCR values.  When it tries to compare the PCR values to what is contained in the quote (to verify they are correct), they differ since PCR10 is being updated so much and so quickly.

What kind of workload is running whi

[2019-03-16 03:23] lukehinds commented on #83
Keylime is the only workload and that is IMA monitoring. Nothing else is using the TPM to my knowledge. I could try to get specific times, but as I ran pcrlist manually (not using any script) and started keylime in between, it it would be approximately 30-40 seconds (run tpm2_pcrlist, run keylime_verifier/registe/node, run tpm2_pcrlist).

[2019-03-19 09:18] #78 closed

[2019-03-19 10:00] lukehinds opened #87 "use of `raise Exception`"
Within `tenant.py` we use `raise Exception` and I wonder if this is needed in all cases.

For example we may see the following:

[code]

The use of `raise Exception` here makes it look like the code is broken as we get a traceback as CLI output, but in fact the code has captured the condition correctly and could instead report with the logger (most likely `logger.info`)

If we have agreement here

[2019-03-19 13:22] lukehinds commented on #87
paging @nabilschear and @jetwhiz - let me know your thoughts or context (if I am missing any).

[2019-03-19 13:23] nabilschear commented on #87
i think that you've got a good point.  while i love stack traces they can be intimidating

[2019-03-19 13:24] nabilschear commented on #87
there's a lot of duplicate log.error and raise Exception pairs that could be deduplicated

[2019-03-19 13:39] lukehinds commented on #87
thanks @nabilschear , I will work on this.

[2019-03-19 13:42] nabilschear commented on #87
@jetwhiz there's nothing in the webapp that relies upon exceptions right?

[2019-03-19 15:25] nabilschear commented on #29
ok, i finally got this up and running and played around with it a bit.  it looks like the main things we'd need to do are:

- add deepquote support to https://github.com/stefanberger/libtpms . Hopefully not too terribly hard, and we can use Xen implementation as a guide: https://github.com/mirage/xen/commit/f00b68e706c052002fbcbe820f434f1f1afb725d . the challenge here will be how to exernalize wha

[2019-03-19 16:19] lukehinds commented on #29
well done, I was literally just working on a VM to give you.

That list sounds quite extensive or is that a case of it being new to me makes it sound more complex than it is? Are these tasks you can take on @nabilschear , I am totally willing to help, but will be honest, I would not know where to begin just yet.

Initial thoughts:

I expect for adding deepquote to libtpms, we would need to first r

[2019-03-20 22:09] #62 closed

[2019-03-21 11:33] lukehinds opened #89 "test_wrapper needs to set `require_ek_cert `to false."
`test_wrapper.sh` needs to set `require_ek_cert = False` as test runs occur against an emulator.

[2019-03-21 12:32] lukehinds opened #90 "capture no `-k` option gracefully in `crypto.py`"
capture no `-k` option gracefully in `crypto.py`
[code]

[2019-03-21 16:24] nabilschear commented on #90
i think this is actually a problem in `tenant.py` rather than `crypto.py`.  what is the command line you used do create it?  it should raise an Exception and quite trying to do other stuff.  if this is on the branch where you've removed the raise Exceptions, then, that would make sense.  It's just an example of a downstream problem like i referred to in https://github.com/keylime/python-keylime/pu

[2019-03-22 10:10] lukehinds commented on #90
good point, let me park this issue for now while work on #91 - this could be a duplicate.

[2019-03-26 15:49] lukehinds opened #92 "Backport 3.x TPM2-Tools"
Backport @jetwhiz 's tpm2-tools additions to the 3.0x branch so that @martinezjavier can implement the changes in downstream packaging.

[2019-03-26 22:25] jetwhiz commented on #83
The thing that will make debugging this tricky is that we're not getting consistent PCR values, so I'm not sure if the issue is:
1. Your TPM is calculating the aggregate PCR differently than the others we've tested (in a way that I can't yet figure out), or
2. PCR10 changes its value in-between quote and pcrlist being called in `tpm2_deluxequote`

The way deluxequote works is that it makes two cal

[2019-03-27 14:20] lukehinds commented on #32
An update from off the mailing list:

"I do have a python3 branch based on our Keylime TPM2 codebase, though it is a bit outdated now.

The part I left off on / got stuck on was that python3 separates bytes/strings, which breaks our interfacing with the crypto libraries (which now require byte arrays instead of strings).  I don’t think the effort to do this should be too significant, but I haven’t

[2019-03-27 14:21] lukehinds commented on #31
Going to close this for now, as we do support Fed 29 since @jetwhiz pushed the tpm 2.0 code.

[2019-03-27 14:21] #31 closed

[2019-03-27 14:30] nabilschear commented on #32
@jetwhiz i've ported crypto.py to python3 in another project.  so, that part at least should work.  however, the things that call crypto.

[2019-03-27 14:47] lukehinds commented on #63
Some more details after talking with the rhboot devs.

Yes, shim is included in both Fedora and RHEL. It's installed by default
if you do an EFI install.

We are also carrying the TPM2 patches in the Fedora/RHEL grub2 packages.

This should effectively do all of that, with the exception that the TPM
2 Client TIS has the firmware extend the bootloader hash into PCR4,
and we use PCR9 as you had noti

[2019-03-27 16:05] nabilschear commented on #32
here's the python3 compatible crypto.py.  only a few changes needed. https://gist.github.com/nabilschear/272db71dd27a1b2b8a0207a01cc888a1

[2019-03-27 17:51] #89 closed

[2019-03-28 13:33] nabilschear commented on #32
i've also got a python3 versions of ca_impl_openssl.py and keylime_sqlite.py but i think those were just straightforward runs of the `2to3` tool

[2019-03-29 15:45] lukehinds commented on #83
Good news, we can close this. It was resolved by upgrading to kernel 5.0.5-200.fc29.x86_64 which has the following patch:

https://www.mail-archive.com/linux-kernel@vger.kernel.org/msg1959715.html

[2019-03-29 15:45] #83 closed

[2019-04-02 09:13] #71 closed

[2019-04-02 10:19] lukehinds commented on #32
Thanks @nabilschear

Quick question, do we wish to maintain python 2? I personally don't see much reason (its going EOL in 8 months).

[2019-04-02 13:46] nabilschear commented on #32
i don't think we should maintain python2

[2019-04-05 16:03] #87 closed

[2019-04-10 15:05] lukehinds commented on #63
Quick update, this is working now..I will put up a blog post. Will close this for now

[2019-04-10 15:05] #63 closed

[2019-04-11 16:22] lukehinds commented on #90
closing as resolved in #91

[2019-04-11 16:22] #90 closed

[2019-04-11 16:23] lukehinds commented on #72
Can we close now @leonjia0112 ?

[2019-04-11 16:24] lukehinds commented on #35
closing as delivered now. any further issues can go on the website repo: https://github.com/keylime/keylime.github.io/issues

[2019-04-11 16:24] #35 closed

[2019-04-11 16:25] lukehinds opened #98 "Implement pep8 / pyline in CI"
implement pylint / pep8 checks in travis.

[2019-04-12 13:22] lukehinds opened #99 "OpenStack Integration"
This is a placeholder issue to start to scope out integration with OpenStack (nova scheduler).

[2019-04-12 13:23] lukehinds opened #100 "Kubernetes Integration"
This is a placeholder issue to start to scope out Kube scheduler integration,

[2019-04-12 13:24] lukehinds opened #101 "OpenStack Ironic"
This is placeholder issue to start to scope out Ironic provisioning of Keylime.

[2019-04-12 13:25] lukehinds opened #102 "Metalkube Integration"
This is placeholder issue to start to scope out Ironic provisioning of Metalkube.

[2019-04-14 10:16] #72 closed

[2019-04-14 10:28] lukehinds opened #104 "Project namespace"
"Oh no, not another rename!"

So opening this as its been on my mind for a while, but had bigger fish to catch at the time. I was speaking with an associate who wanted to try out Keylime and they asked me  'should I use "python-keylime" or "rust-keylime". I then explained how python-keylime provides the server components and that rust-keylime will eventually provide the agent. After explaining thi

[2019-04-14 10:29] lukehinds commented on #104
@frozencemetery @jetwhiz @nabilschear @leonjia0112 @atothRedHat @mbestavros

[2019-04-14 10:33] lukehinds commented on #104
Another option is we keep them as they are, but we document it clearly. I see this as the inferior option TBH, but you folks could perhaps convince me otherwise.

[2019-04-14 11:05] lukehinds opened #105 "RestAPI authentication and authorization"
Initial issue to start discussion on  authentication and authorization for Keylimes RestAPIs

[2019-04-14 15:32] jetwhiz commented on #105
I think the Keylime RESTful APIs are already authenticated/authorized where necessary.  Is this referring to authorization/authentication of the tpm2-tools?  I think that is more of an upstream issue.

[2019-04-14 15:36] jetwhiz commented on #104
I guess that depends on what the eventual goal is for rust-keylime.  Are there any eventual/future plans to convert (e.g.) the verifier into rust as well?

If it is going to stay only the node then I agree that python-keylime and rust-keylime is a bit confusing.

[2019-04-14 15:45] lukehinds commented on #104
There was a discussion that the verifier and registrar would be ported to rust (before I came along so not sure if anything was committed too), but realistically if this happens, this work would not be complete anywhere in the near future.

Should that happen, then there is nothing to stop us changing namespaces again (or archiving python code and moving rust into /keylime), Its that certain or im

[2019-04-14 15:51] lukehinds commented on #105
Would that be TLS?

I am thinking more of something like JWT , where by each request made is scoped with a level of access control.

We might have a case where someone wants to add a node , whilelist etc from their own system (in much  the same way as the keylime_tenant CLI application). As it stands anyone (network access permiting) can post to add / remove / update an agent , and there is no gra

[2019-04-15 08:17] lukehinds opened #106 "script_vtpm_register.py wrong ext"
`script_vtpm_register.py` should have a `.sh`  extension (its a bash script).

[2019-04-16 08:28] lukehinds opened #108 "Setting `private_key_pw` results in SSL Error"
# Environment
 * OS / version: Fedora 29
 * Processor architecture: X86_64
 * TPM Manufacturer: Intel
 * Keylime version: master

# Description

When setting `private_key_pw` the keylime registrar exits with a stack trace.

[code]

Reverting back to `default` results in the registrar starting without any issue.

## Expected behavior vs. actual behavior

## Steps to reproduce problem
1. Set `privat

[2019-04-16 08:34] lukehinds opened #109 "Adding agent with keylime_tenant results in 404 and `keylime.tpm2 - ERROR - wrong public key type`"
# Environment
 * OS / version: Fedora 29
 * Processor architecture: x86_64
 * TPM Manufacturer: Intel
 * Keylime version: master

# Description

Run the following command:

`keylime_tenant -v 1<verifier_ip> -t <agent_ip> -f /root/excludes.txt --uuid D432FBB3-D2F1-4A97-9EF7-75BD81C00000 --whitelist /root/whitelist.txt --exclude /root/excludes.txt`

The verifier logs

    keylime.cloudverifier - INF

[2019-04-16 08:42] lukehinds commented on #109
I have suspicion it has something to do with https://github.com/keylime/python-keylime/commit/82b9c670c0a118966cbfdf4004fddb7ab3a196d4#diff-242fc79fc17586955d7b4bcd2c12f4d5

I don't believe it should be responding with a 404 (UUID not found), when we are trying to add the agent.

[2019-04-16 10:01] lukehinds opened #110 "Resolving IMA hash, still results in measurement failure."
# Upstream issue

# Environment
 * OS / version: Fedora 29
 * Processor architecture: x86_64
 * TPM Manufacturer: Intel
 * Keylime version: master

# Description

**This is an upstream issue**, but wanted to discuss it here in case its policy related, or experienced before by someone here.

Provision verifier with a whitelist and make sure IMA measurements are active.

`cp /usr/bin/ping /root/ping

[2019-04-16 14:41] jetwhiz commented on #110
Deleting and re-adding the agent should not make it pass its IMA attestation, since the machine is forever considered in a bad state after the unauthorized ping command has been run.  The only way to bring the node back into a good state is to fully reboot the node so it is in a trustworthy state again.

[2019-04-16 14:44] lukehinds commented on #110
Happy with that answer, makes sense.

[2019-04-16 14:44] #110 closed

[2019-04-16 14:57] jetwhiz commented on #109
Is this with a physical TPM or emulated?  That part of the code should not be running for an emulated TPM (verify_ek, which should be disabled in keylime.conf for emulated).

I'm also not sure why the verifier is performing a PUT (reactivate) when you're trying to perform a first-time 'add' command, unless the agent had already been provisioned?

[2019-04-16 15:10] lukehinds commented on #109
Its a physical TPM

[2019-04-16 15:26] jetwhiz commented on #108
Hi @lukehinds , if you're using CV-generated keys then the password for the registrar and tenant must be the same as the password set for the verifier (since they all use the same keys).

See the notes under `tenant` and `registrar`:
* https://github.com/keylime/python-keylime/blob/master/keylime.conf#L216
* https://github.com/keylime/python-keylime/blob/master/keylime.conf#L385

Does it work if y

[2019-04-16 15:28] lukehinds commented on #108
Hi @jetwhiz , my bad I missed that.

I will keep this open and we can perhaps validate this somehow so its captured. Will change to enhancement.

[2019-04-16 15:29] jetwhiz commented on #109
If you run `tpm2_nvlist` on that machine, does it list a key under slot `0x1c00002`?

If it does exist, then can you export it and see what it looks like:
`tpm2_nvread -x 0x1c00002 -s <KEY_SIZE_FROM_ABOVE_COMMAND> -f /my/output/file`

[2019-04-16 15:31] jetwhiz commented on #108
It could definitely use some clarification that this needs to be done.  Maybe all three sections can mention that the related passwords must all be updated if they are CV-generated and the pw is not set to "default"?

[2019-04-16 15:32] jetwhiz commented on #105
Gotcha, yeah that's much more fine-grained than the existing (where all tenants can control any registered machines).

[2019-04-16 15:35] lukehinds commented on #105
@jetwhiz its a long ball this one, but essentially is about getting Keylime to the enterprise level

[2019-04-17 11:07] lukehinds opened #111 "Graceful handling of Agent connection failures"
# Environment
 * OS / version: Fedora 29
 * Processor architecture: x86_64
 * TPM Manufacturer: N/A
 * Keylime version: master

# Description

Should the agent not be able to connect to its assigned register, a stack trace is displayed and nothing is logged to `cloudagent.log` - this would make it challenging to debug at a later stage for adminstrators of keylime agents

Stack trace

[code]

Inste

[2019-04-18 14:08] lukehinds opened #115 "Python 3 Port - TypeError: Object of type bytes is not JSON serializable"
I am running into the following issue using Python 3.6 and Python 3.7 (I thought 3.7 might have resolved this)

[code]

Set up steps:

1. Install dependencies:
[code]
2. Run `2to3` pm code base
3. Install keylime
`python3 setup.py install`
4. Start the `keylime_verifier`

From what I can tell the issue starts here:

https://github.com/keylime/keylime/blob/e7c153a16fa47e3b411ddbcd18f04a66b37e8898/k

[2019-04-18 15:06] lukehinds commented on #115
So I put a decoder in place and managed to convert `priv` to `str`, but I am going down a rabbit hole here converting everything back to bytes again later on for example here:

https://github.com/keylime/keylime/blob/e7c153a16fa47e3b411ddbcd18f04a66b37e8898/keylime/crypto.py#L98-L99

Going to step back and try to understand the bigger picture here and we need to convert to bytes in the first place

[2019-04-18 18:13] jetwhiz commented on #115
I think the issue is with the first element (either `{'revoked_keys':[]}` or `json.loads(plain)`) and not the base64-encoded salt:

https://github.com/keylime/keylime/blob/e7c153a16fa47e3b411ddbcd18f04a66b37e8898/keylime/ca_util.py#L445-L448

If you look at where the exception is occurring, it is coming from `priv` here (the first element): https://github.com/keylime/keylime/blob/e7c153a16fa47e3b4

[2019-04-18 18:32] jetwhiz commented on #115
There could also be an issue when reading the ca cert value from the BIO.MemoryBuffer:

https://github.com/keylime/keylime/blob/e7c153a16fa47e3b411ddbcd18f04a66b37e8898/keylime/ca_util.py#L144-L147

I'm not sure what format is being returned by `f.getvalue()` ... this may be one of the M2Crypto-related byte-string issues that I ran into and left off at.

[2019-04-18 19:27] lukehinds opened #116 "Outline commit message guidelines in CONTRIBUTOR.md"
As discussed in PR https://github.com/keylime/keylime/pull/114#pullrequestreview-228359465, we should add guidelines on commit message formatting and etiquette.

[2019-04-19 17:22] #64 closed

[2019-04-19 18:31] #53 closed

[2019-04-23 11:51] lukehinds commented on #115
apologies, back on this issue now.

I clean the environment every time `rm -rf /var/lib/keylime/*`

[2019-04-23 14:23] lukehinds commented on #115
A bit more debugging has led me to this (note the python versions):

[code]

[code]
So for some reason, python 2 does not encode to base64 (which is why we never had this issue before?), where as now it does for python 3, which is why json.dumps complains about `type bytes is not JSON serializable`

[2019-04-23 15:13] jetwhiz commented on #115
Hi @lukehinds

It looks like py3 now exports byte arrays from `base64.b64encode` instead of ASCII strings when performing its base64 encoding.  We will need to convert this byte array back to ASCII for this to be JSON serializeable, using `.decode('ascii')`.

For https://github.com/keylime/keylime/blob/e7c153a16fa47e3b411ddbcd18f04a66b37e8898/keylime/ca_util.py#L448

Change `base64.b64encode(crypt

[2019-04-25 08:19] #116 closed

[2019-04-26 18:17] jetwhiz commented on #1
We should keep an eye on this going forward and think of a way to create a real workaround.

[2019-04-26 18:18] jetwhiz commented on #55
I think this is important to do to make sure we maintain compatibility with Ubuntu-based systems going forward.

[2019-04-26 19:03] lukehinds commented on #27
keep this one

[2019-04-30 13:58] lukehinds commented on #115
hey @jetwhiz

I have made it a fair amount through now, but hitting an issue that's proving challenging:

[code]

[code]
If you're feeling charitable , could you take a quick look:

ca_util.py https://gist.github.com/lukehinds/98277421e46aeae21c6913c11c14ed1d

crypto.py https://gist.github.com/lukehinds/2ade32df67975eef819af21bfc4ab136

[2019-04-30 14:03] nabilschear commented on #115
i think it isn't deep into the c code. It's in the callback to provide the password.   i think this is what is causing the problem https://github.com/keylime/keylime/blob/a5473dca8ce500182b95f41e2cc291d825c50075/keylime/ca_util.py#L77

[2019-04-30 14:08] lukehinds commented on #115
ah, so I will try and encode that to bytes somehow.

[2019-04-30 14:16] lukehinds commented on #115
It's a bit messy,so will try and refactor, but its got me outside of the ca_utils and crypto encoding shuffles:

[code]

[code]

[2019-04-30 14:18] nabilschear commented on #115
looks like the "" in revocation_notifier.py:49

[2019-04-30 14:20] lukehinds commented on #115
`frontend.setsockopt(zmq.SUBSCRIBE, b'')`

[code]

Need to work on the registrar and agent now!

[2019-04-30 14:23] nabilschear commented on #115
you're a hero! py2->3 ports are an occasional nightmare.

[2019-04-30 14:26] lukehinds commented on #115
registrar is good, just an issue with a seek failure now

[code]

[2019-04-30 14:41] nabilschear commented on #115
that looks like it's in the console logging stuff.  Back when we did cloud-init stuff, this was important because it was how you could debug.  We may want to look at the best practices for logging to the console with python logging

[2019-04-30 14:47] nabilschear commented on #115
or maybe we should have other parts of the system put things into /dev/console (like systemd) and remove this code?

[2019-04-30 14:59] lukehinds commented on #115
`logging.StreamHandler` should help, I will have a play.

[2019-04-30 15:04] lukehinds commented on #115
[code]

fixed that one...next coming up

*Note; I will keep dumping errors in here, as you might be able to answer with a resolution and save me a few hours in the process:

[2019-04-30 15:16] lukehinds commented on #115
[code]

Is `Set` your own function, or the inbuilt one?

https://docs.python.org/3/tutorial/datastructures.html#sets

[2019-04-30 15:26] nabilschear commented on #115
should be inbuilt

[2019-04-30 16:29] jetwhiz commented on #115
I remember running into this, too.  'Set' no longer needs to be imported in py3 since it is now a built-in class.  `Set()` needs to be replaced with `set()` now (and remove the imports)

https://stackoverflow.com/questions/12028204/python-cant-import-set-from-sets-no-module-named-sets

[2019-05-01 08:26] lukehinds commented on #115
`set` is resolved now.

next issue is a while true loop is not exiting in `cmd_exec.py`:

[code]

[code]

Could this be connected to using `/dev/console` - I just removed that logger for now.

[2019-05-01 12:52] jetwhiz commented on #115
I think something important may have been removed during the py3 conversion there ... the existing shows:

https://github.com/keylime/keylime/blob/a5473dca8ce500182b95f41e2cc291d825c50075/keylime/cmd_exec.py#L48-L54

There needs to be the `line = proc.stdout.readline()` line being updated to be able to break out of the while loop.  Has this been moved or removed on your branch?

[2019-05-01 14:02] lukehinds commented on #115
actually mine is indentical / no change, when I pasted the above code I accidental removed the `line = proc.stdout.readline() ` to remove a debug print statement, but the code I am running is intact and the same as what's on master.

the only change with git diff is:
[code]

[2019-05-01 14:06] lukehinds commented on #115
I found the issue:

[code]

[code]

It's from this change: https://github.com/keylime/keylime/issues/115#issuecomment-487971307

[2019-05-01 14:36] lukehinds commented on #115
strike the above out, its not that. I still get the `b ''`

what is the while loop trying to do? Is it waiting for stdout to know a command execution has completed?

[2019-05-01 14:56] nabilschear commented on #115
yes, that's what i thought it was doing.  if you `if line==b'':` that doesnt work?

[2019-05-01 15:02] lukehinds commented on #115
I will give it  a try

[2019-05-02 10:07] lukehinds opened #122 "log tpm2 commands in debug"
It would be useful to neatly format commands sent to the tpm in `cmd_exec.py`

Need to consider security impact though, as this could lead to logging of various passwords, for example when calling `tpm2_createek`

[2019-05-02 14:23] lukehinds commented on #115
getting close now, I am little stumped how to decode this - every combo I have tried has failed:

tpm2_abstract.py:

[code]
2019-05-02 14:20:08.910 - keylime.tpm - WARNING - INSECURE: Keylime is using a software TPM emulator rather than a real hardware TPM.
2019-05-02 14:20:08.910 - keylime.tpm - WARNING - INSECURE: The security of Keylime is NOT linked to a hardware root of trust.
2019-05-02 14:2

[2019-05-02 14:29] lukehinds commented on #115
The `ek_tpm` is set here in tpm2.py:

`ek_tpm = retDict['fileouts'][tmppath.name]`

[code]

[code]

[2019-05-02 14:48] nabilschear commented on #115
ek_tpm get generated here in tpm2.py https://github.com/keylime/keylime/blob/a5473dca8ce500182b95f41e2cc291d825c50075/keylime/tpm2.py#L364

so, it looks like base64 is the culprit.

[2019-05-02 14:51] lukehinds commented on #115
I did try removing the `base64.b64encode` call and placing a `.decode` on the end, but it broke something else. I need to go back and revisit as I have lost my way a bit :)

Will update shortly.

[2019-05-02 14:55] nabilschear commented on #115
try this?
[code]

[2019-05-02 14:57] nabilschear commented on #115
it's confusing with all the backwards encode/decode.  we may want to have a keylime_b64 encode/decode functions to hide this and then use it everywhere.  this is bytes in/bytes out but strings while decoded.

[2019-05-02 17:16] lukehinds commented on #115
This is the form we have on Python 2:

2019-05-02 13:33:09.403 - keylime.tpm2 - INFO - Flushing old ek handle: 0x81000004
ek_tpm: '\x01:\x00\x01\x00\x0b\x00\x03\x00\xb2\x00 \x83q\x97gD\x84\xb3\xf8\x1a\x90\xcc\x8dF\xa5\xd7$\xfdR\xd7n\x06R\x0bd\xf2\xa1\xda\x1b3\x14i\xaa\x00\x06\x00\x80\x00C\x00\x10\x08\x00\x00\x00\x00\x00\x01\x00\xd1\xd2\xf1t\x00\x01T\x93\xba\xab\x16\xa6\x8c#!\xca\x15\x99\x82!Gdy\xc

[2019-05-02 17:19] lukehinds commented on #115
[code]

:
 � �q�gD�����̍F��$�R�nR
                      d��i�����tT�����#!���!Gdy��-0\���U��<�k��Ĺ�OB���fFy����%��l�n|�u�D�z�ݑ�/�$k5�K�ig����2(S|Y$ɑ�a_�77k�՘�&�E��+�G<%*��^���ǁq#�xR��� �A�H���R�ݧA�Y:p�w�&�N�B "i���2|9�F}�MT���t-�T~d�G�@�o��(zD�8��y��z}�*� v]Is	���~OSp]�KHbnI�a�=
[code]
encoded= base64.b64encode(a).decode('utf-8')

AToAAQALAAMAsgAgg3GXZ0SEs/gakMyNRqXXJP1S124GUgtk8qHaGzMUaaoABgCAAEM

[2019-05-02 17:20] lukehinds commented on #115
[code]

[2019-05-03 17:02] #10 closed

[2019-05-08 08:02] lukehinds opened #123 "Add a CI test for tpm2-tools v3.X"
As per PR: https://github.com/keylime/keylime/pull/118#issuecomment-490278494

Add CI tests for:

tpm2-tss version 2.0.x
tpm2-tools 3.X from https://github.com/tpm2-software/tpm2-tools/ (not our fork)
tpm2-abrmd version 2.0.3

[2019-05-11 09:04] #66 closed

[2019-05-11 18:26] jetwhiz commented on #59
This still needs to be done after upstream issue fixed: https://github.com/tpm2-software/tpm2-tools/issues/1453

[2019-05-12 11:56] #33 closed

[2019-05-14 15:57] lukehinds commented on #115
Just an update, I continue to go down the rabbit hole.

[code]

For some bizarre reason, cryptodome chooses whatever encoding type it likes on the fly (or so it seems)

![image](https://i.imgur.com/2Euu3V2.png)

I now know why I have been chasing my tail trying to decode / encode repeatedly and hitting a ton of errors like the previous comment.

[2019-05-17 14:59] #76 closed

[2019-05-20 16:05] lukehinds commented on #115
due an update.

So we can ignore the above woes, which have all been solved by having yaml handle private.json and tmpdata.json. This works well as it accepts strings and bytes, unlike json.

The issue I have now is towards the end in `common.py`

https://github.com/keylime/keylime/blob/94328329d2dad5d5a659168865d2e73347a48ce4/keylime/common.py#L232

The `json.response` is (which is now `yaml_resp

[2019-05-21 11:43] jetwhiz commented on #115
That's great news, @lukehinds, it sounds like you're making good progress!  So will these files now be in YAML format instead of JSON?

[2019-05-21 12:40] lukehinds commented on #115
Yep, same content, just in yaml:

[code]

[2019-05-21 12:46] lukehinds commented on #115
This is one issue I have now @jetwhiz

[code]

Sometimes the above condition results in an empty dict(?) (if results is None:)

This then gets sent to `handler.wfile.write(json_response)` as a `str` which causes the following failure:

[code]

So I need to find a way of having `result {}` be a binary, or find out why a `None` result is being created in the first place.

[2019-05-21 13:09] lukehinds commented on #115
You can see the issue here, in python 2:

[code]

In python 3:
[code]

Any ideas what condition causes this line to execute:

https://github.com/keylime/keylime/blob/94328329d2dad5d5a659168865d2e73347a48ce4/keylime/common.py#L217-L218

[2019-05-21 22:10] jetwhiz commented on #115
`results` being `None` here is very common, since many REST responses do not need to return anything other than a status code (there are no results that need to be processed).  In these cases we just return the empty dictionary `{}` so someone calling the REST interface can still access it but can see it is empty.

I think YAML also supports that same notation (using the empty dictionary `{}`).  C

[2019-05-21 22:16] jetwhiz commented on #59
Note that these issues have now been fixed upstream, as of [PR#1513](https://github.com/tpm2-software/tpm2-tools/pull/1513) and [PR#1499](https://github.com/tpm2-software/tpm2-tools/pull/1499).

Do we want to switch to using tpm2-tool upstream's `master` branch, or stick with our fork?  Note that their `master` branch changes very frequently (including their tool APIs) and we may need to be doing

[2019-05-22 09:41] lukehinds commented on #115
The problem is `socketserver.py in `BaseHTTPRequestHandler` requires bytes format

[code]

[2019-05-22 09:42] lukehinds commented on #115
full stack trace:

[code]

[2019-05-22 10:08] lukehinds commented on #59
Good point. I definitely think master and include 3.x tests as well

Hoping I can bury this py3 port soon and this CI installation updates will be next on the list.

[2019-05-22 12:05] jetwhiz commented on #115
It sounds like this is still an error related to encoding of the string with py3 (similar to in https://stackoverflow.com/questions/42176058/a-bytes-like-object-is-required-not-str/42176149).  Can you try encoding `json_response` to `utf-8` before having the web server send it?

[2019-05-22 13:03] lukehinds commented on #115
So you can't really encode `json_response` as such, as its a dict, we could encode the contents within the dict , but doing so for an empty string is a challenge `result = result {}`.

We would also need to convert `blob` first from being a byte (this is how its natively returned by cryptodome) to a string to allow json to parse it without throwing `TypeError: Object of type 'bytes' is not JSON se

[2019-05-23 01:06] jetwhiz commented on #115
I think sockserver is trying to return a string that is encoded with a particular encoding (e.g,. UTF-8) as a browser response for the REST call.  You'll have to export dict as a yaml string and then encode that as UTF-8 before passing this into `json_response` (such as with `yaml.dump`).

So for instance:
[code]

(untested, but something along those lines)

Note in the code above that you need to

[2019-05-23 13:48] lukehinds commented on #115
Thanks Charlie, that did it. I was using `application/xyaml` , and `text/x-yaml` resolved it!

[2019-05-24 11:00] lukehinds commented on #115
finally, all running now (I can go into weekend happy):

![keylime](https://i.imgur.com/E0YhEnE.png)

Still away to go, I need to work on `tpm1.py` and I am sure stuff will come out as I run the tests and try out some use cases.

[2019-05-24 16:50] jetwhiz commented on #115
Bravo!  I'm sure you can breathe a sigh of relief now :p  The `tpm1.py` changes should be pretty much the same as `tpm2.py`, and after that will be the WebApp: we'll need to switch to using a yaml parser now it sounds, maybe https://github.com/nodeca/js-yaml?  I can help with that part after everything else stabilizes.

[2019-05-29 12:12] lukehinds commented on #115
@jetwhiz another one I am working on:

Having some issues running `keylime_ima_emulator `

See my code with debug statements:

[code]

[code]

[2019-05-29 14:35] jetwhiz commented on #115
Hi @lukehinds

Apparently py3 now returns a float when dividing two integers, so you'll have to switch to using [floor division](https://docs.python.org/3.1/tutorial/introduction.html#numbers) to get py2 behavior back.  Try updating this line and see if that works:

[code]

[2019-05-31 08:35] lukehinds commented on #115
Perfect, thanks again @jetwhiz

[2019-05-31 08:54] lukehinds commented on #115
Just a new issue I am working on, may as well post here while I try to resolve in parallel.

I am now working on tests and Python 3 and having some issues with imports:

It seems green / coverage is trying to load imports under python 2:

[code]

`ConfigParser` was renamed to `configparser` doe Python 3:

https://stackoverflow.com/a/14087705

This is where `test_restful.py` is loading `cloud_verif

[2019-06-01 00:52] jetwhiz commented on #115
Hi @lukehinds

Have you updated the fork arguments for the testing script:

https://github.com/keylime/keylime/blob/94328329d2dad5d5a659168865d2e73347a48ce4/test/test_restful.py#L69-L70

This should be changed to `python3` so that the services are all kicked off with the python3 interpreter.

[2019-06-02 20:20] lukehinds commented on #115
Ah! I did not spot that, let me try that first thing in the morning.

[2019-06-03 13:30] lukehinds commented on #115
Next one in the queue @jetwhiz :)

[code]

My amended code:

[code]

[2019-06-03 15:19] lukehinds commented on #115
fixed the above:
`contents = b"random garbage to test as payload"`

[2019-06-03 16:43] jetwhiz commented on #115
@lukehinds -- does this mean the issue you posted is fixed now?  was it another encoding issue?

[2019-06-03 17:16] lukehinds commented on #115
@jetwhiz, yep. Just encoding. Almost have all the tests passing, so will be making a PR shortly I hope.

[2019-06-05 11:33] lukehinds commented on #115
Another one:

[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2019-06-05 12:59] jetwhiz commented on #115
@lukehinds -- can you try `bytes(nonce, encoding="utf8").hex()` and see if that works?

[2019-06-05 14:21] lukehinds commented on #115
That seems to have worked @jetwhiz , queuing up the next one in parallel to looking into it myself:

[code]

[2019-06-05 14:42] lukehinds commented on #115
debug output:

[code]

[2019-06-05 16:02] jetwhiz commented on #115
@lukehinds -- from the gitter discussion: try using, e.g., `base64.b64encode(zlib.compress(sigraw))` instead of `base64.b64encode(sigraw.encode("zlib"))` for everywhere we do `.encode("zlib")`

You'll also need to update the `.decode("zlib")` parts to use `zlib.decompress` as well.  For instance, here:

https://github.com/keylime/keylime/blob/94328329d2dad5d5a659168865d2e73347a48ce4/keylime/tpm2.p

[2019-06-06 09:17] lukehinds commented on #115
hey @jetwhiz

next issue is concating the `":"` string to bytes:

[code]

I am not sure what format the `quote` needs to be in when returned from function `create_quote`

[2019-06-06 12:29] jetwhiz commented on #115
Hi @lukehinds -- is it enough just to prepend these characters with 'b' to convert them to bytes, or will we have to do encoding?

So for all of the concatenations, e.g.,:
https://github.com/keylime/keylime/blob/94328329d2dad5d5a659168865d2e73347a48ce4/keylime/tpm2.py#L861-L863

Try:
[code]

A more elegant solution might be to return this as a dictionary, though it would require a more substantial

[2019-06-11 09:30] lukehinds commented on #115
Next one @jetwhiz

[code]

With some debug:

[code]

[2019-06-11 13:18] jetwhiz commented on #115
@lukehinds -- I think there's something wrong with what's being written to the PCR file (see this part of the error message: `ERROR: Failed to read PCR digest from file`).

Can you print out what's being written to the temporary PCR file?  For example, with this command:

`tpm2_checkquote -c /tmp/tmp4j6c4rug -m /tmp/tmpk9y9w38m -s /tmp/tmphhn5pp82 -p /tmp/tmpme2mj4nu -G sha256 -q 59385065416d36743

[2019-06-12 11:02] lukehinds commented on #115
Seems like the tmp files are cleaned up post run, do you know what code is deleting them (if there is)?

[2019-06-12 12:18] jetwhiz commented on #115
Yeah they auto-clean with the `with tempfile` construct, so you'd have to write it out as a non-tempfile for it to persist.

It might be easier just to write it out to a file somewhere else a second time rather than changing the existing code to be persistent.

[2019-06-12 15:06] lukehinds commented on #98
don't close

[2019-06-14 08:41] lukehinds commented on #106
hands off

[2019-06-14 08:42] lukehinds commented on #115
@jetwhiz - Going to close this and let's move discussion to the draft PR here: https://github.com/keylime/keylime/pull/126 where we can see the current code.

[2019-06-14 08:42] #115 closed

[2019-06-14 14:37] jetwhiz commented on #106
@nabilschear -- was there a reason why this had a shell extension instead of python, or can we just change this?  will this break anything with the vtpm procedures?

[2019-06-17 06:52] lukehinds commented on #111
keep alive

[2019-06-18 11:34] lukehinds opened #127 "Investigate use of cryptography.io"
See if m2crypto and pycryptodome can be replaced with the single https://cryptography.io library

cryptography.io is packaged in rhel / fedora and passes FIPS validation and it is a well maintained project with active support / development.

This issue is to propose assessment of `crypto.py` and `tpm`.py` / `tpm2.py` to see if cryptography.io provides sufficient coverage for all crypto functional

[2019-06-18 18:12] nabilschear commented on #106
no, that was an oversight.  it should be .sh.  I even found where i screwed it up in our local github instance back in 2018.  That said, I'm not totally sure what that script does.  It was checked in by a previous developer (robert rudd) back in 2015.  So, i'm fine with getting rid of it as I doubt it works in the way we want.

[2019-06-18 18:15] atothRedHat opened #128 "install.sh referenced repo updates"
# Description
The following repo references in install.sh should be replaced with official keylime repo locations

KEYLIME_GIT=https://github.com/mit-ll/keylime.git
TPM4720_GIT=https://github.com/mit-ll/tpm4720-keylime.git

[2019-06-20 08:58] lukehinds commented on #127
Turns out Mr @nabilschear has already put up some code.

https://github.com/keylime/keylime/blob/master/keylime/crypto2.py

I think we should get this into the 5.0 release. I will make a patch once Python 3 has landed (and port the above to py3 in the process).

[2019-06-22 16:38] #109 closed

[2019-06-23 14:30] #104 closed

[2019-06-25 18:55] lukehinds commented on #1
keep-alive

[2019-06-25 18:57] lukehinds commented on #128
Taking this one as its fixed in the coming Python 3 port:

https://github.com/keylime/keylime/pull/126

[2019-06-25 20:02] lukehinds commented on #27
keep alive

[2019-06-26 15:36] lukehinds commented on #92
@jetwhiz "it looks like our F30 tpm2-tool changes are in stable now"

[2019-06-26 17:00] lukehinds commented on #29
@nabilschear @jetwhiz upstream discussion point: https://github.com/stefanberger/swtpm/issues/145

[2019-06-28 07:41] lukehinds commented on #55
keep it

[2019-07-01 05:53] lukehinds opened #129 "Ansible Integration"
Placeholder issue to brainstorm ansible integration points with Keylime

[2019-07-01 11:55] lukehinds commented on #122
hands off

[2019-07-03 09:51] lukehinds opened #130 "Configurable database selection using ORM"
Some users may prefer to use a more production suitable database such as postgres.

We can provide a toggle during installation, & within the `keylime.conf` where the user can set their own preferred database, so either `database =` `sqlite` \ `postgres`.

We also require ORM for building out the auth system and an early iteration of multi tenancy.

[2019-07-04 20:27] lukehinds commented on #60
This might be a good one for you to get your feet wet @axelsimon

We can go over this  next week.

[2019-07-08 17:29] #106 closed

[2019-07-08 18:29] lukehinds opened #131 "Investigate removal of shell=True calls"
`shell=True` is susceptible to shell execution attacks from unsanitized input [0]

Investigate what hardening we can do.

[0] https://security.openstack.org/guidelines/dg_avoid-shell-true.html

[2019-07-09 17:12] axelsimon commented on #60
Indeed, thanks @lukehinds. Let's discuss this.

[2019-07-11 08:49] axelsimon commented on #128
Done, thanks for pointing this out @atothRedHat. I also see that the copyright mention in `installer.sh` is still:

Might want to update that.

[2019-07-12 20:13] jetwhiz commented on #59
Just as a note, it is very likely a recent update in the upstream tpm2-tools `master` branch has broken keylime functionality.  In particular, this commit: https://github.com/tpm2-software/tpm2-tools/commit/f8b528bbe735a0e3db758115649662f39a85673c#diff-f7f2fb4b9af4897ea452e93077a35814

Using `tpm2_activatecredential` has become a bit more complicated now, so we will have to fix this at some point

[2019-07-18 08:37] lukehinds commented on #59
Is this something we should raise an issue in upstream in tpm2-tools - I am concerned this is going to just bite us one day so we should get this flagged somehow.

[2019-07-18 10:05] lukehinds opened #133 "Change 'Development only' status of ansible-keylime"
We now have two ansible roles, one that deploys with an emulator and one targeted at installing with a hardware TPM.

The readme states:

https://github.com/keylime/keylime#ansible-development-only

[code]

This can be changed to the following (or something along these lines):

[code]

[2019-07-18 12:29] jetwhiz commented on #59
The changes they've made upstream work correctly (they're just making the activatecredential tool more flexible), but we need to make sure that we update Keylime to reflect these changes in the tools.  They've likely also made other changes since I last checked that break Keylime against upstream `master`.

Since `master` changes rapidly upstream, this will be an ongoing effort to keep Keylime com

[2019-07-18 17:30] lukehinds opened #135 "setup tools deploys wrong version of tornado"
The following code line:

https://github.com/keylime/keylime/blob/e22b10b4567bcad25bbcfe321520d1b16311fcca/setup.py#L113

Results in tornado 6.x being installed (which won't work with python 2). Until Python 3 support has merged, we should pin it using `==4.3` instead of greater than.

[2019-07-19 10:07] #60 closed

[2019-07-22 08:14] ozoder opened #137 "Use logging instead of print statement"
There are multiple instances where info/warnings/errors are printed to the standard output using the print statement. Where it makes sense, we should use logging instead. Some of the more notable files using print are:

- keylime/common.py
- keylime/ima.py
- keylime/user_data_encrypt.py
- keylime/serve_uuid.py

Since the Python 3 port will be finished soon, it's worth postponing the work on this i

[2019-07-23 20:51] amylily1011 commented on #133
Hey @lukehinds, can I take on this issue?

[2019-07-24 06:48] lukehinds commented on #133
All yours thanks @amylily1011

[2019-07-24 08:49] #133 closed

[2019-07-25 06:05] lukehinds commented on #135
Fixed with d46237141be8585d337518ec95f91953c637afff

[2019-07-25 06:05] #135 closed

[2019-07-25 06:08] lukehinds opened #140 "Validate against Fedora CoreOS"
Establish if Keylime can be run on Fedora CoreOS and what the state of TPM support is.

Experiment if we can provision Keylime with the ignition template system:

https://fedoramagazine.org/introducing-fedora-coreos/

[2019-07-26 07:22] lukehinds opened #141 "Set all string declarations using f-strings"
Once Python 3 support is in, we should port string declaration to using f-strings.

f-strings are much easier to read. for example:

[code]

Can be used in function calls:

[code]

There are also much faster then `%s` and `str.format()`

This would make a line such as the following, much easier to read:

https://github.com/keylime/keylime/blob/d46237141be8585d337518ec95f91953c637afff/test/test_res

[2019-07-27 15:34] ozoder opened #143 "Move logging code to separate file"
All of the keylime logging code currently resides in common.py. It probably makes sense to move it to a separate file so it can be called independently.

[2019-07-30 09:42] amylily1011 commented on #141
This one sounds like fun! May I take this issue, @lukehinds ?

[2019-07-30 11:19] lukehinds commented on #141
Hi @amylily1011 yes please!

I would wait for the Python 3 patch to merge first though, as f-strings only work in Python 3 (we currently working on Python 2!)

[2019-07-30 16:37] amylily1011 commented on #141
I will keep an eye on #32 , when it gets merged.

[2019-08-07 06:38] #143 closed

[2019-08-16 10:56] lukehinds commented on #111
Keep

[2019-08-16 13:25] amylily1011 commented on #141
Hey @lukehinds, I got a head start on the f-string on your python-3 branch. It's still WIP, but really fun, so far. I expect to be done with this sometime next week, (I think), how do I push it to your branch?

[2019-08-17 05:39] lukehinds commented on #141
Hi @amylily1011

Good question, you should be able to add a commit on top of my patch. If you like we can work together doing this over gitter when I return (about one week). Or if you want I can push the latest and we then merge yours on top (as I expect your work will have less merge conflicts to fix up)

Thank you for working on this, really appreciate your contributions!

[2019-08-18 15:27] #98 closed

[2019-08-18 17:35] amylily1011 commented on #141
@lukehinds
Sure! Let's do this over gitter, I should be done then too.

[2019-08-22 00:37] lukehinds commented on #108
Keep

[2019-08-25 05:43] lukehinds commented on #27
keep

[2019-08-25 05:43] lukehinds commented on #1
keep

[2019-08-27 08:13] lukehinds commented on #55
keep

[2019-08-28 12:40] lukehinds commented on #141
hi @amylily1011 - The Python 3 stuff is almost complete now, all the performance issues are resolved. Lets merge that and I can help you layer these on top. That way we can get CI to pass too.

[2019-08-28 12:50] amylily1011 commented on #141
Hey @lukehinds sounds good! I'm pretty much done with the f-string as well.

There is only one line that I'm not sure how to turn it into the f-string:

`logger.error("IMA ERRORS: template-hash %d fnf %d hash %d good %d"%tuple(errs))`

because it calls the tuple.

So I left it for now :P

But I'm ready when you're ready.

[2019-08-28 14:49] ozoder commented on #29
I've been playing with Keylime using vTPM in KVM/QEMU a little bit and I have a few observations I want to share.

When it comes to TPM 1.2, it seems that Keylime works properly without any additional changes. I also tried to use tmpfs mounted in /var/lib/keylime for the swtpm socket and I didn't run into any problems. This is how to use the tmpfs:
[code]

However, when I tried TPM 2.0, the Keylim

[2019-08-28 15:04] mrcdb commented on #29
Hi @ozoder . The error code results in an authorization failure when retrieving the NV index of the EK cert. Is the EK cert available under storage or platform hierarchy ? Can you check the NV index attributes via `tpm2_nvlist` ?

Also, I would like to add that I am doing some tests with TPM 2.0 simulator in these days, that I installed through the Keylime installer. In my case, there is no EK cer

[2019-08-28 15:31] lukehinds commented on #29
hi @ozoder , give it a try with `require_ek = False`

[2019-08-30 07:13] lukehinds commented on #129
keep

[2019-08-30 10:26] lukehinds opened #145 "Seperate out CFSSL server components from cf_impl_cfssl"
Currently CFSSL is automatically set up and run from `ca_impl_cfssl.py`

I think we should separate out the server components `start_cfssl` and `stop_cfssl` and instead just have the ip and port configurable and the operator runs their own cfssl instance wherever they like (it might be on a different host to the `keylime_verifier`), perhaps behind its own firewall etc. Either way I don't think it

[2019-08-30 14:35] nabilschear commented on #145
i think this sounds like a great idea.  We were trying to make the cert support pluggable already, but it was mostly to fix the limitations of openssl (i.e., no crl support in m2crypto).  A new look at what the interface should look like might be in order.

[2019-08-31 18:40] amylily1011 commented on #141
Hi @lukehinds,
I'm going to be in the CEST timezone until Wednesday and then I'll be on GMT+7 (Bangkok). Feel free to set up anytime to sync, so we can merge it on top of your branch :) .

[2019-09-03 09:27] lukehinds commented on #141
hi @amylily1011 , not forgotten about you, the patch is almost merged now and we can then get your code in! :)

[2019-09-05 12:10] lukehinds commented on #137
https://github.com/keylime/keylime/pull/144

[2019-09-05 12:10] #137 closed

[2019-09-06 09:58] lukehinds opened #146 "Move installer.sh to using packages"
I recommend we start using packages for the installer.

They are more stable and simplifies the installation a lot!

Packages also work better for Fedora, as the packages include SELinux labels (which means being able to run without needing to disabled SE). I also believe the Ubuntu tpm2-tools package has the needed code release upstream.

We should instead move tools / tss etc compiling to a CI j

[2019-09-06 12:09] nabilschear commented on #146
i think that would be great, but a lot of work to support for many distros.  I like the idea of keeping the installer for our tier2 distro support and then focus on getting fedora to work just with rpms.

[2019-09-06 12:10] lukehinds commented on #146
I am sure I could do something, I could add a flag to build the tools instead of using packages.

[2019-09-06 12:51] #122 closed

[2019-09-09 11:45] #128 closed

[2019-09-10 11:11] #92 closed

[2019-09-10 16:46] lukehinds opened #148 "Fix cut off code"
https://github.com/keylime/keylime/pull/126#discussion_r322790422

[2019-09-12 09:03] lukehinds opened #149 "tpm2_getcap: invalid option -- 'c'"
Looks like a command option we need has been removed upstream, I need to investigate this more, so dumping this here for now with a follow up due.

[code]

[2019-09-12 14:49] lukehinds opened #152 "Cull pip!"
We should cull all use of pip where we can.

Why?

Quite often operators will not be happy about opening a machine to the internet for the purpose of installing software (especially security software). They will instead have a mirrored package repository that retrieves using yum, apt-get etc.

On the same topic, we have instances of duplication where pip installs packages using yum, dnf erc and pi

[2019-09-13 08:39] amylily1011 commented on #141
Hey @lukehinds,
I'm halfway copying the diff over, so I guess, we can cancel the meeting at 4pm for now :).

[2019-09-13 08:40] lukehinds commented on #141
hi @amylily1011

I am on gitter and online now, so just instant message me whenever you like (that also stands for anytime, meeting or not).

[2019-09-13 14:42] lukehinds commented on #28
On a side note, once #127 is merged, we can start using ECC for certificate generation, signing etc:

[2019-09-18 11:11] lukehinds commented on #30
Just been looking into this @jetwhiz

On the face of it, it makes sense (sha1 is not collision proof), but I am also aware sha1 is default and a lot of Linux Distributions are running with sha1 as the kernel compiled option:

[code]

Is it a case of SHA1 is not "insecure" per say with IMA (perhaps because its an extension of lots of hashses).

Put this way, if someone makes an issue or pulls us up

[2019-09-18 13:28] lukehinds opened #155 "Action levels"
For IMA and tpm_policy we could set a action level of (node) FAILURE state or continued operational but reporting the failure.

This way a `critrical_whitelist` could be constructed of assets that are considered high security (libs, /etc contents).

A second `monitor_whitelist` could be constructed of assets of interest, but not seen as critical to the point of failing a node.

If a whitelist / IM

[2019-09-18 16:43] nabilschear commented on #155
this is an interesting idea.  we'll need to add a new state for the node to be in at the verifier (e.g., CloudAgent_Operational_State)

[2019-09-18 22:21] jetwhiz commented on #155
We would also need to make some updates to the WebApp to support this.  In particular:

https://github.com/keylime/keylime/blob/01785a25077fbb6b2c2220395a3fd99300583d43/keylime/static/js/webapp.js#L257-L283

https://github.com/keylime/keylime/blob/01785a25077fbb6b2c2220395a3fd99300583d43/keylime/tenant_webapp.py#L402

[2019-09-18 23:13] jetwhiz commented on #30
I don't think setting these variables to use `sha256` would fix the problem that's discussed in this issue.

There are actually two separate hash algorithms / digests used in IMA.  The template hash/digest and the file hash/digest.
https://sourceforge.net/p/linux-ima/wiki/Home/#ima-measurement-list

The `CONFIG_IMA_DEFAULT_HASH_SHA256` and `CONFIG_IMA_DEFAULT_HASH` variables are likely setting the

[2019-09-20 09:54] lukehinds opened #156 "ima_policy freezes machine"
The following IMA_POLICY freezes the boot of Fedora 30 (not sure on other OSes)

https://github.com/keylime/keylime/blob/master/demo/ima-policies/ima-policy-keylime-etc

![DSC_0835](https://user-images.githubusercontent.com/7058938/65318289-470aa200-db95-11e9-988e-faebfbf591e2.JPG)

[2019-09-20 14:33] lukehinds opened #158 "Release script"
Just one for me.

Develop a release script that updates all instances of versions, for example:

`setup.py`
`version='x.x.x',`

[2019-09-20 14:37] lukehinds opened #159 "if both tpm version tools are on the system, its try's to use both"
# Environment
 * OS / version: Fedora 30
 * Processor architecture: n/a
 * TPM Manufacturer: n/a
 * Keylime version: master

# Description

If both tpm tools are installed, keylime_agent tries to use both

# Relevant logs
[code]

[2019-09-20 15:08] atothRedHat opened #160 "yaml.scanner issue when running keylime_agent"
# Environment
 * OS / version:
Fedora 30

 * Processor architecture:
model name	: Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz

 * TPM Manufacturer:
$ tpm2_getcap -c properties-fixed
TPM_PT_FAMILY_INDICATOR:
  as UINT32:                0x08322e3000
  as string:                "2.0"
TPM_PT_LEVEL:               0
TPM_PT_REVISION:            1.16
TPM_PT_DAY_OF_YEAR:         0x00000109
TPM_PT_YEAR:

[2019-09-20 21:11] jetwhiz commented on #159
Does it completely fail, or just give an error message?

This block of code is designed to figure out which tpm tools version to use:
https://github.com/keylime/keylime/blob/01785a25077fbb6b2c2220395a3fd99300583d43/keylime/tpm_obj.py#L43-L70

If both are installed, it will try using tpm1 tools (which fail, probably because you don't have a tpm1.2 emulator/hw) and then uses tpm2 tools otherwise.

[2019-09-20 21:13] jetwhiz commented on #156
Can you comment out the new stuff (vs. https://github.com/keylime/keylime/blob/master/demo/ima-policy) and see which line causes it to fail?

[2019-09-20 21:14] lukehinds commented on #156
I can take a look when I get back next week, it takes a bit of time, as you need to use a live rescue image to get a mount on /dev/mapper/root and make the change, reboot etc.

[2019-09-21 06:44] lukehinds commented on #159
Good point @jetwhiz

I still think we can make some fine tuning here.

When the agent first attempted to connect with tmp1 and moves it into the retry handler, they may not notice the `keylime.tpm1` and ctrl-c to break the console before it moves to try `tpm2.0`.

We are talking very much a rare edge case here though, so I am liking nit-picking.

This came about from where @atothRedHat tested out

[2019-09-21 14:52] nabilschear opened #161 "revocation notifier features fail siliently"
# Environment
 * OS / version: any
 * Processor architecture: any
 * TPM Manufacturer: any
 * Keylime version: master

# Description

if an agent can't connect to the specified revocation notifier ip, it doesn't throw an error but fails silently.

Also the keylime_ca -c listen command lazy loads the ca certificate.  if it is available, it should check that the provided password was correct.  If th

[2019-09-23 06:57] lukehinds commented on #140
Keep

[2019-09-23 13:53] #59 closed

[2019-09-25 12:36] lukehinds opened #162 "If cfssl is configured and not installed, the registrar fails with a misleading message"
Should you run with the default `ca_implementation = cfssl` and not have golang and cfssl installed, the registrar will fail with the following message:

[code]

This is after the verifier has run with the following:

[code]

We basically need to check somehow, that if cfssl is configured as the ca implementation, is it even present to be used?

[2019-09-25 16:40] lukehinds opened #163 "tpm2-tools in RHEL"
To track issue in RHEL

https://bugzilla.redhat.com/show_bug.cgi?id=1755551

[2019-09-26 20:15] #127 closed

[2019-09-27 06:33] lukehinds opened #169 "tpm2_pcrreset failure in CI"
The `tpm2_pcrreset` command is failing in CI:

https://travis-ci.org/keylime/keylime/jobs/590147651#L985

[2019-09-27 11:42] lukehinds opened #171 "Port warning over 8992"
This issue may be invalid, as I have yet to fully investigate, but I want to get this noted and recorded.

Quite a lot of folks are going to try out Keylime in a single VM (running everything over localhost).

If you do this, revocation won't work - yet there will be no warning of this.

For example when you start the verifier, it spawns a port on 8992 as does the agent, you then end up with the f

[2019-09-27 13:11] lukehinds opened #172 "Issues with legacy tools"
Tools version

`tpm2-tools-3.2.0-3.fc30.x86_64`

Running the agent shows:

[code]

[code]

Using the 4.x tool code:

[code]

Summary:

legacy_tools is True

[code]

https://github.com/keylime/keylime/blob/b32955ae1c0e5022e67144f6cc210d04c956af4b/keylime/tpm2.py#L459-L462

The above code results in the `-H` flag being used.

The `-H` flag is not supported in `tpm2-tools-3.2.0-3.fc30.x86_64`

Taggin

[2019-09-27 13:20] lukehinds commented on #172
Hold up, there is something really messed up on my machine:

[code]

[code]

On a second machine

[code]

[code]

[2019-09-27 13:21] lukehinds commented on #172
I will close this as invalid (once I get to the bottom of it), but I think this leads into wether we might consider using the `--version` flag instead of an execution path being present.

[2019-09-27 13:29] nabilschear commented on #171
i think this is ok.  the verifier is the one listening, then the agent connects.  If revocations aren't working, there may be some other reason.  Overall, I did look at this for making the error handling a bit better for when zmq isn't working.  it's going to be more complicated, but perhaps for this reason and others, we should consider doing it.

[2019-09-30 11:10] lukehinds commented on #172
invalid

[2019-09-30 11:10] #172 closed

[2019-09-30 12:49] #162 closed

[2019-09-30 14:48] lukehinds opened #173 "openssl as default"
Packaging efforts are underway and by default they install without go installing cfssl

With this in mind, I have been thinking for a while we should use `openssl` as the default. If we also consider issue #145 it makes even more sense.

@nabilschear @jetwhiz any concerns about this or views?

[2019-09-30 14:56] nabilschear commented on #173
openssl doesn't support certificate revocation.  that's the main difference.  there's no interface to creating a CRL in m2crypto (last i checked)

[2019-09-30 15:05] lukehinds commented on #173
understood @nabilschear , so I am very much up for enabling folk to set up revocation which we could do in docs, but taking the long term view, with most likely to use a package installer (deb / rpm) for keylime, we need something that works out of the box for an initial install. From there they chose a backend as per #145

If we install cfssl as an rpm dependency and `go get` the project, we are

[2019-09-30 15:15] nabilschear commented on #173
another option is to see if this would work https://github.com/wbond/crlbuilder/blob/master/docs/readme.md

[2019-09-30 17:03] jetwhiz commented on #163
Assuming we can pull tpm2-tools up to 3.2 in RHEL8, should we try targeting EPEL8 for Keylime so we can install/release it more easily in RHEL as well as Fedora?

[2019-10-01 08:12] #173 closed

[2019-10-01 08:48] lukehinds opened #175 "shebang changes required for rpmlint"
In order for an rpm to be successfully reviewed / accepted, it needs to pass `rpmlint` checks. Currently we have a mix of files with different shebangs, which is causing failures.

Keylime currently has the following errors:

[code]

My recommendation is that any scripts which are not called directly under `entry_points` (omitting demo scripts, ima emulator etc) have the shebang removed.

We also

[2019-10-01 14:21] #175 closed

[2019-10-02 15:20] lukehinds opened #178 "Automate installer testing"
Each supported dist should be tested somehow, as we are currently validating manually which is to laborious.

[2019-10-02 15:31] lukehinds opened #179 "codacy checks for f-strings"
After all @amylily1011 's hard work, lets keep momentum by checking for f-strings at gate

https://support.codacy.com/hc/en-us/articles/207994335-Code-Patterns

[2019-10-04 18:53] #146 closed

[2019-10-05 05:44] lukehinds opened #181 "Keylime user account"
Eventually we should port to running what we can under a dedicated user, rather then root.

This is a placeholder issue to track with the view to discussion occurring here first.

[2019-10-07 07:43] lukehinds opened #182 "Improve emulator arg description"
The current arg `-k` to set up and install the emulator could be more direct in its intent (see gitter chat).

I recommend we change to

`-s Install & Configure Software TPM emulator (development only)`

[2019-10-07 07:50] lukehinds commented on #182
Also requires docs update:

https://github.com/keylime/keylime-docs/blob/master/docs/installation.rst#keylime-bash-installer

[2019-10-07 15:03] #182 closed

[2019-10-08 15:33] lukehinds opened #186 "4.0 Tools Tracking"
Not a bug, a list of changes needed for tpm2-tools 4.0 (Fedora 32 / rawhide)

The tpm2-tools package is 4.0:

# tpm2_getcap

[code]

`-c` flag is no longer present for tpm2_getcap, just use `tpm2_getcap algorithm`

[code]
# tpm2_changeauth

`-o` depreciated

[code]
New command formatting required:

[code]

[2019-10-08 15:42] lukehinds commented on #186
Set owner, endorsement and lockout authorizations to newpass
              tpm2_changeauth -c owner newpass
              tpm2_changeauth -c endorsement newpass
              tpm2_changeauth -c lockout newpass

[2019-10-08 15:54] lukehinds opened #187 "Track upstream tpm2-tools versions and handling"
So we are now often hitting issues with non backward compat changes upstream.

At the moment we check for certain commands being available, but we are going to need to be more specific, for example

https://github.com/keylime/keylime/blob/1cf9add6ecf9dd2b5e438bc099f2e1aa2db594a1/keylime/tpm2.py#L428-L432

The above will break on 4.0 now, as `-o` is no longer present as an arg:

[code]

I recommend

[2019-10-08 16:47] jetwhiz commented on #187
Would it be better to target the tpm2-tools `4.x` branch instead of `master`, that way we're targeting something more stable than their `master` branch (which often pushes API-breaking changes)?

I expect `4.x` is stable now that it is an official release.

[2019-10-08 20:19] lukehinds commented on #187
Hi @jetwhiz , would 4.0 be the same as 4.x?

I am happy to go with whatever you feel is the better approach and give us good coverage. Please go ahead and make recommendations as you have a better handle on this then me.

4.0 is the version now in Fedora rawhide / 32 which is where Keylime packaging will initially land.

I have some code now to really allow us to home in on specific releases or us

[2019-10-09 10:17] lukehinds commented on #187
These are the current versions:

| Dist        | tools-version |
| ------------- |:-------------:|
| Fedora 30 | 3.2.0 |
| Fedora 31 | 3.2.0 |
| Fedora 32 | 4.0-1 |
| CentOS 8 | 3.1.1 |
| RHEL 8 | 3.1.1 |

[2019-10-09 11:47] jetwhiz commented on #187
It looks like they don't even have a `4.X` branch yet, so I assume they're just using `master` as the staging area for `4.X` for now.

[2019-10-10 08:23] lukehinds opened #189 "First timers support"
I have just seen this, and think we should add something similar to our README.md:

https://github.com/AdoptOpenJDK/IcedTea-Web#first-timers-support

[2019-10-10 08:32] #186 closed

[2019-10-10 13:41] lukehinds opened #190 "Keylime Raspbian Support"
To configure tpm2-software see [here](https://lukehinds.com/2019/09/20/tpm-software-on-a-raspberry-pi-3-model-b-with-infineon-optiga-slb-9670-tpm-2-0/)

For IMA to work, it needs to be enabled in the Kernel;

[code]

[2019-10-10 16:17] sardasanat commented on #190
I added the above assertions to .config to enable IMA, cross-compiled.  How do I proceed to install  keylime ?

[2019-10-10 18:20] lukehinds commented on #190
Which OS / dist did you use?

On Thu, 10 Oct 2019, 17:17 sardasanat, <notifications@github.com> wrote:

[2019-10-10 18:35] sardasanat commented on #190
Cross-compiled on Ubuntu 16.04.  Using Stretch on rpi . Although, mount -t securityfs security /sys/kernel/security  gives error, so I think IMA is not enabled correctlyon Rpi. Presently doing manual install of keylime. Small query, does keylime support only python >3.6 as mentioned in git or 2.7 ( as mentioned in doc) as after install when running verifier, gives  import error of missing modules

[2019-10-10 20:55] amylily1011 commented on #189
This looks like my kind of ticket :P

[2019-10-11 04:39] lukehinds commented on #190
hi @sardasanat , we are on Python 3.6 &> now with Python 2 support depreciated. The Python2 branch is still available though (just not supported going forward).

[2019-10-11 07:00] lukehinds commented on #190
actually , it might be just a case of needing your ima-policy in place.

Try putting https://github.com/keylime/keylime/blob/master/demo/ima-policy into etc ( so `/etc/ima-policy`) and rebooting the machine, we should then see a securityfs (`/sys/kernel/security/ima ascii_runtime_measurements`)

[2019-10-13 18:18] lukehinds opened #191 "cloudagent_ip"
A `cloudagent_ip` value will be needed for the rust agent when PR https://github.com/keylime/rust-keylime/pull/77 mergers

[2019-10-14 10:55] lukehinds commented on #189
thanks @amylily1011

[2019-10-14 19:14] ozoder commented on #29
After some time I got back to the vTPM testing and this time everything worked properly. I'm not sure what exactly happened since the last time I was testing this, but hopefully this means that we can run Keylime within a QEMU/KVM virtual machine with the vTPM state inside a mounted tmpfs drive.

I've created pull request [#192](https://github.com/keylime/keylime/pull/192) with the script I used t

[2019-10-15 12:54] #189 closed

[2019-10-15 16:20] lukehinds commented on #190
@sardasanat any luck? I am trying to get this to work as well, so if you have had any success - please update.

[2019-10-16 08:52] sardasanat commented on #190
Hey @lukehinds sorry for late reply. I actually got working on TPU board with mendel linux for urgent task next 3 weeks so had to keep rpi dev on hold. (later I want to try keylime on TPU). I too thought I need to put ima policy (thanks for same), as when, I will try and update on it. Btw, I recollect, also had trouble installing keylime on rpi, as I thought just to try out payload encryption/atte

[2019-10-16 10:56] lukehinds commented on #190
hi @sardasanat , got it working this side as well.

I am going to play with this some more and then put up a patch to support pi3 in the installer.sh script.

Watch this space.

Any feedback on how it goes with the PTU board would be wonderful, thanks!

[2019-10-16 12:46] lukehinds commented on #190
spoke to soon.

I have an issue with IMA not extending into PCR 10.

[2019-10-16 19:16] cjustacoder opened #195 "Verifier talking testing"
# Environment
 * OS / version: Fedora 30 on Virtual Box
 * Processor architecture: Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
 * TPM Manufacturer:
$ tpm2_getcap -c properties-fixed
TPM_PT_FAMILY_INDICATOR:
  as UINT32:                0x08322e3000
  as string:                "2.0"
TPM_PT_LEVEL:               0
TPM_PT_REVISION:            1.46
TPM_PT_DAY_OF_YEAR:         0x000000a7
TPM_PT_YEAR:

[2019-10-17 10:25] lukehinds commented on #190
@sardasanat  we need this fixed upstream https://github.com/raspberrypi/linux/issues/3291

[2019-10-17 10:46] sardasanat commented on #190
@lukehinds thanks. Between, can still use with TPM simulator for dev?

[2019-10-17 11:07] lukehinds commented on #190
Yes you can, we have an ima_emulator service you can use as well

[2019-10-17 12:19] lukehinds opened #196 "invoke_get_quote fails on tornado 6.0"
The 'callback` function has been deprecated in 6.0 release:

https://www.tornadoweb.org/en/stable/releases/v6.0.0.html

This results in the following code breaking:

https://github.com/keylime/keylime/blob/7c6e0ea539d3952991e77eaefb57fbf14b83ea4e/keylime/cloud_verifier_tornado.py#L295-L307

and possibly...

https://github.com/keylime/keylime/blob/7c6e0ea539d3952991e77eaefb57fbf14b83ea4e/keylime/re

[2019-10-17 12:24] #187 closed

[2019-10-17 15:49] jetwhiz commented on #196
Can we just use `add_done_callback` to keep the same functionality, even though it's intended to be low-level?

So something like:
[code]

[2019-10-17 16:25] lukehinds commented on #196
If its a simple as that, this would be great. I will test it first thing in the morning.

[2019-10-18 18:30] cjustacoder commented on #195
Duplicate with issue #197

[2019-10-21 13:50] lukehinds commented on #190
upstream patch: https://github.com/raspberrypi/linux/pull/3297

[2019-10-22 11:48] lukehinds commented on #196
Hmm, I am not getting anywhere with this one.

I think we might need to use Futures

I tried out the code you suggested

On the verifier:

[code]

tenant:

[code]

This is `retout` send to `  jsonout = common.yaml_to_dict(retout)` in `tpm2.py`

[code]

How is your availability to take this one on @jetwhiz ?

[2019-10-22 12:47] lukehinds commented on #190
@jetwhiz I have IMA working now with the above Kernel patch, I am posting this issue in case you have seen it before:

[code]

[2019-10-23 09:19] ferdinan4 commented on #29
Hi guys!

I am sorry to bother you, but I am quite confuse! . I am starting to use the swtpm because I wanna to make it works properly. I would describe my starting point because maybe the architecture that I am using it is not correct.

I have a VMs with Fedora (running over VMWare WorkStation). There I have already install the swtpm (https://github.com/stefanberger/swtpm).

It is properly instal

[2019-10-23 11:00] lukehinds commented on #29
hi @ferdinan4

No such thing as noob questions! There are a lot of aspects to the project, so ask away anything you like, whenever you're curious.

Is it specifically the vTPM would like to get working or you would just like to have Keylime work within a VM? If you would like to play with Keylime and set up a test / development environment, I would recommend the main TPM emulator (which is differe

[2019-10-23 11:14] lukehinds commented on #29
Also if it suits you, we meet at [15:00 UTC](https://time.is/mg/1500%20UTC) every Wednesday on our [gitter channel](https://gitter.im/keylime-project/community)

[2019-10-23 11:17] lukehinds commented on #191
For anyone wanting a first issue, this just requires the following line added to `keylime.conf`

`cloudagent_ip = 127.0.0.1`

Just above line 10:

https://github.com/keylime/keylime/blob/master/keylime.conf#L10

[2019-10-23 11:42] ferdinan4 commented on #29
Hi @lukehinds !

Thanks for your response.

To be honest I would like to work with vTPM, and understand all the architecture that there are under it.

I was following your chat and I found **vtpm-setup.sh** under fedora OS.

So I decided to install it, but when I try to run the Virtual machine created it isn´t work. I guess it is because I am trying to launch a VM over another VM (my Linux Fedora)

[2019-10-24 13:12] jetwhiz commented on #196
Hi @lukehinds

Sorry for the delay, I've been swamped this week.  This error doesn't look related to tornado, and is likely caused by the (now fixed) upstream tpm2-tools issue here: https://github.com/tpm2-software/tpm2-tools/issues/1782

This will be released when 4.0.1 comes out, but is still broken in what Fedora has in its repos.  If we want this to work right now then we'll have to build from

[2019-10-24 13:13] lukehinds commented on #196
Understood, thanks for looking into this charlie!

[2019-10-31 07:00] #1 closed

[2019-10-31 20:45] lukehinds commented on #196
@jetwhiz

just coming back to this issue. unfortunately using `add_done_callback(cb)` does not return back like the original callback param, so you just get a single quote happen and then the code stops running - no exception, just as it does not return it gets stuck in self.on_get_quote_response

It seems you have to couple if with `Futures()`

I have been trying something like this:

[code]

And

[2019-10-31 21:37] lukehinds commented on #196
I admit defeat here!

Been at this for six hours and I can't dicpher how this is mean to work;

[code]

I can't see why we would send the`url` to `on_get_quote_response`, when we fetch the `url` with `client.fetch`.

This may be my shortcoming in understanding here, but I can't grok what we are doing.

[2019-11-01 19:51] jetwhiz commented on #196
Hi @lukehinds

I haven't found a way to do this without the using [nest-asyncio](https://pypi.org/project/nest-asyncio/) PIP package. It sounds like python and tornado developers are trying to [prevent developers from doing recursive event loops](https://bugs.python.org/issue22239), which we need here.

If you're willing to use (and install) the `nest-asyncio` pip package, then here is a patch to

[2019-11-01 20:12] lukehinds commented on #196
Thanks @jetwhiz , appreciate you looking into it.

I was trying to build a while true loop by combining `invoke_get_quote` with `on_get_quote_response`, but not getting anywhere.

The  `nest-asyncio` looks good, but it seems its not packaged in Fedora. Fedora won't allow pip installs in the build systems, it would need a `python3-nest-asyncio` package. I figure it might be be supported as it direc

[2019-11-01 20:15] lukehinds commented on #196
Is a coroutine a possibility?

[2019-11-01 20:31] jetwhiz commented on #196
It might be able to be done with coroutines, but I was concerned that a lot of methods might have to be converted into an `awaitable` if we do that with `async`.  Do you know of a clean way to only have a limited number methods affected?

[2019-11-01 20:34] lukehinds commented on #196
Yes, the dreaded async creep.

Last time I tried, it got so messy I brought in `http.client` as async kept working its way all the way back to `main()`

Am I right in thinking this, we don't need non blocking calls into the agent, as the agent has no need to be non blocking - thats a need of just the verifier?

[2019-11-01 21:11] jetwhiz commented on #196
I'm not aware of anything non-blocking in the agent -- this is mostly used for the verifier so it can handle a large number of requests from various agents.

[2019-11-03 09:02] lukehinds opened #198 "SELInux Tracker"
SELinx Labels in tpm2-abrmd are resulting in SELinux Blocking calls made to various labels under SELinux

Upstream issue: https://github.com/tpm2-software/tpm2-abrmd/issues/657

[2019-11-03 09:07] lukehinds opened #199 "Unexpected Auth tag"
I have seen this on a couple of different machines now (Raspberry Pi and Intel Nuk).

I will add more debug information as a followup.

root@raspberrypi:~/keylime# keylime_agent
Using config file /etc/keylime.conf
2019-10-22 13:46:03.250 - keylime.tpm2 - INFO - Using legacy version of tpm2-tools
WARN: More data to be queried: capability: 0x6, property: 0x100

[code]

[2019-11-05 08:53] #129 closed

[2019-11-07 05:39] #195 closed

[2019-11-07 06:51] cjustacoder opened #201 "Multi-Verifier testing"
# What has been done:
https://github.com/cjustacoder/keylime/tree/multi-verfier
## for the tenant side:
- be able to send the request to the provider after getting a quote from its own agent
	- using the GET method to send the request to provider side endpoint
- can get provider quote only once, then enter attestation loop

## for provider side:
- develop an endpoint `/verifier?nonce=%s&mask=%s&vm

[2019-11-07 07:23] cjustacoder commented on #201
Another thing, I always get `2019-11-07 02:19:32.588 - keylime.tenant - ERROR - Timed out waiting for delete of agent D432FBB3-D2F1-4A97-9EF7-75BD81C00000 to complete at CV` when I delete the agent. Though I can solve this by deleting it again, is there any decent way to solve this?

[2019-11-08 09:54] lukehinds opened #202 "UI and Auth Feature Request"
All discussions are within the the following

[UI Google Doc](https://docs.google.com/document/d/1Sa8ErJwrg8IRD0dMe4VPdHSNmMMt4XFBxt9ixnMsnSQ/)

[Auth Google Doc](https://docs.google.com/document/d/17_4aRxpnLRVJ0P0_bjptujklrL2mr5-gXScSRKF9yKw/)

[2019-11-08 09:56] lukehinds opened #203 "Rust Agent"
Placeholder issue for milestone assignment. This will mark full support of Rust agent and deprecation of python agent.

[2019-11-08 09:56] #171 closed

[2019-11-08 09:57] lukehinds commented on #29
Adding as a 6.0 milestone feature.

[2019-11-08 14:30] nabilschear commented on #201
i'm looking at this today @cjustacoder

[2019-11-08 18:41] nabilschear commented on #201
So, i think that using the away/ensure_future method will be better for this.  Usually all the verifier actions on a REST call to one of its interfaces are all asynchronous.  But getting a quote isn't.  So, I think that you'll need to await the async http client request and the retrn the result to the original caller (the one who talked to the provider verifier)

[2019-11-08 21:25] cjustacoder commented on #201
Thanks a lot, @nabilschear , I will continue working under this framework, I think the proxy issue will be solved under this structure.

[2019-11-11 14:11] lukehinds opened #204 "tpm2-tools 4.0.x -f changed for `tpm2_nvread`"
`tpm2_nvread` for 4.0.x has been changed from `-f` to `-o`

https://github.com/tpm2-software/tpm2-tools/commit/45c4883dcdadc754b60832a42a5e9e82f847bc7d

[2019-11-11 14:24] lukehinds commented on #163
https://bugzilla.redhat.com/show_bug.cgi?id=1725714

[2019-11-11 14:37] lukehinds opened #206 "tpm2-tools 3.2.0 nvread fails with Infineon SLB9665VQ2.0 TPM v2.0"
Keylime agent registration works with 3.2.0 using  an emulator, but fails with the Infineon SLB9665VQ2.0 TPM v2.0

Debug output:

[code]

[2019-11-11 15:02] lukehinds commented on #206
Note, the site-packages is python 2.7, its the same for 3.7 & 3.8 (I was debugging to see if it was also present on the old 2.7 branch)

[2019-11-11 15:06] lukehinds commented on #206
ok, this is interesting - the same command also fails when using the emulator and 3.2, but somehow its not trapped as an error, so the agent starts normally. You can only see the error when you print out `retout`

[code]

[2019-11-11 15:07] lukehinds commented on #206
@jetwhiz what do you make of this, is `tpm2_nvread -x 0x1500018 -a 0x40000001 -s 32 -P keylime` important ?

[2019-11-11 15:15] lukehinds commented on #206
found the issue, its failing to match this line I believe:

https://github.com/keylime/keylime/blob/e2bfff7b1ebcaef9b3dec7d840f18133684e84bf/keylime/tpm2.py#L1203

[2019-11-11 15:30] lukehinds commented on #206
gah! I know what it is, its because I removed `stderr=subprocess.STDOUT` as per the email thread we had with @atothRedHat

[2019-11-11 15:57] lukehinds commented on #206
ok, fixed...pr coming

[2019-11-12 12:14] lukehinds commented on #141
keep alive

[2019-11-13 13:26] lukehinds opened #208 "More tpm-tool changes!"
Keep finding these, I seem to be working on trying to manage different tpm2-tool changes more than anything else right now:

![](https://media.tenor.com/images/204371c3eb3e3cf8f24b954965601c48/tenor.gif)

[code]

[2019-11-14 15:37] #204 closed

[2019-11-14 20:08] #160 closed

[2019-11-17 17:14] lukehinds opened #211 "tpm2_nvread in 3.2 tools requires -a"
If you do not specify the `-a` option, the auth handle defaults to TPM2_RH_PLATFORM which would mean we would need to provide the platform authorization.

The command syntax should be

`tpm2_nvread -x 0x1c00002 -s 1171 -f outfile.out -a 0x01c00002`

[code]

![](https://i.imgur.com/JIO0Gg3.png)

[2019-11-17 17:18] #208 closed

[2019-11-17 18:40] #196 closed

[2019-11-18 08:40] lukehinds opened #213 "TPM1.2 Naming "AIK" used in tpm2.py"
`2019-11-18 08:38:30.539 - keylime.tpm2 - INFO - AIK activated.`

I think this should be `AK activated.` now for TPM 2.0?

[2019-11-18 15:54] #152 closed

[2019-11-18 15:54] #111 closed

[2019-11-18 15:54] #108 closed

[2019-11-18 23:32] #149 closed

[2019-11-19 00:33] jetwhiz commented on #213
Attestation Key (AK) seems to be more official, though confusingly the TCG specifications still sometimes use the term "AIK" for the TPM 2.0.

For instance: https://trustedcomputinggroup.org/wp-content/uploads/TCG-TPM-v2.0-Provisioning-Guidance-Published-v1r1.pdf (page 31)

[2019-11-19 12:08] lukehinds commented on #213
interesting, bigger fish to fry for now, so we can park this.

[2019-11-19 13:33] nabilschear commented on #213
certainly for log messages specific to TPM2, we can use AK.  But i wouldn't refactor the code to remove instances of AIK

[2019-11-20 07:22] #159 closed

[2019-11-20 11:23] lukehinds commented on #140
@JAORMX

[2019-11-27 10:12] lukehinds opened #216 "doRegisterAgent connection handling"
If you start the agent without the registar running, there is no graceful capture of the connection error:

[code]

[2019-11-28 22:23] #211 closed

[2019-12-05 10:40] lukehinds opened #217 "Helper script to check manufacturer certificate is available."
Provide a script to run for users to check if they have the correct Intermediate CA cert  for EK validation.

[code]

[2019-12-05 12:34] lukehinds opened #218 "Move to using files for EK CA manufactorer certificates"
Move to use .pem files in a certificates/ directory instead of the current `tpm_ek_ca.py`

This way users can add their own intermediary / root certs for EK trust and not have to edit code (which will be installed at `/usr/local/lib/python3.7/site-packages/` and so wiped out everytime an upgrade occurs.

[2019-12-05 20:26] lukehinds commented on #218
@amylily1011 , you might like this one. Its a nice secluded bit of code so you won't have to manage lots of merge conflicts. Let me know if it interests you and we can walk over an approach when we next meet.

[2019-12-05 21:22] amylily1011 commented on #218
@lukehinds Yes yes, please :-)

[2019-12-08 15:35] #178 closed

[2019-12-08 16:35] #179 closed

[2019-12-08 16:57] rajdroid commented on #191
Would love to help

[2019-12-08 17:40] lukehinds commented on #191
awesome @rajdroid - I will sponsor you for this first issue.

I recommend reading https://github.com/keylime/keylime/blob/master/CONTRIBUTORS.md

On how to make a pull request etc.

You can test your code out within a VM using our Ansible Role here https://github.com/keylime/ansible-keylime-tpm-emulator/

We need a couple of small additions to the above https://github.com/keylime/keylime/issues/19

[2019-12-08 19:08] lukehinds commented on #191
`keylime_agent` will be the CLI command to start the server and test your `cloudagent_ip`

You will need `keylime_verifier` and `keylime_registrar` running first. You can run them in seperate terminal sessions and then use <CTRL-C> to break out.

[2019-12-09 19:02] jetwhiz commented on #206
@lukehinds Is this issue fixed now?  I think https://github.com/keylime/keylime/pull/207 was designed to take care of this issue

[2019-12-09 19:28] lukehinds commented on #206
Yep, we can close thanks @jetwhiz

[2019-12-09 19:28] #206 closed

[2019-12-10 10:47] lukehinds opened #219 "Increase hash strength"
Since the port to python-cryptograhpy we have SHA256 for various rsa handling functions, these should be able to move up to SHA384 or higher (the same as we used when we had cryptodome as the crypto handler).

For example:

https://github.com/keylime/keylime/blob/200099fe107c62f2d6b9697d625415a506366fed/keylime/crypto.py#L74-L84

A simple change to make, but it needs to be thoroughly tested agains

[2019-12-10 10:57] lukehinds opened #220 "Revocation notices failing to parse json-dumps"
Revocation events are failing parsing into json.dumps:

https://github.com/keylime/keylime/blob/200099fe107c62f2d6b9697d625415a506366fed/keylime/revocation_notifier.py#L79-L86

This error is hidden within the confines of the zmq sock.send call.

If you extract the dump of `tosend` and set it a few lines before, aka:

`dump_test = json.dumps(tosend)`

You will then see the failure:

[code]

The iss

[2019-12-10 12:01] lukehinds commented on #220
This is still not ready to merge yet.

The code is handling the revocation (which is an x509 pem cerftifate) as an RSA key

Need to include two new functions `x509_import_pubkey` and `x509_verify`

[2019-12-10 13:44] rajdroid commented on #191
Thanks @lukehinds, I will go over the resources.

[2019-12-10 15:41] lukehinds opened #222 "Cryptography Deprecation"
[code]

[2019-12-10 16:06] lukehinds opened #223 "Agent consuming excessive CPU during / after IMA measurement"
# Environment
 * OS / version: Fedora 31
 * Processor architecture:  VM
 * TPM Manufacturer:  Emulator
 * Keylime version: master

# Description

Some CPU spikes have been observed up to 100%

This continues even after changing the agents operation status to deleted. Only way to stop is to ctrl break the agent.

## Steps to reproduce problem
1. Provision with the following as an example:
`keylime_

[2019-12-10 16:52] lukehinds commented on #163
RHEL has been updated now

[2019-12-10 16:52] #163 closed

[2019-12-10 20:45] #220 closed

[2019-12-18 09:26] rajdroid commented on #191
Hi @lukehinds, I was trying to create the development setup on my ubuntu guest over the ubuntu host. I used the installer.sh script with args "-s -m". The `keylime_verifier` and `keylime_registrar` started without any issue, but when I start `keylime_agent` it throws an error. Could you please point me where I can get an answer to these questions.

[2019-12-18 14:25] lukehinds commented on #191
Hi @rajdroid

I would recommend you use the ansible emulator role:

https://github.com/keylime/ansible-keylime-tpm-emulator

Just clone this role, install vagrant and run the following:

`vagrant --repo=/home/raj/keylime up --provider libvirt --provision`

Note `--provider` would be either `libvirt` or `vitualbox` - depending on which you use with vargant

`--repo` would be the folder containing y

[2019-12-20 07:32] rajdroid commented on #191
@lukehinds I have added a pull request. Could you please review.

[2019-12-20 19:16] lukehinds opened #230 "Include agent hostname or UUID in verifer IMA log message"
The verifier currently states `Checking IMA measurement list...`

It would be good to some how pull in the hostname or UUID, as when several agents are being polled, the same message is repeated over and over, with no details on which target node is being measured.

https://github.com/keylime/keylime/blob/e2bfff7b1ebcaef9b3dec7d840f18133684e84bf/keylime/tpm_abstract.py#L327-L328

Something like:

[2019-12-21 04:09] rajdroid commented on #230
May I work on this @lukehinds?

[2019-12-21 06:48] lukehinds commented on #230
Very much, thanks @rajdroid !

[2019-12-21 16:03] #218 closed

[2019-12-21 16:06] lukehinds opened #231 "installer.sh needs to copy tpm_cert_store into place"
Since commit https://github.com/keylime/keylime/commit/1b1dc77c3ce0abd598cf546b7e28e911343d7ade we need `installer.sh` to move the folder `tpm_cert_store` https://github.com/keylime/keylime/tree/master/tpm_cert_store to `/var/lib/keylime/tpm_cert_store`, as per the config value:

https://github.com/keylime/keylime/blob/1b1dc77c3ce0abd598cf546b7e28e911343d7ade/keylime.conf#L217-L218

[2019-12-21 16:58] rajdroid commented on #191
@lukehinds I think we can close this. I forgot to add **resolve** in my commit message.

[2019-12-21 16:59] lukehinds commented on #191
Thanks @rajdroid

[2019-12-21 16:59] #191 closed

[2019-12-22 08:59] lukehinds opened #235 "Refactor arg and configparser use of IP's and Ports."
This issue first started off as a report on the following issue (created by yours truly not properly testing his patch)

If you run keylime tenant without the `-tp` arg, it fails:

[code]

We need a validation check to make sure its captured when the -tp arg is not used and it falls back to the configparser set value.

# Now for the main issue

I think we need to better layout and define ip's and

[2019-12-23 18:22] rajdroid commented on #230
Hi @lukehinds, In normal test scenario with `keylime_registrar`, `keylime_verifier` and `keylime_agent`. I don't see this log message in the verifier. Am I missing something?

[2019-12-24 10:37] lukehinds commented on #230
Ah yes, I will show you how to set this up. It might take me a day or two with Christmas tomorrow. In the meantime this blog post outlines the set up:

https://keylime-docs.readthedocs.io/en/latest/user_guide/runtime_ima.html

The difference is that you're using an TPM emulator in the virtual machine, so we need to emulate IMA extending into the TPM. You can do this (just before running `keylime_t

[2019-12-24 17:13] rajdroid commented on #230
Yeah no problem @lukehinds. Let me try this resource. If I stuck somewhere, I'll let you know.
And Merry Christmas

[2019-12-24 17:16] rajdroid commented on #216
Hmm, I stumbled upon this one while doing my first commit. You can assign it to me @lukehinds. I'll take a look at this one.

[2019-12-24 20:23] lukehinds commented on #216
Thanks @rajdroid

[2019-12-28 15:38] #190 closed

[2019-12-29 08:18] lukehinds commented on #223
Note: We should test this using different sizes of whitelists and if this proves conclusive , we should look into compression or the design of the WL handling.

[2019-12-30 14:20] #231 closed

[2019-12-30 14:21] lukehinds commented on #230
How did you get on @rajdroid ?

[2019-12-30 15:47] rajdroid commented on #230
Didn't get a chance to work on it. I was on vacation. Will work on it from tomorrow.

[2019-12-30 16:26] lukehinds commented on #230
No worries, in your own time. Wanted to see if you needed help still with getting the logging message to display.

[2019-12-30 16:27] lukehinds opened #238 "Add `agent_id` to revocation message"
The `agent_id` would be a useful piece of metadata to provide in revocation messages.

[2019-12-31 17:14] rajdroid commented on #230
I got the setup working. Now I'll take look at the code changes.

[2020-01-01 07:09] nabilschear commented on #238
wow, i thought for sure that it was in there, but it's not.

However, there is a feature where the tenant can provide whatever metadata they want and it will get passed.  We use this to set the certificate serial number that should be revoked.  See https://github.com/keylime/keylime/blob/68580626b7c2887ff2cbb18ab2a37edba54cf6eb/keylime/tenant.py#L371 and then it gets used here: https://github.com/

[2020-01-01 09:47] lukehinds commented on #238
Interesting, thanks @nabilschear - my only thought here is, would this not require editing the keylime code to add the extra needed values? Or am I missing away a user can parse in the values which are then handed to revocation?

[2020-01-01 09:53] lukehinds commented on #238
Trying to figure out how that works, so the tenant tells the verifier - include this field in the revocation event. I am confused as it looks like its going into the payload, which gets sent to the agents?

[2020-01-01 17:24] lukehinds commented on #230
thanks @rajdroid I was looking at the code and it looks like quite a few functions will need to carry out agent_uuid value. let me know if you need some help at all.

[2020-01-01 17:26] lukehinds commented on #219
Note, this will be a non backwards compat change, so needs to be included in a major release.

[2020-01-01 17:31] rajdroid commented on #230
yeah, you are right. I had to propagate agent_id from top functions to bottom one, but it's done. Currently testing it, will raise a review in some time.

[2020-01-01 21:14] nabilschear commented on #238
yes, the tenant can say, please include this additional info if this node gets revoked.  Then the agents or anyone else who listens to the revocation message can act on that additional info.  this is kinda the crux of how revocations can be useful.  because you need some information about what to do with the revocation, which is application specific.

[2020-01-04 10:06] #230 closed

[2020-01-04 10:08] #222 closed

[2020-01-04 10:11] lukehinds commented on #235
@rajdroid , thinking this might be a good one for you to tackle as you know how to test and have touched the parts of the code before.

If it interests you I can assign, if you fancy getting your teeth sunk into another issue, just let me know.

I would recommend we fix the  -tp arg first, so we can release the fix in Fedora packaging and then tackle the second part  "Now for the main issue" in se

[2020-01-04 10:12] lukehinds commented on #199
I have not seen this for a while so closing.

[2020-01-04 10:12] #199 closed

[2020-01-04 10:12] lukehinds commented on #198
Now fixed:

https://github.com/tpm2-software/tpm2-abrmd/commit/4c07690750f4eecf409ed3be9e9441ab8f23b028

[2020-01-04 17:59] rajdroid commented on #235
@lukehinds Yeah, let's fix it. I also observed this during my testing. Please assign it to me, I'll take a look.

[2020-01-07 10:15] #216 closed

[2020-01-07 10:15] #238 closed

[2020-01-08 14:12] lukehinds opened #244 "payload is cached somewhere"
1. Provision a node using keylime_tenant with a payload using `--payload` or `--include` containing a local_actions script.

2. Fail the machine so that revocation occurs and local_actions run.

3. Delete the node using the keylime_tenant

4. Make an amendment to your local_action script.

5. Provision the node again the same as at step 1.

6. Fail the node

Result

The amendment in step 4 is not

[2020-01-09 10:18] #235 closed

[2020-01-09 10:20] lukehinds commented on #219
Adding to 6.0 as this will be non backwards compatible.

[2020-01-10 21:31] jetwhiz commented on #244
Hi @lukehinds ,

This may be because you're resuming the node (bringing it back up after failure) instead of deleting the node and then provisioning it again.

I think you either need to do `-c update` or do `-c delete` followed by `-c add` if you want to change what you've sent to the node.

[2020-01-15 09:34] lukehinds opened #247 "Refactor IP / Ports"
refactor to a better layout and definition of ip's and ports. At the moment most are grouped in together at the top of the file, with no real outline on what is for connecting to a service and what is for a service to bind to. I will create another issue for this.

I have observed a few incorrect behaviours as well, for example for the -c delete command. This calls do_cvdelete which then http post

[2020-01-15 09:35] lukehinds commented on #235
thanks @rajdroid , just back from some time off so sorry for the bit of inactivity.

[2020-01-17 05:43] Epiphyll opened #248 "OpenStack integration"
# Environment
 * OS / version: Ubuntu 18.04 LTS
 * Processor architecture: x86_64
* TPM Manufacturer: TPM 2.0
# Description
Combining OpenStack with Keylime, Keylime provides security measure for nodes on OpenStack, and feeds back the measurement results to OpenStack and tenant .

[2020-01-18 09:52] lukehinds commented on #105
@jetwhiz / @nabilschear

I am currently revisiting this issue for the UI development.

Here is what I have found so far:

Currently we have no authentication at all (correct me if I am wrong here), so anyone with IP access to the verifier / registrar could run keylime_tenant with the delete command. Perhaps I am missing something here and TLS would prevent this?

What would need auth?

# Verifier

[2020-01-18 23:47] #141 closed

[2020-01-19 15:31] rajdroid commented on #235
No problem @lukehinds :)

[2020-01-21 07:22] lukehinds commented on #161
hi @nabilschear , are you working on this one?

[2020-01-21 16:34] jetwhiz commented on #105
Hi @lukehinds

I agree that user authentication would be very useful, especially if you have multiple tenants that can manage a system with varying levels of resource permissions / access.

We do have protections in place to control access to various REST interfaces, such as mutual TLS for the verifier (https://github.com/keylime/keylime/blob/master/keylime/cloud_verifier_common.py#L98).  Mutual T

[2020-01-21 19:59] lukehinds opened #250 "travis-ci not posting build status to PR"
travis support request:

https://travis-ci.community/t/travis-ci-build-no-longer-showing-as-check-on-github-pull-request-page/6955

[2020-01-23 16:47] nabilschear commented on #161
not actively.  this unfortunately requires a decent amount of refactoring of the whole notification system.

[2020-01-26 00:28] #213 closed

[2020-01-27 09:40] lukehinds commented on #130
Going to start on this, as we need to rework the database for the UI and Auth.

After some thought, the best way to do this is to use sqlalchemy - this then abstracts away the complexities of having to format raw strings differently for each DB and introduces an ORM approach to ease implementation of a multi tenancy model with many-to-many , many-to-one and other relational DB design patterns.

[2020-01-27 10:24] lukehinds commented on #247
hey @rajdroid , will keep this open for now or if you prefer you can open a new bug for the '-c delete' quirk.

[2020-01-27 15:32] nabilschear commented on #130
that sounds great!  the db support is terrible.  i do hate databases

[2020-01-27 16:03] rajdroid commented on #247
Yeah, no problem @lukehinds. I will fix that bug under this issue.

[2020-01-27 16:11] rajdroid commented on #130
Yeah, ORM abstraction will make code more elegant. BTW, if you need a helping hand with anything @lukehinds do let me know.

[2020-01-27 16:16] lukehinds commented on #130
Thanks @rajdroid , I will definitely tag you for review if you have some ORM experience.

[2020-01-27 19:19] rajdroid commented on #130
Sure @lukehinds.

[2020-01-28 13:05] lukehinds commented on #140
ref; https://github.com/coreos/rpm-ostree/issues/1883

[2020-01-29 09:34] #99 closed

[2020-01-31 11:16] lukehinds commented on #130
@jetwhiz / @nabilschear

I am bit confused about:

https://github.com/keylime/keylime/blob/c409cc462d03042b26d8e9af39212138a2c990a7/keylime/cloud_verifier_common.py#L424-L432

These look like table row names, but we don't create them as part of the database schema?

I see we add them as default values here:

https://github.com/keylime/keylime/blob/c409cc462d03042b26d8e9af39212138a2c990a7/keylime/k

[2020-01-31 11:19] lukehinds commented on #130
Oh hold on, I get it. I guess this is to strip the values out from the request response and not add them to the DB?

[2020-01-31 17:27] nabilschear commented on #130
yeah, sorry the db support is terrible because i hate databases (and suck at interacting with them).  there were some things that i didn't want to have be persistent across threads/processes.   So, a verifier thread holds on to an agent dictionary with all this data.  Some of that data is also synced to the database, but the exclude_db keys in the dict are not.  It's basically ephemeral process/th

[2020-02-08 09:28] #169 closed

[2020-02-10 11:17] #217 closed

[2020-02-12 15:44] #250 closed

[2020-02-14 13:33] rajdroid commented on #155
@lukehinds May I look into this feature?

[2020-02-14 14:16] lukehinds commented on #155
I was thinking about your for this one @rajdroid  !

For a change like this one, please outline a design / change proposal into a document first (google doc)

Main points we need to consider are how do we notify the non critical items and for the whitelists, we need to consider structure.

For example, do we have multiple files (whitelist1.txt , whitelist2.txt) or a single file with some sort of y

[2020-02-14 17:29] #247 closed

[2020-02-15 18:27] #156 closed

[2020-02-16 07:38] rajdroid commented on #155
Hi @lukehinds,

Sure I will prepare a design doc and share it with all for feedback.

[2020-02-19 14:01] lukehinds opened #254 "FreeBSD port"
Get Keylime running on FreeBSD

[2020-02-26 22:04] nabilschear commented on #254
a first proof of concept https://gist.github.com/nabilschear/4527fa3adf792085879dcbf4f0d30481

[2020-02-27 09:39] lukehinds commented on #223
Keep alive.

I think this issue need to morph into an investigation on how to better handle whitelists being iterated over and quieted in the database. It's going to be more of a performance enhancement, than a bug.

[2020-02-28 13:57] lukehinds opened #256 "installer.sh package / pip changes"
We currently have the following under the dnf case in `installer.sh` switch clauses `rhel | centos`

[code]

Remove all `PYTHON_PIPS`

And add the following to PYTHON_DEPS

[code]

[2020-03-09 16:34] bu3alwa commented on #140
Is there anything I can help with this issues?

[2020-03-10 09:55] #256 closed

[2020-03-11 10:52] #198 closed

[2020-03-17 23:26] #244 closed

[2020-03-18 16:22] lukehinds opened #258 "Migration to kernel resource manager"
As we progress, we insure no issues arise.

[ ] Migrate CI
[ ] Migrate installer.sh
[ ] Migrate ansible roles
[ ] Migrate fedora packaging

To use KM:

`export TPM2TOOLS_TCTI="device:/dev/tpmrm0"`

[2020-03-24 07:34] #248 closed

[2020-03-24 14:39] #258 closed

[2020-03-26 10:03] lukehinds commented on #140
Hi @bu3alwa , so sorry. I missed your comment here. I think we might be able to find something more defined to work on if you're interested. Could you jump onto https://gitter.im/keylime-project/community and we can have a chat and find something that's a good fit for you to work on!

[2020-03-30 17:44] #161 closed

[2020-04-02 13:31] lukehinds opened #261 "Flag using keylime_ca with openssl"
If you use keylime_ca with openssl set in keylime.conf the following error appears:

[code]

We should instead pre-validate the set up and warn the user to use cfssl instead (I just burnt up a few hours worried I might have broken the crypto in a previous pull request).

[2020-04-02 13:46] lukehinds opened #262 "Extra uneeded path slash"
```2020-04-02 13:46:06.435 - keylime.ca-util - WARNING - using default name for revocation cert /var/lib/keylime/ca//RevocationNotifier-cert.crt```

[2020-04-03 08:12] lukehinds commented on #145
This might be an interesting one for you @bu3alwa , let me know if you want to chat it over and undertand more.

[2020-04-03 17:46] lukehinds opened #264 "Travis gate issues"
We may need to investigate the following:

https://travis-ci.community/t/github-status-not-posted-on-commits-on-repositories-using-legacy-service-integration/7798

[2020-04-04 03:09] bu3alwa commented on #145
https://docs.google.com/document/d/1a1BRR0fWsKH-hZKa4U9n0zxY9ieJW3eHdtZVX8OIpyw/edit?usp=sharing

@lukehinds let me know if this is good to move forward with

[2020-04-04 09:54] lukehinds opened #266 "consider dropping 'cloud' context"
A low priority issue, but one that will be non backwards compat so might be worth introducing before 6.0

keylimes use extends beyond the cloud model, for example IoT and Edge compute. We could consider having an agnostic naming convention, e.g. instead of `cloudverifier_ip` or `keylimeverifier_ip`

[2020-04-06 19:27] #130 closed

[2020-04-09 18:11] bu3alwa commented on #131
Is there a reason why we use Shell=True?

[2020-04-09 18:44] lukehinds commented on #131
[code]

[code]

:)

https://medium.com/python-pandemonium/a-trap-of-shell-true-in-the-subprocess-module-6db7fc66cdfd

[2020-04-09 18:46] lukehinds commented on #131
never answered your question, we should not be using it, its better to use `False`

[code]
[code]

[2020-04-09 21:15] bu3alwa commented on #131
@lukehinds yea we should use False. I am just wondering why we are using True in the first place? Is there anything in keylime that needs the tag True?

[2020-04-10 00:22] bu3alwa commented on #145
Should making the ca cert be decoupled from keylime as well? Since we want the ca implementations to be a plugin to be added the `mk_cacert()` shouldn't be a called in `ca_util.py:cmd_init()`. Instead, it should just grab the ca cert from the api. Is this a safe thoughtprocess to move forward with?

[2020-04-10 11:12] rajdroid commented on #223
Hey @lukehinds, I can take a look at this one.

[2020-04-10 13:03] lukehinds commented on #223
Thanks @rajdroid , it appears to be related to the whitelist size, my guess is we iterate over  in an expensive manner and that spikes resource usage - that is just speculation though, I have not had time to investigate much.

[2020-04-10 15:33] droccom commented on #223
Is that the whitelist for IMA measurement? If yes, this is surprising to me, as I thought (based only on log interpretation) that the measurement/IMA matching was performed by the verifier and the agents simply sent the measurements. Did I get it wrong?

[2020-04-10 21:07] lukehinds commented on #223
No, you're right @droccom , I have had a dim moment there and used the totally wrong wording. I am referring to handling of `ascii_runtime_measurements` and got mixed up with some work I wanted to do to optimize the verifier SQL queries involving large whitelists.

So yes, the whitelist goes no where near the agent.

[2020-04-10 21:30] droccom commented on #223
Thanks for clarifying!

[2020-04-11 05:26] lukehinds opened #270 "mTLS passphrase use."
We currently use a passphrase for the client side encrypted private key for mTLS and the phrase is gathered by the tenant code using ConfigParser.

I question what extra security this really brings. If someone with ill intention gains access to the system sufficient to steal the client certs, its trivial for them to open `keylime.conf` and grab the passphrase which is stored as plain text.

This i

[2020-04-11 05:27] lukehinds commented on #270
@jetwhiz / @nabilschear any thoughts?

[2020-04-11 08:23] lukehinds commented on #131
No, no reason. It's just code from when the project was more of a prototype whereas now we are trying to refactor things to be a bit more secure and optimised.

[2020-04-12 18:47] lukehinds opened #271 "CI Fails on Fedora 31"
For some reason unknown as yet, setUpModulee.GreenTestSuite fails on Fedora 31 (issue not present on Fedora 30).

[2020-04-13 16:00] maugustosilva opened #272 "Keylime agent fails to start with latest version of `tmp2-tools`"
# Environment
 * OS / version: Ubuntu / 18.04.4
 * Processor architecture: Intel Xeon E312xx (Sandy Bridge)
 * TPM Manufacturer: SWTPM (https://github.com/stefanberger/swtpm)
 * Keylime version: 1.2
 * TPM2-Tools version: 4.2

# Description
With the latest (top of git) version of `tpm2-tools`, keylime agent fails to start properly, due to the fact the initialization of the TPM module returns an er

[2020-04-13 16:08] lukehinds commented on #272
Many thanks @maugustosilva for reporting and welcome to the KL community.

This should be an easy fix as we have comparison statements for tools versions

https://github.com/keylime/keylime/blob/110c4caa560786e0589a206990ec137b7b37cb57/keylime/tpm2.py#L428-L431

So we would need to work out what flag change has been made for `tpm2_createek` and then add a "4.2" clause.

Is this a pull request you

[2020-04-13 18:12] maugustosilva commented on #272
Perfect, will create a PR, thanks.

[2020-04-13 18:13] lukehinds commented on #272
awesome, thanks.

Some general tips for a PR if you need them> https://github.com/keylime/keylime/blob/master/CONTRIBUTORS.md

[2020-04-14 17:19] jetwhiz commented on #270
@lukehinds  I agree that a more mature access management (done correctly) can be a much better way to handle this than hard-coding a password in the configuration file.  I'm inclined to leave this in until we have that set up, though, since full compromise of the verifier or tenant is outside the threat model of Keylime.  There would likely be much more severe and profound consequences to a full v

[2020-04-16 16:24] #262 closed

[2020-04-17 08:17] elfosardo commented on #271
Hi!
I built a Fedora 31 image and I can see this error popping up when trying to get the TPM after starting the registrar:
`Exception: Command: tpm2_startup -c returned 1, expected 0, output [], stderr [b'
', b'** (process:238): CRITICAL **: 17:37:23.404: failed to allocate dbus proxy object: Could not connect: No such file or directory
', b'WARNING:tcti:src/tss2-tcti/tctildr.c:62:tcti_from_init()

[2020-04-17 09:13] lukehinds commented on #271
Its all a bit embarrassing in CI at the moment and I think we need to revamp our approach. I feel I need to take a shower when I look over it :)

So for the issue you have there, might be due to the `tpm2-abrmd` service is not running. Take a look at the following section of the test wrapper script:

https://github.com/keylime/keylime/blob/db02ec8fdd9118b80d9cf38d34d6dca3fb625b73/.ci/test_wrapper.

[2020-04-17 12:53] elfosardo commented on #271
@lukehinds  thanks for the reply!
I actually got that when running run_local.sh and testing tpm2, so when running test_wrapper.sh in the Fedora 31 container.
I'm seeing that failure in test_restful.py, in setUpModule, right after launch_registrar(), during the tpm variable assignment:
[code]
this should be here https://github.com/keylime/keylime/blob/master/test/test_restful.py#L198

[2020-04-17 13:19] elfosardo commented on #271
I added a check for the status of tpm2-abrmd and I'm seeing this:
[code]
Probably forgot something in the container image?
I'll keep looking

[2020-04-17 13:34] elfosardo commented on #271
so I got the CI job to complete successfully in a Fedora 31 container
[code]
I'll put a PR up and see how that goes

[2020-04-17 14:13] lukehinds commented on #271
awesome, thanks @elfosardo !

[2020-04-19 07:16] lukehinds opened #278 "Persist verifier monitoring after agent restarts"
opened as an enhancement:

https://github.com/keylime/enhancements/issues/1

[2020-04-20 19:18] donky106 commented on #27
Hi, I would like to work on this issue

[2020-04-20 19:22] lukehinds commented on #27
hi @donky106 , sure  - thanks.

Are you familiar with what needs doing?

One note, the code has changed a little since the issue was raised, mainly instead of having the certs in one big python file they are now pem files [resident here](https://github.com/keylime/keylime/tree/master/tpm_cert_store)

[2020-04-20 19:38] donky106 commented on #27
Thanks for assigning. I appreciate that.

currently you extract the CA=certificate authority, i.e. the signer from each certificate in the array [trusted_certs].

With a public key of that CA you verify the X.509 certificate.

To avoid a brute force trying each trusted certificate you would like to determine the correct CA first. And verify with the correct CA.

The X.509 certificates are PEM-enco

[2020-04-20 19:47] lukehinds commented on #27
Thanks @donky106 , you can ping @jetwhiz if you need to clarify anymore in the [gitter channel](https://gitter.im/keylime-project/community)

[2020-04-21 10:42] #278 closed

[2020-04-21 10:44] lukehinds commented on #27
@donky106 you will need a HW tpm to test this (the emulator has no EK). I can do this for you on a machine I have here (unless you have one yourself). Just add me to the PR review. Thanks again!

[2020-04-21 17:40] #271 closed

[2020-04-23 20:14] donky106 commented on #27
I have no HW tpm to test. Could you please do this for me on your machine? Thanks.

Also I have got this error:
Adding message: Thanks for your PR. Please check the CI travis job to make sure the build passes and fix any failures. Many thanks for your contribution! to pull request 286
##[error]Resource not accessible by integration

But the CI travis job seems to be ok

[2020-04-28 01:28] kaifeng commented on #272
Instead of comparing specific versions, maybe we can use version utilities to compare a range of them.

[2020-04-28 09:30] lukehinds opened #289 "CI is seeing code changes as documentation"
Reference: https://travis-ci.org/github/keylime/keylime/builds/680457488

The following code just skipped a code change as documentation:

https://github.com/keylime/keylime/blob/62f721a3350f48e8301360bdeb38e3549798ef5b/.travis.yml#L8-L16

@elfosardo , could this be related to: https://github.com/keylime/keylime/commit/02adc42e2d7d23340e2fb087409516cda2d4176e

[2020-04-28 10:46] #289 closed

[2020-04-28 15:44] maugustosilva commented on #272
I agree with the use of version utilities, but I am planning into investing more time doing it as part of a next PR, one with a proper "tpm2 version x command" map.

[2020-04-30 08:40] #27 closed

[2020-04-30 09:22] #272 closed

[2020-04-30 12:27] lukehinds opened #295 "Investigate porting to github actions"
Would be useful to move to github actions eventually, but we might need to see whats possible first.

using github actions we can pull in a container from our own registry for example [quay](https://github.com/enarx/enarx/blob/master/.github/workflows/automation-pr.yml)

This might need an [enhancement](https://github.com/lukehinds/enhancements) if its large enough

[2020-04-30 12:28] lukehinds commented on #295
fancy a go at this @elfosardo when your plate is bit more clear?

[2020-05-01 19:26] maugustosilva opened #297 "Unable to run `keylime_tenant -a add` when the verifier and registrar are running on two different machines"
# Environment
OS / version: Ubuntu / 18.04.4
Processor architecture: Intel Xeon E312xx (Sandy Bridge)
TPM Manufacturer: SWTPM (https://github.com/stefanberger/swtpm)
Keylime version: 1.2
TPM2-Tools version: 4.2

# Description
Have a setup with three nodes. Node "V" runs the `verifier`, node "R" runs the `registrar` and node "A" runs the `agent`. When attempted to "deploy" the already running agent

[2020-05-01 19:29] maugustosilva commented on #297
@lukehinds turns out the fix is quite trivial: the method `validate_tpm_quote` in `keylime/tenant.py` is calling `registrar_client.getKeys`specifying the *verifier* IP instead of the *registrar* IP. I will wait for others to comment on this (it looks like a bug to me), but I believe it is literally a one-line fix (which I am happy to send)

[2020-05-01 19:40] jetwhiz commented on #297
@maugustosilva good catch!  I agree that might just be a bug.  I don't think I've ever run the verifier and registrar separately before, so this likely never surfaced in the past.  what do you think @lukehinds ?

[2020-05-01 19:40] maugustosilva commented on #297
ah, of course, the error message `WARNING - AIK not found in registrar, quote not validated` is totally misleading, and we should probably include a solution for this too. The problem is, the `response` in `getKeys` is an `int` (`503`) in case the registrar does not respond on the configured port.

[2020-05-03 23:03] #254 closed

[2020-05-06 13:16] lukehinds commented on #270
hey @jetwhiz

I am having some trouble trying to create a `client-private.pem` with no passphrase. From what I can see the pw is set here `globalcb`

https://github.com/keylime/keylime/blob/610565d26bfc360ddf9cff39aba6461f70238aa5/keylime/ca_util.py#L118-L122

Looking at `save_bio_key` in M2Cyrpto it requires the passphrase as a callback (you cannot pass over `''` or `None` etc).

https://fossies.

[2020-05-06 14:48] lukehinds commented on #270
update:

        # write out the private key with password
        with os.fdopen(os.open("%s-private.pem"%name,os.O_WRONLY | os.O_CREAT,0o600), 'wb') as f:
            biofile = BIO.File(f)
            pk.save_key_bio(biofile, None)
            biofile.close()

See any complications with that @jetwhiz @nabilschear , it works fine (I no longer need a passphrase in the tenant).

[2020-05-06 15:18] jetwhiz commented on #270
I think that should do what you're looking for, but we should be careful about where we store those unprotected private keys (granted the password was stored in /etc/ before anyways, as you point out).
Is there any way psf can take the raw private key via a variable instead of from a file, so we never need to write keys out in the first place (though this would require more changes to keylime to a

[2020-05-06 15:59] lukehinds commented on #270
So I think we can iron this out in documentation and guidance. We would remind users they should be mindful of protecting these assets, so for example 'tls_dir' be on a HSM or the like.

I don't know of anyway, but open to considering options.

As it stands now we will have this as our posture.

1. We no longer have a passphrase to protect the keys.
2. We now however require all sessions be authen

[2020-05-06 16:10] maugustosilva commented on #297
@jetwhiz @lukehinds this commit solves the problem (it is a single-line fix), and now produces a more clear and unequivocal indication when the registrar cannot be contacted.

[2020-05-06 16:17] kaifeng opened #300 "Improve project layout"
This is a proposal to re-organize source codes logically grouped into separate directories, e.g.:
keylime/cmd for script entries
keylime/db for database model
keylime/common for common utilities
keylime/tpm for the tpm layer

This will make the repo more intuitive and further refactoring easier.

[2020-05-06 16:33] kaifeng commented on #300
hmm, please assign

[2020-05-06 16:36] kaifeng commented on #300
please assign

[2020-05-06 17:32] lukehinds commented on #300
hi @kaifeng , sounds good and thanks for taking this on!

I think this might be a good work piece to do a quick enhancement proposal.

https://github.com/keylime/enhancements

I would not be concerned with doing anything to lengthy or in-depth. Please add me as a reviewer as it would be nice to do some file renaming at the same time.

For example we have `keylime_tenant` , but the file is called `

[2020-05-07 03:40] kaifeng commented on #300
Hey @lukehinds o/
you meant to create an issue in the keylime/enhancements? I have no idea how it will be connected to this repo, I was thinking iterating with multiple smaller patches under this issue.

[2020-05-07 06:28] lukehinds commented on #300
hi @kaifeng

It's a new process I would like to get into place for when the project gains momentum and more feature / change proposals arrive. This would be a nice chance for us to check over the process.

All you would need to do is open an issue here: https://github.com/keylime/enhancements/issues/new/choose and then make a PR to the repo using the template.

You can see an example here:

issue:

[2020-05-07 07:15] kaifeng commented on #300
Got it, thanks for the info, I'll create a PR there.

[2020-05-09 06:38] #297 closed

[2020-05-09 08:07] lukehinds opened #304 "Incorrect text of verifier, should be agent"
# Environment
 * OS / version: N/A
 * Processor architecture: N/A
 * TPM Manufacturer:  N/A
 * Keylime version:  master

# Description
 Incorrect use of verifer should be agent

## Expected behavior vs. actual behavior

https://github.com/keylime/keylime/blob/db53181d7b2762d6bdb073dc587709cbce65bb2a/keylime/tenant.py#L690

Text should read as follows:

[code]

[2020-05-11 13:23] lukehinds opened #308 "Incorrect key/value retrieval formatting"
The following line is wrong:

https://github.com/keylime/keylime/blob/b940b4a1a332deefdb4d20f4cf662f5566825a6f/keylime/cloud_verifier_tornado.py#L499

`agent` is a SQLAlchemy object, not a `dict`, so we need to change to the following instead:

`main_agent_operational_state = agent.operational_state`

[2020-05-11 13:32] lukehinds commented on #308
Same for these:

https://github.com/keylime/keylime/blob/b940b4a1a332deefdb4d20f4cf662f5566825a6f/keylime/cloud_verifier_tornado.py#L500-L502

[code]

[2020-05-11 13:40] #308 closed

[2020-05-12 09:41] lukehinds opened #310 "reactivate command broken over type mismatch"
When running the `keylime_tenant` with `reactivate` the following stack trace occurs:

[code]

The reason for this is because `agent` object is coming in a SQLAclhemy type and not a dict (or list?. So its not just as case of changing ` main_agent_operational_state = agent['operational_state']` to ` main_agent_operational_state = agent.operational_state`

If we do this, then the standard quote oper

[2020-05-12 09:41] lukehinds commented on #310
@kaifeng are you interesting in taking this one on?

[2020-05-12 11:31] kaifeng commented on #310
@lukehinds Hi o/
I am still get myself familiarized with the code, so not sure I can handle this, the bad side is my tpm environment crashed after a power shortage, and I am lacking a env to validate my change. After quickly browsing the code, it seems the agent was assumed to be a dictionary, so the change is likely a conversion at the entry of process_agent. The issue behind I think, is the lack

[2020-05-12 11:48] lukehinds commented on #310
@kaifeng no worries, I can put in a fix with my auth patch. There are other means to achieve the same option is reactive

Regarding tpms, do you use the emulator?

[2020-05-12 12:31] kaifeng commented on #310
I was using VM equipped with vtpm device, which is much like a real environment.

[2020-05-12 12:52] lukehinds commented on #310
I am thinking we should move our gate over to using the vtpm, less set up steps.

[2020-05-12 15:53] kaifeng commented on #310
I made a patch for this, hope that works.

[2020-05-12 15:58] kaifeng commented on #310
Yep, vtpm make things easier, I don't know if travis support virtual machines, it will cost quite a lot of resources.

[2020-05-13 03:58] #55 closed

[2020-05-13 11:17] lukehinds commented on #223
@rajdroid any progress, how is it going?

[2020-05-15 21:23] maugustosilva opened #313 "Keylime agent should be capable of simply using the already created EK in a TPM"
# Description
During startup, `keylime_agent` is pretty forceful and uncompromising on "taking over" the TPM device, including a "startup & clear (`tpm2_startup -c`), "change owner, endorsement and lockout authorizations" (`tpm2_changeauth`) and "generate a new Endorsement Key" (`tpm2_createek`). This means that, when the agent submits an EK to registrar, there isn't a specific way for an administ

[2020-05-16 06:12] lukehinds commented on #313
hi @maugustosilva

Just a cursory note for now and will reply in full at a later point.

There are quite a few synergies with the following enhancement:

https://github.com/keylime/enhancements/blob/29be79363f96c7c622497bffb22f87003ce835be/1_persist_agent_restart.md

I wonder if we could combine both.

My initial thoughts are I am open to this and see it as a valid case, but we should also try to

[2020-05-18 10:19] #304 closed

[2020-05-18 11:23] lukehinds opened #314 "Handler for invalid exclude lists"
As per discussion in https://github.com/keylime/keylime/pull/303 - we need a way for the verifier to validate an excludes list regexp, if invalid it should be rejected and a http response error sent back to the user.

[2020-05-18 11:30] #310 closed

[2020-05-22 14:08] maugustosilva commented on #313
@lukehinds apologies for not responding sooner. I have read the document, and I believe I understand your requirements. It looks like that the basic logic in `tpm2.py` for both cases will be exactly the same, with the only difference being the criterion to decide when to use the already created EK (should we preserve AIK too?): in my case, it will be if a given flag is found on `keylime.conf`, in

[2020-05-29 02:52] #201 closed

[2020-06-08 15:45] Han0nly opened #321 "Is it possible to enable the tenant to verify a VM's integrity without a vTPM?"
Hi, I'm a little confused about the vTPM design in the wiki. I want to build an Openstack cloud(with a couple of servers with TPM2) in my lab using KVM and I want to make everyone in my lab can verify their VM's integrity.

So I want to know is it possible to enable the tenant to verify a VM's integrity without a vTPM? Or I have to install TPM emulator on everyone's virtual machines.

Thank you!

[2020-06-08 20:36] lukehinds commented on #321
Hi @Han0nly

I would ignore the stuff in the wiki as that is around a pending design. There is nothing to stop you using a vTPM right away.  The only consideration to make is that a vTPM is not as secure as a hardware TPM which has the crypto keys are locked into the chip.

With a vTPM, it being software based means the keys reside in the host memory. However if you own the host, this is less of a

[2020-06-08 20:38] lukehinds opened #322 "Move CI over to using a vTPM"
We should move gate over to using a vTPM, this way it can act as reference guide for those who want to deploy a vTPM.

[2020-06-08 20:41] lukehinds commented on #321
Edit, I missed your original question. Yes you can, using passthrough:

https://libvirt.org/formatdomain.html#elementsTpm

I would not do this though, as its a one to one mapping. So only one VM will be able to use the hardware TPM. I recommend you go for a vTPM implementation, and then when deep quote features land (extend trust from the vTPM to hardware TPM), you will already have your environme

[2020-06-09 00:56] Han0nly commented on #321
Thank you for your answer @lukehinds , I don't know if I get it right, if a tenant want to verify their VM's integrity, they need to create a VM with a TPM device using emualtor/passthrough, and then they need to install the Keylime agent and register it to the Keylime registrar . After that they can request the Keylime verifier Restful API to verify VM's integrity, do I get it right? Do Keylime v

[2020-06-09 10:22] lukehinds commented on #321
Yes, that's it.

On each VM you would run the vtpm and keylime agent and then on another machine (like a management machine) you would run the keylime verifier and register (or you could even run the verifier and register on different machines).

You would then use the keylime tenant application to start the measurement of the VM and if it passes you could run an autorun.sh script to set things up

[2020-06-09 11:59] Han0nly commented on #321
Thank you @lukehinds , your answer is really helpful, l'm much obliged.

[2020-06-09 12:38] lukehinds commented on #321
My pleasure, I have wanted to integrate keylime more with openstack, but not had the spare time available as yet. If you want plan to go ahead we will support you as much as we can and help make needed changes into Keylime.

[2020-06-09 19:04] #264 closed

[2020-06-10 07:13] Han0nly commented on #321
I found some links may be helpful for integration with openstack. It seems openstack community are working on vtpm and it basically works.

https://that.guru/blog/emulated-tpm-in-openstack/

[2020-06-10 07:16] lukehinds commented on #321
Awesome news. glad to see that is happening!

[2020-06-10 07:50] Han0nly commented on #321
Hi @lukehinds , one thing I need help, I watched the demo on youtube and I want to try this demo locally. So can I get to these script somewhere? Thank you!

[2020-06-10 08:07] lukehinds commented on #321
Hi @Han0nly , sure..we have a ansible role with a vagrant file:

https://github.com/keylime/ansible-keylime-tpm-emulator/

If you install vagrant, you can then clone the above and then just run `vagrant up --provision` and it will bring up a running keylime instance with a tpm emulator to use.

Try that, if you hit any issues, just raise a github issue in the ansible repo above and tag me in there

[2020-06-10 11:29] #266 closed

[2020-06-10 11:58] Han0nly commented on #321
Sorry @lukehinds , my English is not very good, so you may have misunderstood. What I want to ask is whether there is a script used in that example in Youtube, such as copy ssh keys/remove ssh keys after failure verification. Thank you!

[2020-06-14 13:14] Han0nly commented on #321
Hi, I deployed Keylime on 2 centos7 virtual machines with TPM2.0 device. The first one run `keylime_agent`, and the other one run `verifier&registrar&ca`, then I run `keylime_tenant -v 127.0.0.1 -t agent -tp 9002 -u D432FBB3-D2F1-4A97-9EF7-75BD81C00000 --cert /var/lib/keylime/cv_ca --include /root/payload/ --whitelist /root/whitelist.txt -c add` on the second one to add a policy, but an error occu

[2020-06-14 13:17] lukehinds commented on #321
Can you check that ca_implementation is set to `cfssl`

https://github.com/keylime/keylime/blob/e0a1a98017828a3af6ab5a8bcaf2bcb91372e5d1/keylime.conf#L14

Also that you have cfssl installed.

[2020-06-14 13:42] Han0nly commented on #321
Yes, cfssl is installed and ca_implementation is set to cfssl

[2020-06-14 13:57] lukehinds commented on #321
I think I see it now, point cert to a new location:

`--cert /home/han0nly/keylimeca`

You will then be prompted to create a password, put whatever you like. After this start `keylime_ca` and use the same password as before.

[2020-06-14 14:39] Han0nly commented on #321
Sorry to bother you again...but after that I met a new problem.

When I run `keylime_tenant -v 127.0.0.1 -t 192.168.1.29 -tp 9002 -u agent --cert /root/keylimeca --include /root/payload/ --whitelist /root/whitelist.txt -c add` and then I was prompted to input a password. Then I got this error:

[code]

The `keylime_agent` logged these:

[code]

[2020-06-14 15:13] lukehinds commented on #321
I think this is the issue:

`2020-06-14 10:27:40.629 - keylime.registrar_client - CRITICAL - Response code 404: agent_id not found`

What do you have for the UUID value:

https://github.com/keylime/keylime/blob/e0a1a98017828a3af6ab5a8bcaf2bcb91372e5d1/keylime.conf#L57

You're using `-u agent` so it would need to look like this:

`agent_uuid = agent`

We typically use the following fixed value of `

[2020-06-14 15:14] lukehinds commented on #321
p.s it might be worth cleaning things up a bit:

Stop / kill the verifier / agent / registrar

`umount /var/log/keylime/secure`
`rm -r /var/log/keylime`

Start the verifier / registrar / agent

[2020-06-14 16:18] kaifeng commented on #321
The vtpm support in openstack is fairly simple as nova just provides a path to create a vtpm device for a VM [1]. There were times that trusted compute + opencit available there but not maintained anymore and removed from the upstream.
I am towarding the integration with openstack too, with ironic and probably nova, it's nice to see @Han0nly working on the same road :)

[1] http://specs.openstack.

[2020-06-14 17:25] lukehinds commented on #321
I will support you both whenever I can.

We do have some integration with openstack already. You can set the agent_uuid value to openstack and it gets a uuid from the nova meta data service.

[2020-06-15 00:09] Han0nly commented on #321
hi @kaifeng @lukehinds , I have ran OPENCIT for a couple of times , but it only support TPM1.2 and it's new version SecL can't be built in my environment, so I turn to Keylime for help. I'll try to make some contribution to Keylime and nice to meet you guys!

[2020-06-15 00:35] Han0nly commented on #321
Sorry to bother again @lukehinds , I have tried cleaning and using a unique uuid, but I still get an error, did I miss some configurations or something?

keylime_tenant
[code]

keylime_verifier
[code]

Keylime_agent
[code]

[2020-06-16 16:31] lukehinds commented on #321
Hi Han0nly,

Are you using a TPM emulator?

[2020-06-17 01:06] Han0nly commented on #321
Yes, I use Vmware Workstation to create a TPM2.0 device on a VM.

[2020-06-17 16:51] lukehinds opened #324 "Rename whitelists"
So I have been thinking in the spirit of actions such as the following below, we should rename whitelists

https://www.bbc.co.uk/news/technology-53050955

Anyone have any ideas on a new naming convention?

[2020-06-17 17:02] jberkus commented on #324
"allowlist" is the most popular replacement from what I've seen on other projects.

Of course, you want at term that's accurate for what the object actually *does*.  Don't drop one vaguely misleading term for another vaguely misleading term.  For example, one project adopted "coverageFilter" because that was actually more appropriate for the structure.

[2020-06-17 17:05] lukehinds commented on #324
@jberkus , thanks! You got me thinking, and I may have something which matches closer to the functionality it covers.

`--ima-list`

The former whitelist, is a list of files that will be monitored by IMA (Integrity Measurement Architecture)

[2020-06-17 17:47] font commented on #324
I like `--ima-list` as well. Perhaps combine both with:

`--ima-allowed-list`

[2020-06-18 12:06] Han0nly commented on #321
Hi @lukehinds ,

Do I need to use the TPM emulator embedded in the Keylime installation scripts using `-s` option?

[2020-06-18 12:16] lukehinds commented on #321
Hi @Han0nly , I have no experience with the VMWare tpm, so can't help much there.

There are two ways of doing this.

One is the tpm emulator, you can see how this is installed in our docker file:

https://github.com/keylime/keylime/blob/89e2ffb55829ea3af7cb602b7df90e43d23372e1/docker/Dockerfile-tpm20#L71-L77

One this is installed you will need to run the following steps to enable it:

https://gi

[2020-06-18 15:34] kaifeng commented on #321
vTPM is just like a real TPM and keylime works great on it. One thing worth to note is that due to the random system boot sequence, the PCR10 can't be trusted, I think this is understandable, as long as we replay the calculation to reach the end result, it should be fine.

[2020-06-19 01:45] Han0nly commented on #321
Hi @kaifeng , is this error `ERROR - No Root CA matched EK Certificate` rooted in vTPM? or due to some misconfigurations by myself?

[2020-06-19 07:17] lukehinds commented on #321
This might be because we need an entry in `https://github.com/keylime/keylime/tree/master/tpm_cert_store`

You can get around that for now by changing the following to False:

https://github.com/keylime/keylime/blob/89e2ffb55829ea3af7cb602b7df90e43d23372e1/keylime.conf#L321

Just thinking @kaifeng / @Han0nly , should we set up a [enhancement proposal](https://github.com/keylime/enhancements) for t

[2020-06-19 07:19] lukehinds commented on #322
Second thoughts, this is not likely possible as we need to set up libvirt xml etc.

[2020-06-19 15:51] kaifeng commented on #321
Sorry I couldn't remember the details, last time I used keylime on a VM with vTPM days back to two months ago, and I still don't have an enviroment ready to play :(
Judging by code, it's unlikely I didn't have this issue though, but I didn't aware it caused any trouble to me. I think this might be what you are looking for: https://github.com/stefanberger/swtpm/wiki/Certificates-created-by-swtpm_se

[2020-06-19 16:06] kaifeng commented on #321
@lukehinds Honestly speaking, integration with openstack sounds quite big to me, maybe we need to break down into smaller features that would be easier to land, e.g., integrates keylime agent into ironic-python-agent so that we can get quote from the machine where the ramdisk is running. Currently keylime services are under the same project, this might have some issue in the packaging.

[2020-06-19 16:19] kaifeng commented on #321
opencit was unmaintained for a few years, I have successfully built and running on the VM with vTPM, with a few tweaks, but it would be a nightmare to maintain.

[2020-06-22 06:35] lukehinds opened #326 "Non monitoring Agent"
This will likely be an enhancement proposal. Logging an an initial issue here.

The idea is to run an agent on a machine, with no TPM, yet still capable of accepting revocation events.

[2020-06-22 15:33] nabilschear commented on #326
there's already a skeleton of this in the keylime ca.  the "listen" functionality essentially does this: https://github.com/keylime/keylime/blob/89e2ffb55829ea3af7cb602b7df90e43d23372e1/keylime/ca_util.py#L338  but we'd need to expand that to execute some set of revocation actions (instead of being hard wired to revoke certs)

[2020-06-22 15:40] nabilschear commented on #270
hi, all those stupid passwords are my fault =)  the problem is bootstrapping.  At the end of the day, the keys have to live unprotected somewhere (either encrypted with the password stored elsewhere on the disk (protected with fs permissions), or just stored unprotected with FS protections.  By using the password, we make the private keys a little more portable, but i agree the benefit is incremen

[2020-06-22 15:43] nabilschear commented on #261
is this related to lazy loading the revocation certificate?  or is it just poor error handling when loading it.

[2020-06-22 15:43] nabilschear commented on #145
that sounds good.

[2020-06-23 18:31] lukehinds commented on #326
Very handy, thanks @nabilschear !

[2020-06-23 18:34] lukehinds opened #327 "Keylime project proposal to the CNCF"
Opening this issue for information. I had an introduction call with the CNCF around project adoption of Keylime.

They are very receptive to this and recommend we go forward with a proposal.

This issue is to inform you as a community. We don't have a formal voting process or governance, so I will go ahead based on lazy consensus, unless someone can communicate a very clear merited objection, whic

[2020-07-02 19:40] #322 closed

[2020-07-03 15:24] #313 closed

[2020-07-07 18:07] axelsimon commented on #324
I agree with @font it makes sense to use this opportunity to move to a term as descriptive as possible.

An alternative to `--ima-allowed-list` (which a strong advantage of having "allowed" in the term, which sticks with the "allowlist" as a growing replacement for whitelist) could be `--ima-monitored-list`.

Let me know!

[2020-07-07 19:19] lukehinds commented on #324
I am ok with that, we should just make sure we have a shorthand flag, as its a lot to type out.

I think while we are at it, it might make sense to change `--excludes` to `--ima-exclude-list`

[2020-07-13 08:59] #300 closed

[2020-07-13 09:44] lukehinds commented on #327
No opposition or views shared, so this will go ahead.

[2020-07-15 10:29] lukehinds opened #330 "cmd_exec hangs for secure mount when a large amount of mounts are present"
Run the following script:

[code]

This should give you 300+ tmpfs mounts (being tmpfs is not so important, its more about having a high amount of stdout for the mount command).

[code]

Should you now run keylime agent it will hang when trying to view the current mount command output:

[code]

To cleanup:

[code]

I think we need to approach how we use subprocess, perhaps update to using subproce

[2020-07-15 10:33] lukehinds commented on #330
@AyushAmbastha @mpeters - this is the issue stopping the agent from running on a kubenetes node.

@jetwhiz any ideas on approaches here?

[2020-07-15 11:34] lukehinds commented on #330
This is definitely the issue: https://docs.python.org/2/library/subprocess.html#subprocess.Popen.wait

[2020-07-15 17:19] nabilschear commented on #330
an alternative idea, can we just leverage an existing tmpfs partition like /run and symlink /var/lib/keylime/secure to somewhere in run?

[2020-07-15 18:52] mpeters commented on #330
That would still leave it vulnerable to the same bug in other contexts: where the output of some command is larger than the internal buffer Popen is using to read it. It's weird that this `mount` command is what triggered it, but it could happen in lots of other contexts on complex systems.

[2020-07-16 15:46] #327 closed

[2020-07-17 09:21] lukehinds opened #334 "scrap PBR"
This change is causing more headaches then anything of value it offers:

https://github.com/keylime/keylime/pull/281

Its either causing CI to Fail or software packaging systems upstream (such as Fedora).

[2020-07-17 09:54] #334 closed

[2020-07-17 09:55] lukehinds commented on #334
Fixed in #335

[2020-07-20 18:21] mpeters opened #337 "Large whitelist files fail in keylime_tenant"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 32
 * Processor architecture: x86_64
 * TPM Manufacturer: emulated
 * Keylime version: source

# Description

I have a whitelist file that is very large (196M) and running keylime_tenant with it fails with the message "Cannot connect to Veri

[2020-07-24 12:00] #314 closed

[2020-08-18 21:50] maugustosilva opened #339 "Setup tools is broken on the master branch"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 18.04
 * Processor architecture: x86_64
 * TPM Manufacturer: virtual TPM
 * Keylime version: 5.7

# Description
Just tried the following sequence of commands

[code]

## Expected behavior vs. actual behavior
[code]

## Steps to reproduce pro

[2020-08-18 21:53] maugustosilva commented on #339
@lukehinds the solution is pretty simple, just adding a single in `setup.py` should be enough to solve the problem `package_data={'keylime': ['*','*/*', '*/*/*']},`

@kaifeng is it possible that it was introduced in PR #302 ?

[2020-08-19 02:14] kaifeng commented on #339
If memory served the change should have passed ci at that time, I am not sure this issue is related, sounds like a packaging problem if package_data could resolve. But package_data is used for non-code data, I suspect it may be related to pbr, but need to investigate.

[2020-08-19 15:03] droccom opened #341 "Inconsistency between IMA logs and PCR10"
@galmasi
@maugustosilva

# Environment
 * OS / version: Ubuntu 18.04.3
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: 5.7

# Description
Keylime is ignoring the fact that IMA logs and PCR 10 are not always in sync, as on the agent side they are retrieved at different times, as requested by the verifier.

## Expected behavior vs. actual behavior
The code section:

[2020-08-24 14:24] mpeters commented on #326
I've worked around this in the past by just having an exclude list that includes everything. But you still have to set up the tpm, ima, etc just to have it all ignored. Would be nice to have as a real feature

[2020-08-24 14:39] lukehinds commented on #341
tagging @jetwhiz

[2020-08-24 14:51] mpeters commented on #341
I believe I have experienced this issue as well although I didn't track it down fully since I was just getting the system setup (and the system was a low traffic, so low turnover in the ima measurements).

[2020-08-24 16:01] droccom commented on #341
Thanks @lukehinds @mpeters! Feel free to reach out for any further information or/and discussion on this.

[2020-08-26 12:37] #339 closed

[2020-08-26 12:39] lukehinds commented on #341
@droccom is this an issue you intend to work on, do you have any code fixes you have tried out. I have yet to dig into this, so thought it prudent I check with you, as you further along the troubleshooting path compared to me.

[2020-08-26 19:32] droccom commented on #341
I will propose a fix with a PR as soon as possible.

[2020-08-26 19:55] TheNewGuyAtGithub commented on #140
hey, I am new this. And want to handle this issue. lemme know if you want something>

[2020-08-27 01:13] #321 closed

[2020-08-28 21:14] #270 closed

[2020-09-01 18:35] #330 closed

[2020-09-01 18:36] mpeters commented on #330
Should be fixed now in v5.7.0

[2020-09-02 14:44] galmasi opened #342 "Difficulties operating KeyLime with recent versions of tpm2_tools"
Luke asked me to open this issue, even though it is not strictly a KeyLime issue. Instead, it pertains to how keylime quotes are using tpm2_quote from the Intel TPM tool kit (https://github.com/tpm2-software/tpm2-tools).

**Description of environment:**

* KeyLime running on an Ubuntu 18.04 or Ubuntu 20.04 substrate
* All KeyLime components (verifier, registrar, agent, all tenants) are dockerized

[2020-09-02 16:46] lukehinds commented on #342
tagging @jetwhiz

[2020-09-04 06:12] lukehinds commented on #342
hey @galmasi , sorry justy remind me, does this also manifest as #341 or is that a totally seperate issue?

[2020-09-04 12:52] lukehinds opened #344 "Postgres does not support connection string check_same_thread"
# Environment
 * OS / version:  fedora 32 / postgres
 * Processor architecture:  N/A
 * TPM Manufacturer: N/A
 * Keylime version: master

# Description

Database not working with postgres

[code]

[2020-09-07 01:30] galmasi commented on #342
@lukehinds the issues are separate, and the root causes are different. That said, they manifest in a similar manner.

However, the cloud verifier has two different error conditions for #341 and #342 respectively. This makes them easy to distinguish even just by looking at the /webapp/

*  #341 fails with "invalid quote" -- the quote could not be validated; the IMA log does not correspond to PCR10.

[2020-09-08 13:16] ashcrow opened #349 "ignore cgroup when we iterate over when creating hashes"
We need to ignore cgroup when we iterate over.

# Environment
 * OS / version:  Fedora / Ubuntu
 * Processor architecture: Any
 * TPM Manufacturer: NA
 * Keylime version: 219e592f476dc48fced831f1977f17b2bcf378a5 and likely before as well

# Description

`create_whitelist.sh` is iterating over cgroup "files" which errors when hashing.

## Expected behavior vs. actual behavior

No errors expected bu

[2020-09-08 14:17] kgold2 commented on #342
FWIW, the IBM attestation solution doesn't bother reading PCR 10, or any other PCRs, for exactly the above reason.  We verify the quote digest directly against the pre- and post-OS event logs.

[2020-09-08 14:37] lukehinds opened #350 "registrar needs indepent messaging"
When starting `keylime_registrar` on its own its log messaging suggests it should be on the same machine as the verifier, whereas going forward this is not the only deployment option

[code]

[2020-09-08 14:39] #350 closed

[2020-09-08 15:40] nabilschear commented on #350
FYI: this only happens when you tell the registrar to share the TLS CA with the verifier (and it sorta implicitly assumes that they are on the same machine.  You can just set a ca dir and the registrar will establish it's own ca and certs.

[2020-09-08 16:10] #344 closed

[2020-09-09 00:30] jetwhiz commented on #342
@lukehinds  I'm wondering if fixing this upstream in tpm2-tools might be better, where a quick fix would be to simply have `tpm2_quote` repeatedly re-try in the case where the digests do not match.

[2020-09-09 09:12] lukehinds commented on #342
hey Charlie! / @jetwhiz

Agree, we lodged this in keylime just so we make sure its tracked. Would you be interested in looking into the fix (thinking you're known by that community and worked in tools before). Or if not perhaps help review a fix?

BTW @jetwhiz , could you take a look at https://github.com/keylime/keylime/pull/343, this relates to issue https://github.com/keylime/keylime/issues/341

[2020-09-09 14:07] galmasi commented on #342
I completely agree with @jetwhiz -- this is not a KL issue proper. The correct fix is in tpm2-tools. I have been remiss, and not opened the bug on them yet. Unless someone else offers, I can attempt to raise this issue with them.

[2020-09-09 15:10] kgold2 commented on #342
1. Ultimately, will the thin python layer calling out to command line scripts be the solution?  Or is just for a proof of concept?  I wonder if enhancing Intel's tool is worthwhile.
2. I would not recommend "repeatedly re-try".  You could be looping for quite a while, and the asymmetric key operation is by far the performance bottleneck.

I found that, since the verifier has to walk the event logs

[2020-09-09 16:52] kgold2 commented on #341
I think I posted this somewhere - perhaps the same issue is repeated.

Even if PCR 10 matches some subset of the event log, it doesn't matter to the verification.  That PCR 10 may not be the one that was quoted.

Thus, the loop has to be testing the quoted digest against the event log.  PCR 10 is not required.

The verification has to cover all quoted PCRs, not just PCR 10.

[2020-09-10 08:35] #349 closed

[2020-09-10 08:38] lukehinds opened #351 "pull #328 hsa broken CI"
Thanks to travis being so unreliable in updating PRs with build status, we managed to merge a patch which has broken CI:

https://travis-ci.org/github/keylime/keylime/builds/723820811

The change in question is:

https://github.com/keylime/keylime/pull/328

@maugustosilva are you able to take a look at this, you can reach me on gitter.im if you need any help?

[2020-09-10 11:10] lukehinds commented on #155
unassigned @rajdroid

this should also be raised an enhancement

[2020-09-10 11:18] lukehinds commented on #181
will be raised as an enhancement.

[2020-09-10 11:18] #202 closed

[2020-09-14 14:08] #341 closed

[2020-09-15 06:16] lukehinds opened #355 "files in tpm/ still needing license change"
Some files missed during the license upgrade in tpm.

Need to be in new format below:

[code]

[2020-09-16 15:08] #355 closed

[2020-09-16 15:43] mpeters commented on #337
Fixed in https://github.com/keylime/keylime/pull/353

[2020-09-16 15:43] #337 closed

[2020-09-21 15:23] maugustosilva opened #358 "Add support for multiple *Verifiers* in KeyLime"
We have a scenario where we need to deploy a KeyLime cluster serving to relative large number of nodes, somewhere in the vicinity of 10E4. In this cluster, the *Verifier* is expected to run periodic attestation of nodes' IMA logs (in addition to the "regular" attestation). Together with a colleague, I did an initial evaluation in an "emulated" testbed, where 2,500 vTPM-equipped VMs played the role

[2020-09-21 15:25] maugustosilva commented on #358
@lukehinds @mpeters please take a look and tell me if it makes sense. I am more than happy to include it in the discussion about a full-fledged (and properly thought-through :-) ) “Scalability and Availability Enhancement”

[2020-09-21 15:33] mpeters commented on #358
I've opened an enhancement issue to deal with this: https://github.com/keylime/enhancements/issues/22 We should create a PR in the enhancement repo with an initial design or at least some guiding principles.

[2020-09-22 07:41] lukehinds commented on #358
agree we definitely should plan this out in an enhancement, as we need to cover what happens when a verifier falls over, e.g. how do we persist the state to the next node to take over. We certainly could approach it piece meal to allow anyone blocked on implementation to have a resolution, but we need to be sure any approach we take now for immediate concerns is forwards compatible with the final

[2020-09-22 17:04] maugustosilva opened #359 "PR #353 breaks the code in my testing"
Prior PR #353, here is how `keylime_tenant` behaves:
[code]

Afterwards, here is what I see:

[code]

The problem seems to be a simple one...

This new `max_buffer_size` parameter added to tornado HTTP server requires and integer argument, and we're passing a string. Instead of simply failing, as one would normally expect, the server starts, but the server (silently) refuses all connections.

The

[2020-09-22 17:04] maugustosilva commented on #359
@mpeters do you agree?

[2020-09-22 17:57] mpeters commented on #359
This is very strange. It definitely works for me as a string. But it also keeps working as an int, so I'm fine with the change (it also makes a non-int in the config fail in a better way, so that's an added bonus).

[2020-09-23 12:45] lukehinds commented on #342
tagging @idesai for possible insight from the tools project.

[2020-09-23 12:51] lukehinds commented on #342
also tagging @puiterwijk in regards of rust implementation, esp in regards to @kgold2 comment > I found that, since the verifier has to walk the event logs anyway, the PCR values are unnecessary.

[2020-09-23 12:57] lukehinds commented on #342
@galmasi I wonder if we could write a simple script that load tests tpm2_quote so we can isolate this happening outside of KL's code?

[2020-09-23 13:31] idesai commented on #342
Reporting an attestation quote mismatch because the PCR changed sounds like a feature than a bug.

[2020-09-23 13:35] idesai commented on #342
IOW, if PCRs changed and check-quote still reported no failures, that'd be a bug, no?