[2020-09-23 13:49] idesai commented on #342
May be a better approach could be to add a feature to tpm2_checkquote tool to be given an eventlog (alternatively instead of pcr) and a quote to see if any of the events matched the quote.

[2020-09-23 16:30] jetwhiz commented on #342
As per the gitter discussion, one potential solution to this would be to calculate PCR values based on event logs (rather than having tpm2_quote send them).

Changes involve:

1. Instead of getting PCR values from `tpm2_quote`, we only get the quote
2. We have the Keylime agent send along pre-OS event logs (as well as IMA logs, like we do now)
3. We calculate all of the PCR values based on both lo

[2020-09-23 18:37] mpeters commented on #358
@maugustosilva I think this client-side load-balancing approach is fine to move forward on. It doesn't have to solve the verifier-failure case to be useful since that's a problem we still don't have a solution for. And losing attestation for the whole cluster is much worse than losing it for part of a cluster.

[2020-09-23 18:39] mpeters commented on #358
I agree and have a similar idea in mind for my enhancement proposal. I don't know if we need to introduce a whole new backing store (etcd) for that to work or if we could piggy back on the RDMS (MySQL is extremely fast when used as key value store). I'm in the process of writing this all up and then we can start investigating/implementing.

[2020-09-23 19:56] mpeters commented on #358
Here's my initial enhancement proposal for HA/Scalability: https://github.com/keylime/enhancements/pull/25 @maugustosilva it contains your idea for client-side load balancing but with a twist: Instead using it's hash to pick a single verifier from the list it instead uses the hash to order the list and default to the first one. Obviously this won't work until we have the verifier's be state-less,

[2020-09-23 20:36] maugustosilva commented on #359
@mpeters @lukehinds sorry, the fix is still broken for me...

[code]

This is an `Ubuntu 18.04` container with `python 3.6.9` btw

[2020-09-24 15:24] lukehinds opened #361 "Kernel resource manager"
@galmasi / @maugustosilva  could you please share some details on how you use the vtpm and kernel resource manager in a container (I think you guys use a container) - if not and its a VM, then how to use the kern resource would still be useful (as we can use the emulator and kern resource manager)

@mbestavros is migrating our CI away from travis, but tpm2-abrmd requires some horrible hacks to mou

[2020-09-24 15:34] galmasi commented on #359
@mpeters can you please look up the exact version of tornado in your work environment? I imagine it is a Fedora package? but if so we need to know what version of tornado. Marcio's code uses pip.

I'm going out on a limb here but I expect the problem is due to tornado version divergence.

[2020-09-24 16:04] maugustosilva commented on #359
Just to be clear, there are now **two** problems:
1) Something (maybe different versions of `tornado`)  are causing a silent failure in case of `max_buffer_size` is not an integer
2) This particular construction for the fix (PR #360) seems to be causing a problem on my `Ubuntu 18.04` with `python 3.6.9`

I believe my initial suggestion -  `max_upload_size = int(config.get('cloud_verifier', 'max_up

[2020-09-24 17:00] maugustosilva commented on #361
In our environment, we test Keylime on a cluster of VMs with `swtpm` (Virtual TPM): we use one VM per `Keylime` "component" (e.g., one VM dedicated to `Verifier` and another dedicated to `Registrar`), in addition to a couple of extra VMs for agents.

Inside each VM we run `Keylime` as a container. Here is the full invocation of a `Keylime Agent` container:

`docker run -td --net host -e KEYLIME_RO

[2020-09-25 14:05] mpeters commented on #359
@maugustosilva I agree. New commit that should fix this for all cases: https://github.com/keylime/keylime/pull/363

[2020-09-28 09:09] lukehinds commented on #324
hey @mpeters , I wonder if it makes sense to do this change at the same time as you implement the allow lists (I guess your change would already cover this?)

[2020-09-28 13:41] mpeters commented on #324
I agree. I kept having to go back and forth between the terms in my proposal simply to make sense with what already exists. I'll do this first.

[2020-09-28 13:46] mpeters commented on #324
Do we have to put "ima" in the name? Are we tied to IMA completely such that we couldn't use something else in the future? Not saying we would/should change or make it IMA agnositic, just that on the tenant and verifier side they don't know anything about IMA right? In general I prefer naming thing for what they do, not have it's implemented.

I think I just prefer just the simple `--allowlist`. T

[2020-09-28 14:01] lukehinds commented on #324
`allowlist` sounds fine to me, or open to other ideas if something better to comes to mind, but sure we are not fixed to IMA as a naming.

[2020-09-29 18:09] maugustosilva commented on #359
I can confirm that this has been fixed with PR #363. Closing it now

[2020-09-29 18:09] #359 closed

[2020-09-29 19:19] maugustosilva opened #370 "Allow _Agents_ on private network to be reached back by _Verifier_ on public network via port mapping"
I have an use case where the Keylime _Verifier_ and _Registrar_ live on a very secure separate network (actually on a Z mainframe) and it is reachable via a Public address. I believe that with a simple change, we should be able to provide Keylime the ability to let _Agents_, in separate networks, to establish bi-directional communication with Keylime's "Control Plane" (i.e., _Verifier_ + _Registra

[2020-09-30 13:05] lukehinds commented on #370
Just a few thoughts from talking to colleagues (I am not a networking SME)..

"That is what UpNP is for. You just ask the firewall for a mapping"

"rather than change the app, could you not us an ssh tunnel"

My own take is we could accommodate this if it is a simple change, but it would have to be off by default and not disruptive to someone not requiring this functionality.

[2020-09-30 13:33] lukehinds commented on #361
thanks @maugustosilva !

[2020-09-30 13:35] #102 closed

[2020-09-30 13:35] #101 closed

[2020-09-30 15:38] droccom commented on #342
In case it helps, I am using this cheap workaround to avoid getting stuck on this issue (e.g. while testing other things):

[code]

[2020-10-02 13:22] #140 closed

[2020-10-02 16:11] stefanberger opened #373 "Big endian issues with tpm2 tools"
FYI: There are big endian issues with the TPM 2 tools that may make interopation between keylime components running on systems with different endianess not work.

[2020-10-02 16:13] stefanberger commented on #373
A first PR trying to fix endianess issues on that layer is this one here: https://github.com/tpm2-software/tpm2-tools/pull/2224

[2020-10-05 16:04] stefanberger commented on #373
Another issue is with `tpm2_checkquote`, which needs to assume little endian when reading data from files (presumably) created by `tpm2_quote`: https://github.com/tpm2-software/tpm2-tools/pull/2228

[2020-10-05 20:47] kgold2 commented on #342
On 9/23/2020 9:32 AM, Imran Desai wrote:

Imran:

I don't think its a feature or a bug.  The IMA PCR (PCR 10) will change
continuously as new files are measured.  It's expected behavior and the
verifier should handle it.

Luke:

The TPM quote is by far (several orders of magnitude when I profiled it)
the biggest impact on performance.  A looping retry may be a quick fix,
but I would not recommend

[2020-10-05 20:54] kgold2 commented on #342
On 9/23/2020 12:30 PM, Charlie Munson wrote:

The IMA log is guaranteed to be in order, so 'various positions'
should just mean walking through the events.

That's what I implemented and it's a big performance improvement at the
verifier.

When I profiled, the networking overhead wss insignificant.  Calculating
the hash and verifying the quote is measurable but very small.  Most of
the verifier pr

[2020-10-05 22:03] lukehinds commented on #342
this is much appreciated feedback @kgold2 , tagging @puiterwijk for when we implement this in the rust-agent.

[2020-10-06 13:59] stefanberger commented on #373
Another issue related to `tpm2_nvreadpublic`: https://github.com/tpm2-software/tpm2-tools/pull/2230

[2020-10-07 14:31] mpeters commented on #326
Would it also be possible for this agent (and others) to receive events when a new nodes is approved? This would be useful for things like: make sure a host is monitored by keylime before it is put into a k8s cluster. We have the ability to remove a node from a cluster that fails, but nothing to tell some bootstrapping system it's time to add a node.

[2020-10-07 17:16] maugustosilva commented on #370
I believe the main decision point here is what we want to provide natively on _Keylime_, versus what can be provided by an admin/automation **prior** to _Keylime_ standup.

We will not always have UPNP devices available, and might have no direct control of the firewall to do the mapping.

Similarly, we could use an SSH tunnel, but this would be yet another "pre-deployment" requirement.

[2020-10-07 17:21] maugustosilva commented on #370
@lukehinds @galmasi

Turns out it can be achieved with zero changes to _Keylime_. I will briefly describe here, and we can further discuss if it is worthy of being included in the documentation.

1) Deploy the _Keylime Agent_ unmodified
2) Perform the "Port/IP mapping" on the NAT device (for instance just run something like `rinetd` there)
3) Invoke `keylime_tenant` with CLI options `-t Public IP

[2020-10-07 17:22] maugustosilva commented on #370
I am closing if for now. Let me know if you want me to include in the documentation.

[2020-10-07 17:22] #370 closed

[2020-10-07 17:27] maugustosilva commented on #351
hey @lukehinds, is this still an issue?

[2020-10-07 19:31] lukehinds commented on #351
@mpeters i think this is fixed now?

[2020-10-07 22:00] mpeters commented on #351
Yes, sorry. I didn't realize there was an issue for this.

[2020-10-07 22:00] #351 closed

[2020-10-09 13:13] lukehinds commented on #361
Just been working on this. So it looks like your mounting the VMs vTPM into the container?

[2020-10-12 11:30] lukehinds opened #378 "Seperate out revocation notifier IP:PORT config values"
The `await_notifications` function currently sets up its listening IP & Port from the `cloud_verifier` config section.

https://github.com/keylime/keylime/blob/ab6397317513b952c090bdd52bbfe6676b8da3c6/keylime/revocation_notifier.py#L81-L95

This might be confusing for users, as the agent and keylime_ca parse out the `'cloud_verifier', 'revocation_notifier_ip'` values, yet they don't run on the ver

[2020-10-12 14:15] #378 closed

[2020-10-13 16:39] maugustosilva commented on #361
Yes, we are using the (already available) libvirt support for swtpm (vTPM)

[2020-10-14 10:46] #181 closed

[2020-10-14 11:01] lukehinds commented on #324
done: https://github.com/keylime/keylime/pull/372

[2020-10-14 11:01] #324 closed

[2020-10-29 02:19] kaifeng opened #383 "Drop logics related with DEVELOP_IN_ECLIPSE"
In our scenario we use keylime as root, I am wondering if the DEVELOP_IN_ECLIPSE is actually in use because it seems a bit old, but no sure if it's in use in the CI (as far as I see the CI is using container as root). If we no longer need that, we probably could drop to make the maintenance easier.

[2020-10-29 02:33] kaifeng opened #384 "Incorporate pep8 coverage"
Adding pep8 checking helps to find potential issues that we are not running in the code path, and apply consistent code style to the project.

[2020-10-29 02:53] kaifeng commented on #131
I am taking this assignment o/

[2020-10-29 08:02] lukehinds commented on #383
I don't think anyone uses this, and we should not really have opinonated debug flags around any particular IDE. I am happy for you to nuke all references to it!

[2020-10-29 08:02] lukehinds commented on #384
We did have this with codacy, but there seems to be some CI issues at the moment. I will try to investigate.

[2020-10-29 11:49] stefanberger commented on #373
All those PRs for tpm2-tools have been merged but the problem will stick around for a while for those relying on distro packages -- until those distros have the patched tools.

[2020-10-29 19:47] maugustosilva commented on #261
@lukehinds here is the result of the execution with this PR:

[code]

[2020-10-30 07:57] kaifeng opened #389 "Verifier and registrar are hardcoded to bind 0.0.0.0 address"
This is a security issue that we should fix.

[2020-10-30 15:11] #383 closed

[2020-10-30 15:15] #389 closed

[2020-11-09 03:10] kaifeng opened #393 "Agents restored to saved state after verifier restart"
During Verifier startup, it updates all agents to the saved state, which needs human intervention to reactivate all the agents, this doesn't look like a reasonable action in production, especially when verifier is behind HA.

[2020-11-10 02:57] kaifeng opened #395 "EE Key too small on CentOS 8"
Keylime verifier failed to run on CentOS 8:
Nov 09 17:07:11 TPM-client-1 keylime_verifier[1329931]: Traceback (most recent call last):
Nov 09 17:07:11 TPM-client-1 keylime_verifier[1329931]:   File "/usr/bin/keylime_verifier", line 11, in <module>
Nov 09 17:07:11 TPM-client-1 keylime_verifier[1329931]:     load_entry_point('keylime==0.0.0', 'console_scripts', 'keylime_verifier')()
Nov 09 17:07:11

[2020-11-16 11:05] lukehinds opened #403 "Wildcard IP breaks zmq"
[code]

This is from my change here:  72211b5c04957b20acb73243e0abbeee388dbb15

Simple fix is to change the keylime.conf back to 127.0.01.

[2020-11-16 15:23] #403 closed

[2020-11-20 19:08] stefanberger commented on #384
The following command line would let us cleanly transition from `pep8` to `pylint` and then crank up the checks by removing what is currently disabled:

[code]

Everybody can grab a cookie! (#define cookie 'disabled warning')

[2020-11-20 20:12] mpeters commented on #384
Yeah, I like this idea as it would definitely help us find problems in code that is either undertested, really hard to test (bad ROI) and utility stuff that isn't applicable to all platforms.

[2020-11-20 20:21] stefanberger commented on #384
Problem is it takes a lot longer with pylint (59s) versus pep8 (3.4s).

[2020-11-20 21:25] mpeters commented on #384
That's not a huge problem. It's mostly going to be run in the pipeline and the tests already take a lot longer to run than that. And adding it to your workflow as a developer is still not as taxing as running the tests either.

So that extra 55s isn't a problem IMO

[2020-11-20 21:36] stefanberger commented on #384
i can send a PR for that then https://travis-ci.com/github/stefanberger/keylime/builds/203187797

[2020-11-21 06:53] #155 closed

[2020-11-23 22:11] stefanberger opened #412 "Password for client-private.pem not being used"
# Environment
 * OS / version: Linux
 * Keylime version: master (a242f2ce12547d473b82bb39ae5fee061d2a95c3)

# Description

Using config file /etc/keylime.conf
2020-11-23 16:59:38.313 - keylime.tenant - INFO - Setting up client TLS in /var/lib/keylime/cv_ca
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py", line 677, in urlopen
    chunked=

[2020-11-26 16:41] kaifeng commented on #395
Raising cert_bits also works, there is nothing needs to do since we have configuration support.

[2020-11-27 10:45] lukehinds opened #420 "Registrar key password is never used"
`my_key_pw` is never used:

https://github.com/keylime/keylime/blob/be4b874bf9bc232e6e1dcf747f4a8cd329a33858/keylime.conf#L185

https://github.com/keylime/keylime/blob/be4b874bf9bc232e6e1dcf747f4a8cd329a33858/keylime/registrar_client.py#L41

[2020-11-27 23:28] nabilschear commented on #383
for flavor, this was my little set of developer flags that made it easier to do local development.  At some point we split it into all its various components (like require root etc).  So, i think this is fine to remove.

[2020-11-30 03:04] Epiphyll opened #421 "Modified the files in whitelist.txt, the checking continues"
#Environment
 * OS / version: Centos 7
 * Processor architecture:
 * TPM Manufacturer: TPM emulator
 * Keylime version: 5.7.3

# Description
I succeeded in running keylime，like this
![keylime](https://user-images.githubusercontent.com/22440504/100563459-62c11a80-32f9-11eb-8c94-814f854511a7.png)

If I run a script not included in the whitelist.txt, the agent will fail, but I modified the agent file

[2020-11-30 15:50] mpeters commented on #395
I wonder if we could improve the user experience here. Can we catch this error from the SSL side and provide a more useful message to the user that maybe they need to increase their cert_bits configuration value when this failure occurs?

[2020-11-30 16:06] kaifeng commented on #395
Sounds like a good idea, I am reopening to see if we can do some improvements here.

[2020-11-30 16:31] maugustosilva commented on #393
@lukehinds @mpeters @kaifeng we are also trying come up with a solution to this problem. The somewhat "monolithic" architecture of `verifier` makes it hard to solve/fix within. One approach that we have been considering is, upon restart, just "re-add" (via keylime_tenant code) all the `agents` registered on the `verifier` (excluding the ones who did fail attestation)

[2020-11-30 16:43] kaifeng commented on #393
@maugustosilva a simple solution would be keeping agent states as it is when verifier starts, while retriggers the agent processing for those states makes sense (get quote for example). In the long run, I think it's worth to introduce a FSM to help with state transitions.

[2020-11-30 19:29] mpeters commented on #393
Could that same code that is triggered from tenant requests not also be triggered from restart? There would probably be some refactoring needed but I don't see that as big of an issue as actually invoking tenant commands when the verifier restarts

[2020-11-30 19:39] maugustosilva commented on #393
@mpeters this is exactly what we (myself and another colleague) are writing right now. Inside the `main` function on `cloud_verifier_tornado.py`, we get a list of agents that need to be "updated" (i.e., deleted and then added back), and we start a separate process to do exactly it once the tornado web server restarts. Not pretty, not elegant but should solve the problem until we do a proper re-des

[2020-12-01 16:03] maugustosilva commented on #393
@mpeters @kaifeng @lukehinds so, the "reactivate agent" operation (issued by the tenant) seems to simplify the recovery after `verifier` restart. There was a small bug there that I am fixing with this PR: https://github.com/keylime/keylime/pull/423

[2020-12-02 15:18] #395 closed

[2020-12-03 10:58] lukehinds commented on #421
Ah this might be down to the `/etc/ima/ima-policy` file - the standard ima policy will only measure files when they make a sys call for execution. Let's say for example we have a script called acme.sh, we can change that and keylime with its current ima policy won't react until you execute that script - at that point the script file will be measured and compared to the allowlist.

@stefanberger wo

[2020-12-04 02:32] stefanberger commented on #421
@lukehinds As far as I know the default IMA policy doesn't measure file writes.

[2020-12-04 06:54] Epiphyll commented on #421
@lukehinds If I change the ima-policy, do I need to change the create_whitelist.sh code?

[2020-12-04 07:41] lukehinds commented on #421
would mimi or anyone know what entry would enable this (if its possible)?

[2020-12-04 07:42] lukehinds commented on #421
No, that won't require different hashes.

[2020-12-04 22:03] #358 closed

[2020-12-09 03:12] kaifeng opened #436 "Make keylime running as non-root"
keylime can run as root or non-root, but we have to treat them differently for path, validation, etc.
The proposal is to persistently make keylime running as non-root and remove REQUIRE_ROOT, for actions that requires root privilege, sudo should be used.
This will simplify our implementation and have better security control.

[2020-12-09 09:35] lukehinds commented on #436
There is an enhancement in place for this work: https://github.com/keylime/enhancements/blob/master/23_dedicated_keylime_user_account.md

I agree it definitely needs to happen and there is nothing stopping work getting underway on the registrar and verifier, the agent is a little more involved as TPM functions require root. Do you know how health rootwrap is @kaifeng , i remember it from openstack

[2020-12-09 09:39] lukehinds commented on #342
keep open

[2020-12-09 09:46] kaifeng commented on #436
@lukehinds openstack is migrating from rootwrap to privsep, rootwrap is considered less secure. Some projects have finished this transition while some are on the way.

[2020-12-09 17:00] axelsimon commented on #436
Thanks for bringing this up @kaifeng. Completely agree with your proposal.
i'm looking into it currently. Thanks for mentioning privsep, i'll look into it.

Currently, `keylime_registrar` and `keylime_verifier` run as a keylime user, although they fail to log.
`keylime_webapp` doesn't run, and i'm looking into it.
`keylime_agent` likely needs root for the TPM access, so i've not investigated that

[2020-12-10 02:56] Epiphyll commented on #421
Hi friend @lukehinds , In my point of view I think files in the whitelists are continually measured by Keylime verifier. Is the local measurement on the client side done through ima or keyime client? I'm using the demo ima-policy, but it seems that files in the whitelists are not monitored. I want to know how to enable the file monitor. Do I need to change the ima-policy?

[2020-12-10 15:03] mpeters commented on #421
Yes @Epiphyll  IMA is what actually measures the files and puts them into the log which keylime reads. The usual default for IMA is to only check files as they are being executed (or loading code in an executable like lib files). If you want it to change to every file that is written then you need to change your ima-policy and you'll have to look at the IMA documentation for that. Also be careful

[2020-12-11 02:52] kaifeng opened #441 "Separate configuration options for each service"
Currently each service has their own section in the configuration file, but used without limit, like registrar accesses verifier's options, agent accesses registrar's options, tenant accesses sections of other services. This cause difficulties when we deploy the service under proxy like load balancer, because the public endpoint of a service is different from the backend address.
It could be resol

[2020-12-11 07:38] lukehinds commented on #441
As in the address to contact the registrar maybe different to the address the registrar binds to (so we may want two values) so we split it out?

registrar.conf
`listen_ip = 127.0.0.1`  # registrar bind address

verifier.conf
`registar_ip = 192.168.0.1` # registrar endpoint address

[2020-12-11 07:44] kaifeng commented on #441
Yes, we could use different configuration files but this has more impact, so a better way is to add missing options in each section.

[2020-12-11 07:56] lukehinds commented on #441
understood, this is good proposal.

I am open to having different configs, but I do see your point, it would make it more complicated change as we would need to fix occurances of configparser calling and redo the setup.py

[2020-12-11 07:57] lukehinds opened #442 "Some more dev env stubs to clean up"
We can remove the following lines:

https://github.com/keylime/keylime/blob/bdd3a68261ba6180b9d4b3c9a4d8a4e6489265b3/keylime/config.py#L314-L348

Tagged as good first issue, so a new conributor can pick this up.

[2020-12-11 13:32] maugustosilva commented on #441
+1 on this proposal. The current configuration system quickly becomes cumbersome when dealing with more "exotic" configurations (e.g., multiple verifiers, load balancers, external databases). I ended up writing a rather complex python configurator to deal with these redundant information on different sections (to automatically generate a configuration file), but never bothered submitting it, since

[2020-12-11 13:40] maugustosilva commented on #441
@lukehinds @kaifeng It might look as a pet peeve of mine, but in my experience it made the initial process of understanding the inner workings of keylime (unnecessarily) harder: some options which specific to the verifier (e.g., `tls_dir`) are not explicitly marked as so (i.e., it should be `cloudverifier_tls_dir` or `verifier_tls_dir`, while options specific to the registrar are (i.e., we have `r

[2020-12-11 14:17] kaifeng commented on #441
The tls_dir is obscure indeed, there are couple of ways to use them, I hope we could simplify the cert configuration, which means we probably need to drop some options.
Autogeneration of configuration file is not hard if suitable tooling could be utilized, oslo.config for example, is very handy and adopted in every openstack projects, but the drawback is obvious for non-openstack projects, these l

[2020-12-11 17:00] mpeters commented on #441
I also give a big +1 to this. I've run into this problem myself even on a single machine with multiple IPs where I wanted the verifier to bind to 0.0.0.0 but that breaks anything that tries to talk to the verifier.

[2020-12-11 20:25] maugustosilva opened #447 "The `keylime_tenant` tool no longer allows the overriding of the address of the `verifier` via command line option"
This becomes a real problem (i.e., bug) in a multi-`verifier` environment. The scenario for me is: a single "deployer" node from where multiple `agents` are added to multiple `verifiers`. I will give a simple example with `-c status` (same goes for `-c add` or `-c update`, of course.

[code]

Now, this is a fully expected behavior, because even though I had `100.64.4.1` listed on my `/etc/keylime.

[2020-12-12 02:59] kaifeng commented on #447
I suppose we should drop self.verifier_base_url, always construct the url at the point we need.

[2020-12-17 12:04] kaifeng commented on #442
Stuff between L314-L330 is not referenced and can be removed, but STUB_IMA is reference in many places, I would be glad to remove the STUB code but need a confirmation.

[2020-12-22 16:22] stefanberger opened #475 "Missing parameters in function calls (pylint E1120)"
[code]

This is the function being called:

[code]
`tpm_version` is not provided by these the 2 callers:

[code]

and

[code]

Probably this code is not often used (anymore?) and that's why nobody noticed...

[2020-12-23 01:28] kaifeng opened #477 "Unhandled registrar exception on transient db failure"
Dec 23 08:50:36 Controller-VM-1 keylime_registrar[758522]: 2020-12-23 08:50:36.858 - keylime.registrar-common - ERROR - SQLAlchemy Error: (pymysql.err.OperationalError) (2006, "MySQL server has gone away (ConnectionResetError(104, 'Connection reset by peer'))")
Dec 23 08:50:36 Controller-VM-1 keylime_registrar[758522]: [SQL: SELECT registrarmain.agent_id AS registrarmain_agent_id, registrarmain.`k

[2020-12-23 01:54] kaifeng commented on #475
I believe vtpm is broken when doing PR #302, the conundrum is I am not sure if the community want to keep it supported, for myself I don't use the xen use case.

[2020-12-24 10:53] #361 closed

[2020-12-24 12:08] kaifeng opened #481 "A restart of agent host causes agent status to fail"
When the host system of an agent restarts, agent status is set to fail due to verifier unable to get status from the agent.
There is retrying but the default time interval and retry count are quite small (1 sec, 10 times), a system restart can't complete in such a short time. Though we could raise the configuration value here, but the point is, an invalid quote can lead to fail state, while unreac

[2021-01-05 06:07] kaifeng opened #485 "Store allowlist in a separate table"
Current allowlist is saved with the agent record, there are two issues here:
1. An allowlist can't be shared between agents, so we can't apply the same data to identical OSes.
2. Since the ima measurements could be very large, it has impact on query efficiency when the allowlist does not participate in the processing.

The proposal is to create a new table named ``allowlists`` to save allowlist, a

[2021-01-05 20:17] maugustosilva commented on #393
@apoorvemohan Please take a look at the linked PR. I believe it starts to address the problems we discussed.

[2021-01-05 20:31] maugustosilva opened #486 "Error in keylime agent while issuing "tpm2_nvread""
This is an error detected on FC32, Python 3.8 with Keylime commit id e3db1edac4616f4ce67e7e2530710e8ebce31e95 (Dec, 30th, 2020).

During `keylime agent` startup, on a scenario where the TPM has an already created EK handle (defined by `ek_handle=0x81000000` on `/etc/keylime.conf`), the following message is displayed:

[code]
The command being executed at the time of the error is something like `['

[2021-01-05 20:47] maugustosilva commented on #485
I strongly support this move, for several additional reasons. One of the most relevant for me is the fact that I am working on support for "TPM2 event log" processing on KeyLime (which should allow a more intelligent verification of PCRs [0-9,14]) and this would require the introduction of a "golden event log template" or some such, which would be also shared across multiple nodes.

[2021-01-06 00:58] #486 closed

[2021-01-06 07:42] lukehinds commented on #485
For this change we should factor in multi-tenancy which is underway, so I expect we would need to consider somehow having a relational map to a `group_id` at some point in the future. This way in multi tenant scenario users could implement versioning to groups , e.g. a beta release list could go into a `testing` group and in turn not available to use a production system.

https://github.com/keylim

[2021-01-06 07:45] lukehinds commented on #485
Sorry I should not hijack this thread, but if this requires changes to the agent code we should consider this will need to go into the rust agent, its likely worth syncing with @puiterwijk who has some plans to optimising tpm2 quotes in the rust project.

[2021-01-06 15:22] mpeters commented on #485
I agree, this sounds like a good idea for all of the right reasons :)

[2021-01-07 02:38] kaifeng commented on #485
@lukehinds the allowlist is stored in the verifier database, so the proposed change doesn't have impact on the agent side. I am not sure why multi-tenancy involves the change, since my basic understanding on multi-tenancy is provides user management for accessing APIs, right?

[2021-01-07 11:57] lukehinds commented on #485
@kaifeng it was more for @maugustosilva notes on "which should allow a more intelligent verification of PCRs [0-9,14])" which is why I mentioned being sorry for hijacking the issue.

[2021-01-07 20:44] #447 closed

[2021-01-07 21:41] stefanberger commented on #475
Are these tools (still) used? Either we could remove the tools or would have to add a command line option for TPM version...

[2021-01-08 15:36] maugustosilva opened #491 "Add support to use TPM 2.0 Preboot Event log on Keylime"
Adding all the relevant parties here: @puiterwijk  @mpeters @lukehinds @kaifeng

# Motivation
We have a scenario with literally hundreds of different types of nodes, and simply "getting the contents of the boot aggregate (PCR 10) from a list of well-known values" has shown itself to be unfeasible from an operational standpoint (just to give some perspective: our nodes are netbooted, and the value

[2021-01-08 16:06] lukehinds commented on #491
@puiterwijk

[2021-01-08 20:24] stefanberger commented on #485
I think this will require that the keylime_tenant tool learns to manage the IMA allowlist, like giving it a name:
[code]

Then also referencing an IMA allowlist by name:
[code]

Or just a whole separate set of keylime_tenant subcommands for managing the life-cycle of an allowlist: creation with a name, update by name, deletion by name.
The same probably also applies to other lists to be applied to

[2021-01-08 20:52] stefanberger commented on #384
Maybe we can close this issue since this has landed and pylint provides much more than the original thought of using pep8.

[2021-01-08 21:04] stefanberger commented on #421
If a file that was written to is not measured _when it is read again_ than this may either be due to the IMA policy or may be due to how the filesystem is mounted. For the latter please have a look at the documentation here: https://sourceforge.net/p/linux-ima/wiki/Home/

The section in the IMA docs of relevance is this one here: https://sourceforge.net/p/linux-ima/wiki/Home/#ima-re-measuring-file

[2021-01-09 09:05] kaifeng opened #492 "Verifier is unable to gracefully shutdown when running as frontend"
When running keylime_verifier as a frontend process, there is a high change that verifier can't be killed by Ctrl+C, and next execution of verifier will complain address is in use.

[code]

Tried to call server.stop() but doesn't address the issue, needs more digging.

[2021-01-11 06:27] kaifeng commented on #492
Possible cause: https://github.com/tornadoweb/tornado/issues/1912

[2021-01-11 14:29] mpeters commented on #485
That's a good question about the ordering. I actually think this can come before multi-tenancy because multi-tenancy needs to touch a lot of different parts so adding one more won't really make that more complicated. But this could be useful even if we don't have segmented groups of users.

[2021-01-11 14:29] mpeters commented on #384
Agreed

[2021-01-11 14:29] #384 closed

[2021-01-11 14:59] kaifeng commented on #491
I have seen description of event log in the TCG spec, it seems it was stored somewhere in the bios but didn't figure out how to read it out, this proposal seems quite related with it.

[2021-01-11 15:10] kaifeng commented on #485
Excluding the whitelist management from this issue is simply because this would be a large change, I want to break it down to smaller steps. I was thinking about getting a whitelist from the agent, then reuse it for other hosts, the name could be autogenerated from information collected from the host, firmware/OS etc.

[2021-01-11 18:07] maugustosilva commented on #491
@kaifeng yes, this is correct. The log is accessible via `/sys/kernel/security/tpm0/binary_bios_measurements`

[2021-01-11 18:53] maugustosilva commented on #485
I second @kaifeng on this one. A smaller, incremental change where the lifecycle of the `allowlist` is done out-of-band (i.e., simply delete the table) now is better than a complete solution later. On other hand I do see the point @stefanberger is making as an unavoidable one: we will need to add a new CLI parameter on `keylime_tenant`, (I particularly like`--allowlist-name`) with a "reasonable de

[2021-01-12 07:21] kaifeng commented on #485
Well, the unfortunate thing is that sqlite doesnot support alter, I am testing a migration script and it complains

[code]

The migration script:
[code]

If we want to keep sqlite supported, we probably can't use foreign keys.

[2021-01-12 14:24] galmasi commented on #491
Related question -- this came up in a discussion yesterday, and we did not have a ready answer to it. Is *any* keylime user putting PCR0-9 + 14 values to use in any way today? our current implementation excludes these PCRs from the "TPM policy" when measured boot is turned on.

[2021-01-12 14:52] mpeters commented on #485
Did you create this migration by hand? I wonder if maybe doing automatic migrations would allow alembic to figure out the right order of events. Maybe you have to add foreign keys at the same time as the create? Or some other change to the order maybe.

[2021-01-12 16:59] kaifeng commented on #485
The skeleton of the script is created by alembic, but the db operation is by hand. Applying a foreign key will issue an alter command, but there is no difference by adding a column with foreign key because sqlalchemy will issue two commands with the latter one an alter.
There seems to be a way to address this with batch migration, but the side effect could be introducing difficulties when somethin

[2021-01-13 07:57] kaifeng opened #498 "Verifier db can't hold ipv6 address"
Current ip can only hold up to 15 characters:

[code]

[2021-01-13 14:22] #131 closed

[2021-01-13 14:23] #477 closed

[2021-01-13 14:55] apoorvemohan commented on #393
@maugustosilva I tried the PR https://github.com/keylime/keylime/pull/480 opened by @kaifeng. The basic agent-reactivate functionality worked after patching it with https://github.com/keylime/keylime/pull/487.

[2021-01-13 16:08] galmasi commented on #491
Note that in this issue we are specifically not addressing the problem of measured boot on TPM1 devices. We had a discussion with @mpeters and the general feeling seems to be that "TPM1 is on the way out".

[2021-01-13 16:17] galmasi opened #500 "Integrated test environment for keylime"
This is a place holder issue -- we had an initial discussion with @mpeters about the desirability of an integrated test environment. This would allow catching of bugs beyond what unit tests are capable of doing, and contribute to improving SW quality.

@mpeters has promised to make inquiries about required infrastructure support.

Our ideas run in terms of:
* a collection of virtual machines boote

[2021-01-13 18:44] github-actions[bot] opened #501 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-01-13 19:41] #501 closed

[2021-01-13 19:48] mbestavros commented on #501
No longer! @mpeters we can probably close this?

[2021-01-13 20:20] dnoliver opened #503 "keylime_agent: Read EK Cert fail with authorization failure in Hyper-V vTPM"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora Server 33
 * Processor architecture:  x86_64
 * TPM Manufacturer:  Virtual TPM provided by HyperV
 * Keylime version:

[code]

# Description

Cannot run `keylime_agent`, it fails to get the EKCert.

## Expected behavior vs. actual behavior

[2021-01-14 03:52] kaifeng commented on #503
Hi @dnoliver, are you running on a emulator? I wonder if the nvram has some kind of policy preset, maybe nvlist could dump some useful information.

[2021-01-14 12:08] idvoretskyi opened #506 "DCO check is missing for the Keylime project"
Greetings, project maintainers.

CNCF's IP policy (https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy) requires all projects to use either CLA (Contributor License Agreements) or DCO (Developer Certificate of Origin). Unless there's a strong necessity to use CLA, we encourage projects to use DCO as it's easier to setup and use. Ref.: https://github.com/cncf/foundation/issues/13

[2021-01-14 12:42] dnoliver commented on #503
Find some information about the vTPM below.
I have no tpm2_nvlist command.

This is an standard HyperV VM.
Using "Second Generation" to boot in UEFI Mode
Secure Boot is enabled and working.
vTPM is added from the VM configuration page.
So far, the vTPM is fully functional: Clevis TPM disk encryption, IMA, tpm2-pkcs11 and tpm2-tools command works out of the box.

I think the problem is caused when

[2021-01-14 12:59] lukehinds commented on #503
tagging @stefanberger who may have some ideas here.

[2021-01-14 13:23] stefanberger commented on #503
I would try running `tpm2_nvreadpublic` to see what it returns in terms of attribute/access flags. (One of) mine returns:
[code]

[2021-01-14 13:33] lukehinds commented on #506
hi @idvoretskyi does DCO need to be retrospective or can it just for new code. It might be challenge to get old contributors to sign as they have since moved on. We could apply it going forward though, and implement the bot to check each new PR for a sign off?

[2021-01-14 13:36] lukehinds commented on #500
I think this is a good idea, at the moment we have a hybrid of unit tests and integration tests thrown in together. It would be good to see both seperated and the integration tests run a full end to end case with its own CI job. a  big +1 from me.

tagging @mbestavros for when we need to consider GH actions etc.

[2021-01-14 13:37] idvoretskyi commented on #506
@lukehinds yes, please enable it for the future PRs at least, thanks.

[2021-01-14 13:45] lukehinds opened #507 "Kill travis"
I think we can kill travis now, thumbs up can signal agreement:

@mpeters
@maugustosilva
@mbestavros
@kaifeng
@stefanberger

and others please also contribute to discussion.

[2021-01-14 13:46] lukehinds commented on #506
hey @mbestavros are you interested in taking this one on?

[2021-01-14 14:24] mpeters commented on #507
I would like to give it a day or 2 more just to monitor the stability of GHA. We just merged in the Travis tests yesterday

[2021-01-14 14:54] dnoliver commented on #503
[code]

[2021-01-14 15:11] stefanberger commented on #503
Reading from `0x1c00002` with `keylime` as password works, right?

[2021-01-14 15:18] stefanberger commented on #503
Since version 2.1 of the TCG specification 'TCG EK Credential Profile' there's a table there now that indicates what attibutes should be set; pdf page 50: https://trustedcomputinggroup.org/wp-content/uploads/TCG_IWG_EKCredentialProfile_v2p3_r2_pub.pdf

[code]

My guess is yours doesn't have the right flags set.

[2021-01-14 15:32] dnoliver commented on #503
After running `sudo keylime_agent`, I can't read the handle, even with the keylime password

[code]

I added a `logger.debug()` call in the `__run()` method to see what commands are being executed:

[code]

I run into the same problem by executing the commands in the same order:

[code]

So the vTPM from Microsoft HyperV is bad? :(

[2021-01-14 15:50] stefanberger commented on #503
It looks like the 'written' attribute is not even set, so the NVRAM location may be empty.

[2021-01-14 16:55] mbestavros commented on #506
@lukehinds We used this [Action](https://github.com/probot/dco) on the Enarx project to great effect. It works well (adds another PR check that succeeds when the commit is signed with `git commit -s` and is really easy to set up. Does need to be installed and enabled by a project admin, however, so I can't enable it myself.

[2021-01-15 01:25] kaifeng commented on #507
It seems GHA job can be retriggered, that would be nice.
But I didn't see there is a job for the integrated tests, is it up and running?

[2021-01-15 01:30] kaifeng commented on #507
Oh, got it, I thought the test is a action test.. but actually is already functional \o/
P.S. the pylint check is not enabled in the GHA.

[2021-01-15 01:31] #393 closed

[2021-01-15 14:37] mpeters opened #509 "New GitHub Actions CI tasks does not include pylint tasks"
In order to fully turn off Travis CI we need to replicate all of it's functionality in GitHub Actions. Currently the pylint/code-check tasks are not being run and this should be remedied.

[2021-01-15 16:28] mbestavros commented on #507
@kaifeng Issue filed for that at #509 and a PR to resolve it at https://github.com/keylime/keylime/pull/510 :)

[2021-01-15 16:38] mbestavros commented on #506
@lukehinds Seems like this is active; should we close this now?

[2021-01-15 16:56] #509 closed

[2021-01-15 17:50] dnoliver commented on #503
I harcoded this changes in the agent

[code]

And now I can start the `keylime_verifier`, `keylime_registrar` and `keylime_agent` :)

I think there are 2 potential issues in the keylime_agent:
1. with tpm2-tools 4.3, you need to pass `-C o -P ownerpassword` to `tpm2_nvread`, otherwise will fail with auth error
2. for certs with size > 1024, you need to read it in chunks of 1024 bytes. I harcoded m

[2021-01-18 19:09] #498 closed

[2021-01-19 16:27] idvoretskyi commented on #506
Yes, it works here - https://github.com/keylime/keylime/pull/515/checks?check_run_id=1728548215, closing now.

Thanks!

[2021-01-19 16:27] #506 closed

[2021-01-21 18:31] mbestavros commented on #507
@mpeters How has the GHA test been shaking out? Any significant issues?

[2021-01-21 19:14] mpeters commented on #507
It's been soaking for long enough IMO. I say go for it.

[2021-01-21 20:59] mbestavros commented on #507
@lukehinds or another project admin will have to flip the switch

[2021-01-22 06:19] kaifeng opened #518 "tpm.readPCR is not working"
Calling tpm.readPCR will raise an exception as following:

[code]

The value passed to format string should be an integer instead of string. It appears that there is no need to padding manually, as tpm tools already outputs padded values, but I am not sure if there is any historical reason to do so?

[2021-01-22 20:46] dnoliver opened #519 "keylime_webapp don't work after package install"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora Server 33
 * Processor architecture:  x86_64
 * TPM Manufacturer:  Simulator
 * Keylime version: 5.7.2

# Description

`keylime_webapp` fails to start after installation.
Complains about static content missing.

## Expected behavior vs. actu

[2021-01-23 06:54] kaifeng commented on #519
Hi, this is a packaging issue I had run into, since the rpm spec is not maintained in this repo, I am afraid it has to be address by the packaging team of distributions.
For workaround, you can copy all the files under static/ from this repository to the designated location.

[2021-01-23 11:47] lukehinds commented on #519
I will take this on a ship a new release on Fedora.

[2021-01-23 14:42] lukehinds commented on #519
https://bodhi.fedoraproject.org/updates/FEDORA-2021-2c3a0c5c63

[2021-01-25 11:18] lukehinds opened #521 "ans1 package needed in CI and installation scripts"
The [IMA file signing patch](https://github.com/keylime/keylime/pull/496) introduced a new dependency asn1, but this was not added to the docker images for CI and the installer.sh (and ansible role), it is currently only in the requirements.txt

Luckily this is packaged in Fedora as python3-pyasn1

This issue means the changes should be made. I also think we should think of a way handling addition

[2021-01-25 16:47] dnoliver commented on #519
After the update, the verifier and registrar cannot start.

[code]

[2021-01-25 16:49] lukehinds commented on #521
another example of why we need this: https://github.com/keylime/keylime/issues/519#issuecomment-766951400

[2021-01-25 16:50] lukehinds commented on #519
sorry about this @dnoliver , I should have this fixed shortly.

if it's not to much trouble could you try running `dnf install python3-pyasn1 -y` and then try again?

[2021-01-25 16:55] dnoliver commented on #519
apparently, I have python3-pyasn1 already installed:

[code]

[2021-01-25 16:59] kaifeng commented on #519
I also hit this today at CentOS8, python3-pyasn1 was installed already, but this is not the package keylime imports.
@stefanberger may have idea on this.

[2021-01-25 17:02] lukehinds commented on #519
I suspect its a versioning thing (finding out now), we may need to make the ima file sigs optional (if that's possible)

[2021-01-25 17:04] lukehinds commented on #519
@dnoliver so we don't disrupt you too much, if you want a temp work around just run.

pip3 install asn1

[2021-01-25 17:06] lukehinds commented on #519
ok, got it

https://pypi.org/project/asn1/ and https://pypi.org/project/pyasn1/ are different packages.

[2021-01-25 17:25] dnoliver commented on #519
`pip3 install asn1` fix the issue. But keylime_registrar run into a db update problem. Sharing the stacktrace before I clean up my environment:

[code]

[2021-01-25 17:30] mpeters commented on #519
@dnoliver since this db migration issue is a different issue, would you be able to open a new ticket to track it?

[2021-01-25 17:33] lukehinds commented on #519
I put this up to get discussions going : https://github.com/keylime/keylime/pull/523

this is a high priority, so let's try to avoid bike shedding over idioms and such, we can clean up / refine later.

[2021-01-25 17:51] stefanberger commented on #521
I just sent PR #524 that gets rid of this package and rather unused DSA keys.

[2021-01-25 17:55] stefanberger commented on #519
@dnoliver We ran into a DB upgrade problem and I submitted a fix for this: https://github.com/keylime/keylime/pull/515 . Does your build contain this fix?

[2021-01-25 18:04] lukehinds commented on #519
https://github.com/keylime/keylime/pull/524 for ima_file_signatures

@stefanberger I may need to cut a new release with #515 , I will check this.

[2021-01-25 18:19] dnoliver commented on #519
Will create a different issue and reproduction steps for the DB upgrade problem.

Now, related to `keylime_webapp` and the update in https://bodhi.fedoraproject.org/updates/FEDORA-2021-2c3a0c5c63, I have cleaned up my environment (reinstall everything and deleted /var/lib/keylime) and run into the following error while starting the webapp:

[code]

[2021-01-25 18:54] mpeters commented on #519
You probably shouldn't delete `/var/lib/keylime` just everything in it. I'm guessing some parts of the keylime code assume it already exists because the installer should have created it.

[2021-01-26 14:22] lukehinds opened #526 "Discontinue TPM 1.2"
We should consider dropping 1.2.  I don't have a hard time in mind to propose, but let's at least get this up for discussion so its on the record for when we do drop it.

[2021-01-26 14:43] mpeters commented on #526
Agreed. There have been a couple of discussion about new features where we've just decided to not include support for 1.2, but that means it's piecemeal. Would be good to formally drop everywhere.

[2021-01-26 14:46] lukehinds opened #528 "isAlive deprecated in python 3.9.0"
[code]

threading.Thread 's method `isAlive()` was renamed to `is_alive()` since Python 3.9.0

a good example of a useless, but breaking change in upstream python.

[2021-01-26 16:14] lukehinds commented on #528
This is backported to Python 3.6 so we can change to `is_alive` and it won't have any impact on non ELA python releases

https://bugs.python.org/issue37804

[2021-01-26 16:48] galmasi commented on #526
+1. We are a bit hamstrung in our measured boot work by the existence of TPM1 code. Without TPM1 support we could streamline the code with fewer headaches.

[2021-01-26 16:50] lukehinds commented on #526
Let's drop it then. I don't see any reason for hanging around here. Let's have this sit for the rest of Jan and ship a 6.x release where we nuke TPM 1.2 support.

[2021-01-26 16:53] lukehinds opened #530 "Remove Deep Quote Code"
Let's drop the deep quote code

1. It only works on xen, is anyone using xen (I am not sure if even works on current xen versions)?
2. We have had security researchers pick holes in the code. Considering point 1, its a false optic having it there.

I propose we let this sit for Jan and then nuke it in a 6.x release.

[2021-01-26 16:54] galmasi commented on #500
We have not made a lot of progress on this --

* the first major issue to settle is to provide some hardware for running end-to-end tests. We are experimenting in the IBM intranet with setting up an end-to-end test based on 6 to 8 virtual machines running in a single physical machine, each of the VMs supported by swtpm. This makes the test environment look *almost* identical to real hardware.

* f

[2021-01-26 17:02] kaifeng commented on #530
Not sure it works on xen now but pretty sure logic around it was broken for quite a time.
Speaking about security, I suggest we consider using popular api framework for agent and registrar, they are implementing http service on std lib, which is discouraged in production environment.

[2021-01-27 17:27] dnoliver commented on #503
Following up with this:

1. It seems like the Hyper-V vTPM is misbehaving. It does not allow you to read a nv index with a size greater than 1024 after changing the owner authorization. The vTPM EKCert size is 1536 bytes :(. See https://github.com/tpm2-software/tpm2-tools/issues/2302#issuecomment-768430688 for a test to reproduce this. So, to make the `keylime_agent` to work with this vTPM in Hype

[2021-01-28 02:55] SeJohnEff commented on #519
I confirmed today that keylime_webapp works OK on Ubuntu 18 LTS but I get same error on Ubuntu 20 and on vm (fedora 33).
"Exception: Static resource directory could not be found in /usr/lib/python3.9/site-packages/keylime!"

[2021-01-28 03:04] SeJohnEff opened #531 "keylime_client does not work on real tpm"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Raspbian
 * Processor architecture: Raspberry pi4
 * TPM Manufacturer: Infienon
 * Keylime version: Latest

# Description

## Expected behavior vs. actual behavior
Expected: communication with real tpm
Actual: it does not

## Steps to reproduce pro

[2021-01-28 03:33] SeJohnEff commented on #531
I actually thought that "if 'TPM2TOOLS_TCTI' not in env:" would check env but seems it does not so that is why I simply commented out "env['TPM2TOOLS_TCTI'] = 'tabrmd:bus_name=com.intel.tss2.Tabrmd".
Guess the if case somehow doesn't work.

[2021-01-28 12:24] lukehinds commented on #531
hey @SeJohnEff , would you happen to have slack at all?

If so please jump on the CNCF server: https://cloud-native.slack.com and join the channel #keylime

We can work quicker to help you on there. I have a pi4 here as well with the same chip.

If not we can debug in here, but it might take a little longer.

[2021-01-28 13:22] SeJohnEff commented on #531
OK, will try

[2021-01-28 15:59] dnoliver commented on #519
There are no missing files. The problem is that the paths are not calculated correctly. Added a couple of debug statement in the offending code and got the following:

[code]

It is appending the basedir to an already global path.

[2021-01-29 17:46] #531 closed

[2021-01-29 17:47] SeJohnEff commented on #531
My mistake, no bug

[2021-02-02 04:43] #412 closed

[2021-02-03 16:39] MikeSpreitzer opened #535 "Untrusted data in format string"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: all
 * Processor architecture: all
 * TPM Manufacturer: all
 * Keylime version: current `master` branch (commit d987c71dd878492ac2b59eca781009fe270d219a), and earlier

# Description
The first argument of `logger.error` &etc is a format string, not

[2021-02-03 16:58] galmasi commented on #530
I agree with @kaifeng that the logic around deep quote is broken. Add to that the fact that it is not TCG compliant and has serious issues (some were pointed out by @stefanberger a while ago).

How much of the "provider" keylime infrastructure goes away along with the deep quote? @lhinds I am assuming you are not just referring to the "deepquote" function in tpm_abstract.py

[2021-02-03 17:35] stefanberger commented on #530
My criticism about deep quote is how can one establish trust top-down if 'down' may be completely corrupted? If you do it, you have to do it bottom-up, just like the BIOS taking measurements, then the bootloader, then the OS -- all bottom-up.

[2021-02-03 17:43] lukehinds commented on #530
To piggy back on this discussion, the deep quote was originally of course for VMs as a workaround (to grab the nearest word) for a lack of no HWRootOfTrust. If anyone has any ideas of an implementation to leverage trust into containers / vms they would like to propose and experiment with in Keylime - I would heartily recommend to go for it.

We have this work that was trailed out a year ago: https

[2021-02-03 19:01] lukehinds commented on #535
At some point we had a plan to move over entirely to fstrings and most new patches to do this.

I think the following would be good.
1. We move over entirely to [f-strings ](https://security.stackexchange.com/questions/238338/are-there-any-security-concerns-to-using-python-f-strings-with-user-input), if you agree this is suitable @MikeSpreitzer
2. We plug something into CI check the old string for

[2021-02-03 19:07] MikeSpreitzer commented on #535
I am fond of the f-strings, but to pass one where an old-style format string is expected would be a mistake.  Can you expand a little on exactly what you are suggesting?

[2021-02-04 08:51] kaifeng commented on #530
My thought on the VM world is treating VMs the same way as Hosts. If we trust swtpm/qemu running at the underlying OS, we should be able to trust the EK Cert (if memory serves, swtpm can do this) as well as the EK goes with it.

[2021-02-04 12:31] stefanberger commented on #530
@kaifeng That is if the machine is trusted to be instrumented with trusted boot and IMA (rather than a corrupted machine loading some extends into the pcrs that make it look good) and the recipient of the quote and EK certificate knowing for sure that the VM is located on top of this host (rather than the corrupted host forwarding the quote request to a remote machine).

[2021-02-04 18:07] lukehinds opened #537 "docker script error"
Opening this for a user who sent it to the keylime list

I tried to run the docker environment, but facing a problem when selecting the option for tpm 1.2 or tpm2.0. When selecting a or b i am getting error

"/bin/bash: /root/keylime/.ci/test_wrapper.sh: no such file or directory
failed to resize tty, using default size"

it would be great if you can help.

[2021-02-09 00:47] kaifeng commented on #507
GHA works well for a while, but travis is failing at the moment, I think it's a good time to move forward.

[2021-02-10 09:30] #528 closed

[2021-02-12 16:40] lukehinds opened #545 "tenant should validate action_list"
Tenant does not parse out local_actions_* from the action_list to ensure all files are present before sending to the agent.

[2021-02-12 17:14] dnoliver commented on #519
any new updates to test?

I manually changed my `tenant_webapp.py` to workaround the problem described above:

[code]

[2021-02-12 19:57] dnoliver opened #546 "scripts/create_allowlist.sh doesn't produce a boot_aggregate item and IMA attestation requires it"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

I believe it is an issue with the current implementation.

# Environment
 * OS / version: Fedora Server 33
 * Processor architecture: x86_64
 * TPM Manufacturer: Microsoft HyperV vTPM
 * Keylime version: keylime-5.8.0-1.fc33.noarch

# Description

`scripts/create_allowlist.sh` d

[2021-02-12 20:41] dnoliver commented on #546
I just noticed that enabling IMA attestation doesn't make Keylime to quote PCR 0 to 7.
As shown in the log below, the quote is being done over `sha256:15,16,22+sha1:10`.
I think it should be mandatory to quote PCR 0 to 7 when IMA is enabled, so you can reconstruct the `boot_aggregate` from the quote in the verifier, and "extend the Hardware Root of Trust to the userspace components".

[code]

[2021-02-12 20:49] nabilschear commented on #546
hi, so the boot aggregate is a roll-up of those lower PCRs, so you can use that.  It's a bit complicated to compute, but there is some code to do it.  http://linux-ima.sourceforge.net/linux-ima-measurements.html  You're right though that create_whitelist.sh doesn't check this.  You can add it by hand to your whitelist using the above kernel test code.

[2021-02-12 21:16] lukehinds commented on #546
sounds like a good change to me, or you up for amending the create_allowlist @dnoliver ?

[2021-02-12 21:28] dnoliver commented on #546
I think that, to solve the immediate problem of having a demo that just works, adding some commands in `scripts/create_allowlist.sh` to append the current boot_aggregate (taken from `/sys/kernel/security/ima/ascii_runtime_measurement` or computed from the output of `tpm2_pcrread`) to the allowlist output works. I think I can do that @lukehinds :)

But for the future, I really think that keylime sh

[2021-02-12 21:35] lukehinds commented on #546
The sha1 is interesting @dnoliver , at first it sounds weak, but then you factor in that IMA uses an 'extend operation' to compute a long chain of measurements (all being concatenated and then hashed again), so this negates the risks of collisions you get with a single sha1, so sha1 in this context is not collision prone.

@maugustosilva / @galmasi , I seem to remember one of you guys saying you k

[2021-02-12 21:56] dnoliver commented on #546
`tsseventextend` computes the boot aggregate

[code]

This repo also provides a tool for computing it: https://github.com/initlove/attest-tools.

The Linux Test Project also have code a test for it: https://github.com/linux-test-project/ltp/blob/master/testcases/kernel/security/integrity/ima/src/ima_boot_aggregate.c

[2021-02-13 13:49] maugustosilva commented on #546
@dnoliver @lukehinds Two quick comments:
1) Yes, you are correct, the scripts we have currently on the repository do not add the boot aggregate as the first item on the `allowlist`, and the solution that you pointed out (grabbing from `ascii_runtime_measurement)` is the correct one. We have been using internally a significantly improved version of the script, and I fully intend to open a PR on thi

[2021-02-13 19:47] galmasi commented on #546
I believe `tpm2_eventlog` in the Intel TPM2 tool chain will do things similar to tsseventextend. We are using it, in any case, as part of measured boot -- which the boot aggregate represents, in the PRs @maugustosilva is referring to.

[2021-02-17 04:30] MikeSpreitzer opened #548 "Python 3.9 is out"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: any
 * Processor architecture: any
 * TPM Manufacturer: any
 * Keylime version: `master` branch

# Description
I just noticed there is a list of Python minor versions, at https://github.com/keylime/keylime/blob/1d0f695c0848b001acb0ab01de46094494884

[2021-02-17 21:07] kgold2 opened #549 "keylime.tpm1 - ERROR"
This is probably a documentation issue, not a SW bug.

# Environment
 * OS / version: Ubuntu
 * Processor architecture: x86
 * TPM Manufacturer: SW TPM
 * Keylime version: unknown

# Description

keylime_agent seems to default to TPM 1.2.

## Expected behavior vs. actual behavior

I expect a way for the agent to target TPM 2.0.

## Steps to reproduce problem

1. Run keylime_agent with no TPM 1.2

[2021-02-17 21:12] kgold2 opened #550 "keylime_agent is not flushing keys when it completes"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu
 * Processor architecture: x86
 * TPM Manufacturer: SW TPM
 * Keylime version: unknown

# Description

keylime_agent is not flushing keys when it completes

## Expected behavior vs. actual behavior

Expected it to flush all resources when co

[2021-02-17 22:18] kgold2 opened #551 "Error running keylime_tenant -c add -t 127.0.0.1 -v 127.0.0.1 -u D432FBB3-D2F1-4A97-9EF7-75BD81C00000 -f filetosend"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: ubuntu 20
 * Processor architecture: x86
 * TPM Manufacturer: SW TPM
 * Keylime version:

# Description

I get an error when I run this for the first time:
keylime_tenant -c add -t 127.0.0.1 -v 127.0.0.1 -u D432FBB3-D2F1-4A97-9EF7-75BD81C00000 -f f

[2021-02-18 06:43] lukehinds commented on #551
It looks like there might have been an attempt to add before which never completed. However I do think we might have a bug here, even in as much as the stack trace is unmeaningful and could be handled more gracefully.

could you try again with `-c delete` and then run again with `-c add`

[2021-02-18 06:48] lukehinds commented on #549
do you also have trousers and the tpm1 env set up?

Here is the code which sets the tpm version to use (Its based on tooling present)

https://github.com/keylime/keylime/blob/1d0f695c0848b001acb0ab01de46094494884506/keylime/tpm/tpm_obj.py#L22-L37

I don't honestly think the above is a good approach, but shortly TPM1 will be removed and so will this code. If you have trousers etc are you OK to remo

[2021-02-18 06:54] lukehinds commented on #550
Apologies this is proving unruly.

I would recommend we clean down the env. Try this:

1. Stop all three servicers (keylime_registrar, keylime_verifier, keylime_agent)
2. `unmount /var/lib/keylime/secure`
3. `rm -r /var/lib/keylime`

Might be worth clearing the state of your vtpm as well and creating a fresh one with swtpm.

After that run the keylime_verifier, keylime_registrar, keylime_agent and

[2021-02-18 15:46] lkatalin opened #552 "Provide default revocation actions template"
We had an idea in the Rust agent sync-up meeting that it could be useful for people using Keylime to have some default revocation actions to choose from in addition to being able to fully customize.

[2021-02-18 18:43] kgold2 commented on #549
Thanks for the reply.  That was the issue.  I just remained getcapability.

I agree that it's not a good way to decide - forcing an uninstall.  Perhaps a command line argument to the program or an entry in the configuration file would be better?

[2021-02-18 18:43] #549 closed

[2021-02-18 18:59] lukehinds commented on #549
We are just on the verge of removing tpm1 support, so this slip up won't happen again.

[2021-02-18 20:32] kgold2 commented on #550
Thanks for the post, which answers my "how do I wipe everything and start over" question.

When I do this, I'm back to https://github.com/keylime/keylime/issues/551. Two snips of the long trace are below.

1. How could a TPM 2.0 not have a valid EK?
2. Could it be trying to say that it does not have a valid EK **certificate**?  Should I be provisioning EK certificates?  I can do that.  Does keylim

[2021-02-18 20:37] kgold2 commented on #551
If I delete and then add, I get a longer error trace.  Here it is:

Using config file /etc/keylime.conf
2021-02-18 15:35:46.527 - keylime.tenant - INFO - Setting up client TLS in /var/lib/keylime/cv_ca
2021-02-18 15:35:46.527 - keylime.tenant - INFO - TPM PCR Mask from policy is 0x408000
2021-02-18 15:35:46.527 - keylime.tenant - INFO - TPM PCR Mask from policy is 0x808000
/usr/lib/python3/dist-pa

[2021-02-18 20:40] lukehinds commented on #551
hmm this looks like the tenant is not able to connect, does the agent say anything?

[2021-02-18 20:44] lukehinds commented on #550
ah yes, good point

In the keylime root directory (of this repo) is a tpm_cert_store, we often put this in /var/lib/keylime, its a configurable value

https://github.com/keylime/keylime/blob/1d0f695c0848b001acb0ab01de46094494884506/keylime.conf#L282-L283

This contains the manufacturer's certificate chain (intermediate certs?). Now with the vtpm you need to get this yourself. Our man @stefanberger

[2021-02-18 20:45] lukehinds commented on #552
that's a good idea @lkatalin , there were some discussions around setting up an examples dir that people could contribute to. I know @axelsimon was looking into this, but it may not have got much traction.

[2021-02-18 22:09] stefanberger commented on #550
@lukehinds From what I am hearing from Ken is that his setup is using tpm_server rather than swtpm. I have never used it so I don't know whether an EK & EK cert is created when tpm_server is used. If running the agent inside a QEMU VM with swtpm attached and started by libvirt I would know where to go for the certs: /var/lib/swtmp-localca. A wiki entry from the swtpm project is [here](https://gith

[2021-02-18 22:16] kgold2 commented on #550
I've restarted tpm_server many times.  The connection is OK.  In fact, the issue for this PR is that keylime is loading keys and then not cleaning up when it's done.

However, no matter how many times I restart the TPM, that won't create an EK certificate.  So, what's the process?

(BTW, Stefan sent me to you.)

[2021-02-19 06:36] lukehinds commented on #550
ok got it, for the tpm_server we set `require_ek` to `false` , as we never knew of a way of creating an EK in the tpm_server (not making a statement that its not possible, you if anyone would know if it is).

I will try go grab some time today to bring up an instance and make some checks with master against the tpm_server. This was our startup script if its anyuse https://raw.githubusercontent.com

[2021-02-23 08:24] lukehinds opened #553 "Perform checks for tpm_cert_store"
Currently if the tpm_cert_store is not present, we just fail to find the EK cert

[code]

We should do some sort of validation that the directory exists and if not warn the user. I expect a lot of users will miss that this needs copying into place first.

[2021-02-24 14:30] #546 closed

[2021-02-26 09:16] MartinMa28 opened #554 "keylime_verifier: UnboundLocalError: local variable 'query_all' referenced before assignment"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 33 Workstation
 * Processor architecture: x86_64
 * TPM Manufacturer: tpm simulator https://downloads.sourceforge.net/project/ibmswtpm2/ibmtpm1332.tar.gz
 * Keylime version: keylime-5.7.2-2.fc33

# Description
Seems like a syntax error in th

[2021-02-26 09:34] MartinMa28 opened #555 "keylime_agent: Unable to run tpm2_getcap"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 33 Workstation
 * Processor architecture: x86_64
 * TPM Manufacturer: tpm simulator https://downloads.sourceforge.net/project/ibmswtpm2/ibmtpm1332.tar.gz
 * Keylime version: keylime-6.0.0-1.fc33

# Description
Seems like keylime_agent cannot

[2021-02-26 09:40] MartinMa28 commented on #519
Has nothing to do with '/var/lib/keylime'. keylime_webapp has the same problem in ansible tpm emulator.
It works after:
1. copy static files from /static to the installed python site-packages directory
2. make the code change in tenant_webapp.py like @dnoliver mentioned

[2021-02-26 11:37] lukehinds commented on #554
@mpeters I wonder if this is an alemic issue and we need something in the RPM to handle migrations?

[2021-02-26 11:47] lukehinds commented on #554
actually this seems to be present only on 5.7.2

[2021-02-26 12:10] maugustosilva opened #556 "The current code does not allow the deployment of agents onto verifiers (regression)"
Using latest Keylime (Feb 24th 2021 commits) and attempting to deploy an `agent` on a `verifier`.

[code]

Notes:
* The relevant line seems to be: `2021-02-25 20:45:26.772 - keylime.tpm - ERROR - PCR #16: invalid bind data 3ec94c6449b1fd0cb6cdc8a7e922468124a2340423878a912658b626134ad733 from quote does not match expected value 269fc9c338529e1d87259c32be69e72ef8b8a8043d2d0e48090397e1d532905c`
* The

[2021-02-26 14:54] lukehinds commented on #556
@puiterwijk could you take a glance at this on Monday please.

[2021-02-26 15:01] #526 closed

[2021-02-26 15:02] #530 closed

[2021-03-01 07:03] lukehinds commented on #421
I will close this for now, you can re-open if its still unanswered @Epiphyll

[2021-03-01 07:03] #421 closed

[2021-03-01 11:52] lukehinds commented on #555
@MartinMa28 might have a fix for this, just need to bring up an instance with the ibm emu and verify: https://github.com/keylime/keylime/pull/557

[2021-03-01 12:16] lukehinds commented on #555
actually as this is an ibm emulator there is no ek, so you may not need the fix.

run again, but before you do so, change the following value from true to false in /etc/keylime.conf:

`require_ek_cert = False`

going forwards it might better to use the vtpm , if you need the steps to set it up, just let me know in this issue.

[2021-03-01 12:18] lukehinds opened #558 "Clean up readme"
This could do with a good refactor, there is a lot on there that is no longer relevant. Also includes steps on setting up the swtpm.

[2021-03-01 12:35] lukehinds commented on #556
using PR #557

![image](https://user-images.githubusercontent.com/7058938/109497829-8a578880-7a8a-11eb-846b-48351dff5fb2.png)

[2021-03-01 17:41] maugustosilva commented on #556
@lukehinds works for me with this new PR

[2021-03-01 19:25] #556 closed

[2021-03-01 20:09] lukehinds opened #562 "Remove TPM 1.2 from install script."
# Environment
 * OS / version: all
 * Processor architecture: all
 * TPM Manufacturer: all
 * Keylime version: master

# Description

installer.sh contains a flag to install with 'modern libraries' (which means 2.0), tpm1.2 is deprecated, so this needs removal.

[2021-03-01 21:33] #558 closed

[2021-03-01 22:57] MartinMa28 commented on #555
Sure, if swtpm is a better option compared to ibm emulator for keylime, I do need some help on running swtpm in addition to its wiki. Thanks!

[2021-03-02 00:10] MartinMa28 commented on #555
In my case, change `require_ek_cert` from `True` to `False` doesn't fix this issue. I am still getting the same error.

[2021-03-02 07:15] lukehinds commented on #555
I see the issue now, we have a fix in master for this: https://github.com/keylime/keylime/commit/f54343c33bcd83d704a0683b9f4321a63131a71b

I am going to push out a fedora update asap this morning.

Hang ten on the vtpm stuff, let me document this for you. If OK with you, you can then validate and review the content to make sure it works

Sorry about the breakages. we just went up a major release (

[2021-03-04 11:34] lukehinds commented on #555
@MartinMa28 keylime 6.0.1 is on fedora 32/33/34

To get the swtpm to work, run the following in the same shell as where you start the keylime agent:

[code]

swtpm.sh

[code]

[2021-03-04 17:56] stefanberger commented on #521
Some householding: Is this still an issue or can we close it?

[2021-03-04 19:42] #521 closed

[2021-03-04 19:43] lukehinds commented on #555
I will close this for now, please open if you see it again

[2021-03-04 19:43] #555 closed

[2021-03-04 22:50] kgold2 opened #570 "Automated installer fails on Build and install tpm2-tools"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: ubuntu 20
 * Processor architecture: x86
 * TPM Manufacturer: sw tpm
 * Keylime version: master

# Description

Automated installer fails on Build and install tpm2-tools

## Expected behavior vs. actual behavior

Expected no error

## Steps to repr

[2021-03-05 06:18] lukehinds commented on #570
This looks like an upstream issue in there Makefile, I don't think there is much we can do in our installer (although thanks for flagging it up). I wonder if we should switch ubuntu / debian to using apt-get for install tss/tools etc (the last time this was looked at ubuntu / debian packaging was running very old versions).

[2021-03-05 16:40] kgold2 commented on #551
I tried the latest master at someone's advice.  Here's what I get now.  https issues, an odd message about more than one EK, a python backtrace, and then a mesaage that the quote is invalid but not why.

What should I try next?

keylime_tenant -c add -t 127.0.0.1 -v 127.0.0.1 -u D432FBB3-D2F1-4A97-9EF7-75BD81C00000 -f filetosend
Using config file /etc/keylime.conf
2021-03-05 11:35:35.381 - keylime

[2021-03-05 16:42] kgold2 commented on #551
The agent says this:

2021-03-05 11:41:08.951 - keylime.cloudagent - INFO - GET invoked from ('127.0.0.1', 58520) with uri:/quotes/identity?nonce=LRimAiv0qkneRkLTU40s
2021-03-05 11:41:09.007 - keylime.cloudagent - INFO - GET invoked from ('127.0.0.1', 58521) with uri:/quotes/integrity?nonce=OrDbgwqnfT1uWz3WqTWo&mask=0x408000&vmask=0x808000&partial=0
2021-03-05 11:41:09.567 - keylime.cloudagent - I

[2021-03-05 17:02] lukehinds commented on #551
Thi should be simple:

`cp -r keylime/tpm_cert_store /var/lib/keylime`

[2021-03-05 17:03] lukehinds commented on #551
although you will need a signing cert in there (this is where the manufacturer certs go).

[2021-03-05 20:35] kgold2 commented on #551
Thanks.  This is obscure enough that I suggest adding it to the install instructions.

[2021-03-05 20:37] kgold2 opened #571 "keylime_verifier crashes sometimes when old agents haven't been deleted"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment Ubuntu
 * OS / version: focal
 * Processor architecture: x86
 * TPM Manufacturer: sw tpm
 * Keylime version:

# Description

 keylime_verifier fails to start after ^C.

## Expected behavior vs. actual behavior

Expected it to start.

## Steps to reproduce problem
1

[2021-03-05 20:40] lukehinds commented on #571
This is having trouble connecting to the agent, if your agent running?

[2021-03-05 20:42] lukehinds commented on #551
I do agree, I have an issue to capture if gracefully and inform the user, as the current message is not very helpful

https://github.com/keylime/keylime/issues/553

[2021-03-05 21:10] #551 closed

[2021-03-05 21:27] kgold2 commented on #571
No, the aent was not running.  My rough notes on how to start keylime say to start the verifier first.  That sometime works.  Is there a better order?

I thought the verifier was on the server and the agent(s) were on the client.  Is that wrong?

Is there any documentation on how to start keylime?  And how to wipe the state and start over after a patch?

I have a sense that there are a lot of part

[2021-03-05 21:59] kgold2 opened #572 "keylime_agent runs in a loop, then crashes"
# Environment
 * OS / version: ubuntufocal
 * Processor architecture: x86
 * TPM Manufacturer: sw tpm
 * Keylime version: master

# Description

keylime_agent loops, then crashes

## Expected behavior vs. actual behavior

I don't know.  I assumed that one run of the agent would do one quote.  What should actually happen?  Is the expected behavior documented anywhere.  Am I running the tenant incor

[2021-03-05 22:50] tstruk opened #573 "Update to more recent version of tpm2-tss"
The installer pull in tss v2.0, which is old and not supported.
https://github.com/keylime/keylime/blob/master/installer.sh#L17
Please update this to a more recent version.

[2021-03-08 17:12] kgold2 opened #574 "Pythin on ubuntu 16 xenial"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: ubuntu 16
 * Processor architecture: x86
 * TPM Manufacturer: na
 * Keylime version: master

# Description

Keylime expects a version of python that is not available.  The documentation needs to include a remediation or work arounnd.

## Expected b

[2021-03-08 19:51] maugustosilva opened #575 "Attempting to use `ek_check_script` is causing `keylime_tenant` to fail"
This is a regression was (seemingly, did not check systematically) around the time changes were made  to address  CVE-2021-3406. When `keylime_tenant` is executed with a non-empty value `ek_check_script` under `[tenant]` section on `/etc/keylime.conf`, the following error appears:

[code]

The problem lies on `tenant.py` and a PR with a (simple) fix shall appear momentarily.

[2021-03-08 20:26] #575 closed

[2021-03-09 09:08] MartinMa28 opened #577 "keylime_webapp fails to set up client TLS in Ubuntu 20.04 (Fedora 33 works)"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 20.04.2 LTS
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: 6.0.1

# Description
This issue is a follow-up to #519 .
Basically, in #519, keylime_webapp has two problems (still not fixed yet in 6.0.1):
1. The

[2021-03-09 10:42] lukehinds commented on #577
thanks for detailed report @MartinMa28 , I can't say I know who maintains the Ubuntu package.

@galmasi would this be a downstream pull from your debian package?

[2021-03-09 10:43] lukehinds commented on #519
I will push this out to fedora this week

apologies for the breakages, not many use the GUI. its actually more of a prototype, maybe this merits us improving the whole UI code base.

[2021-03-09 23:00] kgold2 opened #578 "What version of RHEL does keylime support"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: RHEL 7.9
 * Processor architecture: x86
 * TPM Manufacturer: n/a
 * Keylime version: master

# Description

https://github.com/keylime/keylime/blob/master/README.md says that RHEL 7 and 8 are supported.  However, the install script says:
Version 7.

[2021-03-11 21:08] kgold2 opened #581 "RHEL 7.9 python3 -m pip install -r requirements.txt"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: RHEL 7.9
 * Processor architecture: x86
 * TPM Manufacturer: n/a
 * Keylime version: master

# Description

python3 -m pip install -r requirements.txt fails

## Expected behavior vs. actual behavior

Expected success, got error.

## Steps to reprod

[2021-03-12 17:48] stefanberger opened #582 "keylime_agent broken for non-x86_64 architectures due to libefivar.so not being available"
# Environment
 * OS / version: Fedora 32
 * Processor architecture: PowerPC64
 * TPM Manufacturer: Nuvoton
 * Keylime version: today's master (1766957a748140d6040df70f)

# Description

The keylime_agent fails to start on ppc64. The needed package providing the library is not available on this platform.

[code]

## Expected behavior vs. actual behavior

keylime_agent should work

## Steps to reprod

[2021-03-12 19:10] mpeters commented on #582
@maugustosilva It seems that requiring libefivar just for `tpm_bootlog_enrich()` means it gets pulled in for the agent, which we don't want. Can we change `tpm_main` to dynamically load `tpm_bootlog_enrich`  just in calls to `parse_binary_bootlog`? This should remove the need for the agent to depend on a lib it doesn't use.

[2021-03-12 21:20] stefanberger commented on #581
I ran into a similar problem today and could avoid it by running the following on Fedora 32:

[code]

I had cryptography already installed and this put it to v3.0.0 and satisfied the cryptography>=2.9 requirement from requirements.txt, thus not triggering the pip install/update that is part of Keylime's install.sh file. The error you are running into seems like a dependency issue of the cryptograp

[2021-03-12 21:31] stefanberger commented on #578
This would probably fix this *step*:

[code]

I cannot tell whether you would run into other issues with this older version of RHEL since I haven't tried installing it there myself.

The trouble with the VERSION_ID comes from this here:
RHEL identifies itself like this:
[code]

CentOS like this:
[code]

[2021-03-12 21:40] stefanberger commented on #574
Ubuntu 16.04 is likely too old at this point.

This is from installer.sh:
[code]

So, something may have driven the minimum python version requirement to 3.6.7. It looks like this patch here did that:

[code]

Whether that's a hard requirement, as in 'doesn't work with 3.6.6`, is not clear, but bionic-updates (Ubuntu 18.04) has this particular version of python3: https://packages.ubuntu.com/search

[2021-03-14 23:05] stefanberger opened #584 "agent activation issue: Unable to run tpm2_policysecret"
# Environment
 * OS / version: Fedora 32
 * Processor architecture: PowerPC64
 * TPM Manufacturer: Nuvoton
 * Keylime version: git master (1766957a748)

# Description

Start of keylime_agent at some point results in the following issue. Typically a reboot resolves the issue but I don't know whether this requires a reboot. It could be an issue with the TPM 2 itself or an issue related to some clean

[2021-03-15 00:19] stefanberger opened #585 "Occasional tpm2_quote failures"
# Environment
 * OS / version:  Fedora 32
 * Processor architecture: PowerPC64
 * TPM Manufacturer: Nuvoton
 * Keylime version: git master ()
 * tpm2-tools: 4.1.3-1.fc32

# Description

I see occassional tpm2_quote failures. I don't know what is causing these failures. Maybe it's activity on the system, but that's just a guess.

[code]

## Expected behavior vs. actual behavior

tpm2_quote should a

[2021-03-15 13:41] stefanberger commented on #581
3.3.2 is the last 3.3.x version at the moment and it works:

[code]

`cryptography==3.4.6` does not work for me even after installing setuptools_rust due to this error here:

[code]

[2021-03-15 14:24] mpeters commented on #581
So should we bump up the requirement for cryptography to 3.3.2?

[2021-03-15 14:33] stefanberger commented on #581
If we need to install we should probably only install 3.3.2 to avoid the rust issues.

[2021-03-15 16:38] stefanberger opened #586 "keylime_verifier fails to start on Ubuntu 18.04 (on Z) due to SQLAlchemy"
# Environment
 * OS / version: Ubuntu 18.04
 * Processor architecture: Z
 * TPM Manufacturer: None
 * Keylime version: git master (1766957a748)

[code]

# Description

Start of keylime_verifier fails like this:

[code]

[2021-03-15 16:42] stefanberger commented on #586
I had this running on 'Z' before but hadn't followed the git tree in a while. Troubles started when upgrading to master and DB update/migration failed. The above is now a result of me removing the sqlite database files entirely.

[2021-03-15 16:50] mpeters commented on #586
What version of SQLite are you running? I didn't realize that column renaming support is relatively new (v3.25.0) for sqlite, so we might have to go with the `batch_op` approach that we use for things like `DROP COLUMN` for sqlite.

[2021-03-15 16:54] stefanberger commented on #586
@mpeters

[code]

[2021-03-15 17:29] mpeters commented on #586
@stefanberger can you see if https://github.com/keylime/keylime/pull/587 fixes this for you?

[2021-03-15 17:42] mpeters commented on #586
Well, hold off, it's not working in CI. Tracking down why

[2021-03-15 18:54] stefanberger commented on #586
This issue is now resolved.

[2021-03-15 21:38] stefanberger commented on #582
On Fedora efivar-libs-37-14 has this content

[code]

Only efivar-devel has the symlink /usr/lib64/libefivar.so but this one is typically not installed.

[code]
also see: https://fedora.pkgs.org/33/fedora-x86_64/efivar-libs-37-14.fc33.x86_64.rpm.html
and here: https://fedora.pkgs.org/33/fedora-x86_64/efivar-devel-37-14.fc33.x86_64.rpm.html

So, on Fedora you may have try to to load libefivar.so.1

[2021-03-16 12:12] stefanberger commented on #584
I tried this again by repeatedly starting the keylime_agent and terminating it once it had fully initialized. Repeating this several times led to a different failure first and then to this failure:

[code]

A restart of tpm2-abrmd did not resolve the issue.
The handles at the time of failure looked like this:

[code]

[2021-03-16 14:43] #586 closed

[2021-03-16 18:06] stefanberger commented on #585
On the `tpm2_quote` side, run by  the keylime_agent, one would have to repeat the retrieval of the PCR values and quote until they match. On a busy system this could take a while but it's not quite clear why the checking is done in the first place. Are we not trusting the quote done by the TPM 2? What are we gaining from this? However, it seems necessary that we transmit the PCR values (along with

[2021-03-16 18:26] stefanberger commented on #585
... Though when walking the list of (IMA) measurements one has to know the PCR (10) value of the TPM at the time of the quote, so it does seem necessary to have a trusted value here, which is more complicated to come by when multiple PCRs are quoted, as is the case here (`sha256:15,16,22+sha1:10`; what  is in pcr15, 16 and 22?). I guess the only way to fix this is in the tpm2_quote tool or on the

[2021-03-17 14:24] stefanberger commented on #585
Quoting and PCR retrieval are two distinct operations that may have problems on a busy system unless they were to be executed atomically, meaning nothing can come in between the quote and the PCR retrieval, but this is not possible today. If we have a system with lots of IMA measuring activity, such as may be the case during boot or when a large application is started up, the current tpm2_quote to

[2021-03-17 15:40] #582 closed

[2021-03-18 16:34] stefanberger commented on #585
@mpeters @puiterwijk @maugustosilva @lukehinds @kaifeng Is there a tolerance knob to turn on that allows tpm2_quote failures on the agent side? From what I have seen on the verifier side is that it gives up monitoring a system if the tpm2_quote failed on the agent side. tpm2_quote will have PCR matching failures on a system with activity on the host and this will also prevent it from activating th

[2021-03-18 16:55] mpeters commented on #585
@stefanberger there isn't a tolerance knob that I'm aware of, but given the problem you've laid out it does seem like something like that might be necessary

[2021-03-18 17:18] stefanberger commented on #585
I haven't used it with measured boot so far. Are the measured boot PCRs included in any quote?

There are a couple of choices:

1. introduce a per-agent tolerance counter on the verifier side and ignore up to n consecutive failures until declaring a system as untrusted
2. modify tpm2_quote to loop over retrieving quote and PCRs until a match has been found or a maximum of x times; this can delay t

[2021-03-18 17:51] mpeters commented on #585
Probably a question for @maugustosilva and crew

Does this make things less secure? Would it create a window where a system could be compromised but then shimmed up in a way to pretend to not be compromised later? I can't think of a scenario that would work since if it passes quote checks in the future it means past failures weren't really failures.

Are we talking on the agent side before it send

[2021-03-18 19:24] kgold2 commented on #585
Long term, the solution is straightforward (and has already implemented and tested).  Ignore the TPM's PCRs - they add no value.  Verify the quote hash against the event logs.  This just works.

Any looping solution will be unreliable and perform poorly.

[2021-03-18 20:01] maugustosilva commented on #585
so @mdrocco wrote a couple of patches with the intent of solving (or at least alleviating) the problems with `PCR 10` and `IMA` log being out of sync. His patch greatly reduced the amount of attestation errors but I have been seeing occasional errors on my (for now, reduced to 4K agents) scalability testbed.

I still believe the problem only manifests itself with `IMA` enabled on keylime, at least

[2021-03-18 20:31] kgold2 commented on #585
"I can't think of a scenario that would work since if it passes quote checks in the future it means past failures weren't really failures."
Correct.  It would not be nice if a fully secured system was reported as failing because of a bug in the verifier.

"His patch greatly reduced the amount of attestation errors but I have been seeing occasional errors on my (for now, reduced to 4K agents) scala

[2021-03-18 20:33] stefanberger commented on #585
It seems we are quoting PCRs 0-9 + 10 + 11-15. We can replay logs for 0-9 probably from bios measurements 10 from IMA log. But what is logging 11 - 15 so that these  could be replayed and used in a quote verification?

[2021-03-18 22:43] maugustosilva commented on #585
@stefanberger right, PCRs 0-9 can be rebuilt from tpm2 event log sent by the `keylime agent` , PCR 10 from the IMA log (thanks to @mdrocco patch on keylime, we keep checking if we get a match for PCR 10 before the end of IMA log sent by the agent: this greatly reduced the number of quote errors) and PCRs 11-15 are theoretically used by some disk encryption OS tools (e.g., I believe Windows BitLock

[2021-03-18 22:58] maugustosilva commented on #585
@mpeters @stefanberger would this per-agent tolerance counter (option 1) be kept in memory? If in memory, we need to deal with `verifier` restarts, if on db, we would be introducing a "historical" information which cannot be rebuilt from the information accessed from `agent` and `registrar`

@mpeters before we consider long term solutions, I believe should instrument the `verifier` code to log the

[2021-03-18 23:04] maugustosilva commented on #584
@stefanberger many thanks for opening this issue. I was able to reproduce it (a long time ago) but simply forgot to open the issue. Yes, the only way to solve it in my case was also a reboot. I have tried all the cleanup steps which you described here, with the same unsuccessful results.

[2021-03-18 23:20] stefanberger commented on #584
Do you happen to remember the manufacturer of the TPM that was in that machine? It sounds like this is a not-so-often occurring event that may be isolated to only some devices rather than a general keylime issue.

[2021-03-19 11:45] stefanberger commented on #585
I would think it can be long-term statless, so no entry in the database. Option 3 would obsolete option 1 anyway since it should never lead to quote+PCR-retrieval-mismatch-failures.

[2021-03-19 12:12] stefanberger commented on #585
An extended PCR without a log that goes with it would be difficult to reason about what the state of the PCR means. I don't see why they are included in the quote.

[2021-03-19 13:39] maugustosilva commented on #584
I remember being able to reproduce this even on swtpm

[2021-03-19 14:45] stefanberger commented on #584
I have tried to re-create the issue inside a VM with an attached vTPM (swtpm) but cannot re-create it.

[2021-03-19 18:35] MartinMa28 commented on #584
Run into this issue inside a VM with swtpm. It happens after a few successful quotes.

[2021-03-19 18:47] MartinMa28 commented on #584
After reboot, the error is gone for this time.

[2021-03-19 19:35] stefanberger commented on #584
I tried it now with a quote. I had to do one successful quote and a couple of restarts of the keylime_agent until the problem hit. I could resolve the issue by running `rm -f /var/lib/keylime/secure/tmp*` on the keylime_agent side.

The 2nd time I did not do a single quote. I just started the keylime_agent and hit the problem. It may have to do with the number of file entries `/var/lib/keylime/sec

[2021-03-19 22:32] stefanberger commented on #585
The mechanisms for option 1 are actually there on the keylime_agent side, but they don't work.

The reported error looks like this (after some instrumentation):

[code]

The code in tpm_main.py looks like this:

[code]

reterr is an array. PR sent.

[2021-03-20 07:03] lukehinds opened #591 "Statement on HW / SW TPM"
I think we could be a little less forceful in this view

A swtpm is for sure does not provide the same depth of guarantees as a HW tpm, however its still superior to something like AIDE. Someone could use a cloud providers swtpm (google cloud provide them). Granted, they are trusting the providers infra then, but that is better than solely trusting the host.

I recommend we remove the 'DO NOT USE'

[2021-03-20 07:04] lukehinds commented on #591
tagging tpm folks @stefanberger @puiterwijk

[2021-03-20 14:17] stefanberger commented on #591
Yes, for software TPM you have to trust the underlying host and admin(s).

[2021-03-21 13:56] furqan4545 commented on #115
Simply write

<variable name containing byte data>.decode("utf-8")
For e.g.

myvar = b'asdqweasdasd'

myvar.decode("utf-8")

[2021-03-21 14:17] lukehinds commented on #115
This closed almost 2 years ago now @furqan4545

[2021-03-22 17:38] stefanberger opened #595 "Missing: PGP-signed signature verification keys and downloadable signature verification keys"
This is likely an enhancement but we can discuss this here first before I formally file an enhancement request.

@mpeters , @puiterwijk Would it make sense to add similar extensions you have done for the allowlist for the signature verification keys as well, such as  URL to download the signature verification key(s) and a PGP file with a signature for the key file? Can you use this as a basis for

[2021-03-22 17:51] mpeters commented on #595
Yes, I like that idea. I don't know what it would take to have that implemented on the OSTree side though.

[2021-03-22 17:52] mpeters commented on #591
I agree with the spirit of this change. "DO NOT USE" is too harsh. It's just different tradeoffs as it does provide protection against a lot of intrusion attacks, just not a malicious hypervisor.

[2021-03-22 19:03] stefanberger commented on #585
Wit the fix merged I think we are good for now.

[2021-03-22 19:03] #585 closed

[2021-03-22 19:48] stefanberger commented on #595
This may be a detail at this point but nevertheless I am wondering how to support multiple remote keys and remote signatures for some of those keys. The agent currently supports providing multiple keys/key files, so this should probably also be supported for remote keys:

[code]

I guess the rule could be that if keys have signatures they have to be listed first along with their signature URLs and

[2021-03-23 14:17] kgoldman commented on #581
I think the question has to roll back to a marketing approach - "what versions of what distros should keylime run on?"  Is it expected to run broadly or on just a specified set of distros and versions.

If broadly, it has to run on older versions of python packages.  If restricted, it would be very useful to document those requirements.

[2021-03-23 16:01] mpeters commented on #581
I ran into an issue today where CentOS 7 didn't have a package of the python3 gnupg module and that kind of situation is only going to get worse. Keylime is new enough that I don't feel we need to support older versions of dependencies or operating systems.

[2021-03-23 17:01] kgoldman commented on #581
Like I said, this seems like a marketing decision.  I don't know Centos, but wikipedia says EOL 2024.  I know systems that are still using RHEL 7.

[2021-03-23 17:08] mpeters commented on #581
You're right that product people might have different ideas, but just because RHEL/CentOS is supported until 2024 doesn't mean all new software will be supported on those platforms. It just means that existing software will continue to be supported. They get bug and security fixes but not usually new features. And keylime is definitely a new feature

[2021-03-23 19:54] mpeters commented on #581
This issue should be fixed by https://github.com/keylime/keylime/pull/598

[2021-03-24 15:47] FengqiQiao opened #599 "Add interval-configuration to [webapp] section in keylime.conf"
Fix:
Currently keylime_webapp only supports hard-coded "agent populating intervals" inside static/js/webapp.js(line 469-471). This makes GUI hard to configure and test out performance. Add support for keylime_webapp service to allow reading "intervals-configuration" from keylime.conf.

[2021-03-24 16:09] FengqiQiao commented on #599
please assign

[2021-03-24 16:34] #581 closed

[2021-03-24 18:26] lkatalin commented on #571
Just a note that I have also encountered this while developing the Rust agent in a F33 VM. My understanding is also that the verifier does / should not depend on the agent.

[2021-03-24 19:04] lkatalin commented on #571
### Update
I was able to fix this error by doing the following:
- Starting up the `keylime_ima_emulator`, `registrar`, and `agent` on the VM
- Then starting up the `keylime_verifier` on the same VM

Then, I was able to use this tenant command to delete the agent:
[code]

After deleting the agent, everything ran normally in the expected order (`keylime_verifier` could be started up without running

[2021-03-24 22:01] stefanberger opened #602 "tpm2_quote reporting 'out of memory for object contexts'"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora-CoreOS 33
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: https://github.com/keylime/keylime/commit/00fe135c1f2c0973947f38102ce0310a0cb283fc

# Description

I created a container with the keylime agent. There

[2021-03-25 13:15] stefanberger commented on #602
As it turns out the container works fine once tpm2-abrmd is also running inside. It looks like some commands can be used without it, some, like tpm2_quote, need tpm2-abrmd for context management.

[2021-03-25 13:15] #602 closed

[2021-03-25 13:27] stefanberger commented on #550
I also ran into this context management issue (`tpm:warn(2.0): out of memory for object contexts`) in #602 where I had run the tpm2_tools without tpm2-abrmd. Some of the tools worked and others seem to need tpm2-abrmd to work properly. My system used tpm2-tools v4.3.0. So **maybe** this is related to either the version of the tpm2-tools you are using or a missing tpm2-abrmd?

[2021-03-26 20:35] dcmiddle commented on #442
Close me?

[2021-03-26 20:40] #442 closed

[2021-03-29 19:43] kgoldman commented on #581
To me, keylime is in a different category than a word processor or browser.  It's monitoring software.  I can easily understand requiring the verifier side to be a recent distro.  However, can keylime say to a data center that it can only monitor 20% of their machines?

[2021-03-29 20:00] kgoldman opened #603 "keylime_verifier = etting state to FAILED"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:  Fedora 32
 * Processor architecture: x86
 * TPM Manufacturer: na
 * Keylime version: today's master

# Description

The readme says to start the verifier first, which is intuitive.  When I try that with today's master, I get the error in the log b

[2021-03-29 21:47] kgoldman opened #604 "keylime_webapp fails with FileNotFoundError: [Errno 2] No such file or directory"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: fedora 32
 * Processor architecture: x86
 * TPM Manufacturer: na
 * Keylime version: today's master

# Description

keylime_verifier doesn't work with latest master.  It worked recently.

## Expected behavior vs. actual behavior

Expected program t

[2021-03-30 20:36] stefanberger commented on #604
I ran into this issue also today and this here seems to be a solution: https://github.com/keylime/keylime/issues/519#issuecomment-778323883

[2021-03-31 12:56] kgoldman opened #605 "keylime_webapp - no GUI, just json"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: fedora 32
 * Processor architecture: x86
 * TPM Manufacturer: na
 * Keylime version: latest master

# Description

May be related to https://github.com/keylime/keylime/issues/519.  I applied that patch.

## Expected behavior vs. actual behavior

Ex

[2021-04-06 16:02] maugustosilva commented on #436
@axelsimon @kaifeng @mpeters So, I tested running the `agent`, both from the command line and as a Systemd service, as non-root (in particular, I tried with user `tss` as this one allows for access to `/dev/tpmrm0`), and was successful in both cases. I believe the time has come to remove the check in https://github.com/keylime/keylime/blob/master/keylime/keylime_agent.py#L453

Please note that we

[2021-04-06 16:16] mpeters commented on #436
I agree now is a good time to remove this. Is this change big enough to need an enhancement proposal to make sure we have all our ducks in a row?

[2021-04-06 17:13] maugustosilva commented on #436
I don't think it is particularly big, since we are talking about four loc only. My plan was to leave, at least for now, the `REQUIRE_ROOT` in place (since it is used for testing in different ways), and only remove that particular check.

[2021-04-06 17:19] maugustosilva commented on #436
@mpeters ok, I have re-read the first comment by @kaifeng and now see that he would like to remove the `REQUIRE_ROOT` altogether. This is fine, I do not oppose to it, but you're right: it will become a much longer (subsequent) commit.

[2021-04-07 00:37] kaifeng commented on #436
It appears interacting with TPM via abrmd doesn't require root, but accessing IMA log would need it, we still need some kind of privilege promotion stuff. Anyway we are running verifier/registrar as non-root for quite a while.

[2021-04-07 13:31] maugustosilva commented on #436
@kaifeng We can change ownership of `/sys/kernel/security/ima/ascii_runtime_measurements` and `/sys/kernel/security/tpm0/binary_bios_measurements` via an udev rule, and have full functionality for the `agent`. Either way, I believe we all agree the time for removal of "check if non-root, and quit if true" code on the `agent` has come, right?

[2021-04-07 18:29] stefanberger commented on #605
Can you try again with latest code from master?

[2021-04-07 18:30] stefanberger commented on #604
Can also try this with latest code from master?

[2021-04-07 18:32] stefanberger commented on #577
Can you try again with latest code from master?

[2021-04-07 19:10] kgold2 opened #613 "Is keylime adding PCR 16 to the quote? Is it byte flipping the PCR selection?"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: fedora 32
 * Processor architecture: x86
 * TPM Manufacturer: sw
 * Keylime version: master

# Description

1. The keylime.conf says that tpm_policy is PCR 22, 15

-  Is this what keylime is quoting?
- What are those long strings like 000000... 000

[2021-04-07 19:33] nabilschear commented on #613
yes, keylime automatically includes re-settable PCR 16 in all quote responses to bind the NK public transport key to the quote.  See area B of figure 5 in https://github.com/keylime/keylime/blob/master/doc/tci-acm.pdf

[2021-04-07 21:28] kgold2 commented on #605
webapp now shows the GUI.  agents and logs are still showing just json.

[2021-04-07 21:33] stefanberger commented on #605
A git revert of e23b9f resolved that issue for me now:

`git revert e23b9f`

[code]

@mpeters Who added this patch?

[2021-04-07 21:34] kgold2 commented on #604
I don't get the original error.  However, I now get this as soon as I browse to the URL.  The warning repeats about once per second.

/usr/lib/python3.8/site-packages/urllib3/connectionpool.py:997: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warn

[2021-04-07 22:04] stefanberger commented on #605
I deleted my previous comment. It works for me now. I had to add missing variables to /etc/keylime.conf's webapp section:

[code]

Not sure why it wasn't updated. But if these variables are missing, nothing works.

The log now shows this here repeating forever:

[code]

[2021-04-08 00:05] stefanberger commented on #604
The repeating warning seems expected now. I think you can close this issue since the original error is resolved.

[2021-04-08 14:09] kgold2 commented on #604
I'd like to leave it open to let other people look at it.

1. If end users see a continuous stream of warnings, they will think something is wrong and ask for support.
2. I suspect that the fix to #605 may have added a frequent polling.  When I connect with a more browsers, the warnings get faster.

I think a UI person should decide whether this is a good design.  Besides the bandwidth and warning

[2021-04-08 16:02] mpeters commented on #604
Closed issues are still searchable.

I agree that this warning should be fixed, but it's not specific to this issue and happens in lots of other contexts as well. It should be a separate issue.

Agreed we should probably have some sort of control for that in the UI. But like has been mentioned before the web UI has been mostly ignored for a while. I suspect there are lots of UI issues that can be

[2021-04-08 23:26] stefanberger commented on #613
It looks like this would be big endian/human readable format 0x408000 and thus bits 15 and 22 are set. So this should be correct.

This PCR selection bit mask written in big endian format would be 0x418000. It looks like bit 16 was added, but otherwise it's a transformation of 0x408000.

[2021-04-08 23:30] stefanberger commented on #572
Do you have a way to reproduce this? Maybe post the keylime.conf that you used to create this issue. I never ran into this particular issue and have use the keylime_agent and verifier in similar ways as you do.

[2021-04-09 00:17] nabilschear commented on #613
here's the code were PCR 16 is added: https://github.com/keylime/keylime/blob/cbf963b77763587182f80c3bb183af7087d8da63/keylime/tpm/tpm_main.py#L936-L944

[2021-04-09 00:17] nabilschear commented on #613
arguably, we should move that mask check into the `if data is not None:` block, but it's still ok

[2021-04-09 10:03] MartinMa28 commented on #577
Will test it next week, since I am currently working in a fedora environment where keylime is installed using dnf.

[2021-04-09 13:08] jronnblom opened #619 "keylime_tenant add crash with TypeError: Object of type 'bytes' is not JSON serializable"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 18.04
 * Processor architecture: VM
 * TPM Manufacturer: swtpm - stefan berger
 * Keylime version: latest as of today (git clone)

# Description
Trying to add a compute to KL using keylime_tenant.

keylime_tenant -c add -u 817B07F2-24F0-4EB5

[2021-04-09 15:29] mpeters commented on #619
I think this is the same issue that @stefanberger mentioned in slack and might be related to this change https://github.com/keylime/keylime/commit/23c2ae3f9aa1ab22f9a2fec02fc5e888475c38b3 from @kaifeng

[2021-04-09 21:25] maugustosilva opened #620 "Whenever Keylime `agent` starts and cannot contact the `registrar`, it fails and quits *without* flushing create EK handles"
# Environment
 * OS / version: Fedora Core 34
 * Processor architecture: x86_64
 * TPM Manufacturer: Infineon
 * Keylime version: 6.1.0

# Description
- `agent` starts and creates a new EK and a new AIK
- `agent` attempts to contact the `registrar` and is unable to
- `agent` quits without flushing the just created EK/AIK
- After going through this process several subsequent occasions, TPM device r

[2021-04-10 23:52] stefanberger commented on #605
@kgoldman  @kgold2

[...]

These two URLS (`/agents/` and `/logs/`) are REST API URLs as documented here: https://keylime-docs.readthedocs.io/en/latest/rest_apis.html#tenant-webapp

The REST APIs won't return html.

Here's how they are registered:

https://github.com/keylime/keylime/blob/master/keylime/tenant_webapp.py#L712-L719

[code]

This is the code for the `/webapp/` URL:

https://github.com

[2021-04-11 10:29] kaifeng opened #623 "Maintaining documents in the keylime repo"
Propose to merge keylime documentation repo to the keylime repository, this move will helps we maintain document update with code changes more conveniently.

[2021-04-11 10:40] kaifeng commented on #619
I will take a look on this issue, probably something introduced during rebase. The alllowlist change shouldn't introduce bytes data.

[2021-04-11 12:23] maugustosilva commented on #623
I strongly support this proposal. After several months contributing code to keylime, I observe that the effect o having documentation on a separate repository on me is to make me less likely of updating documentation pari passu with the changes on the code.

[2021-04-11 15:06] lukehinds commented on #623
We could do this if it meant folk actually bothering to document their changes (I am sceptical to be honest). Otherwise we are just rearranging the furniture, but the underlying problem still remains.

[2021-04-12 07:37] kaifeng commented on #619
I didn't find evidence on how 23c2ae3 leads to this issue, my suspicion is something has changed in the process_allowlists which included bytes, @jronnblom could you print the ``data`` to the console so we know which part of data is violating the serialization?

[2021-04-12 16:37] mpeters commented on #623
I think this would be a good change because there have been times I've wanted to hold off on merging something until it was documented. But I can't really do that as they are in 2 separate repos and that would mean documentation would have to land before code which isn't terrible, but a bit harder to coordinate.

With this change we could simply withhold merging something until the documentation i

[2021-04-13 14:23] mpeters commented on #436
There's been a lot of discussion on this and 2 different proposals that could be somewhat overlapping, but I wanted to pull together their discussion here:

A). Drop keylime's objection to running as non-root and let the installer/packaging take care of making sure keylime has the right permissions to do what it needs. Keylime would check these permissions at startup and then fail if they aren't c

[2021-04-13 14:29] stefanberger commented on #436
The packagers would have to have a script that runs on every reboot to set the permissions/ownership of the TPM and IMA log files.

[2021-04-14 19:05] #620 closed

[2021-04-16 04:09] MartinMa28 opened #628 "Why does keylime_webapp get a list of registered agents from keylime_registrar every time?"
Quick question here:

In keylime_webapp, basically, it's doing something below periodically:
1. Call keylime_registrar to get a list of registered agent UUIDs
2. Call keylime_verifier for every agent UUID in the list to get the details of such agent

My question is why do we need to call registrar every time? Is it because some records in verifier's DB might not be considered as a registered agent

[2021-04-16 17:45] galmasi opened #629 "Bug report: keylime_tenant -c reglist now requires a "-t" parameter for no reason"
# Environment
 * OS / version: Ubuntu (but it does not matter)
 * Processor architecture: (does not matter)
 * TPM Manufacturer: virtual (swtpm) -- but it does not matter
 * Keylime version: any commit later than 23c2ae3f9aa1ab22f9a2fec02fc5e888475c38b3

# Description
In commit 23c2ae3f the list of exclusions for the --targethost parameter changes from
`['list', 'regdelete', 'reglist', 'delete', '

[2021-04-16 18:09] mpeters commented on #628
When an agent comes online it tries to contact it's configured registrar. The registrar gets information about that host and stores it in it's db. Later when someone runs the `keylime_tenant` command they provide information about a host that is know to the registrar along with information about how to attest that host (things like IMA policy, exclude list, measured boot policy, etc). Then the ver

[2021-04-16 18:29] mpeters commented on #629
George, I'm assuming this fixes it for you: https://github.com/keylime/keylime/pull/630

[2021-04-16 18:35] mpeters commented on #629
Fixed by https://github.com/keylime/keylime/pull/630

[2021-04-16 18:35] #629 closed

[2021-04-16 19:29] nabilschear commented on #628
in terms of why the UI does this.  It was a user-experience thing.  Here's how many machines keylime knows about (because registration happens on boot). Another clarification: at some point long ago the registrar and verifier used to be the same service.  We split them apart because you may end up having multiple registrars (if you're doing vTPMs).  But this separation isn't super important.  They

[2021-04-19 14:42] galmasi commented on #619
@kaifeng @jronnblom @stefanberger I hit this issue over the weekend.

I do not understand the history of changes that led to this bug yet, but it's fairly easy to reproduce with python 3.8.7 over Fedora 32.

=========== bug description ==============

* A private key is read from a zip file by tenant.py during "init_add" (tenant.py line 366)
* The revocation key is assigned from `privkey` in line

[2021-04-19 15:05] kgold2 opened #631 "Firefox keylime_webapp SEC_ERROR_REUSED_ISSUER_AND_SERIAL"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: fedora linux
 * Processor architecture: x86
 * TPM Manufacturer: na
 * Keylime version: master

# Description

webapp yields Error code: SEC_ERROR_REUSED_ISSUER_AND_SERIAL

I suspect that keylime is regenerating an https certificate with a new key

[2021-04-19 22:05] kgold2 commented on #628
"registration happens on boot" ... on first boot or every boot.  Assuming registration means generating a certificate for the attestation key, it is presumably once per tenant.

As for separation, the opposite may be true.  There may be one registrar, with it's CA private key behind firewalls, with an HSM, locked room, etc.  There could be multiple verifiers, with less protection because they don'

[2021-04-19 22:36] kgold2 opened #633 "Unable to check signature of revocation message"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: fedora 32
 * Processor architecture: x86
 * TPM Manufacturer: sw tpm
 * Keylime version: master

# Description

Is it expected that, when a quote fails, the agent will get the message below?  What is getting revoked?  Is it expected that the agent

[2021-04-19 22:44] kgold2 commented on #613
I suggest that using PCR 16 will be unreliable.  NK seems to be the U/V application from the paper.  PCR 16 is is reserved as the 'debug PCR'.  Many applications will use it. A reset or extend during the keylime quote process causes the quote to fail and the tenant to stop.
With keylime quoting every second, the failure is easy to reproduce.
This could either be unintentional - an application usin

[2021-04-20 12:19] nabilschear commented on #613
is there an unused resettable PCR that we can use instead?  I just picked the first resettable one.

[2021-04-20 14:03] kgold2 commented on #613
Not today.

A bit of politics:  I have been trying for a TCG 'registry' of PCR usage.  If there other TCG member companies viewing this, please encourage your representatives to support a PCR registry.

Until then, is it correct that the NK and PCR 16 are not related to attestation, but the U/V in the paper is a separate application?  If so, can it be removed from the base keylime product?

If it

[2021-04-20 14:16] kgold2 commented on #342
Let me know if I can help.  I implemented this in C years ago, so I have the flow.

[2021-04-21 12:48] stefanberger commented on #584
Closing this issue now since per my testing it has been resolved with PR #624 .

[2021-04-21 12:48] #584 closed

[2021-04-22 00:11] MartinMa28 opened #634 "Duplicated API calls to verifier in webapp backend"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Link to PR
#635

# Description
In keylime_webapp, to get the registered agents' latest states, there are 2 steps:
1. Call keylime_registrar to get a list of registered agents' u

[2021-04-22 07:17] MartinMa28 opened #636 "keylime_webapp front-end no pagination, default update interval too small, outdated Ajax syntax"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Link to PR

#637

# Description
This issue list a few existing problems in keylime_webapp front-end:

1. No pagination. It's hard to go through more than 20 agents. And, a high-

[2021-04-22 22:13] kgold2 opened #640 "Intel TSS branch 2.0.x does not build with installer.sh"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: ubuntu 20
 * Processor architecture: x86
 * TPM Manufacturer: na
 * Keylime version: master

# Description

./installer.sh fails.  When I go into the /tmp folder, I see that the tpm2-tss git branch is 2.0.x.  Is there some reason keylime is using t

[2021-04-23 07:36] utkarsh2102 opened #641 "Tests failures when running ./test/run_tests.sh"
Hello,

(CC: @lukehinds, @galmasi, @ibmcb)

I am trying to (Debian) package keylime and wanted to enable tests during build. When I started to take a look at them, it looks like it's using keylime_agent (the binary, instead of using the function - keylime.cmd.agent:main), et al, which means those binaries should be available whilst running the tests. This is a separate issue which I'll talk about

[2021-04-23 08:13] #628 closed

[2021-04-23 13:23] kgold2 opened #643 "installer deletes tpm_cert_store files - minor git issue"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: ubuntu 20 groovy
 * Processor architecture: x86
 * TPM Manufacturer: na
 * Keylime version: master

# Description

installer.sh has this line:

  mv $KEYLIME_DIR/tpm_cert_store /var/lib/keylime/tpm_cert_store

I suspect that it should be cp, not mv

[2021-04-23 15:45] stefanberger opened #644 "Registered URLs for handlers"
This is from here: https://github.com/keylime/keylime/blob/master/keylime/cloud_verifier_tornado.py#L815

[code]

Am I reading this right that these handlers are reachable under `/v2/allowlist` and `v2/agents` and also `v3/allowlist` and so on?

[2021-04-23 15:53] utkarsh2102 commented on #643
Hello,

I was wondering about the same thing and so, I believe:

Honestly, I don't see why **both** of them should be `cp` instead? Even if there's no directory, just copy it as is there and not move them. This way we have the git copy with a "clean status" and also the certs are stored in the right place. What do you think?

[2021-04-23 16:05] utkarsh2102 commented on #633
Not sure if it's even remotely related but..

And I get this:

2021-04-23 06:00:35.109 - keylime.ima_file_signatures - WARNING - No key with id 0xf3452d23 available
2021-04-23 06:00:35.109 - keylime.ima_file_signatures - WARNING - No key with id 0x531f4025 available

I don't expect this to happen, weird. But maybe I am missing something?

[2021-04-23 16:09] utkarsh2102 commented on #641
Hi @kgold2,

After seeing some of your issues, I'd like to know if you hit test failures like this? Do you happen to know any workaround or if there's something I am missing?

Especially this one:
[code]

I am not really sure what can I do to get this to work? This is the same error I get when I enable the systemd service files that are shipped via services/ directory.

[2021-04-23 22:28] kgoldman commented on #643
It sounds like you agree.  Are there any maintainers listening?  Should I create a pull request?

[2021-04-23 22:39] kgoldman commented on #641
I haven't seen that particular issue, but the DBUS /  abrmd / TCTI area is complex.  I could not get it working on many platforms.

I debug with the SW TPM.  You have to set up dbus, change the dbus policy, create the tss group, start abrmd, and set TPM2TOOLS_TCTI depending on whether you run as root or not.

If keylime maintainers are here, is there any chance of eliminating abrmd and use the TPM

[2021-04-23 22:44] kgoldman commented on #633
Your ahead of me!  How did you configure keylime to turn in IMA and process event logs?

A guess:  IMA files have signatures and a verifier should check the signatures.  Perhaps it's missing the public key for verification.  IMA's public key identifier is a 4-byte value, so it's an educated guess.  :-)

[2021-04-24 06:01] kaifeng commented on #644
It is, currently some handlers check version but some are not.

[2021-04-24 08:37] utkarsh2102 commented on #641
Ooh, thanks. I could get this to work via the following:
- Have a systemd service file:
[code]

- Use the Intel TSS for TPM 2 directly with swtpm over character interface:
[code]
 This creates new TPM device: /dev/tpm0 (and also /dev/tpmrm0)

- Install keyline package and start the systemd service using the file mentioned above. And boom, it worked!

But the tests still fail 😞
Probably need mainta

[2021-04-24 21:18] stefanberger commented on #644
I thought `/v2/*`  should be reserved for a revised API after a v1. But now these registrations are already covering v0 ... v9.

[2021-04-26 09:52] utkarsh2102 commented on #633
Heh, I simply used the installer.sh script to set the ball rolling and to see what happens. All I wanted to do was get the tests working and so I installed and setup keylime using the installer script but it still fails; cf: #641. But that's about it. I didn't do anything differently, really.

[2021-04-26 13:49] mpeters commented on #643
@ken

Absolutely!

[2021-04-26 14:26] jronnblom commented on #643
Shouldn't this be in the keylime-deb also?

[2021-04-26 14:45] utkarsh2102 commented on #643
Actually, no. The Debian package doesn't use the installer script and doesn't copy/move files like this. I am in midst of opening a bunch of PR to entirely revamp the whole keylime-deb repository. Let me know if you have questions or anything.

[2021-04-26 15:04] kgoldman commented on #633
I think you're running a test script.  If you ever figure out how to get keylime to send and verify UEFI or IMA logs, let me know.  "Out of the box", it seems to send PCRs and a quote and verify that, but not process event logs.

[2021-04-26 21:43] kgold2 commented on #643
Created pull request #649

[2021-04-26 21:43] #643 closed

[2021-04-26 21:57] stefanberger commented on #641
@utkarsh2102  I get similarly horrendous output as you do when I run it like this. Maybe the machine needs a built-in TPM2 as /dev/tpm0. But if I use a user account with access to the local docker then I can run the following on a machine that doesn't have a built-in TPM 2 on `/dev/tpm0`:

[only  TPM 2 support is available, so choose 'b' ]
[code]

[2021-04-26 22:03] stefanberger commented on #633
These are two totally different problems, @utkarsh2102 . I am not even sure what you are doing when you are running in this issue and I think it should be filed as a separate issue.

[2021-04-27 10:26] utkarsh2102 commented on #641
Hello @stefanberger 👋🏻

Oh, I am using `swtpm` inside a LXD container to create a character device. I do have `/dev/tpm*` but the tests still won't work and fail with the above traceback(s). Even in a built-in TPM machine (that is, most of the laptops these days, at least mine for now), I still can't get the tests to actually run. Can the `test_wrapper.sh` (inside `.ci`) be synced/moved to the act

[2021-04-27 12:42] stefanberger commented on #641
I would first try the way I suggested above using the `.ci/run_local.sh` script as shown. That may create a baseline to work with.

[2021-04-27 12:46] stefanberger commented on #641
From what I had **seen** `tpm2_quote` seems to need tpm2-abrmd. I **think** it is still needed, at least for some command line tools.

[2021-04-27 14:29] utkarsh2102 commented on #633
Ack, thank you!

[2021-04-27 19:39] stefanberger commented on #619
@jronnblom Can you try again with the latest master and see whether the problem has been fixed?

[2021-04-27 19:46] nabilschear commented on #613
the hash of the public NK needs to be bound to the quote as part of delivering the U/V keys.  We used to just hash it with the nonce and keep it there.  But there was some MITM attack we wanted to avoid (see slide 18 of https://www.opensecuritytraining.info/IntroToTrustedComputing_files/Day2-1-auth-and-att.pdf )  So, we picked a resettable PCR.  16 happened to be the first one.  This can be change

[2021-04-28 07:21] jronnblom commented on #619
I'll try and then report the result back here.

[2021-04-28 22:34] kgold2 opened #655 "Ubuntu groovy abrmd not installing"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu groovy
 * Processor architecture: x86
 * TPM Manufacturer: na
 * Keylime version: master

# Description

installer does not install Intel's abrmd.

## Expected behavior vs. actual behavior

Expected abrmd to be installed.

## Steps to reprod

[2021-04-29 00:42] galmasi opened #656 "Multiple types of failure if keylime_agent is restarted mid-attestation."
# Environment
 * OS / version: Fedora/32 *and* Ubuntu 18.04 (observed on both) -- we theorize there is no dependency
 * Processor architecture: x86_64 (likely irrelevant)
 * TPM Manufacturer: Infineon _and_ swtpm (Stefan)
 * Keylime version: 6.1.0+, but we think the problem is pervasive

# Disclaimer

I do not claim perfect understanding of the causes for the failures under discussion. Feel free t

[2021-04-29 08:44] jronnblom commented on #603
I got the same problem but on 5.8.1. I think it occurs when I already have had a running system and then stop and start everything.

Then when keylime_verifier is started it reads the data from the db and puts in to agent[]. However since we cant talk to the agent (still down) then the first_verified key isn't in agent[].

I did change it to first check if the key is in the agent[]

if 'first_veri

[2021-04-29 15:18] maugustosilva commented on #656
A couple of comments:

1) It looks like "Problem 1" is actually a desired mode of operation: an `agent` "dying" or being restarted in mid-attestation should result in failures until the situation gets corrected by administrator intervention. In my mind, the actual question is: why isn't the attestation consistently and reproducibly failing in all scenarios where the `agent` restarts in mid-attesta

[2021-04-29 19:24] stefanberger commented on #656
When you start the agent you just always issue a `tpm2_flushcontext -s` and that solves it then? Just issue that command as part of the agent startup then...

But isn't this whole context swapping issue supposed to be solved by either using /dev/tpm0 via tpm2-abrmd or /dev/tpmrm0 (directly or via tpm2-abrmd?) and these left-over issues shouldn't occur unless you were talking to /dev/tpm0 directly

[2021-05-03 14:54] galmasi commented on #656
Clearly @stefanberger talking to /dev/tpmrm0 merely postpones the problem. By maybe 9 hours, in fact -- 16,384 accesses x 2 seconds between accesses :)

Flushing the contexts seems to be the immediate fix, I believe @maugustosilva is about to raise a PR, or already has.

As for "forgot to cleanup", it looks like Issue 2 happens with some fixed percentage of probability depending on how we "catch"

[2021-05-03 15:30] stefanberger commented on #656
All these context/resource managers should clean up once a client disappears and leaves state behind. Since they dpon't seem to do that I guess we could try to either block signals or clean up in an exception handler, though a SIGKILL at the wrong time won't be served with either of these measures.

[2021-05-03 15:51] jejb commented on #656
On Mon, 2021-05-03 at 08:31 -0700, Stefan Berger wrote:

How would a resource manager know?  If a handle disappears from a RM
it's usually because a user flushed it, but it could be because the
user context saved it.  The only way to guarantee that a user can't do
this would be to block the saving of contexts, which would basically
destroy the operation of tpm2-tools.

James

[2021-05-03 15:57] stefanberger commented on #656
lost client via closed file descriptor

[2021-05-03 16:18] jejb commented on #656
On Mon, 2021-05-03 at 08:57 -0700, Stefan Berger wrote:

Not how does it know the client is dead, that's what it already does.
How does it know if the client context saves a handle

James

[2021-05-03 16:24] stefanberger commented on #656
It would have to track all of these things that require cleaning when the client (abruptly) disappears.

[2021-05-03 19:36] kgold2 commented on #656
I don't understand why this is desirable.  An agent can die for many reasons -  a reboot, a bug, a malicious program.  When it restarts, keylime should keep going.  What would an administrator do manually to correct it that SW could not do?

[2021-05-03 21:22] maugustosilva commented on #656
Fair point. Allow me to be more precise then. An external component (e.g., in our production setup, the "deployer") needs to take some initiative to solve the problem of an `agent` which was just restarted and failed attestation. Not necessarily "manually" in the strict sense of "a being of the species Homo sapiens has to type commands on a keyboard", but much closer to "a component outside of the

[2021-05-06 17:05] stefanberger commented on #656
The kernel resource manager could probably track the contexts that applications are saving but it cannot flush them with the way command line tools are used. A higher level session spanning the usage of several command line tools would have to exist that, once the session gets terminated, would need to clean up any left-over resources used during that session. The challenge would be to define what

[2021-05-07 18:25] stefanberger opened #660 "Local tests are failing since PR #654 was merged"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 33
 * Processor architecture: cx86_64
 * TPM Manufacturer:
 * Keylime version:  1f550cca728

# Description

Tests are failing

## Expected behavior vs. actual behavior

Tests should not fail  [they don't fail when one checks one step *before

[2021-05-10 11:08] utkarsh2102 opened #661 "Don't use ">=" for cryptography dependency"
Hello,

As rightly mentioned in https://github.com/keylime/keylime/issues/581#issuecomment-799428724, I think we shouldn't use the following:
https://github.com/keylime/keylime/blob/4ea4380570d6d4a9b8bdcb2fcf144d6723e9f8d4/requirements.txt#L6
..and just restrict to 3.3.2? Because using 3.4.6 doesn't work and thus would cause problems.

[2021-05-10 14:28] mpeters commented on #660
This is a bit strange. Running the tests directly using `tests/run_tests.sh` on Fedora works just fine and CI uses the containers and runs them just fine as well. I'll try tracking down the differences between CI and local run to see what's up.

[2021-05-10 15:44] maugustosilva commented on #660
@stefanberger thanks for pointing this out, I see the error now. @mpeters funnily enough, those errors are only caught by running "local" tests, not by the CI (and not by my "end-to-end" testing). Will have a PR soon

[2021-05-10 16:36] jronnblom opened #664 "agent_uuid set to dmidecode crashes Keylime"
# Environment
 * OS / version: Ubuntu 18.04
 * Processor architecture: amd64
 * TPM Manufacturer: swtpm
 * Keylime version: 6.1.0 from

# Description
Change agent_uuid to dmidecode to automatically read the UUID from the system crashes the agent:

May 10 16:28:28 u18can20 keylime_agent[4687]: Traceback (most recent call last):
May 10 16:28:28 u18can20 keylime_agent[4687]:   File "/usr/bin/keylime_

[2021-05-10 16:57] jronnblom commented on #664
I also think the sys_uuid should be check for validity before continuing.

[2021-05-11 00:20] stefanberger commented on #660
Resolved now.

[2021-05-11 00:20] #660 closed

[2021-05-11 00:24] stefanberger commented on #595
PR #597 addressed the issue

[2021-05-11 00:24] #595 closed

[2021-05-11 12:05] utkarsh2102 opened #666 "Can't run keylime_agent w/o a priviliged user"
Hello,

Thanks for your work on this! 🎉

However, I have been trying to run keylime as a normal user (`keylime` in this case; as used in keylime-deb repository) and not as a privileged one. Since I was told that running code as non-root is something that you are pioneering here, I am unsure how to achieve that atm?

With keylime user and apt permissions, as set via [postinst in keylime/keylime-deb

[2021-05-11 15:05] maugustosilva commented on #666
@utkarsh2102 you will need at least this PR: https://github.com/keylime/keylime/pull/611

[2021-05-11 19:47] maugustosilva opened #667 "The CLI utility `keylime_tenant` is broken after the merging of PR #597"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora Core 33
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: 3eed812c9afdc08808a09a1dab90b1e9685e3c7b

# Description
The `add` operation on `keylime_tenant` CLI, used without measured boot or IMA, results in error

[2021-05-12 13:17] maugustosilva commented on #667
I've tested the fix, and it works properly. Closing the issue to avoid cluttering.

[2021-05-12 13:17] #667 closed

[2021-05-12 13:37] maugustosilva opened #670 "Add support for "bulk" status retrieval on `keylime_tenant` CLI"
Currently, `keylime_tenant` CLI has two main "read" operations: `list` and `status`.

While the first will interact with a verifier providing a list of `agent` UUIDs, the second one will provide the current state for a given `agent`. Illustrative examples follow:

[code]

[code]

In an environment with a large number of `agents` (our largest deployment to date has 5,000 attested nodes), querying t

[2021-05-12 13:59] stefanberger opened #671 "Copying of tpm_cert_store fails during installation"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 33
 * Processor architecture: x86_64
 * TPM Manufacturer:
 * Keylime version: 5a613051a

# Description

sudo ./install.sh fails when copying the tpm_cert_store:

[code]

## Expected behavior vs. actual behavior

Should work.

## Steps to rep

[2021-05-12 14:00] stefanberger commented on #671
@kgold2, commit 33729d56da2280 seems to have forgotten a `-r` parameter to `cp`.

[2021-05-12 15:17] stefanberger commented on #664
Can you test it with PR #672 ?

Current patch: https://github.com/keylime/keylime/commit/8da24928bb743794bc75b0a7bffc1235a601272d.patch

[2021-05-12 15:33] jronnblom commented on #664
That works.

[2021-05-13 15:40] stefanberger commented on #664
Can you close this issue?

[2021-05-13 15:45] stefanberger commented on #661
The issue with the cryptography package is that if you go to a very recent package on an older distro that doesn't support the rust tool it won't compile. What we would need in requirements.txt is to express something like this: If cryptography is not installed, install 3.3.2 but not a later version. If it is already installed, ensure a minimum version but don't downgrade it if something more rece

[2021-05-13 15:47] #664 closed

[2021-05-13 22:40] kgold2 commented on #613
My question is really not '**which** PCR to use' - for which the answer is that none is guaranteed to work.

Is the U/V keys part of keylime **essential** to the remote attestation solution?  My sense is that it it not - it's a separate application.  If so, I suggest that it be hoisted out of the core keylime solution.  As a separate application, the AK can sign other data.  For example, the NK pu

[2021-05-24 20:41] kgold2 commented on #656
I don't understand why this is desirable.  An agent can die for many reasons -  a reboot, a bug, a malicious program.  When it restarts, keylime should keep going.  What would an administrator do manually to correct it that SW could not do?

[2021-05-24 20:47] kgold2 commented on #656
Perhaps the cleanest, easiest to be correct, solution is for the agent to close the connection after each attestation.  The resource manager will do any necessary flushing.

The agent 'should' flush any resources, just as a program should free malloced memory, but the close() is guaranteed to work.

The quote could be just open, load, quote, flush, close.

[2021-05-26 17:28] igurel opened #678 "http requests (sent by using RequestsClient) don’t use any connection timeout value"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 20
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version: [d632e2a](https://github.com/keylime/keylime/commit/d632e2a3b510167ba997197f5232bc4456aa0394)

# Description
http requests (sent by using RequestsClient) don’t use any co

[2021-05-26 17:34] igurel opened #679 "The registrar doesn’t validate EK certificate sent by the agent."
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 20.04
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version: [d632e2a](https://github.com/keylime/keylime/commit/d632e2a3b510167ba997197f5232bc4456aa0394)

# Description
The registrar doesn’t validate EK certificate sent by the

[2021-05-26 17:39] igurel opened #680 "The tenant registers agent to the verifier first before handling initial quote provided by the agent."
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 20.04
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version: [d632e2a](https://github.com/keylime/keylime/commit/d632e2a3b510167ba997197f5232bc4456aa0394)

# Description
The tenant registers agent to the verifier first and then

[2021-05-26 17:44] igurel opened #681 "TLS connections (e.g. tenant->verifier) are established without server certificate validation"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version: [d632e2a](https://github.com/keylime/keylime/commit/d632e2a3b510167ba997197f5232bc4456aa0394)

# Description
TLS connections (e.g. tenant->verifier) are established without server

[2021-06-04 20:52] kgold2 opened #684 "keylime_agent persists the EK but then never uses it"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: RHEL
 * Processor architecture: x86
 * TPM Manufacturer: SW TPM
 * Keylime version: master

# Description

The LOC in tpm_main.py that calls tpm2_createek uses -c - as a parameter.  This causes the Intel tool to persist the EK.  However, tracing th

[2021-06-04 21:21] kgold2 opened #685 "keylime is setting owner auth"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: RHEL
 * Processor architecture: x86
 * TPM Manufacturer: N/A
 * Keylime version: master

# Description

This has a dependency on #684.  keylime is setting owner auth.  In general, owner auth is set in a pre-OS menu, so this process will fail.  Some

[2021-06-07 22:33] kgold2 commented on #656
On 5/3/2021 11:51 AM, James Bottomley wrote:

Wouldn't a resource manager typically detect that the connection
closed because the process exited or a close() and clean up?
Where clean up means flushing the TPM and deleting objects
from RM tables?

[2021-06-08 17:52] kgold2 commented on #578
Hi, stalebot.  Please don't close issues that aren't fixed.

[2021-06-08 17:53] kgold2 commented on #574
Please don't, stalebot.

[2021-06-08 17:55] kgold2 commented on #572
Straight install.  Nothing modified.

[2021-06-08 18:00] kgold2 commented on #571
I don't understand how the verifier can depend on the agents acting properly.  They run on different machines, right?  How can the verifier delete all the agents.

[2021-06-08 18:12] kgold2 commented on #570
Pinging stalebot.

[2021-06-08 18:15] kgold2 commented on #550
Ping stalebot

[2021-06-16 08:08] utkarsh2102 commented on #666
Hi maugustosilva,

Awesome, thanks! Can this please be released at the earliest, but of course, whenever the time is right & other things that the maintainers might need to take care of?

[2021-06-17 10:00] THS-on commented on #679
The registrar does not do any validation except for checking if the format is correct and that the AIK belongs to the EK.
https://github.com/keylime/keylime/blob/16a9cfd31b02f5c60b1ccc667627fac6144f82d1/keylime/registrar_common.py#L225-L228

The actual checking if the EK is trusted is done by the tenant (or by other software that implements that functionality) before adding a agent to the verifier

[2021-06-17 11:29] igurel commented on #679
The registrar should validate EK certificate in the first place before adding any agent information into its database. The motivation is that only authentic endpoints/agents with valid EK certificates should be able to register in the fist place..

If you look at the issue [#680](https://github.com/keylime/keylime/issues/680), the tenant registers agent to the verifier before validating it. So an

[2021-06-17 14:59] THS-on commented on #679
Ok now I understand the motivation to do that.

If I read #680 correctly resolving that issue will fix the validation gap and the validation in the registrar not necessarily needed, correct?

One issue I can see that the separation of concerns is not anymore given when tenant functionality moves into the registrar but it might be useful feature.

The project were I'm currently integrating Keylime

[2021-06-17 15:14] THS-on commented on #680
I've tried switching the order of `do_cv()` and `do_qoute()` and nothing immediately broke.
On first glance I couldn't find that `do_qoute()` has a dependency on `do_cv()` other than removing the agent from the verifier if it failed.  Is there another reason why we don't just switch the order?

There would be a change in behavior.  The failed agent never gets added to the verifier and is there in

[2021-06-17 16:15] igurel commented on #679
I think it will still be good to add the relevant checks to the registrar (in addition to the fix for [#680](https://github.com/keylime/keylime/issues/680)) to make sure that only agents with validated EK certificates will be added to the registrar's database.

[2021-06-17 16:16] igurel commented on #680
I've tried too and it should work fine.

[2021-06-17 20:09] maugustosilva commented on #680
While I am certainly willing to support such change, we would need a new enhancement proposal for this.

[2021-06-21 20:52] kgold2 opened #688 "installer TPM2TOOLS_VER="3.X" is end of life"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 20 / groovy
 * Processor architecture: x86
 * TPM Manufacturer: n/a
 * Keylime version: master

# Description

The installer is calling tpm2-tools 3.x.  This is labelled end of life.

## Expected behavior vs. actual behavior

Perhaps this mu

[2021-06-22 14:28] #671 closed

[2021-06-23 21:57] kgold2 commented on #655
Same on Ubuntu 18 bionic:
In the installer, I see for Fedora:
            TPM2_TOOLS_PKGS="tpm2-tools tpm2-tss tpm2-abrmd"
but it's not set for Ubuntu or Debian.  Could that be the problem?

[2021-06-24 22:19] lkatalin commented on #603
I am also hitting this issue.

[2021-06-25 14:12] lkatalin commented on #551
Just a comment that I am having these same issues (more than one EK, Quote intermittently invalid, and frequently the Connection Aborted message with the tenant) and `cp -r keylime/tpm_cert_store /var/lib/keylime` has not helped for my case. Especially on the frequent aborted connections I would love to know how to fix it.

[2021-06-28 13:57] osresearch opened #689 "Building keylime agent as a non-root user"
# Environment
 * OS / version:  Ubuntu 20.04,2
 * Processor architecture: x86-64
 * TPM Manufacturer: NA
 * Keylime version: 480c9b107c155e7a20442afe3be929cf5d50fb86

# Description

Building the semi-portable agent tarball with `-t` requires root access and modifies the underlying build system.  If there are steps that require `root`, such as installing dependencies, these steps could be exposed a

[2021-06-30 22:08] nabilschear commented on #689
@osresearch this is probably easy to hack into place because elevated access is only required to install packages with apt or yum.

[2021-07-06 16:42] lukehinds opened #691 "UUID case"
So it turns out UUID's should be lower case ("a" through "f" are in fact  hexadecimal values)

https://datatracker.ietf.org/doc/html/rfc4122#section-3

we hit this issue in the rust keylime agent, where the UUID crate generates a UUID lowercase, which does not map to the entry in keylime.conf

So this to me suggests we should user lower in the python side. Where lower is the default and everything

[2021-07-08 13:54] aplanas opened #693 "No documentation about `--mb_refstate`"
# Description

After #568, and in relation with #491 a new feature has been added, that will help to do a replay of the measured boot tracked by the event log.  There is no documentation about how this parameter can be used. Seems that is a JSON document but there is no description about the fields and how will be used.

[2021-07-08 13:59] aplanas opened #694 "If the PCR belong to a measured boot list, it is not validated"
# Description

If the PCR belongs to a hard-coded list of PCRs under `config.MEASUREDBOOT_PCRS` and `--mb_refstate` is not used, the check of match do not happens, so the tpm-policy parameter gets ignored.

## Expected behavior vs. actual behavior

If we pass a `--tpm-policy` with a PCR that belong to the list, like PCR 0 for example, the validation of this register never happens in the verifier u

[2021-07-08 14:05] aplanas commented on #694
please assign

[2021-07-08 14:36] maugustosilva commented on #694
This is a fair functional expectation for "non-MB", "non-IMA" cases.

[2021-07-09 06:33] aplanas opened #696 "CFSSL is is not FIPS certified"
# Description

IIUC seems that CFSSL is using the golang crypto libraries, instead of using a system library like libopenssl from the system.  Also, IIUC CFSSL is required when we need to revoke certificates.  Can be possible to leverage openssl in this situation too?

[2021-07-09 11:23] bartpastuszkaTE opened #697 "Re-activate agent on server puts it to state 3 for some period of time"
# Description
A disabled Keylime agent have operational state 7 (FAILED) and after the agent starts should be reactivated on Keylime server side, but if agent is stopped and you try to re-activate it on server the operational state becomes 3 (GET_QUOTE) for some time (~10 sec) and then get back to 7. State 3 is trusted, so this is undesirable behavior if an agent is stopped

## Expected behavior v

[2021-07-09 11:24] bartpastuszkaTE commented on #697
I already have prepared 2 fix proposals

[2021-07-09 11:34] bartpastuszkaTE commented on #697
please assign

[2021-07-09 14:17] mpeters commented on #696
AFAIK OpenSSL doesn't have a CA revocation mechanism.

[2021-07-09 14:19] aplanas commented on #696
I have no idea, is in my TODO to research, but I found this "crl" parameter early, with some documentation here: https://jamielinux.com/docs/openssl-certificate-authority/certificate-revocation-lists.html

I do not know how much it can help.

[2021-07-12 08:42] jronnblom commented on #691
Also note that different version of dmidecode can return UPPER or lower. Like in Ubuntu 18.04 vs Ubuntu 20.04.

This causes a problem in the old python agent.

[2021-07-13 11:01] lukehinds commented on #696
It's actually the go library that is not FIPS compliant, there are ways around that though.

Red Hat has a go fips compliant tool chain that will use OpenSSL bindings.

https://developers.redhat.com/blog/2019/06/24/go-and-fips-140-2-on-red-hat-enterprise-linux

This is how Red Hat ships openshift (which is built in go), while still remaining in FIPS land.

Hope that helps.

[2021-07-13 11:05] aplanas commented on #696
That helps a lot actually, I think that openSUSE will follow this too.

[2021-07-13 11:05] #696 closed

[2021-07-13 13:37] aplanas commented on #693
@maugustosilva Can you help me here? I am checking https://github.com/keylime/keylime/commit/c93fff3953fcaa11010fe5bc212e50a472b00215, https://github.com/keylime/keylime/commit/62e11ebd7dee435c14849189e0e278477cd25bb1, https://github.com/keylime/keylime/commit/1766957a748140d6040df70fd522452a12606a5e and https://github.com/keylime/keylime/commit/5f6bb2e075a7e80f7a54db254353fce89cc645b1 to figure o

[2021-07-13 18:45] lkatalin commented on #693
I am also having this same problem.

[2021-07-13 21:54] #694 closed

[2021-07-14 18:21] ljmcgann opened #702 "empty boot_aggregate wrong size depending on algorithm used for allowlist generation"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: CentOS Linux 7 (Core)
 * Processor architecture: x8664
 * TPM Manufacturer: tpm2-emulator
 * Keylime version: git commit 16a9cfd31b02f5c60b1ccc667627fac6144f82d1

# Description

The create_allowlist.sh does not add a boot_aggregate when generating

[2021-07-15 12:13] aplanas commented on #619
I think that this one can be closed

[2021-07-15 12:26] aplanas opened #703 "[enhancement] No useful default class to convert mb-refstate into a valid Test"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
Any

# Description
After researching https://github.com/keylime/keylime/issues/693 is clear that there is no mechanism in Keylime to transform a `mb-refstate` JSON document into a valid Test class.

We should implement one and make it the default, instead of Accept

[2021-07-15 12:47] #619 closed

[2021-07-15 16:39] ljmcgann opened #705 "Tenant delete not working without --no-verifier-check"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora
 * Processor architecture:
 * TPM Manufacturer: tpm2-emulator
 * Keylime version: 16a9cfd

# Description

If the verifier is hosted on a different machine than where the tenant is called, the keylime_tenant -c delete command will not work wi

[2021-07-15 18:22] maugustosilva commented on #705
@apoorvemohan This is related to the "single database for multiple verifiers" introduced by your PR.
@ljmcgann @mpeters I see this as a problem of documentation, instead of code. My proposal is to add a message alongside the following lines: "it was not possible to connect to `verifier` at `<IP>:<port>`. If you are attempt to contact a `verifier` directly - without a load balancer in front of it,

[2021-07-15 18:26] maugustosilva commented on #634
This was solved by #635. Closing it now

[2021-07-15 18:26] #634 closed

[2021-07-15 18:31] maugustosilva commented on #693
@aplanas @lkatalin yes, I have started the process of documenting it in https://github.com/keylime/keylime-docs/pull/62, but never quite finished it. In its simplest form, a "refstate" would be an empty dictionary. As the aforementioned document explains, this would means that verifier would get the measure boot log, replay it, and compare the states of PCRs 0-9 with the current quote from the age

[2021-07-15 18:33] apoorvemohan commented on #705
@ljmcgann Can you share the tenant command?

[2021-07-15 18:33] ljmcgann commented on #705
Thanks for getting back to me @maugustosilva. Could you clarify what this flag does that it requires a load balancer on the veriifer?

[2021-07-15 18:34] ljmcgann commented on #705
@apoorvemohan
keylime_tenant -c delete -v "172.16.100.206" -vp 8881 -u 4c4c4544-0034-4410-8056-cac04f4d3032

The CONF file the vm with our verifier has its address set to 0.0.0.0.

[2021-07-15 18:35] stefanberger opened #707 "Verfier runtime fault and behaviro change"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 34
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: https://github.com/keylime/keylime/commit/115d9cf7b4d2e7a25fbc61fca2b1eb6e5ce74e52

# Description

The following runtime error occurs when using signature ev

[2021-07-15 18:35] aplanas commented on #693
@maugustosilva thanks for the confirmation.

[2021-07-15 18:35] stefanberger commented on #707
#706 resolved the above 2 issues.

[2021-07-15 18:36] #707 closed

[2021-07-15 19:12] maugustosilva commented on #703
It is on my to-do list :-)

[2021-07-15 19:14] apoorvemohan commented on #705
@ljmcgann In the CONF on the verifier, if you specify "172.16.100.206" instead of "0.0.0.0", do you still see the error?

[2021-07-15 19:16] aplanas commented on #703
I am giving a try for the simplest possible parser, using directly the combinators already implemented. Lets see.

[2021-07-16 16:35] ljmcgann commented on #705
@apoorvemohan Setting the verifier to 172.16.100.206 makes it not require the --no-verifier-check flag

[2021-07-16 18:55] mpeters commented on #705
Setting IPs to `0.0.0.0` is a very common thing to make systems work where multiple IPs on the host might be involed. We need to make sure it's something that is supported.

[2021-07-19 11:29] aplanas opened #711 "keylime_tenant `--c update` fails with a race condition"
# Environment
 * OS / version: openSUSE Tumbleweed
 * Processor architecture: x86_64
 * TPM Manufacturer: vTPM
 * Keylime version: 6.1.0

# Description

I can add nodes via

[code]

But when I update them with

[code]

fails with

[code]

The logs show two issues:

* One unrelated, where complains about `mb_refstate`
* The log shows a request to DELETE the node, but complains later when adding tha

[2021-07-19 11:45] THS-on commented on #711
I can confirm this issue using a sqlite database.
Adding `sleep(2)` after `mytenant.do_cvdelete(...)` does make the tenant work as expected which makes me believe that the verifier returns `200` but the agent is not yet removed from the database.

[2021-07-19 11:54] aplanas commented on #711
Uhm now that I am inspecting the code this is indeed weird. The `def do_cvdelete` if gets a 202 will do several gets and some sleeps until is finally reported as deleted.

[2021-07-19 14:24] maugustosilva commented on #711
This is very interesting. If both of you are seeing the same problem is two separate environments we need to address it. How hard is to reproduce it?

I am asking because we are using `keylime` in production with hundreds of `agents` (and in a PoC with 5,000 `agents`) and have never noticed this problem.

Can you give me more details, both about your environments and the kinds of situations where

[2021-07-19 14:31] aplanas commented on #711
Mine is trivial. Is a two-node setup in QEMU with vTPM. The OS is openSUSE MicroOS and using the package from Factory (https://build.opensuse.org/package/show/openSUSE:Factory/keylime). But this should be irrelevant as is 6.1.0 with some patches that are in master (and not related with this codepath)

In this system is directly reproducible. Each update produces this issue but I remember in a diff

[2021-07-19 15:11] maugustosilva commented on #705
The main idea behind the *absence* of the `--no-verifier-check` is that `keylime_tenant` will, in case of `delete` operation, query the current status of the `agent`, in order to figure out which `verifier` the `agent` belongs to, before actually issuing the delete. Obviously, this means that the `-v` parameter might be dynamically overridden if needed.

[2021-07-19 15:49] aplanas opened #712 "`meta_data` field in the `event` dictionary is a string"
# Environment
 * OS / version: Any
 * Processor architecture: Any
 * TPM Manufacturer: vTPM
 * Keylime version: 6.1.0

# Description
During the execution of the `local_action_*.py` code, I try to inspect the `meta_data` field, that is expected to be a dictionary. This field is a string of a dictionary and cannot be accessed. The same happen for `tpm_policy` and `vtpm_policy`:

[code]

All the nest

[2021-07-19 16:33] THS-on commented on #711
My system a Fedora 33 VM using libvirt + QEMU with vTPM and 2GB of RAM. This reproducible with the latest Keylime git version installed with `./installer.sh`.

Here the output on my system. The second `update` should work but it doesn't.

[code]

[2021-07-20 12:55] apoorvemohan commented on #705
We can support this by having a different bind and public ip fields as suggested [here](https://github.com/keylime/keylime/issues/441#issuecomment-743029548).

[2021-07-21 13:43] aplanas commented on #712
To be honest I am scared to change the code, I found inconsistencies in the naming of the fields (meta_data / metadata, for example), and is created the agent dictionary in multiple places.

Also the auto-ipsec demo deserialize the text field explicitly in the local_actions, that seems weird.

[2021-07-21 15:06] #711 closed

[2021-07-22 11:22] THS-on commented on #712
Yes the naming should be consistent. The verifier API uses `metadata` and internally for the agent in the database `meta_data` is used. Changing the names would break the verifier or revocation API but I don't know if parts outside of Keylime consume that data in production.

That this field is a string instead of a dictionary is because this data is added by the tenant and there all nested struct

[2021-07-22 14:59] maugustosilva commented on #712
From my part, I would support a PR that modifies the database schema in a way that: a) changes the column name from `meta_data` to `metadata` and b) changes the column type from `String` to `JSONPickleType`.

[2021-07-22 15:02] maugustosilva commented on #670
PR# 683 is already merged, and solved this issue

[2021-07-22 15:02] #670 closed

[2021-07-22 15:03] maugustosilva commented on #666
Release 6.1.1 solves this issue

[2021-07-22 15:03] #666 closed

[2021-07-26 14:33] #691 closed

[2021-07-26 15:33] THS-on commented on #623
I'm supporting this change. I've now written my own tenant implementation and the current API documentation was not really helpful so I updated it.
If now more systems interact with Keylime we should have an up-to-date documentation for easier integration. Also the crypto and key derivation parts should be documented somewhere outside the original paper.

[2021-07-26 21:36] stefanberger opened #717 "Discussion: Learning the keys from the IMA log and using them for signature verification"
With an IMA policy rule like `measure func=KEY_CHECK keyrings=.ima|.builtin_trusted_keys` the IMA log starts reporting the keys that were loaded onto the respective keyrings. An allowlist could now be used by the verifier to approve the hashes of keys for the various keyrings and the verifier could then learn which keys to use for signature verification since the raw key bytes of the x509 cert in

[2021-07-26 23:36] kgold2 commented on #717
Regarding "verifier could then learn which keys to use for signature verification", does this mean that the verifier can determine approved keys from the attestor?  I don't think the verifier can trust the attestor, because a malicious platform could send malicious keys.
I envision that the verifier accesses a DB for a list of approved keys.  Machines are assigned a role (Company A, B, C, or HR, A

[2021-07-27 00:38] stefanberger commented on #717
Once the IMA policy contains ` measure func=KEY_CHECK keyrings=.ima|.builtin_trusted_keys` the above ima-buf entries will show up in the IMA log and you must then either add entries to the system's allowlist or to its exclude list (following the existing pattern of how allowlist and exclude lists are being used). If you put key hashes along with keyring names in the allowlist you can effectively s

[2021-07-28 05:54] THS-on commented on #717
Do we have the guarantee that the first entries after `boot_aggregate` are the keys? If not we might get an signature failure because the key wasn't yet in our keyring.

[2021-07-28 13:34] stefanberger commented on #717
@THS-on  On my test system I have the IMA appraise policy loaded after the keys were loaded (by Dracut) and the behavior seems to be so that this policy rule causes a report of the already-loaded keys in the selected keyrings. So you have these key entries really early in the log. Appending a rule like this if there's a policy already loaded such as for example trying `echo "measure func=KEY_CHECK

[2021-07-28 14:58] stefanberger commented on #717
A side-effect of this on iterative attestation is that we will have to store the verifier's virtual keyrings along with the learned keys into the DB.

[2021-07-28 16:58] THS-on commented on #717
Ok, if we document that this should be fine.

Regarding the allowlist I think it is a good idea to either put them into their own section or prefix them with something, so that they cannot be confused with regular files.

[2021-07-28 17:57] stefanberger commented on #717
So I thought about the flat allowlist that I am still working with a lot and declare an ima keyring using `<sha256 hash> %keyring:.ima`. We could then add this prefix `%keyring` to the ima-buf's filename part (e.g, `.ima`) before passing it to the ima-ng validator so it can find the entry.

The JSON formatted one could look like this here:

[code]

I haven't used it much so far, so I am not curren

[2021-07-28 19:22] THS-on commented on #717
Using `%keyring` as a prefix for the old format should work because I think the other paths should be normally absolute.

The current allowlist reader checks if it is a JSON object and otherwise  converts it into one here:
https://github.com/keylime/keylime/blob/6ffe92379ebde2577fd4b104f214734e16938cfc/keylime/ima.py#L241-L269

But then only the hashes are returned by `process_allowlists` which th

[2021-07-29 17:54] stefanberger commented on #717
PR #725 attempts to address the basic issue now of implementing an ima-ng validator validating keys to be loaded onto keyrings and the conversion of the flat allowlist holding keyring entries to the JSON representation.

[2021-07-30 19:04] stefanberger commented on #644
API versioning is now implemented via #701

[2021-07-30 19:04] #644 closed

[2021-08-18 14:43] kkaarreell opened #733 "Running tpm_server from scripts/tpm_serverd is not optimal"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: F34
 * Processor architecture: x86_64
 * TPM Manufacturer: IBM TPM emulator
 * Keylime version: 6.1.1

# Description
tpm_server is executed from tpm_serverd on background via:

tpm_server -rm tpm_server.log &

This is causing issues e.g. when runni

[2021-08-19 11:30] kkaarreell commented on #733
To add more context, the following thread describes same problem
https://www.reddit.com/r/ansible/comments/dlvh9y/cant_run_bash_script_in_the_background/

[2021-09-06 20:35] #436 closed

[2021-09-06 20:35] #605 closed

[2021-09-06 20:35] #631 closed

[2021-09-06 20:35] #636 closed

[2021-09-06 20:35] #342 closed

[2021-09-06 20:35] #640 closed

[2021-09-09 17:50] ljmcgann opened #748 "Keylime tenant status command not returning proper status for agent which has registered, but not yet started attestation"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Description
The Keylime tenant status command only ever polls the verifier to determine a status, but not the registrar. https://github.com/keylime/keylime/blob/1ed43ac8f75d5c3b

[2021-09-09 20:35] ljmcgann opened #750 "Keylime excludelist checksums"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Description
In some workflows, allowlists and excludelists will come from remote file servers. Currently the tenant can verify checksums for allowlists, but not excludelists. A

[2021-09-09 20:36] #748 closed

[2021-09-14 19:39] ljmcgann opened #756 "tenant calls not returning json"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Description

Tenant calls do not return anything and only write to logs. For example, the call "keylime_tenant -c status <uuid>" when made in code will return a string of logs,

[2021-09-15 01:24] mpeters opened #757 "Revocation actions fail because the cert is read as binary but encoded as text"
# Description

Revocation actions fail on local nodes because it isn't properly handling the cert. A recent change (https://github.com/keylime/keylime/commit/2ba03e9a3daf10fb4b39a68f2c9b556cc99d20d4#diff-bf2d7716986f3aca3950920e063c519a9306b090d95d900bfad8bd5f4c7e6799R111) made reading the cert as binary but some code later one tries to encode it as text.

[2021-09-16 13:46] kkaarreell opened #759 "Certificate is generated with wrong validity on system in GMT+2 timezone"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: RHEL-9
 * Processor architecture: x86_64
 * TPM Manufacturer: qemu virtual TPM
 * Keylime version: v6.2.0

# Description
When installing keylime on a system having CEST timezone certificates are generated with validity starting two hours in a futur

[2021-09-16 13:52] sergio-correia commented on #759
This is a regression from #747 -- the certificate was being generated previously with UTC time and after my change, it's using localtime.

[2021-09-16 20:42] THS-on opened #760 "Event log parsing fails because PyYAML does not accept special characters"
# Environment
 * OS / version: Fedora (Keylime Docker images)
 * Processor architecture: x86
 * TPM Manufacturer: swtpm
 * Keylime version: git snapshot of 2d70b99d9cdcbcbb1642f12510444723c68473a1

# Description
If a UEFI event log contains non printable characters in strings like "\u0008" (backspace) PyYAML breaks and causes an unhandled exception in the verifier.

This is caused in our case by G

[2021-09-29 06:27] cdz99 opened #765 "What shall I do with Tss2_Tcti_Device_Init() Failed to open device file /dev/tpmrm0 error?"
When I start keylime_agent, on CentOS7

the error appears. what shall I do?

[root@localhost ~]# /usr/local/bin/keylime_agent
Using config file /etc/keylime.conf
2021-09-29 14:19:01.683 - keylime.tpm - INFO - TPM2-TOOLS Version: 3.2.2
Traceback (most recent call last):
  File "/usr/local/bin/keylime_agent", line 5, in <module>
    from keylime.cmd.agent import main
  File "/usr/local/lib/python3.6

[2021-09-29 07:15] THS-on commented on #765
What kernel version are you running?

We are now using the kernel resource manager for the TPM. If you are running a Kernel older than 4.12 this feature is no available.
Instead install tpm2-abrmd and export `TPM2TOOLS_TCTI=tabrmd:bus_name=com.intel.tss2.Tabrmd` before starting the agent.

[2021-09-29 07:33] cdz99 commented on #765
It is Linux 3.10.0-693.el7.x86_64. I use tpm_emulator.service as tpm. can It work?

[2021-09-29 07:33] cdz99 commented on #765
It is Linux 3.10.0-693.el7.x86_64. I use tpm_emulator.service as tpm. can It work?

[2021-09-29 08:04] cdz99 commented on #765
yum install tpm2-abrmd
export TPM2TOOLS_TCTI=tabrmd:bus_name=com.intel.tss2.Tabrmd

[root@localhost ~]# /usr/local/bin/keylime_agent
Using config file /etc/keylime.conf
2021-09-29 15:59:52.318 - keylime.tpm - INFO - TPM2-TOOLS Version: 3.2.2
Traceback (most recent call last):
  File "/usr/local/bin/keylime_agent", line 5, in <module>
    from keylime.cmd.agent import main
  File "/usr/local/lib/py

[2021-09-29 11:03] THS-on commented on #765
I don't know what kind of emulator `tpm_emulator.service` is which package contains that service.

I would recommend either to use swtpm integration into QEMU/libvrit if that is your hypervisor.
If you want to run a virtual TPM for testing on the same system use swtpm.

Some information can be found here: https://keylime-docs.readthedocs.io/en/latest/installation.html#tpm-2-0-support

[2021-10-13 00:50] #717 closed

[2021-10-13 15:46] DanNiESh opened #773 "Migrating to mysql db error: VARCHAR requires a length on dialect mysql"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: fedora 33
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Description
After switching the keylime db from sqlite to mysql. There's an error when keylime_verifier is started and database cloud_verifier is being migrated: "sqla

[2021-10-18 15:09] #773 closed, assigned to nobody

[2021-11-05 11:22] kkaarreell opened #782 "registrar TLS related config uptions prefixed with registrar_ seems not to be used"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:  RHEL-9 / CentOS Stream 9
 * Processor architecture: x86_64
 * TPM Manufacturer: IBM emulator
 * Keylime version: current upstream Nov 1, 2021

# Description
https://github.com/keylime/keylime/blob/master/keylime.conf#L190
The following options wit

[2021-11-05 13:05] kkaarreell commented on #782
Additionally,
https://github.com/keylime/keylime/blob/master/keylime.conf#L168
and
https://github.com/keylime/keylime/blob/master/keylime.conf#L490
mentions `<fully_qualified_domain_name>-public.pem` as a default filename for the private key,
I assume it should state `-private.pem` instead (since it is a private key). Not sure what is the actual
call within the code.

[2021-11-08 10:14] kkaarreell opened #783 "Validation Error due to Skipped template_hash validation entry with FF_HASH"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: RHEL-9 / CentOS Stream 9
 * Processor architecture: x86_64 / KVM
 * TPM Manufacturer: KVM
 * Keylime version: current upstream master Nov 8 2021 (6.2.0+)

# Description
Agent fail validation due to tomtou_errors that should be skipped.

I was point

[2021-11-08 10:28] THS-on commented on #783
Thanks for reporting it. You are right that my PR does not fix it correctly. This skips creating an error specifically for that but tries to still validate the entry and that of course will fail. I'll make a PR that hopefully fixes it completely.

For testing can you provide me a log with tomtou_errors?

[2021-11-08 12:15] kkaarreell commented on #783
@THS-on I am sorry but I am new to keylime, would you mind giving me a hint where to find them?

[2021-11-08 15:34] THS-on commented on #783
I meant the IMA ASCII log that can be found here: `/sys/kernel/security/ima/ascii_runtime_measurements`

[2021-11-08 15:48] kkaarreell commented on #783
Right, of course. :-)
You can download it from
https://drive.google.com/file/d/1_2I2UnDVuJbHr9Wq_kxXak_7rdbRhXcG/view?usp=sharing

[2021-11-09 08:59] THS-on commented on #783
Thanks for providing the log. This gives me now an idea when these errors happen.

Is there a reason that you measure `/var/log` and `/var/tmp`?
If not adding these options to your IMA policy should reduce the error rate.
[code]
Documentation can be found here: https://www.kernel.org/doc/Documentation/ABI/testing/ima_policy

[2021-11-09 12:00] kkaarreell commented on #783
No, I simply didn't know how to exclude that.
In my test I am basically putting all content under root directory `/` except `/keylime-tests` to `exclude_list.txt`
so measuring `/var/*` is not necessary,

In case you would like to take a look at my test it is available at
https://github.com/RedHat-SP-Security/keylime-tests/blob/main/functional/basic-attestation-on-localhost/test.sh
and the `lime` b

[2021-11-09 13:57] #783 closed

[2021-11-09 15:49] kkaarreell commented on #783
Hi @THS-on , I have scheduled my test again just now and it still fails. Would you have an idea what could be the root cause?
The log looks the same
[code]
Is the settings suggested above necessary for test to pass?

[2021-11-09 16:05] mpeters commented on #783
@kkaarreell Do you have `tomtou_errors` set to `False` in the `[cloud_verifier]` section of keylime.conf?

[2021-11-09 16:24] THS-on commented on #783
Found the issue: `config.getboolean(...)` does not actually return a boolean if a fallback is set.

https://github.com/keylime/keylime/blob/3163e3d99fbdd4e381aa61a42bc586aad6a97bea/keylime/config.py#L169-L172

So the setting in the keylime.conf evaluates to True, even when it set to `False`.

[2021-11-09 18:03] kkaarreell commented on #783
Great work @THS-on , thank you!

[2021-11-10 13:10] kkaarreell commented on #783
I can confirm that my test is passing with the latest updates. Thanks again!

[2021-11-10 15:11] ljmcgann opened #790 "PYPI"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Description

Keylime services need to be made available for installation via PYPI. This was deemed necessary for integration with Ironic by the upstream Ironic community.

## Ex

[2021-11-12 14:48] THS-on commented on #782
The first issue is now fixed with #792. I couldn't find any part of the registrar code that uses those options.

For the `-public.pem` issue it makes sense and in our setup we also explicitly specify `-private.pem`,
but I'll have to check that all code actually assumes that.

[2021-11-12 18:19] THS-on commented on #790
As discussed on Slack adding Keylime to PyPI is a good idea and the following steps are required to make this possible:
- [ ]  Make Keylime compliant with the packaging required by PyPI and make a PR for that
- [ ]  Create a account for PyPI. @mpeters can you do that?
- [ ]  Integrate uploading to PyPI into the CI pipeline

We should probably include on the PyPI page that Keylime requires tpm2-too

[2021-11-12 18:28] ljmcgann commented on #790
I can tell you the entire reason Ironic requires Keylme to be in PYPI is for using the tenant. Having the tenant be in a separate repo might be a good idea

[2021-11-12 18:37] THS-on commented on #790
Do you actually need the whole tenant functionality or only the primitives to interact with Keylime?

If the later is the case we can maybe try to make https://github.com/Lernstick/Lernstick-Bridge/tree/master/lernstick_bridge/keylime a separate library.

[2021-11-12 18:51] ljmcgann commented on #790
At the moment the Ironic code uses the tenant in code, importing it and creating tenant objects. It is a bit hacky given that the tenant wasnt particularly built to be used this way. The json patch i submitted standardized the output of most of the tenant commands and made them return json objects as a way to make the tenant more usable in code. I guess the concern with Lernstick is the support it

[2021-11-12 19:25] THS-on commented on #790
My idea was that it might be possible put the code I've written into a library like `keylime-bindings` under the Keylime organization and then the Lernstick Bridge, the Keylime tenant and the Ironic integration could depend on it.
Just uploading Keylime to PyPI is definitely easier.

I work on the Lernstick project and support the Keylime integration there. It is not directly affiliated with Keyli

[2021-12-01 15:13] kkaarreell opened #800 "keylime_tenant -c cvlist fails due to Unexpected response from Cloud Verifier"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora35
 * Processor architecture:  x86
 * TPM Manufacturer: swtpm
 * Keylime version: current latest (head a712b8393c75f6db0d29f95e57c268fc56450d7d)

# Description
keylime_tenant -c cvlist fails
Using config file /etc/keylime.conf
2021-12-01 09:4

[2021-12-01 15:13] kkaarreell commented on #800
FYI @sergio-correia

[2021-12-01 15:17] kkaarreell opened #801 "IMA emulator should use SHA256 instead of SHA1"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: latest upstream (a712b8393c75f6db0d29f95e57c268fc56450d7d)

# Description
swtpm starting version 0.7.0 stopped using SHA1 for pcs, uses SHA256 instead.
Keylim

[2021-12-02 09:57] THS-on commented on #801
The current issue is that we hardcode the IMA PCR to be SHA1 and most kernels today use the SHA1 in the IMA log (but they also extent to SHA256 PCRs).
We should make this algorithm independent. It should be rather simple to extend to current parser to validate also other algorithms and then we could deprecate that we force the agent to also sent the sha1 PCR value for the IMA log (tracking issue #

[2021-12-02 10:10] sergio-correia commented on #800
Thanks, I found the issue and will submit a fix soon.

[2021-12-02 15:26] #800 closed

[2021-12-03 16:32] THS-on commented on #801
@kkaarreell #803 now contains a new IMA emulator that has the option to use multiple hash algorithms.

[2021-12-03 19:18] THS-on commented on #326
Now that we have webhook support for external systems, is this issue still relevant?

[2021-12-06 20:25] mpeters commented on #326
Probably not. I think webhooks are a cleaner solution than something that can do even more code execution.

[2021-12-06 20:25] #326 closed

[2021-12-13 13:12] THS-on commented on #760
please assign

[2021-12-13 14:24] #782 closed

[2021-12-15 14:53] #30 closed

[2021-12-15 14:53] #801 closed

[2021-12-21 23:00] bnevis-i opened #814 "sqlalchemy.exc.ProgrammingError: (psycopg2.errors.SyntaxError) type modifier is not allowed for type "text""
# Environment
 * OS / version: Fedora 35
 * Processor architecture: x86_64
 * TPM Manufacturer: libvirt virtual TPM
 * Keylime version: master (4a1b69b1e759d824c3561ac4eb92e38dd6bb0d77)

# Description
Error message while initializing postgres database (verifier service)

## Expected behavior vs. actual behavior

## Steps to reproduce problem
1. Configure `/etc/keylime.conf` (verifier service)
2. `

[2021-12-22 14:12] THS-on commented on #814
@bnevis-i can you check if #815 works for you?

[2021-12-22 14:19] sergio-correia commented on #814
Not @bnevis-i, but It worked for me on postgres. Didn't check mysql to see if it still works, though.

[2021-12-22 14:37] THS-on commented on #814
I've ran the migration steps against a mysql database and it does not break there.

[2021-12-22 17:49] bnevis-i commented on #814
@THS-on Ok.  Will pull the branch and test.

[2021-12-29 06:06] mengwangict opened #817 "I suffer a problem when first using of keylime with one machine."
# Environment
 * OS / version:
 * Processor architecture:

[root@keylime-fedora33 ~]# uname -a
Linux keylime-fedora33 5.8.15-301.fc33.x86_64 #1 SMP Thu Oct 15 16:58:06 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

 * TPM Manufacturer:
I use emulator with ibmtpm1119.tar.gz and tpm2-abrmd.

 * Keylime version:
[root@keylime-fedora33 ~]# rpm -qa | grep keylime
keylime-6.1.0-2.fc33.noarch

# Description

[2022-01-03 17:27] #814 closed

[2022-01-04 15:28] mpeters commented on #817
Are you also running the `keylime_ima_emulator` tool? If you are using a software TPM then the IMA part of the kernel can't use it because it starts too late. So you need to use the `keylime_ima_emulator` so that it takes the IMA measurements and extends them into the software TPM.

[2022-01-05 07:56] mengwangict commented on #817
Whether I run the cmd of keylime_ima_emulator or not, the problem keep the same.
----------------
[root@keylime-fedora33 ~]# keylime_ima_emulator
Using config file /etc/keylime.conf
2022-01-05 15:46:34.600 - keylime.tpm - INFO - TPM2-TOOLS Version: 4.3.2
Client accepted
Client accepted
Monitoring /sys/kernel/security/ima/ascii_runtime_measurements
extending hash 0adefe762c149c7cec19da62f0da1297fcf

[2022-01-05 11:47] utkarsh2102 opened #820 "No man pages for any of the 12 binaries"
Hello,

The source ships about 12 binaries, as of writing, and no man pages. Whilst those are completely optional, I wonder if we can ship them, too? Those will be super helpful for the users, et al. If those binaries provide an output for `--help`, then we could convert that to a man page using tools like `help2man` or something similar. If there exists some documentation on the binaries somewher

[2022-01-05 16:41] kkaarreell opened #821 "Tenant registration ends with Invalid Quote with TPM provided by QEMU"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:  CentosStream-9/Fedora-35
 * Processor architecture: x86_64
 * TPM Manufacturer: QEMU
 * Keylime version: current latest upstream 2902fe8a7173f3350138f7dcfe8551f1fc3b697f

# Description
System is a virtual system with TPM emulated by QEMU. IMA is c

[2022-01-05 16:41] kkaarreell commented on #821
FYI @sergio-correia

[2022-01-05 16:55] THS-on commented on #821
@kkaarreell can you also post your IMA log (/sys/kernel/security/ima/ascii_runtime_measurements), your generated policy and the output of tpm2_pcrread ?

[2022-01-05 18:34] kkaarreell commented on #821
Hi @THS-on , I have uploaded logs in an archive to
https://drive.google.com/file/d/1HajPMI9jmdW7wp1wb9CQ5hGfK6Fq6Ktf/view
Please note that this time it is Fedora-35 system.

[2022-01-05 18:34] sergio-correia commented on #821
Thanks, @kkaarreell, I was just uploading them as well :)

[2022-01-05 19:59] THS-on commented on #821
@sergio-correia can you try to apply the following patch:
[code]

[2022-01-05 20:21] sergio-correia commented on #821
My test passed with this change, @THS-on, thanks!

[2022-01-05 20:26] THS-on commented on #821
Nice. Can you check if your tested IMA log contains entries like this (the hash is only zeros):
[code]
If yes this I'll make this a PR.

[2022-01-05 20:33] sergio-correia commented on #821
Yeah, I got many entries like these:
[code]

[2022-01-05 22:06] #821 closed

[2022-01-06 15:00] kkaarreell commented on #817
Hi @mengwangict ,
I do not have a straightforward procedure for you but maybe keylime-tests repo I am contributing to will provide you some hints.

Please take a look at https://github.com/RedHat-SP-Security/keylime-tests
Usually my procedure for the basic singlehost scenario is like this:
 - Execute https://github.com/RedHat-SP-Security/keylime-tests/blob/main/setup/configure_tpm_emulator/test.sh

[2022-01-06 15:21] kkaarreell opened #824 "verifier doesn't send revocation message to remote system"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: RHEL-9/CentoOS Stream 9/Fedora 35
 * Processor architecture: x86_64
 * TPM Manufacturer: TPM emulator
 * Keylime version: current upstream latest (4f0fc04b2aeb66b292cfb51b8713ca7633735d2e)

# Description

I have two systems:
[code]

I do have the f

[2022-01-06 15:53] kkaarreell commented on #824
The following terminal snippets capture the progress of the test. I am sorry for this form.

[code]

[2022-01-12 15:57] aplanas opened #830 "[Discussion] Drop SPDX-License-Identifier header?"
I will like to discuss the drop of the `SPDX-License-Identifier` and the Copyritght holders headers in the Python code.  The `LICENSE` file should cover the common case, and the copyright notice can be in the documentation, or in some more general place.

[2022-01-13 15:22] kkaarreell opened #832 "keylime_tenant -c reactivate tracebacks"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: RHEL-9/Fedora 35
 * Processor architecture: x86_64
 * TPM Manufacturer: tpm emulator
 * Keylime version: current latest upstream (e4ad1f3)

# Description

# keylime_tenant -c reactivate
Reading configuration from ['/etc/keylime.conf']
2022-01-13 10

[2022-01-13 19:57] #832 closed

[2022-01-14 15:27] THS-on commented on #830
I like having the licence identifier directly in the file, because then there is no ambiguity when other files in a project might have different licences.
Moving the copyright into a different file is fine for me because it does not make sense in most cases where multiple organisations now have worked on the same file.

[2022-01-14 15:31] aplanas commented on #830
Multiple license can be an issue sometimes (there are some incompatibilities), but when this situation is present would make sense that the file can have its own SPDX header when is not the default one.

I agree with the second argument.

[2022-01-14 19:24] mpeters commented on #830
I agree that pulling both into a single file would make sense and only have a separate license section for a file if it's different. But I'm pretty sure we would never want to have multiple licenses as not only are there incompatibilities, but it would make life very difficult for packagers.

I'm in favor of this change, but wanted to give it a couple of days to make sure there weren't any big obj

[2022-01-19 18:36] galmasi opened #840 "keylime agent fails to run on systems with certain Nuvoton 75x chips."
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 18.04 with custom-build backport kernel
 * Processor architecture: AMD64 with an actual AMD processor
 * TPM Manufacturer: Nuvoton 75x with a funny vendor string
 * Keylime version: 6.2.0

# Description

Keylime agent fails to start on a Len

[2022-01-20 08:02] kkaarreell opened #841 "verifier ends with Traceback after receiving SIGINT"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora35
 * Processor architecture: x86_64
 * TPM Manufacturer: virtual TPM
 * Keylime version: current latest upstream (f3fb006)

# Description
This does not happen always but quite frequently (30-50%)

## Expected behavior vs. actual behavior
ver

[2022-01-20 10:56] THS-on commented on #841
Are your first sending a SIGINT and then a SIGTERM?
For me it looks like that during shutdown it tries to handle do both and then fails because of that.
`device.destroy()` does block until all sockets are closed, so maybe the interval between those two signals is too short.

If this is not the case we can also probably drop the `device.destroy()` and let the garbage collection do the cleanup.

[2022-01-20 10:58] THS-on commented on #824
Can you retest with the refactoring of the revocation listener?

[2022-01-20 10:59] kkaarreell commented on #841
I do not recall if this was the case. I will give it another try and report back.

[2022-01-20 11:10] kkaarreell commented on #824
Sure. Was that already merged or is it in PR?

[2022-01-20 11:16] THS-on commented on #824
It is already merged. See: https://github.com/keylime/keylime/pull/837

[2022-01-20 13:05] kkaarreell commented on #824
I have just tested it. There is no difference, although the agent fails revocation, no revocation message is being sent over TCP and therefore the revocation script is not executed.

[2022-01-20 15:02] kkaarreell commented on #841
I am sorry for the confusion. I have tested it again and this traceback appears after receiving SIGINT (only).
Currently it can be visible in test results for
https://github.com/RedHat-SP-Security/keylime-tests/pull/33

[2022-01-21 13:23] THS-on commented on #841
I can reproduce this on my system. There is probably something with how signal handlers work in Python and the process for the revocation notifier.

[2022-01-23 14:37] kkaarreell commented on #824
FYI, it is now possible to reproduce this failure easily using the `tmt` tool.
Use the following test branch
https://github.com/RedHat-SP-Security/keylime-tests/tree/multi_revocation
and follow instructions for multi-host test execution from
https://github.com/RedHat-SP-Security/keylime-tests/blob/main/TESTING.md

[2022-01-25 15:08] THS-on commented on #824
If my understanding is correct, the CA is only there to validate the messages, not to receive them in the first place.

Can you set `receive_revocation_ip` to the IP of the verifier and check if it works then?

[2022-01-25 16:11] kkaarreell commented on #824
That helped. So when using `receive_revocation_ip = VERIFIER_IP` on verifier and `receive_revocation_ip = VERIFIER_IP` on agent the revocation scripts gets executed. I have confused bind address with remote address.

I think this issue can be closed, unless we want to make notes in keylime.conf more clear.
Thank you @THS-on .

[2022-01-25 16:14] THS-on commented on #824
We should definitely make a PR to make that more clear in the `keylime.conf` because it is not obvious if the agent listens to the `receive_revocation_ip` or connects to it.

Can you make this change?

[2022-01-25 16:19] kkaarreell commented on #824
OK, will do.

[2022-01-25 17:03] kkaarreell commented on #824
keylime.conf update has been done via https://github.com/keylime/keylime/pull/847

[2022-01-25 17:03] #824 closed

[2022-01-25 20:25] maugustosilva commented on #693
Given the existence of a documentation for this feature in https://github.com/keylime/keylime-docs/blob/master/docs/user_guide/use_measured_boot.rst, I will go ahead and close it for now. Feel free to reopen if needed.

[2022-01-25 20:25] #693 closed

[2022-01-25 20:35] maugustosilva opened #849 "When a "version 1" IMA allowlist (plain) is used, it is not possible for the tenant to specify a hash algorithm (other than `sha1`)"
On newer linux kernels (> 5.10) it is possible to specify, via kernel command line, the IMA hash algorithm to be used (via `ima_hash=` option).

However, when a "version 1" IMA allowlist (versions are loosely defined in the function `update_allowlist` on `ima.py`) is supplied by the `tenant`, there is no way to communicate which hash algorithm was used in its generation, defaulting internally to `

[2022-01-26 20:48] #849 closed

[2022-01-27 21:32] THS-on opened #859 "Clean artifacts before running CI locally"
The `.ci/run_local.sh` script leaves some artifacts around which makes the tests not deterministic in the worst case.

By default we should remove move all artifacts before running the tests.

[2022-01-28 15:15] kkaarreell opened #863 "registrar db code seems to be mixing str and bytes"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: CentOS Stream 9
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: current latest upstream (15663f0)

# Description
While working on a e2e test for keylime using postgresql I have encountered a failure when keylime age

[2022-01-28 15:42] kkaarreell commented on #863
Also, later in the test following traceback appears. There should be probably some test first if data exists.
[code]

[2022-01-31 08:20] THS-on opened #864 "Better support for running Keylime not as root"
## Issue
Currently Keylime supports running as a normal user, but the support can be improved.

First the Keylime still contains code (i.e. `REQUIRE_ROOT` in `config.py`) that checks explicitly for root. This is not required anymore and should be removed. @mpeters this is on your TODO list, right?

Second Keylime requires access to IMA and the UEFI eventlog, which are are provided by securityfs an

[2022-01-31 09:27] aplanas commented on #864
That is not correct. The openSUSE package still use `root` for keylime_agent. We will not change ownership of the `securityfs` files, as will be considered not sound.

[2022-01-31 09:29] aplanas commented on #864
I can bind mount / mount multiple times, but I cannot set uid / gid. Are you sure that this option can be done?

[2022-01-31 09:36] aplanas commented on #864
IMHO this kind of looks the more simple approach?

We can create in the agent's `keylime.conf` entry a non-privilege user where to downgrade. This allow us to use the same strategy to read both securityfs.

A similar approach is to split the keylime_agent is two services. One for the web, that will be running from the start as an unprivileged user, and another that will read the securityfs files,

[2022-01-31 10:43] THS-on commented on #864
Yeah, I misread the original discussion. It was only a (equally wrong) idea that was not implemented. Sorry.

I thought it worked, but indeed we cannot change the uid/gid and even if we mount it twice it will change the permission at both mount points (which makes sense).

Yes this is probably the best bet for the rust agent. It would also allow us easily to run the payload with a different user.

[2022-01-31 11:50] kkaarreell commented on #863
Looking into registrar_common.py , the dictionary `d` stored into the db contain following types:
[code]

[2022-01-31 13:27] kkaarreell commented on #863
I made my tests to work with the following changes.
https://github.com/kkaarreell/keylime/commit/086d91eb603b750dfbe0e0ecf9a482a9c841fa45
But I don't know if they are correct and especially whether `ek_tpm.decode('UTF-8')` won't break something in the code as I am not reverse the conversion anywhere in the code.

[2022-01-31 15:03] kkaarreell commented on #863
I have updated
https://github.com/RedHat-SP-Security/keylime-tests/pull/43
adding a similar test using mariadb (mysql fork) instead of postgresql and there is a failure in a verifier.
[code]
My allowlist is definitely not big, the input file has just 476807 bytes
[code]
while verifier_db defines it as
[code]

[2022-01-31 15:20] THS-on commented on #863
kkaarreell@086d91e
But I don't know if they are correct and especially whether ek_tpm.decode('UTF-8') won't break something in the code as I do not reverse the conversion anywhere in the code.

Thanks for taking a look at it.  I'll make a PR ensures those type conversions.

For the mysql issue: can you check on the mysql side what the properties of the columns are?

[2022-01-31 15:45] kkaarreell commented on #863
Hi @THS-on , I think I have a fix for the mysql issue. I have just pushed an update to my fork
https://github.com/keylime/keylime/compare/master...kkaarreell:db_fix

[2022-01-31 16:08] kkaarreell commented on #863
PR for the mysql issue is https://github.com/keylime/keylime/pull/865

[2022-01-31 16:10] ansasaki opened #867 "Typo in configuration file: listen_notfications instead of listen_notifications"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: N/A
 * Processor architecture: N/A
 * TPM Manufacturer:  N/A
 * Keylime version: Current master (1ebc78bb)

# Description
The configuration ``listen_notfications`` in ``cloud_agent`` section has a typo which is propagated throughout the code and al

[2022-02-01 17:11] kkaarreell opened #874 "Verifier fails to stop randomly"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:  Fedora35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: current latest upstream (0e8b593)

# Description
With e2e test is happens sometime that verifier isn't stopped after sinding SIGTERM and its process gets kil