[2022-02-01 20:20] mpeters commented on #874
How long are you waiting between sending the `SIGTERM` and when you are checking if the process is shut down?

[2022-02-01 23:05] kkaarreell commented on #874
Currently it is 15 seconds. I will try extending it a bit to see if it makes a difference. But usually 1 second is enough.

[2022-02-02 07:10] kkaarreell commented on #874
Increasing timeout to 30 seconds didn't make a difference.
I am pasting output from `python -m trace --trace` starting right before the SIGTERM has been sent.
[code]

[2022-02-02 08:36] THS-on commented on #874
Looks like this is again related to zermoMQ `device.destroy()` which hangs. I'll probably just add a timeout to kill it.

[2022-02-02 09:22] kkaarreell commented on #863
MySQL/MariaDB issue has been addressed with https://github.com/keylime/keylime/commit/7a43084cb64137d2ae9eda88ce21afe94750df97
IMHO this issue can be closed as resolved.

[2022-02-02 10:47] THS-on commented on #123
With the end-to-end test we cover now a wide range of supported tpm2-tools versions and we no longer require custom build versions of tpm2-tools. @mpeters I think this can be closed.

[2022-02-02 10:50] THS-on commented on #295
@mpeters the migration was done some time ago (https://github.com/keylime/enhancements/issues/18), so I think this can be closed.

[2022-02-02 10:54] THS-on commented on #697
This behavior some somewhat expected because re-activating the agent puts it back into START state and restarts the event loop and if the agent had some attestation failure then it goes back into the FAILED state.

A better indicator is to check if the `severity_level` is `null`. For more information see here: https://keylime-docs.readthedocs.io/en/latest/rest_apis.html#cloud-verifier-cv

[2022-02-02 12:21] #867 closed

[2022-02-02 12:23] #599 closed

[2022-02-02 12:24] #485 closed

[2022-02-02 12:37] THS-on commented on #537
The scripts on how to run the local container for testing have changed with https://github.com/keylime/keylime/commit/3163e3d99fbdd4e381aa61a42bc586aad6a97bea and are pretty robust. The only thing to remember is to set `KEYLIME_REPO_PATH` to the right directory.

@lukehinds do you think this issue is still relevant?

[2022-02-02 13:58] #863 closed

[2022-02-02 14:04] #123 closed

[2022-02-02 14:04] #295 closed

[2022-02-02 15:20] #548 closed

[2022-02-02 16:27] THS-on commented on #790
With #873 now merged I tried to do a test upload to PyPI, but Fedora reserved that name for us, so we will have wait for the name transfer: https://github.com/pypa/pypi-support/issues/1649

If you want to test it, I already uploaded it to the PyPI test servers: https://test.pypi.org/project/keylime/

[2022-02-02 16:39] stefanberger commented on #864
Here are the patches from a proposal that I had made a while ago: https://github.com/stefanberger/keylime/commits/stefanberger/agent_drop_privileges

Basically the idea was to start keylime agent as root, open files that can only be opened as root, drop privileges to nobody:nobody, access files via the open fd and `seek()`ing on them.

[2022-02-03 07:34] MikeSpreitzer commented on #535
See Log4j

[2022-02-03 16:16] kkaarreell commented on #874
I am not sure if this is the same problem but was facing same problem when webhook was configured to connect to HTTPS
[code]
and on a system I have started a server
[code]

[2022-02-04 15:29] kkaarreell opened #878 "Difficult agent mTLS configuration"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version: current latest 37d338f

# Description
keylime agent uses the following options for mTLS
[code]
keylime verifier uses
[code]
and tenant also uses
[code]

There are the following iss

[2022-02-08 22:41] THS-on commented on #864
@stefanberger thank you for the patches. It looks like that starting a root and dropping privileges after opening the IMA and UEFI log seems rather doable.

@aplanas I now agree with you that this is probably the simplest option to fix this issue. How do we want to proceed with this?

[2022-02-09 17:09] axelsimon opened #882 "Improve CN / SAN of generated certificates"
Currently, Keylime generates certificates that are only valid for one common name:
`CN = keylime `
and
[code]

This causes issues with tools that verify a certificate's validity more strictly, namely Go's standard library's TLS, which expect to see a given IP in the cert's SAN field (subject alt names) when connecting directly to an IP address.

One of the difficulties is that we don't know in adv

[2022-02-09 18:14] aplanas commented on #864
The problem with `chown` is that we are taking ownership of a system resource, during a package installation. The user should expect to still use the resource in other situations too, and a package should not have this side effect.

The udev rule seems reasonable, because can be present independently if keylime has been installed or not. But seems that securityfs have some limitations, like missin

[2022-02-09 18:15] stefanberger commented on #864
Another way: Open file descriptors as root and run the agent with lower privileges and pass in file descriptors via command line options. A wrapper could be a simple script or maybe systemd can also do that?

[2022-02-09 23:01] lkatalin opened #884 "Path to deprecation for loading revocation actions as Python modules"
As discussed with @THS-on and @mpeters , there is not an advantage of running revocation actions as Python modules, and it would be better to directly execute both Python and non-Python scripts. However, [the code](https://github.com/keylime/keylime/blob/37d338fe3056fdb9345f936902426ac22d9afaf4/keylime/keylime_agent.py#L583-L590) running revocation actions this way cannot be immediately changed, b

[2022-02-11 14:53] #882 closed

[2022-02-11 17:26] lkatalin opened #887 "Add config options as part of enhancement-55"
We need changes to `keylime.conf` in order for the Rust agent to be able to run revocation scripts as outlined in https://github.com/keylime/enhancements/blob/master/55_revocation_actions_without_python.md.

The work to bring the Rust agent in line with the Python agent in terms of revocation scripts is [pending a merge](https://github.com/keylime/rust-keylime/pull/321) into the Rust agent repo, a

[2022-02-14 12:26] kkaarreell commented on #874
I am pasting some updates on this issue.

Last week I was able to reproduce the problem quite frequently (every ~3-5 runs). Since commit cf679ed4d72cab887fa0c99de26b06ac653a097c I am not able to reproduce the problem locally anymore. However, we can see same/similar problem in Packit CI tests. It looks like the testing environment used by Packit CI makes this problem more likely to happen.

[2022-02-14 15:00] axelsimon commented on #882
Thanks @THS-on!

[2022-02-14 16:32] #887 closed

[2022-02-15 14:54] kkaarreell commented on #841
@THS-on I cannot reproduce it anymore even with the current upstream. I think we can close this one.

I have tested also code from PR#889 and it also worked well in the descrived (SIGINT) scenario.

[2022-02-15 20:11] #874 closed

[2022-02-16 13:59] ansasaki commented on #841
@THS-on Hello, should this be closed via #889?

[2022-02-16 14:01] ansasaki commented on #492
@THS-on Hello, should this be closed via #889?

@kaifeng Would it be possible to confirm if this is fixed for you?

[2022-02-16 14:01] THS-on commented on #841
@ansasaki yes.

[2022-02-16 14:09] THS-on commented on #492
@ansasaki yes, should be also fixed with #889.

[2022-02-21 08:42] kkaarreell commented on #882
Hello @THS-on ,
it seems these changes were not applied to a certificate used by keylime verifier. With `webhook_url 127.0.0.1` I am seeing this in the log
[code]
Generated certificate in `/var/lib/keylime/cv_ca/ksrot-fedora-36-cert.crt` looks like this
[code]

[2022-02-21 08:44] kkaarreell commented on #874
@THS-on @mpeters
I can reproduce another "verifier stopping" issue when using webhook verifier. Should I file a new issue or reopen this one?

[2022-02-21 09:01] THS-on commented on #882
Yes and this is intended. The change was only for the agent mTLS certificate.

If you use `keylime_ca` the name is added as DNS name (from your example `DNS:ksrot-fedora-36`). So if you generate a certificate called `localhost` then the SAN entry should be correct if you configure the webhook url as `https://localhost`.

[2022-02-21 09:04] THS-on commented on #874
@kkaarreell can you apply this patch and see if this issue still persists?
[code]

[2022-02-21 09:07] THS-on commented on #874
I think the issue is that your openssl test server never closes the connection of the POST request, so this is probably a better fix:

[code]

[2022-02-21 09:22] THS-on commented on #864
@stefanberger I couldn't find a way to do that using systemd, also passing file descriptors to non child processes looked rather tricky. I tried some things with udev, but it did not seem to work.

Unfortunately systemd also not exposes a mount unit (https://github.com/hramrach/systemd-1/commit/160481f68d0a5f26f75c04fb576fb854fd5416a5) which we could modify.

We could add a service that sets the c

[2022-02-21 09:23] THS-on commented on #841
@kkaarreell can you close this issue?

[2022-02-21 09:32] kkaarreell commented on #874
I have encountered the issue even when the connection is closed due to a wrong certificate or when `webhook_url` points to a different (unreachable) address.

It helped.

[2022-02-21 09:33] kkaarreell commented on #841
This is now fixed.

[2022-02-21 09:33] #841 closed

[2022-02-21 10:22] ueno opened #895 "Configuration file in TOML?"
In the current keylime configuration, I see a few inconsistencies in representing constructed types such as lists:
[code]
The former is parsed using the python `ast` module, while the latter is manually split (whitespaces around comma are sometimes tolerated, but sometimes not). Perhaps it might make sense to eventually migrate to a more expressive language like [TOML](https://toml.io/en/) for usa

[2022-02-21 10:51] THS-on commented on #895
I really like the idea. There are a  few things to consider:

- The Python code currently relies on ConfigParser and that the logging config is in that INI format. This will require some work to change that.
- The stacking for config files should still work.
- Upgrade path for existing configs. Can we provide a way for either converting or still loading old Python config files?
- Adding an `includ

[2022-02-21 15:18] mpeters commented on #895
All of these ideas (including using TOML) all sound good to me, but are at least semi-disruptive. I'm definitely open to having an enhancement document we can kick around and design a future solution with.

[2022-02-21 20:20] kkaarreell opened #896 "revocation_notifier won't connect to webhook without simplejson"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora36
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: current upstream (3590e21)

# Description

Without python3-simplejson installed revocation_notifier won't connect to the webhook URL but fail with
[code]

Thi

[2022-02-21 21:35] #492 closed

[2022-02-22 12:13] aplanas commented on #864
We can do this yes.

I asked around here about if there is a problem having a file descriptor open for years and the feedback is clear: none. Seems that this is the usual thing to do when downgrading privileges, even for write file descriptors (IMA will be open "ro", that can be considered safer).

I am more inclined for the downgrading approach here, but I can go with any.

[2022-02-22 14:06] mpeters commented on #864
I'm also more inclined to go the downgrading approach. It's the standard way that lots of daemons do what they need to do (like open privileged ports, files, etc)

[2022-02-22 15:16] kkaarreell commented on #874
Hi @THS-on , do you want me to file/reopen the issue or are you going to propose a fix right away?

[2022-02-23 12:24] THS-on commented on #864
Dropping privileges is probably a better approach and gives us the option to run the payload as a different user in the future.

[2022-02-23 12:24] THS-on commented on #895
@ueno can you open a enhancement proposal for this change?

[2022-02-23 12:26] aplanas commented on #864
That is a very good point: separating the web agent user from the payload executor user in the future.

[2022-02-23 12:43] THS-on commented on #574
@kgold2 now that even Python 3.6 is EOL and we generally targeting 3.6 as the minium version (and also our dependencies), I think this can be closed. We will probably not going to start supporting Python 3.5.

The README also includes a note that Python 3.6 or grater is required: https://github.com/keylime/keylime#installer-script

cc: @mpeters

[2022-02-23 12:53] THS-on commented on #518
@kaifeng this works for me in Keylime 6.3.1 on Ubtunu 18.04 with Python 3.6 and Fedora 34, so I think this can be closed.

cc: @mpeters

[2022-02-23 16:48] THS-on opened #899 "Add note that the Python API of Keylime is unstable"
Now that Keylime is on PyPI, we should add note to clearly indicate that the Python API is unstable.
We do not guarantee any stable interfaces for the Python code.

[2022-02-23 20:32] kkaarreell commented on #697
I understand the request that system should not end up in a "trusted" GET_QUOTE state of it hasn't been proven correct beforehand. I make sense to me to have "untrusted GET_QUOTE" for not yet evaluated systems and another "trusted GET_QUOTE" for systems that were so far compliant.

[2022-02-23 20:39] stefanberger commented on #864
Opened PR #900 now.

[2022-02-24 09:31] THS-on commented on #697
@kkaarreell `GET_QUOTE` and all the other states are mainly for the event loop and no longer intended to check if an attestation failure occurred. For this we now have the `severity_level` and `last_event_id`. Adding more states just complicates the event loop, without any real benefit.

This issue was opened before the failure tagging and severity level PR (https://github.com/keylime/keylime/pull

[2022-02-24 09:41] kkaarreell commented on #697
I see, I wasn't aware of that. Thank you.

[2022-02-24 12:58] ansasaki commented on #680
@igurel Hello, do you plan to propose the enhancement? I think this change makes sense (together with #679), and would like to offer help, if needed.

[2022-02-28 08:51] Praneshss opened #901 "Issue running "keylime_tenant -h""
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Description

## Expected behavior vs. actual behavior

## Steps to reproduce problem
1. Python3_8) ps@PS:~$ keylime_tenant -h
Reading configuration from []
Traceback (most recen

[2022-02-28 09:31] THS-on commented on #901
@Praneshss which version of Keylime are you using?

The tenant requires to read the `keylime.conf` normally located under `/etc/keylime.conf`. If you used the installer.sh script this file is only readable as root.

[2022-02-28 09:51] Praneshss commented on #901
Keylime version is 6.3.1 Yes, I have used the installer.sh to install it. So, what should I do now? Should I run as root? or any other way?

[2022-02-28 09:53] Praneshss commented on #901
Problem Solved with chmod +r /etc/keylime.conf

[2022-02-28 10:18] THS-on commented on #901
Changing the `keylime.conf` to be world readable is not a good idea because it can contain passwords. A better way is to create a new group that can read that file and add your user to it, if you don't want to run keylime_tenant as root.

[2022-02-28 10:28] Praneshss commented on #901
Okay, Now running from root. Previous error has gone, but I got this new one.
(Python3_8) root@PS:/home/Ps/keylime# keylime_agent -h
Reading configuration from ['/etc/keylime.conf']
2022-02-28 14:26:05.283 - keylime.tpm - INFO - TPM2-TOOLS Version: 4.1.1
2022-02-28 14:26:05.314 - keylime.tpm - INFO - TPM2-TOOLS Version: 4.1.1
2022-02-28 14:26:05.323 - keylime.tpm - INFO - Taking ownership with con

[2022-02-28 10:33] THS-on commented on #901
The agent, verifier and registrar have no `-h` option, they only use the `keylime.conf`.  The agent also requires a certificate of the Keylime CA (https://keylime-docs.readthedocs.io/en/latest/rest_apis.html#agent-keylime-ca) which is by default generated by the verifier.

If you are running all components on the same device start them in the following order:
1. keylime_verifier: generates all the

[2022-02-28 10:55] Praneshss commented on #901
Okay, Thank you. Yes, I'm running all of them on the same device. running the `keylime_verifier `seems to take indefinite time. It has been stuck at the below point for more than 10 minutes.
[code]

[2022-02-28 10:57] THS-on commented on #901
This is expected. They are all long running services, that do not go into the background.

[2022-02-28 11:03] Praneshss commented on #901
Okay, Thank you. I got it. But running parallelly `keylime_registrar` is giving following error. Please note that my `keylime_verifier` is still on.
[code]

[2022-02-28 11:12] THS-on commented on #901
Ok that is strange. Can you list the content of `/var/lib/keylime` and its sub directories?

[2022-02-28 11:19] Praneshss commented on #901
Here, it is:
[code]

[2022-02-28 11:23] THS-on commented on #901
Try deleting the cv_ca folder and `cv_data.sqlite` and restart the verifier. The cv_ca folder should contain multiple certificates.

[2022-02-28 11:33] Praneshss commented on #901
It didn't help much. The problem persists. I see that no keys are generated inside the CV_CA folder.

[2022-02-28 11:57] Praneshss commented on #901
I'm running on Ubuntu 20.04.3 LTS with Python3.8. I have virtualbox installed with no images running in it.

[2022-02-28 12:13] Praneshss commented on #901
Now, after more than 30 min, I got the debug prints from the terminal running  `keylime_verifier`.
[code]
`keylime_registrar` seems to work fine now.

[2022-02-28 12:15] Praneshss commented on #901
Now, after more than 10 min, I got the debug prints from the terminal running `keylime_verifier`.

2022-02-28 16:10:05.687 - keylime.ca-util - INFO - CA certificate created successfully in /var/lib/keylime/cv_ca
2022-02-28 16:10:06.163 - keylime.ca-util - INFO - Created certificate for name PS successfully in /var/lib/keylime/cv_ca

keylime_registrar seems to work fine now.

[2022-02-28 12:20] THS-on commented on #901
Ok then the entropy pool for the VM might very low or it has not much CPU resources to generate the certificates.

[2022-02-28 12:26] Praneshss commented on #901
Does this mean I got the key_agent attestation fine?
[code]
From the terminal of registrar:
[code]
But I have no prints from verifier side.

[2022-02-28 13:52] THS-on commented on #901
You now have setup all the basic components, but not added the agent to attestation.
On how to do that refer either to the README (https://github.com/keylime/keylime#running-keylime) or the Keylime documentation (https://keylime-docs.readthedocs.io/en/latest/)

[2022-02-28 14:22] #574 closed

[2022-02-28 14:22] #518 closed

[2022-02-28 14:45] mpeters commented on #697
I agree with @THS-on on this one. `GET_QUOTE` shouldn't be used for trust-worthiness and we can close this issue.

[2022-02-28 14:45] #697 closed

[2022-02-28 15:03] #896 closed

[2022-02-28 15:04] #688 closed

[2022-02-28 19:58] mpeters commented on #760
@mbestavros can you look into why the github-actions bot didn't react to Thore's "please assign" comment like it claimed it would?

[2022-02-28 20:11] mbestavros commented on #760
@mpeters It doesn't seem like it was designed to react to messages in the first place - the bot message is from the "Greetings" workflow [here](https://github.com/keylime/keylime/blob/master/.github/workflows/greetings.yml).

AFAICT, it'll just print that message on someone's first contribution. It won't take any further action.

[2022-02-28 20:46] mpeters commented on #760
@mbestavros ah, I was confused and thought this was part of the other workflow stuff you worked on. Thanks for the pointer and it should be fixed in https://github.com/keylime/keylime/pull/904

[2022-03-02 11:18] Praneshss commented on #901
Thank you @THS-on . When I run `keylime_verifier` on an Ubuntu guest image in Virtual Box, the keys don't appear in the `cv_ca` folder even after half an hour. is it a different problem? or related to computational constraints of virtual image for key generation? How can I tell if it is only stuck at the generation of the keys?

[2022-03-02 14:09] mpeters commented on #519
@THS-on do you know if this is changed by the changes we made for python packaging?

[2022-03-02 14:12] #703 closed

[2022-03-02 14:12] aplanas commented on #703
Yes, thanks, lets close it!

[2022-03-02 14:14] mpeters commented on #705
My guess @maugustosilva and @apoorvemohan is that this can be closed since the bind addresses for each service part has been merged.

[2022-03-02 14:20] mpeters commented on #655
@THS-on is this fixed by recent changes you made to the installer for Ubuntu?

[2022-03-02 14:42] mpeters commented on #550
Is there anything else to do here? Did Luke's suggestion of setting `require_ek` to `false` in keylime.conf because you're using tpm_server not work?

[2022-03-02 14:47] mpeters commented on #570
We should now be installing tpm2-tools, etc using the system packages, so this should be fixed.

[2022-03-02 14:47] #570 closed

[2022-03-02 14:54] mpeters commented on #656
Is this still a problem? I remember @maugustosilva doing some work for the agent to clean things up when it restarts.

[2022-03-02 14:56] mpeters commented on #441
@kaifeng I believe this is done with your PR correct?

[2022-03-02 15:41] #633 closed

[2022-03-02 15:42] #603 closed

[2022-03-02 16:50] mpeters commented on #420
@maugustosilva and @lukehinds I don't see this config variable in the code anymore so I assume it was removed. It does however still exist in the `keylime.conf` in the repo, so I assume we can remove it, correct?

[2022-03-02 20:07] mpeters commented on #500
This is actually being done by the Red Hat QE team and the resulting tests are included in our pre-commit CI

[2022-03-02 20:07] #500 closed

[2022-03-02 20:11] mpeters commented on #573
I believe this has been fixed by @THS-on

[2022-03-02 20:11] #573 closed

[2022-03-02 20:13] mpeters commented on #554
This bug is no longer present in trunk

[2022-03-02 20:13] #554 closed

[2022-03-02 20:14] mpeters commented on #562
TPM 1.2 stuff has been removed from the installer

[2022-03-02 20:14] #562 closed

[2022-03-02 20:15] mpeters commented on #681
@THS-on was this cleared up as part of the recent mTLS work?

[2022-03-02 21:58] lkatalin opened #906 "Allow API minor versions greater than latest major version"
We made Zmq optional in favor of a REST API endpoint for revocations in the Rust agent, and updated our API version in accordance with [the enhancement](https://github.com/keylime/enhancements/blob/master/53_agent_local_revocation.md#notesconstraintscaveats-optional), from `2.0` to `2.1`. This broke our ability to communicate with the registrar (see [issue](https://github.com/keylime/rust-keylime/

[2022-03-04 14:44] ansasaki commented on #878
I would like to extend this to all roles and not only the agent. The configuration options names to set keys and certificates are super confusing and the comments don't describe for what they are used.

For example, in the `cloud_verifier` section:
[code]
Some clarification would be welcome. For example:
[code]
Also more consistency between the option names would be appreciated. Compare the above

[2022-03-06 10:31] THS-on commented on #901
Can you enable DEBUG logging in the `keylime.conf` and post the output the `keylime_verifier` here?
Also what kind of resources did you give the VM (memory, CPU, etc.)?

If it is an entropy problem you can check the current available entropy with:
[code]

If it is below 1000 you can use something like `haveged` to add more, but this might degrade the quality of the entropy, so use it ideally only

[2022-03-06 10:34] THS-on commented on #613
This can be closed in favor of https://github.com/keylime/enhancements/issues/60 which includes a way to eliminate the usage of PCR16 by using TPM2_Certify.

cc: @mpeters

[2022-03-06 10:40] THS-on commented on #519
@mpeters it is still broken. Should be a simple fix. Can you assign me to this issue?

[2022-03-06 10:42] THS-on commented on #655
@mpeters we don't use abrmd by default any more, so I think this can be closed.

[2022-03-06 10:47] THS-on commented on #656
We should now flush the old keys, but we still generate a new AK on startup which will cause the agent to fail attestation.

We discussed some time ago that features like a persistent AK go only into the rust-agent and we keep the TPM interaction code for the Python agent basically in maintenance mode.

[2022-03-06 10:57] THS-on commented on #681
@mpeters only the code for checking the certs was added. I have not modified the tenant to check certificates. Can you assign this issue to me?

[2022-03-06 11:06] THS-on commented on #878
@ansasaki I fully agree that we should cleanup and normalize the names in the configuration. If/when we move the configuration to TOML (https://github.com/keylime/keylime/issues/895) we should redesign our configuration.
This change has to be done probably with a major version change.

Can you provide a list of what config options and descriptions are confusing? Then I can make a PR that at least

[2022-03-07 14:00] ansasaki commented on #878
I think most of the options related with keys/certificates configurations are confusing or not clear:

In `cloud_verifier` section:
- `tls_dir`: could be more explicit, like `ca_dir`, `cv_ca_dir`, or `verifier_ca_dir`
- `registrar_tls_dir`: similar to above, could be `registrar_ca_dir` or `registrar_access_ca_dir`. I understand it is difficult to select a name as it is not usual to have the option

[2022-03-07 14:51] #655 closed

[2022-03-07 15:49] kkaarreell commented on #878
I would simply use something like `verifier_server_cert` and `verifier_client_cert`, which is in fact what these certs are expected to be. Comments surrounding these options should explain for what purpose these certs are being used in particular.

[2022-03-08 10:10] ansasaki commented on #878
This would be my preferred solution if it is acceptable to drop the possibility to set different keys/certs when connecting to each different service. I don't see any benefit of using individual keys/certs for each service.

It would be much simpler and clear if the services had `server_cert` and `server_key` if they work as a server and `client_cert` and `client_key` if they work as a client.

An

[2022-03-08 11:24] kkaarreell commented on #878
Just to clarify, I wasn't suggesting using one certificate for all services. Just using that simple option name within a particular section.

[2022-03-08 13:38] ansasaki commented on #878
Also to clarify, I wasn't suggesting using one certificate for all services, but for each entity to have a single client certificate if it works as a client instead of having a client key/certificate per accessed service.

For example in `cloud_verifier` section there are options to configure:
- server key/cert via `private_key` and `my_cert`
- client key/cert to access the registrar via `registra

[2022-03-08 19:38] #553 closed

[2022-03-09 14:58] #535 closed

[2022-03-10 14:56] ueno commented on #895
Sorry I haven't had time to do that in the past couple of weeks, but probably @ansasaki will help move this forward with his experience in certificate configuration :-) A few minor comments from the implementation perspective:
- It would be nice if a lint program is provided for the new format; maybe based on [JSON schema on TOML](https://json-schema-everywhere.github.io/toml)
- As for versioning,

[2022-03-10 16:03] mpeters commented on #895
I'd prefer to keep the file extension the same. Maybe we try to parse as TOML first and then if that passes we assume it's TOML? Is the current config accidentally valid TOML? Or some other way to determine?

I agree about the version attribute in the file though.

[2022-03-14 10:43] THS-on commented on #681
@mpeters fixing this will require adding a new config option to specify the root certificate for the CAs (registrar and verifier). I'll do that but it again complicates the TLS setup of Keylime.

[2022-03-14 10:50] THS-on commented on #878
@ansasaki I like the idea of only having one client certificate, but I don't know if this works because one cert can only be issued by one CA. At least we could simplify it to only use one key and dropping the password (this is not really necessary).

@maugustosilva do you split the CAs into agent, registrar and verifier in your installation? I think the idea that the registrar is used by differen

[2022-03-14 14:17] #519 closed

[2022-03-14 14:19] #681 closed

[2022-03-14 16:52] THS-on commented on #864
PR #900 was merged, so I will close this issue.

[2022-03-14 16:52] #864 closed

[2022-03-14 17:02] THS-on commented on #481
With the failure tagging system the reason why the system failed is visible.  Restarting a failed agent works with `PUT /{UUID}/reactivate`. Failures caused by an agent restart are tracked in #656.
Validating the clock data of a quote is part of https://github.com/keylime/enhancements/issues/59.

[2022-03-14 17:29] THS-on commented on #878
Actually I think we can move all components to the same CA by adding the option to trust multiple CAs for mTLS connection. We can have only one CA that issues the certificates for agent, verifier or registrar mTLS connections and sever certificates for the registrar and verifier by default. Then we could use the `server_key/client_key` and `server_cert/client_cert` from @ansasaki and just add a op

[2022-03-15 17:11] THS-on commented on #577
This can be closed because both issues are fixed.
1. is fixed in https://github.com/keylime/keylime/commit/d1599e1de2626b39fbb46c5faee45b0118a746ab
2. is fixed I think in https://github.com/keylime/keylime/commit/0558bfaec8b3b8b49960a2cbe82184f00f049d1c

cc: @mpeters

[2022-03-15 19:30] #550 closed

[2022-03-15 19:30] #577 closed

[2022-03-16 12:07] kkaarreell opened #923 "Adding allowlist with incorrect checksum leads to a traceback"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: F35
 * Processor architecture: x86_64
 * TPM Manufacturer:
 * Keylime version: current latest upstream ffe2b77

# Description

[code]

## Expected behavior vs. actual behavior
The tenant command should end with error without a traceback.

[2022-03-16 12:14] kkaarreell opened #924 "keylime_tenant -c deleteallowlist produce json.decoder.JSONDecodeError"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: F35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: current latest upstream ffe2b77

# Description

allowlist is deleted but requests.exceptions.JSONDecodeError is raised.

[code]
## Expected behavior vs. actual beh

[2022-03-16 12:17] THS-on commented on #441
There still no full separation.
I noticed that for the verifier and registrar still the following options were required because otherwise Keylime crashes:
[code]
The changes proposed I proposed in https://gist.github.com/THS-on/4229ba2c8c83dc5d9726a6c62c932868 include moving away from the TPM abstraction for quote validation. This will probably also reduce the cross dependencies of settings becaus

[2022-03-16 12:20] wahahaha123 opened #925 "about tpm_tenent add question"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:  20.04.1
 * Processor architecture:
 * TPM Manufacturer: ibmtpm tpm2-tools:4.0
 * Keylime version: 6.3

# Description
When I use keylime_tenent to add a node, when checking_quote, it will prompt yaml.scanner.ScannerError: while scanning a simple ke

[2022-03-16 12:32] THS-on commented on #925
How have you installed Keylime? are you using the master branch or the 6.3.0/1 tag?

How did you setup the TPM?

Can you patch `/usr/local/lib/python3.8/dist-packages/keylime/tpm/tpm_main.py` to log the output where the yaml parsing fails and then post logs again?
[code]

[2022-03-16 12:45] wahahaha123 commented on #925
I I installed it by` ./instal`l and started tpm by `systemctl start tpm-server`
This is the log output after my modification

[code]

[2022-03-16 12:56] THS-on commented on #925
Interesting the `sig:` prefix is gone missing. Can you try to install a newer version of tpm2-tools?

I currently have no test setup with tpm2-tools 4.0 installed, so reproducing this will take some time.

Can you generate a quote and validating it manually by running the following steps and post the output here?
[code]

[2022-03-16 13:07] wahahaha123 commented on #925
I installed the 5.2 version of tpm-tools before, but there was a problem when I createdek, and I couldn't find the ek handle, so I installed the lower version of tpm-tools.
When I execute tpm2_createeek manually, the same problem occurs. I don't know where this authorization value is set. The parameters in tpmdata.yml are like this
[code]
[code]

[2022-03-16 13:27] wahahaha123 commented on #925
When I update tpm-tools to the latest version 5.2, this problem occurs when I execute keylime_tenent
[code]

[2022-03-17 13:31] kkaarreell opened #928 "tenant --allowlist-checksum is not followed when --allowlist-url is used"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: F36
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: current latest upstream 99f444d

# Description
When adding allowlist specified by --allowlist-url the checksum provided by  --allowlist-checksum doesn't seem to be

[2022-03-17 13:33] kkaarreell commented on #928
Also, there seems to be a typo in the output
`to verifier integrity` instead of `to verify integrity`

[2022-03-21 15:40] THS-on opened #929 "Code quality improvements"
This issue tracks the different things that can be done to improve the code quality. If you want to fix some one of the issues please comment on this issue, so I can update it.

### pylint
We currently have a large list of warnings that we ignore. Those have to be reviewed and removed where possible.

**Current warnings:**
- [ ] W1509
- [ ] C0103
- [ ] C0115
- [ ] C0116
- [ ] C0201
- [ ] C0209
- [

[2022-03-22 13:49] aplanas commented on #929
Maybe use black to unify the code format?

[2022-03-22 14:06] THS-on commented on #929
Good idea. I did a test run and it touches basically 1/3 of the code base. We will probably have to find a configuration that does not change as much files. On a similar note we should then also use isort for the imports.

[2022-03-22 16:52] mpeters commented on #928
This was only affecting the `addallowlist` command not the more used `add` command and should now be fixed.

[2022-03-22 16:52] #928 closed

[2022-03-24 16:46] stefanberger commented on #929
W0102:  #939

[2022-03-24 20:00] stefanberger commented on #929
If we're not backporting patches and have a small PR queue we could just run it over the whole code base...

[2022-03-24 20:27] THS-on commented on #929
Yeah you are right. I only backported very small bug fixes in the past. Once the style fixes are merged we can just make a PR changes the formatting. The IMA device mapper PR, does not change much existing code, so rebasing that is not an issue.

[2022-03-28 10:15] kkaarreell opened #944 "Error parsing EK ASN.1 certificate of Nuvoton HW TPM"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: CentOS Stream 9
 * Processor architecture: x86_64
 * TPM Manufacturer: Nuvoton
 * Keylime version: current upstream [6aeb105]

# Description
What running the basic attestation scenario on localhost the agent fails to register and the following mess

[2022-03-28 10:16] kkaarreell commented on #944
@THS-on Please add your findings. Thank you.

[2022-03-28 10:18] THS-on commented on #944
The issuer attribute seems non standard: `Issuer: CN = Nuvoton TPM Root CA 2110 + O = Nuvoton Technology Corporation + C = TW`. Normally those fields should be comma separated not with a `+`.

[2022-03-28 10:34] THS-on commented on #944
Looking at [RFC 1779](https://datatracker.ietf.org/doc/html/rfc1779) it allows `+` as some kind of separator, but I have not seen anywhere else.

[2022-03-29 10:51] THS-on commented on #901
@Praneshss did you get Keylime running and can this be closed or do you require further assistance?

[2022-03-29 10:54] THS-on commented on #925
@wahahaha123 does it work with `require_ek_cert` set to `False`?

[2022-03-29 10:57] wahahaha123 commented on #925
Sorry for taking so long to reply, after I set require_ek_cert=False, it works normally.

[2022-03-29 11:02] THS-on commented on #925
Awesome! I think this can then be closed.

If you have further questions you can also join the `#keylime` channel on the [CNCF Slack](https://slack.cncf.io/).

[2022-03-29 11:04] wahahaha123 commented on #925
OK, thank you very much.

[2022-03-29 13:56] kkaarreell opened #945 "Incorrect exclude list validation in cloud_verifier"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora35
 * Processor architecture: x86_64
 * TPM Manufacturer:
 * Keylime version: current upstream [e7dcad7]

# Description
On
https://github.com/keylime/keylime/blob/master/keylime/cloud_verifier_common.py#L303
there is `lists.get('exclude')`  w

[2022-03-29 13:58] mpeters commented on #944
Does this mean we need to fix upstream packages to allow for this part of the spec?

[2022-03-29 14:07] stefanberger commented on #929
W0602: https://github.com/keylime/keylime/pull/946

[2022-03-29 15:02] THS-on commented on #945
Thanks for finding this. I already wanted to restructure the IMA allwlist/exclude API because it is more than that, but I haven't got around doing it.

[2022-03-29 18:15] THS-on commented on #945
@mpeters can you assign this to me?

[2022-03-30 14:21] #925 closed

[2022-03-30 14:26] #537 closed

[2022-03-31 05:43] mengwangict commented on #817
The problem resolved. This can be close. Thanks for  all the help

[2022-03-31 09:49] THS-on commented on #817
:+1: If you have any further questions either just open a new issue or join `#keylime` on the [CNCF Slack](https://slack.cncf.io/).

[2022-03-31 09:49] #817 closed

[2022-04-01 11:42] THS-on commented on #901
:+1: If you have any further questions either just open a new issue or join `#keylime` on the [CNCF Slack](https://slack.cncf.io/).

[2022-04-01 11:42] #901 closed

[2022-04-01 16:11] #680 closed

[2022-04-05 14:41] ansasaki opened #958 "keylime_agent: Inconsistent log levels for request responses"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: N/A
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: current master (3ab5531)

# Description
The log level for request response error messages are inconsistent. For example, the following code logs the error message as `I

[2022-04-05 22:30] kkaarreell opened #960 "keylime_tenant initiated action on verifier timeouts occasionally"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: current upstream [3ab5531](https://github.com/keylime/keylime/commit/3ab55312006e54c32cb4ccb58b577c43ae0dd459)

# Description
There are occasional failures i

[2022-04-06 12:00] THS-on commented on #944
I found out some more information. The `+` is used for RDNs which the cryptography library actually support. The issue seems to be that the order is wrong it should be `C, CN, O` not `CN, O, C`.

I tried to generate other "wrong" certificates with openssl, but it reorders it for me. I'll have to find another way to produce a similar certificate.

[2022-04-06 18:11] edwards-n opened #966 "Verifier hangs on cfsslproc.communicate"
# Environment
 * OS / version:  Ubuntu 20.04.4 LTS (GNU/Linux 5.13.0-37-generic x86_64)
 * Processor architecture: x86_64  Virtual Box Version 6.1.32 r149290 (Qt5.6.2)
 * TPM Manufacturer: Software emulated TPM installed by ./keylime/installer.sh -s
 * Keylime version: 9a03bd4

# Description
When starting up for the first time after a fresh install keylime_verifier appears to hang on cfsslproc.com

[2022-04-08 08:37] kkaarreell opened #970 "Required packaging module version is not sufficient"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Description
requirements.txt states that packaging>=16.0 is [required](https://github.com/keylime/keylime/blob/master/requirements.txt#L14)
however in [api_version.py](https://github.com/keylime/keylime/blob/master/keylime/api_version.py) we are using `minor` and `major` attri

[2022-04-08 08:39] kkaarreell commented on #970
The code introducing the feature to packaging module is in
https://github.com/pypa/packaging/pull/225/

[2022-04-08 18:39] THS-on commented on #970
Fixed in #971.

[2022-04-08 18:39] #970 closed

[2022-04-08 18:40] THS-on commented on #966
@sergio-correia any idea why you added `cfsslproc.communicate()` in https://github.com/keylime/keylime/pull/747?

[2022-04-08 19:39] sergio-correia commented on #966
I don't remember exactly, but if I am not mistaken, it was fixing a leak reported by the cfssl (`test_ca_impl_cfssl.py`) unit tests.

[2022-04-08 19:56] THS-on commented on #966
Ok, but why can this hang after a SIG_KILL?

[2022-04-08 20:06] sergio-correia commented on #966
No idea yet. I will investigate this.

[2022-04-11 05:33] THS-on commented on #733
Should be fixed with https://github.com/keylime/keylime-vagrant-ansible-tpm-emulator/pull/57.

[2022-04-11 05:33] #733 closed

[2022-04-11 05:37] THS-on commented on #475
I removed those files in https://github.com/keylime/keylime/pull/931, so I'll close this issue.

[2022-04-11 05:37] #475 closed

[2022-04-18 18:03] #572 closed

[2022-04-18 18:03] #765 closed

[2022-04-22 08:10] THS-on commented on #684
With the rust agent now being mostly feature complete, I don't think it is worth putting effort into changing the TPM code of the Python agent.

The rust agent does not have this issue.

[2022-04-22 16:41] mpeters commented on #684
Agreed.

[2022-04-22 16:41] #684 closed

[2022-04-28 13:22] mpeters commented on #944
If there's an upstream ticket, we might have some contacts that work on that library that we can prod about getting it fixed.

[2022-04-28 13:35] THS-on commented on #944
@mpeters no because I did not find a way to produce a "invalid" certificate with either the cryptography lib or openssl.

@kkaarreell @mpeters can we post the EK certificate for one of the devices in the testing farm publicly?

[2022-04-28 16:14] kkaarreell commented on #944
Not sure if it helps but one can download Nuvoton root cert and it seems to be the same

[code]

[2022-05-03 06:28] kkaarreell commented on #944
FTR, this behavioral change has been introduced by https://cryptography.io/en/latest/changelog/#v35-0-0

[2022-05-04 18:22] lkatalin opened #986 "Roadmap for official Rust agent"
This is an issue to keep track of todo items around deprecating the current Python agent and instead using the Rust agent as the official Keylime agent. This is meant to be changed and updated and to be a discussion starter, so please add comments!

#### High level
- [x] CI in Keylime repo should pass using the Rust agent (https://github.com/keylime/rust-keylime/issues/441)
- [x] Load testing with

[2022-05-04 18:23] lkatalin commented on #986
cc @mpeters @ueno @ansasaki @maugustosilva @lukehinds

[2022-05-06 15:55] lkatalin commented on #203
Should we close this in favor of #986 ?

[2022-05-11 08:50] iammrgenie opened #988 "Tenant add returns agent not found"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:  Ubuntu 20.04
 * Processor architecture:
 * TPM Manufacturer: Lenovo
 * Keylime version:

# Description
Testing out keylime with a lenovo laptop equipped with tpm2 and a virtualbox ubuntu vm as the verifier and registrar. Verifier runs fine and reg

[2022-05-11 15:05] mpeters commented on #988
Are you running the `keylime_tenant` commands on the same machine with the verifier and/or registrar? If not, you need to copy over the CA certs that the verifier generates so that it's using the same ones as the verifier/registrar.

[2022-05-11 15:28] iammrgenie commented on #988
Yeah. The tenant, registrar, and verifier are on the same virtual machine. And the agent runs on the host machine. I checked the registrar database and I can see the details of the registered agent.

[2022-05-11 19:30] THS-on commented on #988
Can you check the content of `/var/lib/keylime/cv_ca` and post the list of files here?

Also does switching to openssl help?

[2022-05-12 07:28] iammrgenie commented on #988
Here is the content of the cv_ca folder along with the permissions. Using openssl has the same issues.
total 56
-rw------- 1 keylime keylime   451 May 11 13:54 ca-public.pem
-rw------- 1 keylime keylime  1314 May 11 13:54 cacert.crt
-rw------- 1 keylime keylime   475 May 11 13:54 cacrl.der
-rw------- 1 keylime keylime   694 May 11 13:54 cacrl.pem
-rw------- 1 keylime keylime  1456 May 11 13:54 cli

[2022-05-12 13:47] #203 closed

[2022-05-19 18:35] maugustosilva opened #996 "The `verifier` is leaving a node in "Get Quote" state when the `agent` running there becomes unreachable (e.g., kernel panic)"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora Core 35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: post-6.4.0

# Description

The `agent` running on a node suddenly becomes unreachable due to the fact that the node suffered a failure (e.g., power outa

[2022-05-19 18:50] mpeters commented on #996
I wonder if we need another state. Maybe `UNREACHABLE`? As we have more IoT and Edge scenarios, network connectivity will be a real issue and allowing the user to decide if they should treat `UNREACHABLE` and `FAILED` as the same thing or not seems like a good feature.

[2022-05-19 19:18] THS-on commented on #996
Not really because we already have the event IDs for that. The device is still failed because otherwise an attacker could just take the device offline to get a less severe failure.

[2022-05-19 19:35] mpeters commented on #996
That is true, so at least we can distinguish between them.

Then the integrity failure would become apparent upon the next reboot, correct?

Being offline isn't necessarily an integrity problem, it's an availability problem. Keylime shouldn't really be an availability monitor but an integrity one. I still think there's an inherent difference between a known integrity failure and a known availabili

[2022-05-19 19:40] maugustosilva commented on #996
Fair point, and a user can choose to treat them differently, if he so decides, thanks to the event IDs.

[2022-05-20 07:14] #996 closed

[2022-05-23 13:16] lkatalin commented on #986
This list was created from some conversations on Slack:

https://cloud-native.slack.com/archives/C01ARE2QUTZ/p1650650434797609
https://cloud-native.slack.com/archives/C01ARE2QUTZ/p1651073817395479

[2022-05-24 21:36] kkaarreell opened #1002 "verifier should not be changing invalid measured boot policy name to accept-all"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

 * Keylime version: current latest, 4f69d9f

# Description
When a `measured_boot_policy_name` is set an invalid value, during the verifier start
it is changed to `accept-all` policy.

## Expected behavior vs. actual behavior
`accept-all` policy is benevolent and therefore using

[2022-05-25 04:23] THS-on commented on #1002
Should we error during startup or use a reject-all policy instead? I'm more for the first one.

[2022-05-25 05:00] kkaarreell commented on #1002
Error out I believe.

[2022-05-25 05:01] THS-on opened #1003 "Implement workaround for old tpm2-tools wrong GUID parsing in tpm2_eventlog"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 35
 * Processor architecture: x86
 * TPM Manufacturer: swtpm
 * Keylime version: latest master

# Description
tpm2_tools fixed their GUID parsing in https://github.com/tpm2-software/tpm2-tools/pull/2745 unfortunately this breaks the example

[2022-05-25 13:12] mpeters commented on #1003
That's a good question. What is our minimum supported tpm2-tools version?

[2022-05-25 14:22] maugustosilva commented on #1003
@THS-on what is the downside of simply adding both right and wrong GUIDs on the example policy, with the proper comments?

[2022-05-25 14:45] kkaarreell commented on #1003
I would say rather RHEL9. Still, even the v5.0 there doesn't work ATM since it doesn't support the required tpm_eventlog option.

[2022-05-25 15:14] THS-on commented on #1003
@maugustosilva other than having invalid GUIDs to check against nothing really....
Users might get confused if they read the same log using the IBM TSS, but I think this is not an issue in practice.

[2022-05-25 17:30] kkaarreell opened #1006 "config.py should be looking for libefivar.so.1"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora
 * Processor architecture:  x86_64
 * TPM Manufacturer:
 * Keylime version: current upstream

# Description

https://github.com/keylime/keylime/blob/dd048247154349d4d85b423c8f0325716bc96945/keylime/config.py#L146
It is a common practice to r

[2022-05-26 09:14] kkaarreell opened #1007 "Traceback when logging incorrect PCR bank value"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: current upstream 34a7165

# Description
In measured boot scenario when PCR bank value does not match a traceback appears in verifier log due to an incorrect

[2022-05-26 09:53] #1007 closed

[2022-05-31 14:23] THS-on commented on #1006
@aplanas is it the same for SUSE packaging? If yes we can safely change it to `libefivar.so.1`.

[2022-06-02 17:35] THS-on commented on #966
@sergio-correia no need to investigate this any further. We decided to drop support for CFSSL. See #1012

[2022-06-02 18:58] #966 closed

[2022-06-03 06:50] kkaarreell commented on #1003
@THS-on This issue can be closed now, correct?

[2022-06-03 06:52] THS-on commented on #1003
Yes, I think we won't implement the reparsing of the GUIDs to fix them manually.

[2022-06-03 06:52] #1003 closed

[2022-06-03 06:52] THS-on commented on #145
#1012 removed CFSSL support.

[2022-06-03 06:52] #145 closed

[2022-06-03 06:55] THS-on commented on #261
Should be fixed with #1012.

[2022-06-10 13:00] kkaarreell opened #1025 "/var/run/keylime is deleted when system is rebooted"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora, RHEL
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version: latest upstream e12658b

# Description
/var/run/keylime is removed with reboot since systemd manages /var/run content. This leads to
[code]

Is `/var/run/keylime` used

[2022-06-13 12:10] iammrgenie opened #1027 "Use EK certificate not stored in NVRAM"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 20.04
 * Processor architecture: x86 (UP xtreme board)
 * TPM Manufacturer: Intel
 * Keylime version: v6.3

# Description I am using a UP xtreme i7 board to test Keylime for a project. While testing an agent, we saw this;

2022-06-13 15:03:2

[2022-06-13 12:12] lkatalin commented on #884
Not stale :)

[2022-06-13 13:22] mpeters commented on #840
@galmasi just verifying, but this issue should be closed with your fix, correct?

[2022-06-13 13:24] aplanas commented on #830
I will do it!

[2022-06-13 17:29] THS-on commented on #1027
Thank you for reporting this.

You cannot set the `written` attribute and you also cannot set `platformcreate` if you try to define the NV index under the owner hierarchy. Something like this should work:
[code]
After that you should be able to use `tpm2_nvwrite` to write the EK certificate to that NV index.

Just out of interest does `tpm2_getekcertificate` work? I think tpm2-tools includes code

[2022-06-14 06:31] kkaarreell opened #1028 "exec: No such file or directory Error when running keylime_tenant"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: CentOS Stream 9, Fedora
 * Processor architecture: x86_64
 * TPM Manufacturer: QEMU / swtpm
 * Keylime version: current latest 1268609

# Description
When using keylime_tenant on a system with with IMA signatures enabled
[code]
I am getting the fol

[2022-06-14 06:51] iammrgenie commented on #1027
Hi. Thanks for responding.

tpm2_getekcertificate works. I used that to get the certificate from the intel servers. However, I am still having some issues defining the NV index.

[code]

This is what I get when I try the command you recommend. I also tried with the `-P keylime` as authentication but same error.

[2022-06-14 07:07] iammrgenie commented on #1027
It seems I can write to another index but not 0x1c0002. I tried

`tpm2_nvdefine 0x1500015 -C o -s 1033 -a "authwrite|ownerwrite|authread|ownerread|no_da" -P keylime` and it works fine. But when I try `tpm2_nvdefine 0x1c00002 -C o -s 1033 -a "authwrite|ownerwrite|authread|ownerread|no_da" -P keylime`, I get

`WARNING:esys:src/tss2-esys/api/Esys_NV_DefineSpace.c:344:Esys_NV_DefineSpace_Finish() Rece

[2022-06-14 07:15] THS-on commented on #1027
What does `tpm2_nvreadpublic` output?

[2022-06-14 07:25] iammrgenie commented on #1027
Shows the index I successfully created

tpm2_nvreadpublic
0x1500015:
  name: 000bef2a626e049269ba29be2617603f461118f8430e157f57d1654222ef32e2b006
  hash algorithm:
    friendly: sha256
    value: 0xB
  attributes:
    friendly: ownerwrite|authwrite|ownerread|authread|no_da
    value: 0x6000602
  size: 1033

[2022-06-14 10:04] kkaarreell opened #1030 "improper handling of ima signature and hashes"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: CentOS Stream 9
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: current upstream 1268609...

# Description
From https://github.com/RedHat-SP-Security/keylime-tests/pull/123 I am running the following test sequence
[

[2022-06-14 11:55] THS-on commented on #1030
I found now root cause of this issue.

Signatures are distributed in CentOS 9 Stream the following way:
1. Signatures are added to the RPM header (e.g. with rpmsign)
2. rpm-plugin-ima takes those signatures, converts them to the IMA format
3. signatures are attached to the file using the `security.ima` extended file attribute

Keylime does the following with a signature:
1. Parses the header
2. va

[2022-06-14 12:03] sergio-correia commented on #1028
A very quick look with `strace` seems to indicate the issue is the `execve` that comes from the `ncat` call:

[code]

Looks odd to me, but try to specify `/usr/bin/sleep` instead in the `ncat` call and see if it helps

[2022-06-14 12:49] THS-on commented on #1027
Ok. Maybe the TPM does not allow you to create that NV handle for whatever reason.

Maybe someone with deeper TPM knowledge can help @kgold2?

[2022-06-14 13:19] #830 closed

[2022-06-14 13:54] dmnks commented on #1030
Actually it doesn't seem to be related to the IMA plugin; it just calls into RPM to get the signatures in binary format and stores them into the extended file attributes.

[2022-06-14 14:02] THS-on commented on #1030
@dmnks thanks for taking a look at this issue.

Ok. Do you have an idea why the following signature then has the wrong length (26368 instead of 103) in the header?

[code]

This is the signature for bash in from IMA log provided above.

We do that and compare it against the length in the header as a sanity check.

https://github.com/keylime/keylime/blob/9a60e8218d21b7d178be9fb90bbd476ba2aa83ba/key

[2022-06-14 14:39] dmnks commented on #1030
Glad to help!

What do you mean by "has" here? Where is this length stored? Remember we don't store individual file signature lengths in the header.

I'm not familiar with the code base here, but where do you get the header data from exactly?

[2022-06-14 14:51] dmnks commented on #1030
Looking closer at the surrounding code linked above, this really doesn't seem to have anything to do with *RPM headers*. I wonder if this term is used within the context of IMA? If so, that could be where the confusion comes from.

[2022-06-14 14:54] THS-on commented on #1030
I mean the IMA signature. IMA signatures have the following format
[code]
See: https://elixir.bootlin.com/linux/latest/source/security/integrity/integrity.h#L126

The first five struct members are what I mean with "header". This header includes the signature length. We extract that length and compare it against the bytes that we got from the IMA log. In the provided example we expect 103, but `sig

[2022-06-14 14:55] THS-on commented on #1030
Yes I meant the IMA signature header, not the RPM one. Sorry for the confusion.

[2022-06-14 15:23] dmnks commented on #1030
Oh, that explains it, thanks! I wasn't aware of the internal structure of these signatures, but of course they'd contain some kind of a header structure!

So this indeed looks like the signature size is *computed* incorrectly at *sign* time before it's stored in the corresponding RPM tag `RPMTAG_FILESIGNATURES`. That leads to the [signFile()](https://github.com/rpm-software-management/rpm/blob/fdc

[2022-06-14 15:26] dmnks commented on #1030
If it was a bug in RPM's signing routine, it would have to be some undefined use of the `sign_hash()` API function, e.g. by passing it wrong parameters. I'd risk to say that this is more likely to be an issue within libimaevm.

[2022-06-14 15:27] dmnks commented on #1030
Do you see this with other packages than just `bash`?

[2022-06-14 15:31] dmnks commented on #1030
This size mismatch is also quite suspicious, it almost seems like there's some uninitialized variable in use.

[2022-06-14 16:07] dmnks commented on #1030
I just tried to reproduce this on a c9s system with [ima-inspect](https://download.opensuse.org/repositories/security/openSUSE_Factory/src/ima-inspect-0.14-13.30.src.rpm) on the `/usr/bin/bash` file from `bash-5.1.8-4.el9.x86_64` but the signatures seemed totally fine:

[code]

[2022-06-14 16:11] dmnks commented on #1030
OK, I *can* reproduce something with [bash-5.1.8-2.el9.x86_64](http://mirror.stream.centos.org/9-stream/BaseOS/x86_64/os/Packages/bash-5.1.8-2.el9.x86_64.rpm):

[code]

[2022-06-14 17:11] kkaarreell commented on #1030
I can confirm that. For some reason CI systems use older image with bash-5.1.8-2.el9. After updating to -4 things seems to work well. So hopefully these wrong signatures were present only for older builds.
I am sorry for the noise. Probably we can close this issue.

[2022-06-14 17:12] dmnks commented on #1030
Good to know, thanks!

[2022-06-14 17:36] kkaarreell commented on #1028
You are right. I was foolish uncommenting old command and assuming it would work. ;-)
Sorry again.

[2022-06-14 17:36] #1028 closed

[2022-06-14 17:54] THS-on commented on #1030
I'll close this now. If we see this again in the future, now we know where to search.

[2022-06-14 17:54] #1030 closed

[2022-06-14 20:15] THS-on commented on #656
With https://github.com/keylime/rust-keylime/pull/391 the rust agent should now work after a restart.

@galmasi can we close this? The Python agent will probably never receive that feature.

[2022-06-15 07:42] iammrgenie commented on #1027
Seems like it. Is there a way to tell keylime to look in a different NVRAM index for the EK certificate?

[2022-06-15 08:26] THS-on commented on #1027
Currently there is not. The index is specified in the spec, so allowing it to read from another location does not make really sense, but maybe a external path to a PEM file, for systems where the EK certificate is not distributed via the NV of the TPM. @mpeters what do you think?

[2022-06-15 08:27] THS-on commented on #960
This might have something to do with the sqlite driver and running multiple verifier processes on the same DB.

[2022-06-15 11:57] iammrgenie commented on #1027
So I went ahead to change the hardcoded values in the tpm_main.py so keylime would use an nv index I specified. However, I noticed the certificate I received from the intel server is not in an accepted format.

`tpm2_getekcertificate -u rsa_ek.pub -o ek_cert.bin https://ekop.intel.com/ekcertservice/`

which returns this bin file

{"pubhash":"LrZoQvxmVFvsHGfXgDICeCaEmTFUZGYCLghBgpSNSBo%3D","certifi

[2022-06-16 09:38] iammrgenie commented on #1027
`tpm2_getcap properties-fixed`
TPM2_PT_FAMILY_INDICATOR:
  raw: 0x322E3000
  value: "2.0"
TPM2_PT_LEVEL:
  raw: 0
TPM2_PT_REVISION:
  value: 1.38
TPM2_PT_DAY_OF_YEAR:
  raw: 0x8
TPM2_PT_YEAR:
  raw: 0x7E2
TPM2_PT_MANUFACTURER:
  raw: 0x494E5443
  value: "INTC"
TPM2_PT_VENDOR_STRING_1:
  raw: 0x496E7465
  value: "Inte"
TPM2_PT_VENDOR_STRING_2:
  raw: 0x6C000000
  value: "l"
TPM2_PT_VENDOR_STRING_3:

[2022-06-17 11:41] THS-on commented on #623
The change is done with https://github.com/keylime/keylime/pull/1018

[2022-06-17 11:41] #623 closed

[2022-06-17 11:44] THS-on commented on #685
I think we will not change this for the Python agent. The Rust does not persist the EK and does not set the owner auth.

@mpeters any other opinion?

[2022-06-17 11:50] THS-on commented on #750
This will be fixed once https://github.com/keylime/enhancements/pull/71 is implemented.

[2022-06-17 14:32] mpeters commented on #685
Agreed.

[2022-06-20 08:58] THS-on opened #1035 "Improving the Keylime documentation"
The Keylime documentation is now part of the main repository and want to improve it. Following things need to be improved:

### How to use the TPM EK CA Store
There is currently no documentation on how to add custom CA to the cert store (there is only a comment in the `keylime.conf`).

- [ ] Add documentation where the cert store is located and which format is used
- [ ] Add list of certificates p

[2022-06-21 17:11] idesai commented on #1027
@iammrgenie use [this](https://github.com/tpm2-software/tpm2-tools/blob/master/scripts/utils/icert2pem.sh) to parse the pem cert.

[2022-06-22 08:27] nullr0ute commented on #29
Ultimately as it already supports a general TPM2 to spec it should just work whatever the underlying TPM2 is.

[2022-06-22 08:45] THS-on commented on #1027
@idesai thanks for the script. It works on the cert provided by @iammrgenie.

Is there a Intel way to provision the EK certificate after the fact at the correct index (0x01c00002)?

[2022-06-22 08:46] THS-on commented on #29
Yes using a virtualized/emulated TPM like swtpm or Ken's TPM emulator just works fine with Keylime.

This issue is about vTPM support with deep quotes like it is in Xen supported for TPM 1.2.  Deep quotes are not part of the TPM2 spec and were never implemented outside of Xen.

[2022-06-22 09:05] iammrgenie commented on #1027
@idesai the script works great. Thank you for that. @THS-on I went ahead to manually change the NVRAM address accessed by the tpm_main.py file. I then defined a custom NVRAM index and uploaded the .der file into the NVRAM and run the keylime_agent script. Everything seems to be working with that.

However, I think an easier method other than changing the NVRAM index accessed by the tpm_main.py wou

[2022-06-23 07:14] iammrgenie commented on #1027
The processor of the board is an 8th Generation Intel® Core™ i7 formerly called Whiskeylake. The last BIOS update provided by the manufacturer was in 2020, which I have already applied.

[2022-06-23 12:33] berrange opened #1038 "EACCESS on /dev/tpmrm0 due to missing supplementary group membership after dropping privs"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 36
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: 6.4.1

# Description
Starting keylime_agent crashes immediately with
[code]

We can see the 'keylime' user is a member of the 'tss' group:

[code]

and that

[2022-06-24 08:07] THS-on commented on #1027
I think we will add an option to load an EK certificate from disk. Here is the issue that tracks that enhancement: https://github.com/keylime/enhancements/issues/80

[2022-06-24 11:52] ansasaki commented on #1038
For me this looks like a packaging mistake. In my opinion the service should run as `keylime:tss` instead of `keylime:keylime`.

[2022-06-24 12:12] ansasaki commented on #1038
Hum, I think I'm a bit confused here. So, is the expected behavior for a process running under a given user to have all permissions given by all groups that includes that user?

[2022-06-24 12:16] berrange commented on #1038
Yes, that's the whole point of giving a user membership of multiple groups. In this case, the 'keylime' primary group lets admins share resources between keylime and another service or user, while the 'tss' secondary group gives keylime ability to access the TPM.  If keylime merely had 'tss' as its only primary group, there's no mechanism to share stuff between keylime and another account, without

[2022-06-24 12:25] ansasaki commented on #1038
OK, thank you, I learned something today! I always thought that the goal of supplementary groups was to compartmentalize access to resources so that a process could run using only the required access. In other words, for me the user could run a process using restricted access by selecting a subset of its supplementary groups.

I think we need a clone of this issue in https://github.com/keylime/rus

[2022-06-27 12:45] iammrgenie commented on #1027
Thanks. I think would be really convenient. Thanks for all the help

[2022-06-27 12:45] #1027 closed

[2022-06-28 13:58] #1038 closed

[2022-06-29 06:02] #656 closed

[2022-06-29 06:06] THS-on commented on #481
I close this because we now track the reason why an agent failed and reboot detection via clock validation is part of https://github.com/keylime/enhancements/issues/59.

[2022-06-29 06:06] #481 closed

[2022-06-29 18:24] lkatalin opened #1040 "Better error handling and algo validation for `create_allowlist.sh`"
# Environment
 * OS / version: Fedora 36
 * Processor architecture: x86_64
 * TPM Manufacturer: N/A
 * Keylime version: latest

# Description
If I accidentally run `./scripts/create_allowlist.sh` with incorrect parameters, the error handling is not very helpful in the following cases:

1. I use an incorrect or nonexistent hash algorithm
2. I pass the hash algorithm as the wrong parameter because I

[2022-07-07 06:26] kkaarreell opened #1046 "Verifier log full of errors - 'NoneType' object has no attribute 'operational_state'"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora Rawhide
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm + tpm2-abrmd
 * Keylime version: current upstream d456d4866dc1e883caf2f81e27f8e18992c28c5e

# Description
In keylime-tests CI this error

## Expected behavior vs. actual be

[2022-07-07 07:11] THS-on commented on #1046
Seems like a race condition in the verifier between different processes.
The agent is deleted in the DB, but on another process the event loop is still running.

`stored_agent` might be `None` if the agent was deleted, so we just should return then.

[2022-07-07 07:22] #840 closed

[2022-07-07 12:11] sergio-correia commented on #1025
Not yet, it's waiting for the next update, which should happen... soon(tm). I was waiting for a new release to be tagged with the recent fixes, but if one will not happen very soon, I will go ahead and update it with this fix anyway.

@mpeters: do we expect a new release soon?

[2022-07-11 18:00] maugustosilva commented on #1035
#1050 should start to address itens one and two on you list @THS-on. Remember, it is a working in progress, and so it will constantly refined.

[2022-07-21 13:57] kkaarreell opened #1054 "tenant doing incorrent number of retries during the verification"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: CentOS Stream 9
 * Processor architecture: s390x (but IMHO should be arch independent)
 * TPM Manufacturer: swtpm
 * Keylime version: current upstream 8b8d0c60da066bd55fe05e3399d2ea63d3d00652

# Description

[code]

In /etc/keylime.conf in [tenant]

[2022-07-21 14:46] kkaarreell commented on #1054
It may be in fact a bit more difficult. Since I would at least expect some ERROR to be printed after the last attempt but what happens here is that keylime_tenant ends ~5 seconds after its intent to way for another 16 seconds is printed.

[2022-07-22 12:45] Koncpa opened #1055 "Registration of agent fail, when keylime use non-default algorithm"
# Environment
 * OS / version: fedora35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: keylime-99-1.noarch

# Description
When I use different encryption and signing algorithm in keylime.conf, than default RSA the agent cannot be registered and registration fail. I used ECC instead of RSA for encryption and ECSCHNORR instead of RSASSA for signing.

Also when we lo

[2022-07-22 12:47] avery-blanchard opened #1056 "Installer.sh error with RHEL 8, PowerTools"
# Environment
 * OS / version: RHEL 8.6
 * Processor architecture: x86_64
 * TPM Manufacturer: Azure vTPM
 * Keylime version: v6.4.2

# Description
The PowerTools repository is non-existent for RHEL 8. ([Source](https://access.redhat.com/discussions/5417621))
On [line 107 in installer.sh](https://github.com/keylime/keylime/blob/master/installer.sh#L107), this repository is enabled for both RHEL an

[2022-07-22 21:21] kkaarreell commented on #1055
I have consulted it with our tmp2-tools developer and according to him `tpm2_getekcertificate` currently only supports the NIST P-256 index. Seems like it is something that should be updated in tpm2-tools.

That makes me believe that the approach used at
https://github.com/keylime/keylime/blob/master/keylime/tpm/tpm_main.py#L328
cannot be used for ECC to get `ek_tpm` and probably some other method

[2022-07-25 18:01] maugustosilva opened #1057 "Failure when restarting the `verifier` whenever the use of mTLS by `agents` is disabled."
# Environment
 * OS / version: Fedora Core 35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: post-6.4.2

# Description
When the mTLS certificate by `agents` is disabled, these are added to a `verifier` and then the latter is restarted (thus automatically resuming attestation), the following error occurs:

[code]

## Expected behavior vs. actual behavior
Restarting

[2022-07-27 20:01] #1057 closed

[2022-07-29 18:15] maugustosilva opened #1063 "Keylime "server" components (`verifier` and `registrar`) always output to a log file (`/var/log/keylime/<component>.log`), even when run inside containers"
# Environment
 * OS / version: Fedora Core 35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: post-6.4.2

# Description
When executed inside containers, Keylime "server" components (`verifier` and `registrar`) send log entries to both `stdout` and to a log file (`/var/log/keylime/<component>.log`). This is both redundant (since the container's stdout/stderr can be

[2022-07-29 19:09] #1056 closed

[2022-07-29 20:38] #1063 closed

[2022-08-02 14:34] #1040 closed

[2022-08-02 14:57] lkatalin commented on #1040
This is actually not quite finished, the second part (validating the hash algo passed in) still needs to be implemented.

[2022-08-03 14:07] maugustosilva commented on #1040
Oops, my bad @lkatalin.

[2022-08-03 16:13] maugustosilva opened #1067 "Code improvement: refactor the use of temporary files in tpm_main.py"
# Environment
 * OS / version: any
 * Processor architecture: any
 * TPM Manufacturer: any
 * Keylime version: any

# Description
The current use of temporary files in tpm_main.py is at once odd and inefficient. @aplanas and @THS-on have suggested some better, more pythonesque ways to rewrite it.

## Expected behavior vs. actual behavior
Once the changes are in place, there will be no changes in b

[2022-08-09 20:44] galmasi opened #1070 "Identity quote failure when using TPM devices with manufacturer certificates signed by ECC keys"
# Environment
 * OS / version: OpenBMC Yocto "phosphor", Ubuntu 20.04, Ubuntu 22.04
 * Processor architecture: ARM cortex A7, AMD x86_64 (mostly irrelevant)
 * TPM Manufacturer: Nuvoton TPM signed by `NUVO_1111.pem`, but reproducible with swtpm.
 * Keylime version: 6.4.0, but problem is reproducible with current master branch (Aug 8 2022)

# Description

During the initial identity quote at the st

[2022-08-09 21:01] galmasi commented on #1070
Addendum: creating an swtpm instance in which the root CA is signed with ECC keys.

1. The following gist shows the code to generate the manufacturer certificate and private key to be used by swtpm. <script src="https://gist.github.com/galmasi/d54ccef12ba14bfc1170afc36b5abd14.js"></script>. Use the gist to generate the root CA and a private key.

1A. Check your work: the newly generated root CA sh

[2022-08-11 08:22] kkaarreell commented on #1025
@sergio-correia Any update?

[2022-08-11 10:37] sergio-correia commented on #1025
This was fixed in Fedora with release 6.4.2. Are you still experiencing the issue?

[2022-08-11 10:46] kkaarreell commented on #1025
We have a workaround in place so we are not experiencing it. I was thinking about removing it but then saw this issue still being open. Has this been addressed in upstream keylime install script?

[2022-08-11 12:29] kkaarreell opened #1072 "UnboundLocalError: local variable 'agent' referenced before assignment"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: CentOS Stream 9
 * Processor architecture: x86_64
 * TPM Manufacturer: HW one but don't know details ATM
 * Keylime version: current upstream 1a41a8a

# Description
There was an issue with Rust agent accessing TPM (will be reported as a separate is

[2022-08-11 15:46] maugustosilva commented on #1072
Which kind of database are you using? I am asking because the `ERROR - SQLAlchemy Error: QueuePool limit of size 5 overflow 10 reached, connection timed out, timeout 30.00 (Background on this error at: https://sqlalche.me/e/14/3o7r)` caught my attention.

[2022-08-11 16:02] kkaarreell commented on #1072
Yes, this comes from one of the tests using either mysql or mariadb.

[2022-08-11 17:02] maugustosilva opened #1073 "Since allowlist API implementation Keylime "local tests" show now SQL-related suspicious error."
# Environment
 * OS / version: Fedora Core 35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: commit `1a41a8ae91242d4179a81c86072ce89e0d225eb1`

# Description
I see what seems to be a - silent, incorrectly ignored - error while running tests on `keylime`. I don't remember seeing the error before the changes in the database introduced by the `allowlist` API (@mbesta

[2022-08-11 20:30] mbestavros commented on #1073
Thanks for the report @maugustosilva! I've got a fix open here: https://github.com/keylime/keylime/pull/1074

[2022-08-15 07:14] #1073 closed

[2022-08-15 15:22] lkatalin opened #1075 "TEST_MODE should not update KEYLIME_DIR in config.py"
Proposal: remove the special handling for tests using [`TEST_MODE`](https://github.com/keylime/keylime/blob/9a60e8218d21b7d178be9fb90bbd476ba2aa83ba/keylime/config.py#L62-L73) and instead set `KEYLIME_DIR` to a temp dir for testing explicitly
Reference: https://cloud-native.slack.com/archives/C01ARE2QUTZ/p1645128109579199

Importance: this should help the Rust tests pass keylime/keylime CI

[2022-08-15 15:23] lkatalin commented on #1075
@avery-blanchard @THS-on @mbestavros

[2022-08-15 15:25] lkatalin commented on #1075
The Rust agent is already using a `KEYLIME_DIR` env var: https://github.com/keylime/rust-keylime/blob/master/src/common.rs#L421

Interestingly I don't see any `keylime_dir` config in `keylime.conf` under the cloud agent.

[2022-08-19 14:26] kkaarreell commented on #1070
Hi @galmasi
I am trying to write a test implementing the proposed setup but I am not able to reproduce the reported issue.
https://github.com/RedHat-SP-Security/keylime-tests/pull/175/files
In the test I am generating ECDSA certificate for TPM cert issuer and by extracting EK cert from TPM I can verify it has been used to sign EK cert itself.
[code]
However, in my case there is not error regarding

[2022-08-19 21:41] kkaarreell opened #1080 "tenant tpm_cert_store option is not processed properly"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 35
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: current upstream [d8968cb](https://github.com/keylime/keylime/commit/d8968cb6a011651d480f1dc96d7adfc0be0494e3)

# Description
I have noticed the issue after

[2022-08-19 22:03] kkaarreell commented on #1070
Finally I am able to reproduce it. The error above is caused by https://github.com/keylime/keylime/issues/1080.

[2022-08-22 12:21] kkaarreell opened #1081 "keylime_tenant traceback not providing specific enough output when not able to load PEM"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Fedora 35
 * Processor architecture: x86_64
 * TPM Manufacturer:  swtpm
 * Keylime version: upstream d8968cb

# Description
I am running a virtual system with TPM provided by QEMU through swtpm.
swtpm stores its TPM CA certificates in /var/lib/swtp

[2022-08-22 20:43] #1080 closed

[2022-08-24 09:49] Koncpa opened #1085 "Python agent and rust agent differently parse revocation scripts in action list"
# Description

There is a issue with parsing a revocation scripts in action list. Python keylime agent parse differently two and more scripts in action_list, than python rust agent. Python agent parse each script with comma and rust agent parse scripts by lines.

## Expected behavior vs. actual behavior
Revocation scripts will be parse by same way for both type of agents vs. revocations scripts ar

[2022-08-24 15:38] mpeters commented on #1085
@Koncpa I think this should be moved to the rust-keylime repo as it seems to be a bug on their side. It's fine if the new agent does both cases (comma or newline) but it at least needs to support the old way.

[2022-08-24 16:18] mpeters commented on #1075
`TEST_MODE` does more than just override the `KEYLIME_DIR` it also sets `DISABLE_EK_CERT_CHECK_EMULATOR` to `True` and sets `MOUNT_SECURE` to `False`.

It seems `DISABLE_EK_CERT_CHECK_EMULATOR` is mainly used by the tenant, but controlling `MOUNT_SECURE` will definitely affect the agent.

So are you proposing we drop `TEST_MODE` altogether? If so, how do we handle these other flags? Or are you pro

[2022-08-24 16:24] lkatalin commented on #1075
Thanks @mpeters , good clarifying questions.

IMO it probably just makes sense to stop overriding `KEYLIME_DIR`. From @THS-on 's [original comments](https://cloud-native.slack.com/archives/C01ARE2QUTZ/p1645128109579199):

[2022-08-24 19:28] #1075 closed

[2022-08-25 06:20] Koncpa commented on #1085
Sure, I will close here and open new issue in rust.

[2022-08-25 06:20] #1085 closed

[2022-08-28 17:12] mayaCostantini opened #1089 "`installer.sh` fails to recognize when Python packages were not installed"
# Environment
 * OS / version: RHEL 8.6
 * Python version: 3.10.0

# Description

The `installer.sh` script does not recognize when some Python packages were not installed properly.
For example, when running `./installer.sh`, the output at the `Installing python & crypto libs` step shows that:

[code]

With versions matching the requirements specified in the script: https://github.com/keylime/keyl

[2022-08-29 15:43] mpeters commented on #1089
This seems like it might be a mismatch between expected python versions installed and/or python paths. Do you have multiple versions of python installed?

For more information, it's using your package manager to install the `python3-tornado`. What happens when you do this by hand? Where does it get installed? Does `python3` still not find it?

[2022-08-29 16:39] galmasi commented on #1070
My apologies, I [temporarily] dropped the issue. I think there is a relatively simple way to produce this problem by playing with the manufacturing parameters in swtpm.

[2022-08-30 18:06] galmasi opened #1091 "Potential for unnoticed verifier failures in multi-verifier operation"
# Environment
 * OS / version: any (not relevant)
 * Processor architecture: any (not relevant)
 * TPM Manufacturer: any (not relevant)
 * Keylime version: 6.4.3 (current as of 8/30/22)

# Description

We have seen strange attestation "non-failures" (false negatives) in multi-verifier keylime systems during ongoing large scale testing. At least one theory of such non-failures, made possible by the

[2022-09-01 15:56] Koncpa opened #1095 "Can't specify revocation scripts in keylime conf [revocation_actions]"
# Environment
 * OS / version: Fedora 36
 * Processor architecture: x86_64
 * TPM Manufacturer: SWTPM
 * Keylime version: keylime-6.4.3-1.fc36.x86_64

# Description

I set up keylime with usage of revocation scripts. I tried to use both option like specify scripts via action list or keylime.conf. Action list worked and revocation ran. I also tried option, where was more revocation scripts. When I

[2022-09-01 18:09] #1091 closed

[2022-09-06 21:30] #1072 closed

[2022-09-07 14:04] #1046 closed

[2022-09-14 08:21] ansasaki commented on #960
After requesting the agent deletion, the tenant verifies that the agent was actually deleted by requesting the agent to the verifier and checking that it returns 404. The problem is that the tenant tries a maximum of 12 times waiting 0.4s in between, which gives approximately 5 seconds for the verifier to delete the agent.

I think this checking could follow the exponential back off between retrie

[2022-09-15 12:21] blackdobb opened #1102 "keylime/keylime' already exists and is not an empty directory."
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version:  Ubuntu 20.04
 * Processor architecture:
 * TPM Manufacturer:
 * Keylime version:

# Description
I'm new here, I want to install keylime and test it if it works properly. But I stuck at the first step. When I was installing it with "sudo ./installe

[2022-09-15 13:02] mpeters commented on #1102
You shouldn't need the `-k` option if you are running the installer from a git checkout. The `-k` is for using the installer script standalone on someplace without the code already present.

[2022-09-16 01:49] blackdobb commented on #1102
Thanks for your reply. But I still have no idea of deploying the Keylime. I have two ubuntu 20.04 machines, and want to achive the case in https://keylime.dev/. The Biggest problem is what operations should be done on each machine? how to Start the verifier?

Now I started keylime-fedora1 on the one of the machine, and it waiting for domain to get an IP address, what should I do on the other machi

[2022-09-16 01:49] blackdobb commented on #1102
Thanks for your reply. But I still have no idea of deploying the Keylime. I have two ubuntu 20.04 machines, and want to achive the case in https://keylime.dev/. The Biggest problem is what operations should be done on each machine? how to Start the verifier?

Now I started keylime-fedora1 on the one of the machine, and it waiting for domain to get an IP address, what should I do on the other machi

[2022-09-19 14:55] lkatalin opened #1105 "Document supported TPM setups"
From this [Slack conversation](https://cloud-native.slack.com/archives/C01ARE2QUTZ/p1663268532840569):

"In order to test relevant TPM setups [we should know] what initial TPM configurations (ideally in a sequence of` tpm2_*` commands) are supposed to work with the rust agent and the respective config. ATM we are testing the rust agent with cleared TPM and also with TPM where ownership is already

[2022-09-19 15:27] lkatalin opened #1106 "Improved error message for when IMA emulator is not started with correct hash alg flag"
# Environment
 * OS / version: Fedora 36 (VM)
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: latest HEAD

# Description
I set up swtpm like so:
[code]

Then when starting the IMA emulator, it gives this error:
[code]

The Python version is 3.10.6.
This does not happen on the F34 VM, which runs Python 3.9.13

[This line](https://github.com/keylime/keylime/blob/mast

[2022-09-19 15:54] lkatalin opened #1107 "CI testing improvements for run_local.sh"
It would be easier to read the output and also faster to rerun tests if we could specify a subset of the tests to run.

[2022-09-19 16:01] lkatalin commented on #1107
It is also not very clear when tests on the Python agent stop and tests on the Rust agent begin.

[2022-09-19 16:04] lkatalin commented on #1107
Does `captured stdout` refer to the output directly above or below?

[2022-09-19 16:39] THS-on commented on #1105
Yes added.

[2022-09-19 16:41] THS-on commented on #878
@ansasaki #1068 fixes all of the issues raised here, right?

[2022-09-19 16:44] THS-on commented on #944
I'm closing this for now because we have a workaround and the issue needs to be solved upstream.

[2022-09-19 16:44] #944 closed

[2022-09-19 22:08] lkatalin commented on #1106
@THS-on `keylime_ima_emulator -a sha256` actually fixes the problem! Thanks. `tpm2_pcrread` has data under `sha256` but not `sha1`. I did not realize I need to specify a parameter to the emulator.

[2022-09-20 07:42] THS-on commented on #895
We have chosen not switch to TOML for the Python components. The rest is implemented in #1068.

[2022-09-20 07:42] #895 closed

[2022-09-20 13:54] ansasaki commented on #878
@THS-on From my point of view, yes, #1068 addresses the issues pointed here

[2022-09-20 17:25] #878 closed

[2022-09-21 00:27] bnevis-i opened #1108 "installer.sh -t does not create agent tarball"
[code]

# Environment
 * OS / version: Ubuntu 22.04
 * Processor architecture: x86_64
 * TPM Manufacturer: VMWare
 * Keylime version: master branch as of 9/20/2022

# Description

`installer.sh -t` does not create agent tarball

## Expected behavior vs. actual behavior

Expect
[code]
error to not occur.

## Steps to reproduce problem
1. `./installer.sh -t`

# Relevant logs

[code]

Attach any rele

[2022-09-21 15:30] lkatalin opened #1111 "Mark Python agent with deprecation warning"
After the `0.1.0` release of the Rust agent, it will be the official agent. The Python agent should be marked with a deprecation warning at this time to enable people to transition off of it over Q4 2022.

[2022-09-21 17:00] lkatalin commented on #1106
Actually I would like to reopen this as I think an improved error message would help here.

[2022-09-26 09:14] zkolpet opened #1112 "Certificate files created in /var/lib/keylime/cv_ca have insufficient permissions"
Is your an issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 22.04
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: v6.5.0

# Description
Certificate files created in /var/lib/keylime/cv_ca have insufficient permissions. They are created with 600 permissions and we would nee

[2022-09-29 23:08] crobinso opened #1116 "`keylime_tenant --help` backtraces if logging config exists but is not readable"
# Environment
 * OS / version: Fedora 36
 * Keylime version: git

# Reproducer

[code]

This is kind of an artificial reporducer, so let me explain: keylime in fedora 36 is the non-latest 6.4.3 version. Run `keylime_tenant --help` as non-root with stock packages, and you get a similar backtrace. The issue is the config lookup just checks for essentially `os.path.exists("/etc/keylime.conf")` and no

[2022-10-06 15:31] THS-on commented on #1108
With the Python agent now being officially deprecated, I think we will just remove this option to make a semi portable Python tarball. I don't think anyone has tried to use this option in a long time.

[2022-10-06 15:33] THS-on commented on #1116
@ansasaki can you look into adding an error message when no Keylime configuration was found be the config module?

[2022-10-06 18:19] #1111 closed

[2022-10-07 07:25] ansasaki commented on #1116
Sure, I'll add an error message for this case. I think I will also include a check for the configuration version.

[2022-10-10 13:42] crobinso commented on #1116
Note, it may not just be about path existing. For unpriv user on Fedora 36 `os.path.exists("/etc/keylime.conf")` will succeed but `open("/etc/keylime.conf", "r")` will fail. So may need an `os.access` check too or something like that

[2022-10-14 13:30] mdrocco opened #1131 "Code improvement: fix Python typing issues"
# Environment
 * OS / version: any
 * Processor architecture: any
 * TPM Manufacturer: any
 * Keylime version: any

# Description
Static code analysis reports several typing issues in most Python files.

## Expected behavior vs. actual behavior
There will be no changes in behavior, apart from (hopefully) a reduced rate of failures due to unforeseen subtleties.

## Steps to reproduce problem
1. Run

[2022-10-18 09:52] THS-on commented on #1131
@mdrocco I think this can be merged into https://github.com/keylime/keylime/issues/929, right?

[2022-10-18 13:44] mdrocco commented on #1131
Thanks for pointing it out, too bad I missed it in the first place, I will merge.

[2022-10-18 13:47] mdrocco commented on #929
### pyright

Static code analysis reports several typing issues in most Python files. To reproduce, run any Python file through the `pyright` type analyzer.

[2022-10-18 13:48] #1131 closed, assigned to nobody

[2022-10-18 15:35] #689 closed

[2022-10-18 15:49] THS-on commented on #929
@mdrocco thanks for introducing me to pyright. It seems that it has a big overlap with mypy. Do you have any experience using it and how does it compare to mypy?

We should definitely start adding more type annotations, but this only makes sense for the part of Keylime that does not depend on the TPM abstraction layer, because most of that will be removed when we remove the Python agent.

[2022-10-18 15:55] mdrocco commented on #929
I have no experience with mypy, as I had no experience with type checking for Python whatsoever before starting with `pyright`. I am taking a first pass in the spirit of "the more type issues we fix, the better" and I should point out that:
- most of the issues I am seeing (and hopefully fixing) do not pertain type annotations
- I am avoiding `keylime_agent.py` for now as my understanding is it wi

[2022-10-18 16:04] THS-on commented on #929
Ok, good to know

Yes that one and most of the functions in tpm_main.py that are not used by the server components.

If we have fixed enough of the warnings it make sense to integrate it into our pre-commit hooks.

[2022-10-18 16:12] mdrocco commented on #929
Sounds good, I will keep ignoring them.

I am about to complete my first batch of fixes, I will create a PR as soon as I am reasonably happy with it.

[2022-10-19 11:52] zkolpet opened #1135 "keystore password is required when adding compute into keylime_verifier with keylime_tenant"
Is your issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ub22.04
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: v6.5.1

# Description
Keylime CA component requires a password set in its config (ca.conf)

# The keystore password
# This password is used to protect the generated CA

[2022-10-21 13:14] mdrocco opened #1137 "Upgrade minimum python version to 3.10"
Python 3.10 is already assumed implicitly here and there in several scripts, I think we should make it official. Alternatively, I will fix the code as part of #929 .

[2022-10-21 14:46] aplanas commented on #1137
I am packaging Keylime for openSUSE and some SLE versions, and Python 3.10 is only available in the Tumbleweed version. I know that there are packages for Fedora and RH. Moving too fast the Python interpreter would be a problem, as the distributions (specially the enterprise one) cannot move at this speed.

If it is assumed in some scripts that can be OK, but the code needs to be CI tested for old

[2022-10-23 08:25] THS-on commented on #1137
We target Python 3.6 as our lowest supported version. If something does not work on Python 3.6 it is considered a bug in most cases. Note that for dataclasses we ship a compatibility module to make it work with 3.6.

[2022-10-24 14:10] mdrocco commented on #1137
Thank you @aplanas and @THS-on for clarifying. I realized the issue raised by the type checker is circumvented by the `_CONFIG_FALLBACK` mechanism in `config.py`. I can safely close this issue.

[2022-10-24 14:10] #1137 closed

[2022-10-24 19:35] THS-on commented on #1102
@blackdobb did you get it working?

Because this is not a bug and more of a setup question, I'll close this. If you have any issues setting up Keylime the best place to ask is on the `#keylime` channel on the CNCF Slack.

[2022-10-24 19:35] #1102 closed

[2022-10-25 14:18] #1112 closed

[2022-10-26 19:29] mdrocco opened #1143 "outstanding type issues"
This is a spinoff of #929 , following up the first batches of type fixes in various PRs. The following files are reported to contain type issues according to `pyright` with Python 3.10:

- [ ] `keylime/backport_dataclasses.py`
- [x]  `keylime/cloud_verifier_tornado.py`
- [ ]  `keylime/da/examples/file.py`
- [ ]  `keylime/da/examples/redis.py`
- [ ]  `keylime/da/examples/sqldb.py`
- [x]  `keylime/d

[2022-10-28 17:27] galmasi opened #1146 "Verifier allowlist implementation bug causes double insert sqlalchemy errors in extreme circumstances"
Is your issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: Ubuntu 22.04
 * Processor architecture: x86_64
 * TPM Manufacturer: virtual (irrelevant)
 * Keylime version: 6.5.1+

# Description

In unusual circumstances the current implementation of the keylime allowlist database causes sql failures by attempting

[2022-11-04 16:47] ansasaki opened #1153 "Segmentation fault in create_mb_refstate script"
Is your issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
 * OS / version: N/A
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: current master (7033891)

# Description
Segmentation fault in `create_mb_refstate` depending on the input provided.

## Expected behavior vs. actual behavior
The script sh

[2022-11-07 14:41] stefanberger commented on #1070
This would probably be a candidate for a patch but I am a bit slow at the moment with getting to a test environment:
[code]

[2022-11-07 14:48] kkaarreell commented on #1070
We have a reproducer available in https://github.com/RedHat-SP-Security/keylime-tests/pull/175 so one way to test it could be updating `tmt` test plans to point to that PR repo and branch by modifying `url` and `ref` in `packit-ci.fmf`
[code]

[2022-11-07 14:53] sergio-correia commented on #1070
Yeah, something like this will resolve it.

I have a follow-up PR to #1084 to also use pyasn1 in this code path, as we will have the same issues when attempting to parse some broken certs of the tpm cert store with python-cryptography. I ended up moving the verify_ek() logic to cert_utils, so that we could test it more easily, and additionally I fixed this issue with ECC keys -- just submitted it

[2022-11-07 17:14] stefanberger commented on #1153
This here seems to be a solution but I don't know whether this is the correct way of handling it? @maugustosilva , @galmasi ?

[code]

[2022-11-07 19:55] maugustosilva commented on #1146
A PR with a fix was merged.

[2022-11-07 19:55] #1146 closed

[2022-11-07 20:00] maugustosilva commented on #1107
@lkatalin @mpeters @THS-on @ansasaki @stefanberger Just wanted to confirm that we plan to keep maintaining `run_local.sh` (which is broken for both `rust` and `python` agents at the moment). My vote is to keep it, but I am open to sunsetting it the majority decides it is not worth the trouble.

[2022-11-07 20:15] maugustosilva opened #1158 "Operations `add` and `delete` via `keylime_tenant` CLI need to produce consistent results"
Is your issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
* OS / version: Fedora Core 35
* Processor architecture: x86_64
* TPM Manufacturer: swtpm
* Keylime version: 6.5.1

# Description
When running the command `keylime_tenant -c add` in a large cluster (~ 1,500 `agents`), with a relatively long allowlist (~ 80,000 entries

[2022-11-07 20:46] maugustosilva opened #1159 "CLI `keylime_tenant` should output JSON-formatted responses for further processing, for all subcommands"
Is your issue a feature request? If so, please raise it as an [enhancement](https://github.com/keylime/enhancements)

# Environment
* OS / version: Fedora Core 36
* Processor architecture: x86_64
* TPM Manufacturer: swtpm
* Keylime version: 6.5.1

# Description
The execution of `keylime_tenant -c cvstatus -u <agent id>` results, among several logging statements, a single line with a JSON string ea

[2022-11-07 20:47] maugustosilva commented on #1159
@mbestavros as the author of the "allowlist API", do you have any objections to it?

[2022-11-07 20:58] lkatalin commented on #1107
Would it make sense to drop or rework the tests that seem broken or no longer applicable? It seems good to have a way to run integration tests locally, but those could (and maybe should) look very different from the current `run_local.sh`.

[2022-11-07 21:05] stefanberger commented on #1107
There should be an easy way to run all these tests locally.

When it comes to the rust agent, it should be possible to cache the results, maybe by checking the rust agent out into (hidden) directory of the local keylime checkout because watching it download and build the Rust agent for several minutes every time one runs the local tests isn't very productive.

[2022-11-07 21:12] mpeters commented on #1107
I think @ansasaki had some thoughts on why it was broken and some potential fixes. I agree that we should keep it and always have a way of running the tests locally.

[2022-11-07 22:21] mbestavros commented on #1159
@maugustosilva Yes, I think this is a great idea! I don't have the code in front of me, but from what I recall of these commands it shouldn't be too hard to refactor.

[2022-11-08 10:18] packit-as-a-service[bot] opened #1161 "[packit] Invalid config"
Failed to load packit config file:
[code]
For more info, please check out [the documentation](https://packit.dev/docs/guide/#3-configuration) or [contact the Packit team](https://packit.dev/#contact).

[2022-11-08 10:24] THS-on commented on #1161
Is already reported by @kkaarreell: https://github.com/packit/packit/issues/1767

[2022-11-08 14:43] kkaarreell commented on #1161
This should be fixed now. Packit CI jobs are running again.

[2022-11-09 14:32] #1161 closed

[2022-11-09 14:53] #1106 closed

[2022-11-09 19:44] maugustosilva opened #1167 "IMA scalability is currently limited"
# Environment
 * OS / version: Ubuntu 22.04, but not relevant
 * Processor architecture: amd64, irrelevant
 * TPM Manufacturer: virtual, irrelevant
 * Keylime version: 6.5.1+
 * Important: database connection is MySQL, with large (100+) number of agents; IMA is turned on, and using "version 1" allowlists.

# Description

While running scaling experiments in our virtual cluster, we have detected mu

[2022-11-09 20:30] galmasi commented on #1167
Supporting information measured on a 1500 node cluster. Basically, 5 gbps of network traffic for ~ 50 deployed agents. We cannot measure beyond 200 because `bulkinfo` breaks completely at that point.

The equivalent numbers for *identity* attestation shows 5 mbps for 100 activated agents; ~ 3 orders of magnitude less than IMA; even 1500 agents barely make 100 mbps of traffic, which barely meters o

[2022-11-10 12:31] stefanberger commented on #1167
We already have incremental attestation.

I haven't looked at the code but this here could be a way to relief stress on the db (I apologize already, the following is theory since I haven't looked at the code, but I see there are now named allowlists):

<theory>

Each allowlist should have a unique field in the database (a timestamp, a random number, a hash over the actual allowlist, an auto-increm

[2022-11-10 13:57] galmasi commented on #1167
By way of responding to @aplanas -- the problem, as @stefanberger also pointed out, is not that the IMA logs have to be retrieved from the agent[s]. Stefan's incremental load already does that mitigation, and the resulting traffic is trivial (although of course there is conceivably a "startup shock", but the present issue crowds it out so we cannot measure it YET).

The problem is that *each* agen

[2022-11-10 14:00] aplanas commented on #1167
That makes the issue very clear, and provides sense to @stefanberger idea : ))

[2022-11-10 15:09] THS-on commented on #1070
@sergio-correia is this now fully fixed?

[2022-11-10 17:50] maugustosilva commented on #1167
@mbestavros @mpeters it is good that @stefanberger mentioned a "hash over the actual allowlist", because this is something that already had on the code of my future PR (as the index for the `verifier` cache).

I would like to see at least two new fields on the `allowlists` table: `checksum` and `length` . The first will be used for the purposes of caching while the second should give an user which

[2022-11-10 22:10] stefanberger commented on #1167
That's great and I would wait for this hash to come along. In the meantime I do some dry exercises with an AllowlistDBProxy: https://github.com/stefanberger/keylime/commits/stefanberger/allowlist_db_proxy

[2022-11-10 22:48] stefanberger commented on #1167
Well, implanting this AllowlistBDProxy class in the code may be a challenge...

What do these relationship statements setup / do and how do they influence queries or what do they influence?

https://github.com/keylime/keylime/blob/56e951a851b9a12a58fa473da94d1c1bf1415676/keylime/db/verifier_db.py#L28
https://github.com/keylime/keylime/blob/56e951a851b9a12a58fa473da94d1c1bf1415676/keylime/db/verifi

[2022-11-11 10:39] zkolpet opened #1174 "Verifier not logging into a file: /var/log/keylime/verifier.log"
# Environment
 * OS / version: Ubuntu 22.04
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: 6.5.0

# Description
Verifier component is not logging into a file /var/log/keylime/verifier.log when set so in verifier.conf.

config preview:
Destination for log output, in addition to console. If left empty, the log
output will only be printed to console (recommended for conta

[2022-11-11 11:14] sergio-correia commented on #1070
@THS-on: yep. @kkaarreell is adding a test for this in #1175

[2022-11-11 11:14] THS-on commented on #1174
Thanks for reporting. I have found the cause of issue: the log_destination option is in the revocation section, which makes this fail. See:
https://github.com/keylime/keylime/blob/56e951a851b9a12a58fa473da94d1c1bf1415676/scripts/templates/2.0/verifier.j2#L200-L207

On another note this only logs the entries produced directly by the verifier and not other components in Keylime used by the verifier

[2022-11-11 11:15] #1070 closed

[2022-11-11 11:21] #420 closed

[2022-11-11 11:21] THS-on commented on #441
This is now fully implemented with the new configuration format.

[2022-11-11 11:21] #441 closed

[2022-11-11 11:29] THS-on commented on #28
@sergio-correia with the ECC stuff in place for certificates, can you have a look at much is required to also enable it for the AK and EK?

[2022-11-11 11:56] sergio-correia commented on #28
Sure, I can do that.

[2022-11-11 12:06] zkolpet commented on #1174
Fix confirmed. Moving the log section out of [revocations] section makes it work and /var/log/keylime/verifier.log is now properly generated.

Thank you

[2022-11-11 12:12] THS-on commented on #760
Newer versions of tpm2-tools (>= 5.4) is now escaping most characters and we handle failures correctly, so I'm to close this.

[2022-11-11 12:12] #760 closed

[2022-11-11 17:06] stefanberger opened #1178 "Reactivating a system that has previously failed attestation causes TypeError"
# Environment
 * OS / version: Fedora 36
 * Processor architecture: x86_64
 * TPM Manufacturer: swtpm
 * Keylime version: https://github.com/keylime/keylime/commits/master

# Description

An attested system that has previously failed attestation and is then reactivated by the tenant tool throws a Type error:

[code]

## Expected behavior vs. actual behavior

Should probably quietly ignore then Non

[2022-11-11 18:08] #1178 closed

[2022-11-11 19:45] maugustosilva commented on #1159
It is simple enough. Will start implementing it as soon as I am done with "Durable Attestation"

[2022-11-17 10:35] mbestavros commented on #1167
@stefanberger Apologies for the delayed response, I've been traveling -

Those `relationship` statements represent a foreign key relationship between a specific agent and an allowlist stored in the separate `VerifierAllowlist` table (which you can see in that same `keylime_db.py` file. This came about as part of the Allowlist API work I did over the summer, which finalized the transition to that s

[2022-11-17 12:17] stefanberger commented on #1167
@mbestavros Thanks for the explanation. A `joinedLoad` didn't even seem necessary and a `noload` does prevent it from loading the `VerifierAllowlist` table.

[2022-11-17 15:22] mdrocco commented on #1143
Here is a new one: possibly unbounded variable in the verifier's code.

https://github.com/keylime/keylime/blob/8e417f5b99f0dea0f9f36e26ab15549fcd3e1844/keylime/cloud_verifier_tornado.py#L608

I tried the obvious fix but it breaks CI tests:

https://github.com/mdrocco/keylime/blob/ccfd29a2942eed2bed86628d7fadc44bd86b6810/keylime/cloud_verifier_tornado.py#L576-L577

[2022-11-21 14:01] mdrocco commented on #1143
Update: PR #1186 fixes the reported problems in `ima/ima_dm.py`, I am removing the section of the issue about that file.

[2022-11-21 14:10] mdrocco commented on #1143
Update: PR #1194 fixes the reported problems in `ima/file_signatures.py` and `json.py`, I am removing the section of the issue about those files.

[2022-11-21 14:53] zkolpet opened #1197 "create_mb_refstate script is failing for measured boot log from Ubuntu machine (VM and also physical - HPE)"
# Environment
 * OS / version: Ub22.04
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: 6.5.2

# Description
Running create_mb_refstate script with measured boot log from Ubuntu 22.04 machine (both virtual and physical - HPE) fails with same reason (see in relevant logs)

## Expected behavior vs. actual behavior
Expected:
measured_boot_reference_state.json file is proper

[2022-11-21 19:42] mdrocco commented on #1143
I am restructuring this issue to keep track of all the files with outstanding type issues, considering the existing PRs.

[2022-11-22 06:50] kkaarreell opened #1202 "test_ima_verification.py: Switch from sha1 to sha256"
I have found out that in keylime-tests we were running upstream tests incorrectly, as a result some test scripts were not executed.
This is now fixed with https://github.com/RedHat-SP-Security/keylime-tests/pull/246/ but on C9S two tests in test_ima_verification.py are failing because sha1 is not considered secure for RSA signatures.

Please, switch to sha256 so we can run this test in CI for C9S.

[2022-11-22 06:51] kkaarreell commented on #1202
@stefanberger Hi, is this something you would be easily fix? I am wondering how one can easily generate updated hashes and signatures for the IMA test.

[2022-11-22 13:33] mdrocco commented on #1143
update: upgrading Lark from 1.1.3 to 1.1.4 fixed the issue below:

[code]

[2022-11-22 19:53] #1202 closed

[2022-11-28 09:52] zkolpet opened #1207 "Keylime server logs created with not secured permissions"
# Environment
 * OS / version: Ubuntu22.04
 * Processor architecture: N/A
 * TPM Manufacturer: N/A
 * Keylime version: 6.5.2

# Description
verifier.log and registrar.log created with wrong permisssions 644. These are not secured enough permissions. All logs should be created with permissions 640.

## Expected behavior vs. actual behavior
Expected: verifier and registrar logs are created with 640

[2022-11-28 18:26] travier opened #1212 "Fedora package orphaned"
The Fedora package has been orphaned: https://src.fedoraproject.org/rpms/keylime

[2022-11-28 18:42] mpeters commented on #1212
@sergio-correia or @ansasaki can you comment on this?

[2022-11-29 09:55] ansasaki commented on #1212
@mpeters I think @sergio-correia can take it, as he is a co-maintainer, but he is on PTO this week. I can try to take the package maintenance if we can't wait for Sergio

[2022-11-29 10:37] travier commented on #1212
I'd suggest someone from the project here take the package and then orphans it again if needed to transfer it to someone else.

[2022-11-29 15:12] ansasaki commented on #1212
I'll take it then, we can transfer it later if needed

[2022-11-29 15:20] #1212 closed